table.travelbook,table.travelbook thead {
	border: 1px solid #DDDDDD;
	width: auto;
}

table.travelbook  tr,table.travelbook  td {
	border: medium none;
	padding: 2px;
	vertical-align: bottom;
}

.ampel {
	background-image: url("../images/ampel.png");
	height: 19px;
	position: relative;
	width: 30px;
}

.ampel.ampel-0 {
	background-position: -125px 0;
}

.ampel.ampel-1 {
	background-position: -85px 0;
}

.ampel.ampel-2 {
	background-position: -45px 0;
}

.ampel.ampel-3 {
	background-position: -5px 0;
}

.desc {
	margin: 20px 0 0 0;
	}
#travelbook ul#status-description {
    list-style-position: outside;
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 15px;
}	

.ampel span.text {
	display: block;
	line-height: 19px;
	margin: 0 0 0 40px;
	min-width: 450px;
}