/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/
 /* HEADING STYLE
 */
p.readmore a, a.readon, a.k2ReadMore, a.subCategoryMore {
	background: #d79602;
}
p.readmore a:hover, a.readon:hover, a.k2ReadMore:hover, a.subCategoryMore:hover {
	background: #7ab709;
	 color: #fff;
}
.button, button, button.button, input[type="button"] {
 background: #d79602;}