/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/

.menusys_mega {
}
div.subwrap-inner {
	display: block;
	width:auto !important;
}
#menusys_mega .menusub_mega {
	position:absolute;
	display:block;
	z-index:999;
}
#menusys_mega {
	margin: 0;
	overflow: hidden;
}
#menusys_mega > li {
	padding: 0 ;
	margin:0 1px 0 0;
	float: left;
}
#menusys_mega li.active a {
}
#menusys_mega li.last-item {
	background: none;
}
#menusys_mega > li > a {
	padding: 0 15px;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	text-decoration:underline;
	line-height: 47px;
}
#menusys_mega > li:hover, #menusys_mega > li:active, #menusys_mega > li:focus, #menusys_mega > li.active, #menusys_mega > li.active:hover, #menusys_mega > lia.active:active, #menusys_mega > lia.active:focus, #menusys_mega > li.hover, #menusys_mega > li.active {
}
#menusys_mega > li > a:hover, #menusys_mega > li > a:active, #menusys_mega > li > a:focus, #menusys_mega > li > a.active, #menusys_mega > li > a.active:hover, #menusys_mega > li > a.active:active, #menusys_mega > li > a.active:focus, #menusys_mega > li.hover > a, #menusys_mega > li.active > a {
	color: #fff;
	text-decoration:underline;
}
#menusys_mega > li.first-item > a.active, #menusys_mega > li.first-item > a:hover{
	border-radius: 5px 0 0 5px;
}
#menusys_mega li .menu-title {
	padding: 0;
}
#menusys_mega li:hover a, #menusys_mega li a:hover, #menusys_mega li a:active, #menusys_mega li a:focus, #menusys_mega li a.active, #menusys_mega li a.active:hover, #menusys_mega li a.active:active, #menusys_mega li a.active:focus {
}
#menusys_mega li a.active .menu-title, #menusys_mega li a.active:hover .menu-title, #menusys_mega li a.active:active .menu-title, #menusys_mega li a.active:focus .menu-title {
}
#menusys_mega li.hasChild span.no-image, #menusys_mega li.hasChild a.active span.no-image {
	display: block;
	padding-right: 13px;
	background: url(../../images/mega/arrow-submenu.png) no-repeat 98% 20px;
}
#menusys_mega > li.first-item a .menu-title {
}
#menusys_mega > li.first-item a.active .menu-title, #menusys_mega > li.first-item a:hover .menu-title, #menusys_mega > li.first-item a:active .menu-title, #menusys_mega > li.first-item a:focus .menu-title {
}
/* MegaMenu Border
--------------------------------------------------------- */
#menusys_mega .level0 > .submenu-wrapper {
	
}
#menusys_mega .menusub_mega {
	z-index: 999;
	padding: 5px 0;
	left:-9999em;
}
#menusys_mega .menusub_mega .menusub_mega {
	margin: -38px 0px 0px 195px !important;
	padding: 10px 0;
}
#menusys_mega .subwrap-inner {
	float: left;
	display: inline-block;
	background:#f6f6f7;
    border: 1px solid #c9c9c9;
	border-radius: 5px;
}
#menusys_mega div.menucontent-wrapper .subwrap-inner {
}
/*
#menusys_mega div.subarrowtop{
	background: url(../../images/mega/submega-top.png) no-repeat 10% top;
	height: 8px;
}
*/
#menusys_mega div.menucontent-wrapper-left {
	display: inline-block;
	width:100%;
}
#menusys_mega div.subwrap-inner2 {
	margin:5px;
	display:inline-block;
}
#menusys_mega div.menucontent-wrapper {
	padding: 0;
	width:100%;
	display:block;
	float:left;
}
#menusys_mega div.menusub_mega div.menusub_mega div.subarrowtop {
	position: absolute;
	top: 20px;
	left: 3px;
	width: 6px;
	height: 10px;
	overflow:hidden;
}
#menusys_mega div.menucontent-wrapper-left div.menucontent-wrapper-left {
	background:#fff;
	padding:0 0 5px 0;
}
#menusys_mega div.subwrap-inner2 div.subwrap-inner2 {
	display: block;
}
#menusys_mega div.menucontent-wrapper div.menucontent-wrapper {
	padding: 0;
}
#menusys_mega .megacol ul.mega-ul {
	overflow:hidden;
	padding: 1px 0;
	margin:0;
}
#menusys_mega  div.megacol {
    float: left;
	min-width:190px;
	margin: 0 5px;
}

/* Child Content------------*/

#menusys_mega .menu-image {
	border: none;
	float: left;
	line-height: 44px;
	padding: 8px 0 0;
	margin-right: 3px;
}
#menusys_mega span.has-image {
	display: block;
	background-repeat: no-repeat;
	background-position: 0px 14px;
	padding-left: 25px;
}
/* Mega Group----------*/
#menusys_mega .menusub_mega .mega-group {
	overflow: hidden;
	margin: 10px 5px 5px;
	padding: 0 ;
}
#menusys_mega li.hasChild .mega-group span.has-image, #menusys_mega li.hasChild .mega-group span.no-image {
	background: none !important;
	margin:0;
	padding: 1px 0 1px 0;
	display: block;
}
#menusys_mega .mega-group span.has-image {
	padding: 3px 0 3px 25px;
}
#menusys_mega li.hasChild .mega-group a {
	padding: 0;
	 border: 1px solid #dedede;
	border-radius: 3px;
	display: inline-block;
	width:99%;
	margin: 0;
}
#menusys_mega li.hasChild .mega-group a span.no-image{
	border: 1px solid #f8f8f9;
	border-radius: 2px;
	padding: 0;
}
#menusys_mega li.hasChild .mega-group a span.menu-title{
	background: url(../../images/default/bg-submenu.png) repeat-x left top scroll;
	color:#575757;
	font-size:16px ;
	line-height:27px;
	padding: 0 10px;
	 display: block;
}
#menusys_mega .menusub_mega .mega-module {
	clear: both;
	line-height: 20px;
}
#menusys_mega .menusub_mega .mega-module .moduletable_menu ul li {
	border-bottom: 1px solid #ddd;
}
#menusys_mega .menusub_mega .mega-module .moduletable ul li {
	padding: 10px 0;
}
#menusys_mega .menusub_mega .mega-module .moduletable ul li:first-child {
	border-top: none;
}
#menusys_mega .menu-desc {
	padding: 0;
	line-height: 15px;
	font-size: 95%;
	color: #707070;
	display: block;
}
#menusys_mega li.hasChild .mega-group a .menu-title, #menusys_mega li.hasChild .mega-group a:hover .menu-title, #menusys_mega li.hasChild .mega-group a.active .menu-title {
}
#menusys_mega .menusub_mega .megacol {
	display:block;
}
#menusys_mega .submenu-wrapper .submenu-wrapper .megacol .mega-ul {
}
/* Level2 MegaMenu
--------------------------------------------------------- */


#menusys_mega .megacol ul.mega-ul li {
	padding: 0;
	float: none;
	display: block;
	line-height: 30px;
	padding-left: 0;
	border-top: 1px solid #ddd;
}
#menusys_mega .megacol ul.mega-ul li.first-item {
	border-top: none;
}
#menusys_mega li .megacol ul.mega-ul li span.no-image, #menusys_mega li .megacol ul.mega-ul li a.item:hover span.no-image, #menusys_mega li .megacol ul.mega-ul li a.active span.no-image {
	padding: 0 ;
	background: none
}
#menusys_mega li.hasChild ul a, #menusys_mega li.hasChild ul a.active, #menusys_mega li.hasChild:hover ul a {
	padding: 0px;
	margin: 0;
	display: block;
	position: static;
	text-shadow: none;
}
#menusys_mega li.hover ul.mega-ul a .menu-title, #menusys_mega li.hasChild ul.mega-ul li a .menu-title, #menusys_mega li.hasChild ul.mega-ul li a.active .menu-title, #menusys_mega li.hasChild ul.mega-ul li a.focus .menu-title {
	margin: 0;
	padding: 0px 0px 0px 15px;
	display: block;
	font-size: 12px;
	font-family:"arial";
	text-transform: none;
	text-shadow: none;
	color: #515151;
	background: url(../../images/default/icon-li.png) no-repeat left 13px scroll;
}
#menusys_mega li.hasChild ul a span.has-image .menu-title, #menusys_mega li.hasChild:hover ul a span.has-image .menu-title, #menusys_mega li.hasChild ul a:hover span.has-image .menu-title {
	padding: 2px 0 2px 25px;
	margin: 0;
	background: none;
}
#menusys_mega li.hasChild ul a:hover, #menusys_mega li.hasChild ul a:active, #menusys_mega li.hasChild ul a:focus, #menusys_mega li.hasChild ul.mega-ul a.active:hover {
	text-decoration: none;
	margin: 0;
	padding-left: 0px;
	display: block;
}
#menusys_mega li.hasChild.active ul li a.active .menu-title,  #menusys_mega li.hover ul.mega-ul a:hover .menu-title, #menusys_mega li.hasChild ul.mega-ul a:hover .menu-title, #menusys_mega li.hasChild ul.mega-ul a:active .menu-title, #menusys_mega li.hasChild ul.mega-ul a:focus .menu-title, #menusys_mega li.hasChild ul.mega-ul a.active:hover .menu-title {
	color: #2f83d8;
	background: url(../../images/default/icon-li.png) no-repeat left -33px scroll;
}
