/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/

/* MegaMenu Border
--------------------------------------------------------- */
#menusys_mega > li > a:hover, #menusys_mega > li > a:active, #menusys_mega > li > a:focus, #menusys_mega > li > a.active, #menusys_mega > li > a.active:hover, #menusys_mega > li > a.active:active, #menusys_mega > li > a.active:focus, #menusys_mega > li.hover > a, #menusys_mega > li.active > a {
    background: url(../../images/bg-search.png) repeat-x scroll left top ;
}
#menusys_mega > li > a {
color: #deedbe;
}
#menusys_mega li.hasChild.active ul li a.active .menu-title, #menusys_mega li.hover ul.mega-ul a:hover .menu-title, #menusys_mega li.hasChild ul.mega-ul a:hover .menu-title, #menusys_mega li.hasChild ul.mega-ul a:active .menu-title, #menusys_mega li.hasChild ul.mega-ul a:focus .menu-title, #menusys_mega li.hasChild ul.mega-ul a.active:hover .menu-title {
 color: #84a836;
  background: url(../../images/icon-li.png) no-repeat scroll left -33px;
}