@charset "utf-8";
.lof-slideshow .preload{height:100%;width:100%;background:url(images/load-indicator.gif) no-repeat scroll 50% 50% #E9E9E9;position:absolute;top:0;left:0;z-index:100000}
/* CSS Document */
.lof-slideshow	 {
	color:#ccc!important; 
	position:relative;
	width:auto; 
	height:auto;}
.lof-slideshow	.lof-container {
	position:relative;
	z-index:3;
	overflow:hidden;
}
.lof-slideshow .lof-shadow{
	width:100%;
	height:31px;
	background:url(images/bottom_shadow.png) no-repeat center center;
	overflow:hidden;
}
.lof-slideshow	a {
	color:#fff!important; text-decoration:none}
	
		.lof-slideshow li {
		list-style-type:none!important;	}
		
/* main flash */
.lof-slideshow .lof-main-wapper{ 
	overflow:hidden;
	position:relative;}
	
	.lof-slideshow .lof-main-wapper .lof-main-item { 
		overflow:hidden;
		padding:0px;
		margin:0px; 
		height:100%;
		width:100%;
		position:absolute;}
		
		.lof-slideshow .lof-main-wapper .lof-main-item .lof-info{
			border-top:1px solid #585858;
			border-bottom:1px solid #585858;
			padding:2px;
		}
		.lof-slideshow .lof-main-wapper .lof-main-item .lof-title { 
			line-height:1.6em;
			padding:0;
			margin:0 0 .25em;
			font-size:20px;}
        .lof-slideshow .lof-main-wapper .lof-main-item .lofaddcart-nav{
            position: relative;
            padding-top:15px;
        }
        .lof-slideshow .lof-main-wapper .lof-main-item .lof-price{
            position: relative;
            padding-bottom:5px;
        }
        .lof-slideshow .lof-main-wapper .lof-main-item .lof-price span{
            position: relative;
            font-weight:bold;
            color:#FF0000;
            font-size:20px;
        }
        .lof-slideshow .lof-main-wapper .lof-main-item .lof-price span.price-discount{
            text-decoration: line-through;
            color:#FFFFFF !important;
        }
		.lof-slideshow .lof-main-wapper .lof-main-item .lof-description{
			background:url(images/desc-bg.png) repeat-x top;	
			min-width:300px;
			height:auto;
			bottom:5px;
			left:5px;
            right:5px;
			position:absolute;
			padding:15px;
		}
        .lof-slideshow .lof-main-wapper .lof-main-item .lof-description p{
            line-height:1.6em;
        }
		.lof-slideshow .lof-main-wapper .lof-main-item .lof-description img {}	
		
		.lof-slideshow .lof-main-wapper .lof-main-item .lof-descriptionfully{
			padding:1em 1.25em; color:#333;
			text-shadow:0px 1px 1px #fff;}
		
		.lof-slideshow .lof-main-wapper .lof-main-item .lof-descriptionfully img {
			float:left;
			margin:.2em 1em .8em 0}	
			
/* item navigator */
.lof-slideshow .lof-navigator-wrapper { 
	position:absolute; bottom:5px; right:5px; }
	
	.lof-slideshow .lof-navigator-outer  { 
		position:absolute; 
		right:0;
		top:0px;
		z-index:3;
		height:300px;
		width:310px;
		overflow:hidden }
		 
		.lof-slideshow  ul.lof-navigator { 
			top:0;
			padding:0; 
			margin:0;
			position:absolute;
			width:100%;}
			
			.lof-slideshow  ul.lof-navigator li { 
				cursor:hand;
				cursor:pointer;
				list-style:none!important;
				padding:0!important;
				margin:0!important;
				background:none;
				position:relative;
			}
			.lof-slideshow  ul.lof-navigator li:hover {
			 }
				
				.lof-slideshow  ul.lof-navigator li div {
					height:100%;
					width:100%;
					float:left;
					background:url(images/trans.png);
				 }
				.lof-slideshow  ul.lof-navigator li.active div span{  color:#FFFF66;}
				.lof-slideshow .lof-navigator li  img{  border:#999 dotted 2px;  }
				.lof-slideshow .lof-navigator li.active img{ border:#FF6 dotted 2px}
				.lof-slideshow .lof-navigator li .lof-title {
					 font-size:97%;
					 color:#CCC;
					 display:block; float:left
					 margin:0!important;
					 padding-top:8px }
					 
				.lof-slideshow .lof-navigator li div img {	
					float:left;
					margin:0 .75em .75em 0 }
					
			.lof-slideshow .lof-navigator li.active {
				 background:none
			}
/**
 * BUTTONS CONTROL
 */
.lof-slideshow .lof-buttons-control{
	position:absolute; 
	top:44%;
	right:0;
	height:32px;
	width:100%;
	z-index:4}
	.lof-slideshow .lof-next, 
	.lof-slideshow .lof-previous {
		width:40px;
		height:32px;
		text-indent:-9999em;
		position:relative;
		z-index:10;
		margin:0px;
		cursor:hand; 
		cursor:pointer;}
		
		.lof-slideshow .lof-next {
			background:url(images/button_next.png) no-repeat;	
			margin-right:-18px;
			float:right;}
			
		.lof-slideshow .lof-previous {	
			background:url(images/button_prev.png) no-repeat;	
			margin-left:-20px;
			float:left;}
			
		.lof-slideshow .lof-next:hover {
		}
			
		.lof-slideshow .lof-previous:hover { 
		}
/*
 * css for override move the main wapper to the right side 
 */
 /* RIGHT ALIGMENT */
.lof-slideshow .lof-right .lof-navigator-wrapper {  position:absolute; top:30px; right:30px }
.lof-slideshow .lof-right .lof-main-wapper		  { margin-left:auto; margin-right:inherit; float:left }
.lof-slideshow .lof-right .lof-navigator-outer   { position:relative }
 /* LEFT ALIGMENT */
.lof-slideshow .lof-left .lof-navigator-wrapper { position:absolute; top:0; left:0 }
.lof-slideshow .lof-left .lof-main-wapper		 { margin-left:auto; margin-right:inherit; float:right }
.lof-slideshow .lof-left .lof-navigator-outer	 { position:relative }
.lof-slideshow .lof-slideshow .lof-left .lof-navigator li.active { background-position:center right;}
.lof-slideshow .lof-left .lof-main-wapper .lof-main-item .lof-description{ position:absolute;top:0; right:0;left:auto }			 
 /* TOP, BOTTOm ALIGMENT */
.lof-slideshow .lof-top .lof-navigator-outer,  .lof-bottom .lof-navigator-outer{ position:relative; float:left }
.lof-slideshow .lof-top .lof-navigator, 	    .lof-bottom .lof-navigator 		{ width:9999em !important }
.lof-slideshow .lof-top .lof-navigator li,     .lof-bottom .lof-navigator li 	{ display:block; float:left; border:none}
/* Top Aligment */
.lof-slideshow .lof-top .lof-navigator-wrapper{ top:10px; left:10px; right:auto;}
.lof-slideshow .lof-top .lof-navigator li.active { background:none}
.lof-slideshow .lof-top .lof-buttons-control { background-image:url(images/arrow_bg_t.png); top:auto; bottom:0; padding-top:12px; height:10px}
.lof-slideshow .lof-top .lof-main-wapper .lof-main-item .lof-description{ right:6px; left:auto}
/* Bottom Aligment */
.lof-slideshow .lof-bottom .lof-navigator li.active {  background:none; }
.lof-slideshow .lof-bottom .lof-buttons-control { background-image:url(images/arrow_bg.png);  }
/* Bullets Styles*/
.lof-slideshow .lof-left .lof-bullets-wrapper{   top:30px; left:8px }
.lof-slideshow .lof-right .lof-bullets-wrapper { top:30px;   right:14px; }
.lof-slideshow .lof-top .lof-bullets-wrapper{	position:absolute!important; right:45%; top:5px; }
.lof-slideshow .lof-bottom .lof-bullets-wrapper{	position:absolute!important; right:5px; bottom:6px; background:none;}
.lof-slideshow .lof-navigator-wrapper .lof-bullets li {
	width:25px!important;
	height:21px!important;
	text-indent: -9999px;
	background:none!important;
	border:none!important;
}
.lof-slideshow .lof-navigator-wrapper .lof-bullets li div{
		width:21px!important;
		height:21px!important;
		margin-left:3px;
		padding:0;
		background:url(images/slider_buttons.png) no-repeat top right;		
}
.lof-slideshow .lof-navigator-wrapper .lof-bullets li.active div{	background:url(images/slider_buttons.png) no-repeat top left;	}
/* CSS3 Style */
.lof-slideshow .lof-css3{	-moz-box-shadow:0 0 10px #333; -webkit-box-shadow:0 0 10px #333; box-shadow: 0px 0px 10px #333; }
.lof-slideshow .lof-css3 .lof-navigator-outer{ -moz-box-shadow:1px 0 3px #f2f2f2; -webkit-box-shadow:1px 0 3px #f2f2f2; box-shadow:1px 0 3px #f2f2f2;}
.lof-slideshow .lof-css3  .lof-bullets{ -moz-box-shadow:0px 0 0px #f2f2f2; -webkit-box-shadow:0px 0 0px #f2f2f2; box-shadow:0px 0 0px #f2f2f2;}