/**
 * @version		$Id: k2.frontend.css 1575 2012-05-09 12:09:32Z lefteris.kavadas $
 * @package		K2
 * @author		JoomlaWorks http://www.joomlaworks.net
 * @copyright	Copyright (c) 2006 - 2012 JoomlaWorks Ltd. All rights reserved.
 * @license		GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
 */

/* --- Frontend Editing --- */


/* --- component.php overrides --- */
body.contentpane,
body.component-body {padding:0;margin:0;font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#333;background:#fff;}
body.contentpane a,
body.component-body a {color:#333;font-weight:bold;text-decoration:none;}
body.contentpane a:hover,
body.component-body a:hover {color:#0B55C4;}
body.contentpane input,
body.component-body input,
body.contentpane select,
body.component-body select {border:1px solid #ccc;}

body div.button2-left a {font-weight:normal;}

table td.key {background:#f6f6f6;border-bottom:1px solid #e9e9e9;border-right:1px solid #e9e9e9;color:#666;font-weight:bold;text-align:right;font-size:11px;width:140px;}

/* --- K2 --- */
div#k2FrontendContainer {background:#eee;padding:8px;margin:0;}

div#k2Frontend {background:#fff;width:auto;padding:8px;margin:0;}
div#k2Frontend h3,
div#k2Frontend legend {font-size:11px;font-family:Arial, Helvetica, sans-serif;}
div#k2Frontend fieldset {border:1px solid #ccc;}

div#k2Frontend div#editor-xtd-buttons .button2-left {display:inline;}

div#k2Frontend table.k2FrontendToolbar {display:block;margin-top:12px;float:right;border-collapse:separate;}
div#k2Frontend table.k2FrontendToolbar td {border:none;}

div#k2Frontend table.k2FrontendToolbar td.button {border:1px solid #ccc;background:#eee;padding:4px;font-size:14px;font-weight:bold;}
div#k2Frontend table.k2FrontendToolbar td.button:hover {background:#fffff2;}

#k2FrontendEditToolbar {text-align:left;padding:8px;}
#k2FrontendEditToolbar h2 {width:auto;margin-top:0;line-height:40px;}

#k2FrontendPermissionsNotice {padding:0 8px 8px;margin:0 auto;text-align:center;}
#k2FrontendPermissionsNotice p {color:red;font-weight:bold;font-size:13px;font-style:italic;font-family:monospace;}

div#k2Frontend table.adminFormK2 {border-collapse:collapse;}
div#k2Frontend table.adminFormK2 tr td {border:none;}

h3.ui-accordion-header span.ui-icon {margin:-2px 0 0 0;}

div#k2Frontend .k2CommentsPagination {text-align:center;}
div#k2Frontend .k2CommentsPagination .pagination span,
div#k2Frontend .k2CommentsPagination .pagination a {padding:0 2px;}

/* Tabs in the frontend */
div#k2Frontend div.simpleTabsContent {margin-top:3px;}
