ul.autocompleter-choices {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	z-index: 50;
}

ul.autocompleter-choices li {
	cursor: pointer;
	display: block;
	float: none !important;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.5em;
	margin: -2px 0 0;
	padding: 0.2em 1.5em 0.2em 1em;
	position: relative;
	white-space: nowrap;
}

ul.autocompleter-choices li.autocompleter-selected {
	background-color: #444444;
	color: #FFFFFF;
}

ul.autocompleter-choices span.autocompleter-queried {
	display: inline;
	float: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried
	{
	color: #9FCFFF;
}