#travelbook .clr {
	clear: both;
}

#travelbook .left {
	float: left;
	margin: 0;
	padding-top: 0;
	position: relative;
	width: auto;
}

#travelbook img {
	border: 0 none;
}

#travelbook .border {
	margin: 2em 0;
}

legend { 
color: #CC0000;
}