#travelbook .booking-description {
	margin: 0 0 12px 0;
}

#travelbook .description {
	margin: 4px 0 16px 0;
}

#travelbook .formelm {
	clear: both;
	margin: 0;
	padding: 0;
}

#travelbook .distance {
	padding: 5px 0;
}

#travelbook .formelm label.radio {
	padding-left: 4px;
	width: 3em;
}

#travelbook fieldset.radio {
	box-shadow: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#travelbook label.radio {
	clear: none;
}

#travelbook .minus {
	float: right;
	clear: both;
}

#travelbook .plus {
	float: right;
	text-align: right;
}

#travelbook .guest {
	border: 1px solid silver;
	margin-bottom: 16px;
	padding: 16px 4px 32px;
}

#travelbook a.button,#travelbook button.button {
	background: url("../images/button.png") no-repeat scroll left 0
		transparent;
	border: medium none;
	color: #000066;
	height: 24px;
	padding: 0 0 0 8px;
	width: auto;
}

#travelbook button.button {
	padding: 0 0 0 6px;
}

#travelbook a.button {
	padding: 0 0 0 8px;
}

#travelbook a.button span.sd-right,#travelbook button.button span.sd-right
	{
	background: url("../images/button.png") no-repeat scroll right -48px
		transparent;
	color: #000066;
	display: block;
	font-size: 100%;
	font-weight: normal;
	height: 16px;
	padding: 4px 18px 4px 2px;
	width: auto;
}

#travelbook a.button span.sd-right {
	margin: 0;
}

#travelbook button.button span.sd-right {
	margin: -2px 0 0;
}

#travelbook a.button:hover,#travelbook a.button:active,#travelbook a.button:focus,#travelbook button.button:hover,#travelbook button.button:active,#travelbook button.button:focus
	{
	background: url("../images/button.png") no-repeat scroll left -24px
		transparent;
	color: #000066;
}

#travelbook a.button span.sd-right:hover,#travelbook a.button span.sd-right:active,#travelbook a.button span.sd-right:focus,#travelbook a.button:hover span.sd-right,#travelbook a.button:active span.sd-right,#travelbook a.button:focus span.sd-right,#travelbook button.button span.sd-right:hover,#travelbook button.button span.sd-right:active,#travelbook button.button span.sd-right:focus,#travelbook button.button:hover span.sd-right,#travelbook button.button:active span.sd-right,#travelbook button.button:focus span.sd-right
	{
	background: url("../images/button.png") no-repeat scroll right -72px
		transparent;
	color: #000066;
}

#travelbook .right {
	float: right;
	text-align: right;
	margin: 0;
}

#travelbook .left {
	float: left;
	text-align: left;
	margin: 0;
}

/* navigation */
#travelbook .navigation {
	border: 0 none;
	clear: both;
	padding: 16px 0 32px;
}

#travelbook ul {
	margin: 0;
	height: auto;
}

#travelbook .tabs-nav {
	color: #333;
	font-size: 1.0em;
	font-weight: normal;
	list-style-position: inside;
}

#travelbook ul.tabs-nav li {
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0 25px 0 0;
}

#travelbook ul.tabs-nav li.current {
	list-style-image: url(../images/navigation/ok_rot.png);
	color: #990000;
	background: transparent;
}

#travelbook ul.tabs-nav li.inactive {
	color: #000;
	background: transparent;
	list-style-image: url(../images/navigation/ok_disabled.png);
}

#travelbook ul.tabs-nav li.active {
	list-style-image: url(../images/navigation/ok.png);
	color: #393;
	background: transparent;
}

/* prices */
#travelbook .prices-col1 {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 80%;
}

#travelbook .prices-col2 {
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 20%;
}

/* extras */
#travelbook ul.start {
	display: none;
}

#travelbook ul.extras {
	list-style: none;
	margin: 8px 0 16px;
	padding: 0;
}

#travelbook ul.extras li {
    clear: both;
}

#travelbook .extras-col1 {
	float: left;
	margin: 0;
	padding: 0;
	width: 20px;
}

#travelbook .extras-col1 input {
	height: 22px;
}

#travelbook .extras-col2 {
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 84px;
}

#travelbook .extras-col3 {
	display: block;
	margin: 0 84px 0 20px;
	padding: 0;
}

#travelbook .filler {
	border-bottom: 1px dotted #999999;
}

#travelbook .formelm label,#travelbook .formelm span.label {
	display: inline-block;
	vertical-align: top;
	width: 13em;
}

#travelbook .extras-col1 {
	clear: both;
	float: left;
	margin: 0;
	padding: 0;
	width: 20px;
}

/* summary */
#travelbook .summary-col {
	margin: 0 0 1em 0;
}

#travelbook .summary-col1.extras {
	float: none;
}

#travelbook .summary-col1.sub {
	width: 200px;
}

#travelbook .summary-col1 {
	clear: both;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin: 0;
	padding: 0;
	width: 132px;
}

#travelbook .summary-col2 {
	float: right;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 120px;
}

#travelbook .summary-col3 {
	display: block;
	margin: 0 120px 0 132px;
	padding: 0;
}

#travelbook hr {
	border-color: #EEEEEE;
	border-image: none;
	border-style: none none solid;
	border-width: 0 0 1px;
	margin: 1em 0;
}

#travelbook .clear {
	clear: both;
}

#travelbook .render.ajax {
	display: inline-block;
}

#travelbook .render.ajax .amount {
	display: inline-block;
}

#travelbook .extras .summary-col2 {
	width: 120px;
}

#travelbook .extras .summary-col3 {
	margin: 0 120px 0 64px;
}

#travelbook a[href $=".pdf"] {
	background: url("../images/pdficon_large.png") no-repeat scroll right 0
		transparent;
	display: inline-block;
	line-height: 32px;
	padding-right: 35px;
}

#travelbook a[href $=".pdf"]:hover {
	background-image: url("../images/pdficon_large.png");
	background-repeat: no-repeat;
	background-position: right 0;
}

#travelbook .summary-col1.terms {
	width: 20px;
}

#travelbook .summary-col3.terms {
	margin: 0 0 0 20px;
}

#travelbook #summary_guests .serial {
	width: 16px;
}

#travelbook #summary_guests .title {
	width: 64px;
}

#travelbook #summary_guests .firstname,#travelbook #summary_guests .lastname
	{
	width: 88px;
}

#travelbook #summary_guests .serial,#travelbook #summary_guests .title,#travelbook #summary_guests .firstname,#travelbook #summary_guests .lastname,#travelbook #summary_guests .birthdate
	{
	display: inline-block;
	float: none;
	margin: 0;
	padding-left: 3px;
	padding-right: 3px;
	text-align: left;
}

#travelbook #summary_guests .row0 {
	background-color: #F4F4F3;
}

#travelbook #summary_guests .row1 {
	background-color: transparent;
}

#travelbook label#jform_utilities_inherit_lastname-lbl {
	clear: none;
	margin: 0 0 0 5px;
	width: 80%;
}

#travelbook label.extra {
	clear: none;
	float: none;
	font-weight: normal;
	margin: 0;
}

#travelbook label.checkbox {
	clear: none;
	float: none;
	margin: 0;
}

#travelbook img {
	border: 0 none;
}

/** FORM **/
#travelbook legend {
	font-weight: bold;
	line-height: 1.5em;
}

#travelbook label {
	clear: left;
	float: left;
	font-size: 100%;
	font-weight: bold;
	margin: 0 0 4px;
}

#travelbook select {
	margin: 0 0 5px;
	min-height: 16px;
	min-width: 32px;
}

#travelbook input.inputbox {
	font-weight: normal;
	margin: 0 0 5px;
	height: 16px;
	min-width: 164px;
	width: 32%;
}

#travelbook #jform_client_degree {
	width: 16%;
	min-width: 100px;
}

#travelbook #jform_client_street_number {
	width: 10%;
	min-width: 64px;
}

#travelbook #jform_client_postcode {
	width: 16%;
	min-width: 100px;
}

#travelbook input.birthdate {
	width: 12%;
	min-width: 80px;
}

#travelbook select {
	float: left;
}

#travelbook input {
	clear: none;
	float: left;
}

#travelbook .checkboxes.invalid label.checkbox.required {
	color: red;
}

#travelbook button.button {
	float: right;
}

#travelbook form {
	padding: 0;
}

#travelbook fieldset {
	box-shadow: 0 0 8px #CCCCCC;
	margin: 0 0 12px 0;
	padding: 8px;
	margin: 0 0 12px 0;
}

#travelbook .left {
	float: left;
	margin: 0;
	padding-top: 0;
	position: relative;
	width: auto;
}

#travelbook .border {
	margin: 2em 0;
}

#travelbook .img-intro-left {
    float: left;
    margin-bottom: 8px;
    margin-right: 16px;
}

#travelbook .img-intro-right {
    float: right;
    margin-bottom: 8px;
    margin-left: 16px;
}