/** IMAGES **/
#travelbook .img-fulltext-left {
	float: left;
	margin-bottom: 8px;
	margin-right: 16px;
}

#travelbook .img-fulltext-right {
	float: right;
	margin-bottom: 8px;
	margin-left: 16px;
}

#travelbook .img_caption.none {
	margin-left: auto;
	margin-right: auto;
}

#travelbook .img_caption {
	text-align: center !important;
}