#travelbook .category-desc {
    line-height: 1.7em;
    margin: 10px 0;
    padding-left: 0;
}

#travelbook.categories-list ul.categories {
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#travelbook.categories-list ul.categories li {
	line-height: 1.7em;
	margin: 0;
	padding: 5px;
}

#travelbook .item-title {
	display: block;
	font-size: 1.4em;
	font-weight: normal;
	padding: 5px 0;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #555555;
}