/** IMAGES **/
#travelbook .img-fulltext-left {
	float: left;
	margin-bottom: 8px;
	margin-right: 16px;
}

#travelbook .img-intro-left {
	float: left;
	margin-right: 8px;
	margin-bottom: 0;
}

#travelbook .img-fulltext-right {
	float: right;
	margin-bottom: 8px;
	margin-left: 16px;
}

#travelbook .img-intro-right {
	float: right;
	margin-left: 8px;
	margin-bottom: 0;
}

#travelbook .img_caption.none {
	margin-left: auto;
	margin-right: auto;
}

#travelbook .img_caption {
	text-align: center !important;
}

/** FORM **/
#travelbook legend {
	font-weight: bold;
	line-height: 1.5em;
	padding: 3px 0;
}

#travelbook label.radiobtn {
	clear: none;
}

#travelbook label {
	clear: left;
	float: left;
	font-size: 100%;
	font-weight: bold;
	margin: 0 0 4px;
}

#travelbook select {
	margin: 0 0 16px;
	min-height: 16px;
	min-width: 164px;
}

#travelbook input.inputbox {
	font-weight: normal;
	margin: 0 0 5px;
	height: 16px;
	min-width: 164px;
	width: 32%;
}

#travelbook select {
	clear: left;
	float: left;
}

#travelbook input.left {
	clear: left;
	float: left;
}

#travelbook input.inputbox.short {
	min-width: 64px;
}

#travelbook span.left,#travelbook input {
	clear: none;
	float: left;
}

#travelbook img.calendar {
	clear: none;
	float: left;
}

#travelbook button.button {
	float: right;
}

#travelbook form {
	padding: 0;
}

#travelbook fieldset {
	box-shadow: 0 0 8px #CCCCCC;
	margin: 0 0 12px 0;
	padding: 8px;
	margin: 0 0 12px 0;
}

/** RESULTS **/
#travelbook ul.search-results,#travelbook ul.result-characteristica {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#travelbook ul.search-results li {
	margin: 0;
	padding: 0;
}

#travelbook .result-title h2 {
	font-weight: normal;
	padding: 5px 2px;
}

#travelbook .result-title h2 {
	border-bottom: medium none;
	border-top: medium none;
	color: #555555;
}

#travelbook .result-title h2 .small {
	font-size: 64%;
}

#travelbook select#limit {
	min-width: 24px;
}

/** SUBCOLUMNS **/
#travelbook .subcolumns {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#travelbook .c33l,#travelbook .c33r {
	width: 33.333%;
}

#travelbook .c50l,#travelbook .c50r {
	width: 50%;
}

#travelbook .c20l,#travelbook .c25l,#travelbook .c33l,#travelbook .c40l,#travelbook .c38l,#travelbook .c50l,#travelbook .c60l,#travelbook .c62l,#travelbook .c66l,#travelbook .c75l,#travelbook .c80l
	{
	float: left;
}

#travelbook .c20r,#travelbook .c25r,#travelbook .c33r,#travelbook .c40r,#travelbook .c38r,#travelbook .c50r,#travelbook .c60r,#travelbook .c66r,#travelbook .c62r,#travelbook .c75r,#travelbook .c80r
	{
	float: right;
	margin-left: -5px;
}

#travelbook .subcl {
	padding: 0 1em 0 0;
}

#travelbook .subcr {
	padding: 0 0 0 1em;
}

#travelbook .left {
	float: left;
	margin: 0;
	padding-top: 0;
	position: relative;
	width: auto;
}

#travelbook .searchintro {
	font-size: 100%;
	font-weight: bold;
}

#travelbook h2.tour-title {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	font-weight: normal;
	padding: 5px 2px;
}

#travelbook .search-results .relevance {
	float: right;
	height: 18px;
	margin: 0;
	position: relative;
	right: 67px;
	top: -30px;
}

#travelbook .search-results .star0 {
	position: absolute;
	height: 17px;
	width: 63px;
	background-image: url("../images/stairs1.png");
	z-index: 2;
}

#travelbook .search-results .star1 {
	position: absolute;
	height: 17px;
	width: 63px;
	background-image: url("../images/stairs0.png");
}

#travelbook .searchintro,#travelbook .ordering,#travelbook .form-limit {
	margin: 0;
}

#travelbook .phrases {
	border: medium none;
	margin: 0;
	padding: 0;
}