/** ITEMS **/
#travelbook .items-leading {
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 5px 10px;
}

#travelbook .items-row {
	background: none repeat scroll 0 0 #FFFFFF;
	margin-bottom: 10px !important;
	overflow: hidden;
}

#travelbook .items-row h2 {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	font-weight: normal;
	padding: 5px 2px;
}

#travelbook .items-row h2,#travelbook .items-leading h2 {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #555555;
}

#travelbook .items-more {
	padding-top: 0;
}

#travelbook .items-more h3 {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #444444;
}

#travelbook .items-more h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	padding: 5px;
}

#travelbook .items-more ol {
	color: #000000;
}

#travelbook .items-more ol {
	line-height: 1.3em;
	list-style-type: none;
	margin: 0;
	padding: 10px 0 10px 2px;
}

#travelbook .items-more ol li a {
	background: none repeat scroll 0 0 transparent;
	color: #095197;
}

#travelbook .items-more ol li a {
	display: inline;
	font-weight: normal;
	margin: 0;
	padding: 5px 5px 5px 0;
}
/** COLUMNS **/
#travelbook .cols-2 .column-1 {
	float: left;
	width: 46%;
}

#travelbook .cols-2 .column-2 {
	float: right;
	margin: 0;
	width: 46%;
}

#travelbook .column-1,#travelbook .column-2 {
	border: 0 solid;
}

#travelbook .item {
	display: block;
	padding: 0 5px 10px;
}

#travelbook .column-1,#travelbook .column-2,#travelbook .column-3 {
	padding: 10px 5px;
}

/** ACTIONS **/
#travelbook ul.actions {
	margin: 0;
	padding: 0;
	text-align: right;
	width: 100%;
}

#travelbook ul.actions li {
	display: inline;
}

#travelbook ul.actions a {
	text-decoration: none;
}

#travelbook ul.actions a:hover,#travelbook ul.actions a:active,#travelbook ul.actions a:focus
	{
	color: #095197;
}

#travelbook .actions img {
	border: 0 none;
}

#travelbook .row-separator {
	border: 0 none;
	clear: both;
	display: block;
	height: 1px;
	margin: 0;
}

/** PAGINATION **/
#travelbook .pagination {
	border-top: 1px solid #DDDDDD;
	clear: both;
}

#travelbook .pagination {
	clear: both;
	margin: 10px 0;
	padding: 10px 0 10px 0;
}

#travelbook p.counter {
	font-weight: bold;
}

#travelbook .pagination ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#travelbook .pagination li.pagination-start,#travelbook .pagination li.pagination-start span
	{
	padding: 0;
}

#travelbook .pagination li.pagination-start,#travelbook .pagination li.pagination-next,#travelbook .pagination li.pagination-end,#travelbook .pagination li.pagination-prev
	{
	border: 0 none;
}

#travelbook .pagination li {
	border: 0 solid #EEEEEE;
	display: inline;
	margin: 0 2px;
	padding: 2px 5px;
	text-align: left;
}

#travelbook .pagination li.pagination-start,#travelbook .pagination li.pagination-start span
	{
	padding: 0;
}

#travelbook .pagenav {
	clear: both;
	padding: 2px;
}

/** IMAGES **/
#travelbook .img-intro-left {
	float: left;
	margin-bottom: 8px;
	margin-right: 16px;
}

#travelbook .img-intro-right {
	float: right;
	margin-bottom: 8px;
	margin-left: 16px;
}

#travelbook .img_caption.none {
	margin-left: auto;
	margin-right: auto;
}

#travelbook .img_caption {
	text-align: center !important;
}

#travelbook img {
	border: 0 none;
}

/** TOUR INFO **/
#travelbook ul.tour-info {
	clear: both;
	list-style-type: none;
}

#travelbook ul.tour-info li {
	float: right;
}

#travelbook ul.tour-info {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#travelbook ul.tour-info li {
	margin: 0 0 0 8px;
}

/** ICAL **/
#travelbook .ical {
	float: right;
}

#travelbook .ical-calendar.small {
	border: 1px solid #CBCBCB;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 0 transparent;
	display: block;
	height: 12px;
	margin: 0 0 0 6px;
	width: 16px;
}

#travelbook .ical-calendar {
	background-color: #B0E2FA;
	border: 1px solid #999999;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 8px #999999;
	display: block;
	height: 48px;
	text-align: center;
	width: 64px;
}

#travelbook .ical-weekday.small {
	border-radius: 2px 2px 0 0;
	font-size: 7px;
	line-height: 6px;
	margin: 0;
}

#travelbook .ical-day {
	display: block;
	font-size: 24px;
	font-weight: bold;
}

#travelbook .ical-weekday {
	background-color: #FFFFFF;
	border-radius: 4px 4px 0 0;
	display: block;
	font-size: 11px;
	line-height: 17px;
	width: 100%;
}

#travelbook .ical-day.small {
	font-size: 7px;
	font-weight: normal;
	line-height: 7px;
	margin: 0;
}

#travelbook .ical-day {
	display: block;
}
