/** ACTIONS **/
#travelbook ul.actions {
	margin: 0;
	padding: 0;
	text-align: right;
	width: 100%;
}

#travelbook ul.actions li {
	display: inline;
}

#travelbook ul.actions a {
	text-decoration: none;
}

#travelbook ul.actions a:hover,#travelbook ul.actions a:active,#travelbook ul.actions a:focus
	{
	color: #095197;
}

#travelbook .actions img {
	border: 0 none;
}

/** PAGENAVIGATION **/
#travelbook .pagenav {
	clear: both;
	padding: 2px;
}

/** IMAGES **/
#travelbook .img-fulltext-left {
	float: left;
	margin-bottom: 8px;
	margin-right: 16px;
}

#travelbook .img-fulltext-right {
	float: right;
	margin-bottom: 8px;
	margin-left: 16px;
}

#travelbook .img_caption.none {
	margin-left: auto;
	margin-right: auto;
}

#travelbook .img_caption {
	text-align: center !important;
}

#travelbook img {
	border: 0 none;
}

#travelbook ul.tour-info {
	clear: both;
	list-style-type: none;
}

#travelbook ul.tour-info li {
	float: right;
}

/** ICAL **/
#travelbook .ical {
	float: right;
}

#travelbook .ical-calendar.small {
	border: 1px solid #CBCBCB;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 0 transparent;
	display: block;
	height: 12px;
	margin: 0 0 0 6px;
	width: 16px;
}

#travelbook .ical-calendar {
	background-color: #B0E2FA;
	border: 1px solid #999999;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 8px #999999;
	display: block;
	height: 48px;
	text-align: center;
	width: 64px;
}

#travelbook .ical-weekday.small {
	border-radius: 2px 2px 0 0;
	font-size: 7px;
	line-height: 6px;
	margin: 0;
}

#travelbook .ical-day {
	display: block;
	font-size: 24px;
	font-weight: bold;
}

#travelbook .ical-weekday {
	background-color: #FFFFFF;
	border-radius: 4px 4px 0 0;
	display: block;
	font-size: 11px;
	line-height: 17px;
	width: 100%;
}

#travelbook .ical-day.small {
	font-size: 7px;
	font-weight: normal;
	line-height: 7px;
	margin: 0;
}

#travelbook .ical-day {
	display: block;
}

/** TOUR INFO **/
#travelbook ul.tour-info {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#travelbook ul.tour-info li {
	margin: 0 0 0 8px;
}