/** ITEMS **/
#travelbook .items-leading {
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 5px 10px;
}

#travelbook .items-row {
	background: none repeat scroll 0 0 #FFFFFF;
}

#travelbook .items-row {
	margin-bottom: 10px !important;
	overflow: hidden;
}

#travelbook .cols-2 .column-1 {
	float: left;
	width: 46%;
}

#travelbook .cols-2 .column-2 {
	float: right;
	margin: 0;
	width: 46%;
}

#travelbook .column-1,#travelbook .column-2 {
	border: 0 solid;
}

#travelbook .item {
	display: block;
	padding: 0 5px 10px;
}

#travelbook .column-1,#travelbook .column-2,#travelbook .column-3 {
	padding: 10px 5px;
}

#travelbook .items-row h2 {
	font-weight: normal;
	padding: 5px 2px;
}

#travelbook .items-row h2 {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
}

#travelbook .items-row h2,#travelbook .items-leading h2 {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #555555;
}

#travelbook ul.actions {
	margin: 0;
	padding: 0;
	text-align: right;
	width: 100%;
}

#travelbook ul.actions li {
	display: inline;
}

#travelbook ul.actions a {
	text-decoration: none;
}

#travelbook ul.actions a:hover,#travelbook ul.actions a:active,#travelbook ul.actions a:focus
	{
	color: #095197;
}

#travelbook .actions img {
	border: 0 none;
}

#travelbook .row-separator {
	border: 0 none;
	clear: both;
	display: block;
	height: 1px;
	margin: 0;
}

#travelbook .items-more {
	padding-top: 0;
}

#travelbook .items-more h3 {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #444444;
}

#travelbook .items-more h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	padding: 5px;
}

#travelbook .items-more ol {
	color: #000000;
}

#travelbook .items-more ol {
	line-height: 1.3em;
	list-style-type: none;
	margin: 0;
	padding: 10px 0 10px 2px;
}

#travelbook .items-more ol li a {
	background: none repeat scroll 0 0 transparent;
	color: #095197;
}

#travelbook .items-more ol li a {
	display: inline;
	font-weight: normal;
	margin: 0;
	padding: 5px 5px 5px 0;
}

#travelbook .pagination {
	border-top: 1px solid #DDDDDD;
	clear: both;
}

#travelbook .pagination {
	clear: both;
	margin: 10px 0;
	padding: 10px 0 10px 0;
}

#travelbook p.counter {
	font-weight: bold;
}

#travelbook .pagination ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#travelbook .pagination li.pagination-start,#travelbook .pagination li.pagination-start span
	{
	padding: 0;
}

#travelbook .pagination li.pagination-start,#travelbook .pagination li.pagination-next,#travelbook .pagination li.pagination-end,#travelbook .pagination li.pagination-prev
	{
	border: 0 none;
}

#travelbook .pagination li {
	border: 0 solid #EEEEEE;
	display: inline;
	margin: 0 2px;
	padding: 2px 5px;
	text-align: left;
}

#travelbook .pagination li.pagination-start,#travelbook .pagination li.pagination-start span
	{
	padding: 0;
}

#travelbook .pagenav {
	clear: both;
	padding: 2px;
}

#travelbook .img-fulltext-left {
	float: left;
	margin-bottom: 8px;
	margin-right: 16px;
}

#travelbook .img-intro-left {
	float: left;
	margin-right: 8px;
	margin-bottom: 0;
}

#travelbook .img-fulltext-right {
	float: right;
	margin-bottom: 8px;
	margin-left: 16px;
}

#travelbook .img-intro-right {
	float: right;
	margin-left: 8px;
	margin-bottom: 0;
}

#travelbook .img_caption.none {
	margin-left: auto;
	margin-right: auto;
}

#travelbook .img_caption {
	text-align: center !important;
}

#travelbook img {
	border: 0 none;
}

#travelbook ul.tour-info {
	clear: both;
	list-style-type: none;
}

#travelbook ul.tour-info li {
	float: right;
}

#travelbook label#jform_general_match-lbl {
	float: left;
}

#travelbook.tours-list .base-desc,#travelbook.dates-list .base-desc {
	margin: 0 0 8px;
}

#travelbook.tours-list .date-num,#travelbook.dates-list .date-num {
	float: right;
	margin: 0 0 8px;
}

#travelbook.tours-list ul,#travelbook.dates-list ul {
	list-style-type: none;
	margin: 0;
}

#travelbook.tours-list li,#travelbook.dates-list li {
	margin: 0;
}

#travelbook.tours-list h2,#travelbook.dates-list h2 {
	padding: 5px 2px;
}

#travelbook.tours-list h2,#travelbook.dates-list h2 {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #555555;
}

/** ICAL **/
#travelbook .ical {
	float: right;
}

#travelbook .ical-calendar.small {
	border: 1px solid #CBCBCB;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 0 0 transparent;
	display: block;
	height: 12px;
	margin: 0 0 0 6px;
	width: 16px;
}

#travelbook .ical-calendar {
	background-color: #B0E2FA;
	border: 1px solid #999999;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 0 8px #999999;
	display: block;
	height: 48px;
	text-align: center;
	width: 64px;
}

#travelbook .ical-weekday.small {
	border-radius: 2px 2px 0 0;
	font-size: 7px;
	line-height: 6px;
	margin: 0;
}

#travelbook .ical-day {
	display: block;
	font-size: 24px;
	font-weight: bold;
}

#travelbook .ical-weekday {
	background-color: #FFFFFF;
	border-radius: 4px 4px 0 0;
	display: block;
	font-size: 11px;
	line-height: 17px;
	width: 100%;
}

#travelbook .ical-day.small {
	font-size: 7px;
	font-weight: normal;
	line-height: 7px;
	margin: 0;
}

#travelbook .ical-day {
	display: block;
}

/** FORM **/
#travelbook legend {
	font-weight: bold;
	line-height: 1.5em;
}

#travelbook label {
	clear: left;
	float: left;
	font-size: 100%;
	font-weight: bold;
	margin: 0 0 4px;
}

#travelbook label.neutral {
	clear: none;
	font-size: 100%;
	font-weight: normal;
	margin: 0 11px 0 2px;
}

#travelbook input.neutral {
	margin: 0 2px 0 11px;
}

#travelbook select {
	margin: 0 0 16px;
	min-height: 16px;
	min-width: 164px;
}

#travelbook input.inputbox {
	font-weight: normal;
	margin: 0 0 5px;
	height: 16px;
	min-width: 164px;
	width: 32%;
}

#travelbook select {
	float: left;
}

#travelbook input.left {
	clear: left;
	float: left;
}

#travelbook input.inputbox.short {
	min-width: 64px;
}

#travelbook span.left,#travelbook input {
	clear: none;
	float: left;
}

#travelbook img.calendar {
	clear: none;
	float: left;
}

#travelbook button.button {
	float: right;
}

#travelbook form {
	padding: 0;
}

#travelbook fieldset {
	box-shadow: 0 0 8px #CCCCCC;
	margin: 0 0 12px 0;
	padding: 8px;
	margin: 0 0 12px 0;
}

/** RESULTS **/
#travelbook ul.search-results,#travelbook ul.result-characteristica {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#travelbook ul.search-results li {
	margin: 0;
	padding: 0;
}

#travelbook .result-title h2 {
	font-weight: normal;
	padding: 5px 2px;
}

#travelbook .result-title h2 {
	border-bottom: medium none;
	border-top: medium none;
	color: #555555;
}

#travelbook .result-title h2 .small {
	font-size: 64%;
}

#travelbook select#limit {
	min-width: 24px;
}

/** SUBCOLUMNS **/
#travelbook .subcolumns {
	display: table;
	table-layout: fixed;
	width: 100%;
}

#travelbook .c33l,#travelbook .c33r {
	width: 33.333%;
}

#travelbook .c50l,#travelbook .c50r {
	width: 50%;
}

#travelbook .c20l,#travelbook .c25l,#travelbook .c33l,#travelbook .c40l,#travelbook .c38l,#travelbook .c50l,#travelbook .c60l,#travelbook .c62l,#travelbook .c66l,#travelbook .c75l,#travelbook .c80l
	{
	float: left;
}

#travelbook .c20r,#travelbook .c25r,#travelbook .c33r,#travelbook .c40r,#travelbook .c38r,#travelbook .c50r,#travelbook .c60r,#travelbook .c66r,#travelbook .c62r,#travelbook .c75r,#travelbook .c80r
	{
	float: right;
	margin-left: -5px;
}

#travelbook .subcl {
	padding: 0 1em 0 0;
}

#travelbook .subcr {
	padding: 0 0 0 1em;
}

#travelbook .left {
	float: left;
	margin: 0;
	padding-top: 0;
	position: relative;
	width: auto;
}

#travelbook .system {
	border: 1px solid #BBBBBB;
	clear: right;
	margin: 8px 0;
	padding: 8px;
}

.searchintro {
	font-size: 120%;
	font-weight: bold;
}

#travelbook fieldset.neutral {
	border: 0 none;
}

#travelbook .blog-featured ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#travelbook .blog-featured ul li {
	margin: 0;
	padding: 0;
}

#travelbook .blog-featured ul li.odd {
	background-color: #F8F8F8;
}

#travelbook .blog-featured ul li.even {
	background-color: #E8E8E8;
}

#travelbook h3.tour-title {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	font-weight: normal;
	padding: 5px 2px;
}

#travelbook .search-results .relevance {
	float: right;
	height: 18px;
	margin: 0;
	position: relative;
	right: 67px;
	top: -30px;
}

#travelbook .search-results .star0 {
	position: absolute;
	height: 17px;
	width: 63px;
	background-image: url("../images/stairs1.png");
	z-index: 2;
}

#travelbook .search-results .star1 {
	position: absolute;
	height: 17px;
	width: 63px;
	background-image: url("../images/stairs0.png");
}

#travelbook ul.tour-info {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#travelbook ul.tour-info li {
	margin: 0 0 0 8px;
}


#travelbook .searchintro,#travelbook .ordering,#travelbook .form-limit {
	margin: 0;
}

#travelbook .phrases {
	border: medium none;
	margin: 0;
	padding: 0;
}

#travelbook .border {
	margin: 2em 0;
}