table.travelbook,table.travelbook thead {
	border: 1px solid #DDDDDD;
	width: auto;
}

table.travelbook  tr,table.travelbook  td {
	border: medium none;
	padding: 2px;
}

.star0 {
	background-image: url("../images/stairs1.png");
	height: 17px;
	position: absolute;
	width: 63px;
	z-index: 2;
}

.star1 {
	background-image: url("../images/stairs0.png");
	height: 17px;
	position: absolute;
	width: 63px;
}