.icon-32-import {
background-image: url(../images/toolbar/icon-32-import.png);
}

.icon-32-tbdelete {
background-image: url(../images/toolbar/icon-32-delete.png);
}

.icon-48-sample {
	background-image: url("../images/header/icon-48-sample.png");
}

.smaller-grey {
	color: grey;
	font-size: smaller;
	text-align: center;
}