.klarna_PPBox {
    position: absolute;
    float: left;
    margin-top: 10px;
    margin-right: 10px; /* Place it under the add to cart */
    text-align: right;
    font-size: 11px;

    z-index: 10000;
}

.klarna_PPBox_inner {
    min-width: 135px;
    display: inline-block;
}

.klarna_PPBox_top {
    height: 35px;
    min-width: 135px;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.klarna_PPBox_bottom {
    width: 100%;
    height: 155px;
    z-index: 9;
    color: #FFFFFF;
    margin-top: -5px;
    background-image: url("../images/productPrice/default/backBottom_mid.png");
    background-repeat: repeat-x;
    margin-top: -5px;
    background-position: bottom;
    float: right;
    display: none;
}

.klarna_PPBox_topLeft {
    min-width: 32px;
    height: 35px;
    float: left;
    background-image: url("../images/productPrice/default/backTop_left.png");
    background-repeat: no-repeat;
}

.klarna_PPBox_topRight {
    min-width: 6px;
    height: 35px;
    float: right;
    background-image: url("../images/productPrice/default/backTop_right.png");
    background-repeat: no-repeat;
}

.klarna_PPBox_topMid {
    min-width: 118px;
    height: 35px;
    float: right;
    background-image: url("../images/productPrice/default/backTop_mid.png");
    background-repeat: repeat-x;
    cursor: pointer;
}
.klarna_PPBox_topMid_nl {
    min-width: 163px;
}
.klarna_PPBox_topMid p {
    padding: 0 3px 0 5px;
    text-align: center;
    margin: 10px 0;
}

.klarna_PPBox_topMid p label {
    color: #009EDA;
    padding: 0 2px 0 2px;
    cursor: pointer;
}

.klarna_PPBox_bottomMid {
    margin-left: 3px;
    padding-top: 5px;
    min-width: 146px;
    height: 155px;
    overflow: auto;
}

.klarna_PPBox_bottomMid table th {
    border-bottom: 1px solid #FFFFFF;
}

.klarna_PPBox_pricetag {
    color: #009EDA;
    float: right;
    padding-right: 3px;
}

.klarna_PPBox_bottomMid_readMore {
    text-align: center !important;
}

.klarna_PPBox_bottomMid_readMore a {
    color: #FFFFFF;
    text-decoration: underline;
}

.klarna_PPBox_bottomMid_readMore a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.klarna_PPBox_pull {
    cursor: pointer;
    height: 20px;
    margin-top: 4px;
    min-width: 100%;
    position: static;
    text-align: center !important;
}
#klarna_PPBox_pullDown {
    position: relative !important;
}
#klarna_PPBox_pullDown img {
    position: static;
}
.nlBanner {
    z-index: 400;
}
.klarna_PPBox_bottomMid td,.klarna_PPBox_bottomMid tr{
	border:none;
}