@charset "UTF-8";

@media screen , projection {
	#main ul.sociallinks {
		float: left;
		margin: 0;
		padding: 0;
		text-align: left;
		width: 100%;
	}
	#main ul.sociallinks li {
		display: inline;
		float: left;
		height: auto;
		margin: 0 10px 0 0;
		overflow: visible;
		width: 132px;
	}
	#main ul.sociallinks a {
		text-decoration: none;
	}
	#main .sociallinks.head {
		border-bottom: 1px solid #BBBBBB;
		border-top: 1px solid #BBBBBB;
		clear: both;
		height: 23px;
		margin-bottom: 1.5em;
		padding: 8px 0 5px;
	}
}