/**
 * $ModDesc
 * 
 * @version		$Id: helper.php $Revision
 * @package		modules
 * @subpackage	$Subpackage.
 * @copyright	Copyright (C) Dec 2009 LandOfCoder.com <@emai:landofcoder@gmail.com>.All rights reserved.
 * @license		GNU General Public License version 2
 */
@charset "utf-8";
/* CSS Document */
.lof-vm-sliding{position:relative;  background: url(images/border-shadow-v.png) no-repeat bottom center scroll; padding-bottom: 17px;}
.lof-vm-sliding .lof-container{height:100%;width:100%;position:relative; background: url(images/border-shadow-right.png) no-repeat right center scroll; }
.lof-vm-sliding .lof-row { float:left;	position:relative;overflow:hidden; padding-bottom:12px; padding-top:8px;
 text-align: center;}
 .lof-vm-sliding .lof-row .lof-inner{
  border-left: 1px solid #dcdcdc;}
  .lof-vm-sliding .lof-row:first-child .lof-inner{
   border-left: none;}
/* main flash */
.lof-vm-sliding .lof-main-wapper{overflow:hidden;padding:0px;margin:0px;position:relative;overflow:hidden;z-index:1;}
.lof-vm-sliding .lof-main-wapper .lof-main-item{overflow:hidden;padding:0px;margin:0px; height:100%;width:100%;position:absolute;}
/** BULLETS NAVIGATOR **/
.lof-vm-sliding ul.lof-navigator{top:0;padding:0;margin:0;position:absolute;width:10000;}
.lof-vm-sliding .lof-navigator-outer{position:relative; margin-right:20px;	overflow:hidden; float:right;z-index:3 }
.lof-vm-sliding .lof-navigator li{	
	background:none!important;padding:0!important;margin:0!important;
	height:20px!important;	width:23px!important;
	text-indent:-9999px;
	cursor:hand;
	cursor:pointer;
	float:left;
	list-style:none;
}
.lof-vm-sliding .lof-navigator li span{ background:url(images/dot.png) no-repeat right top; display:block; color:#FFF; display:block; margin: 4px 5px;}
.lof-vm-sliding .lof-navigator li.active span{ background:url(images/dot.png) no-repeat left top; display:block; color:#FFF;}
/** BUTTON CONTROL **/
.lof-vm-sliding .lof-next, .lof-vm-sliding .lof-previous{
	position:absolute;
	z-index:10;
	height:28px;
	width:27px;	
	display:block;
	text-indent:-9999px;
	overflow:hidden;
}
.lof-vm-sliding .lof-next{	background: url(images/next-prev.png) no-repeat left bottom scroll; left:0; top: 40%; }
.lof-vm-sliding .lof-next:hover{ background:url(images/next-prev.png) no-repeat left bottom scroll; }
.lof-vm-sliding .lof-previous{	background: url(images/next-prev.png) no-repeat left top scroll; right:0; top: 40%; }
.lof-vm-sliding .lof-previous:hover{ background: url(images/next-prev.png) no-repeat left top scroll; }
.lof-vm-sliding .lof-vertical .lof-next{ top:3px; right:45%;	background: url(images/next-prev_h.png) no-repeat left top scroll; }
.lof-vm-sliding .lof-vertical .lof-previous{ top:auto; left:auto; bottom:-13px; right:45%;		background: url(images/next-prev_h.png) no-repeat right top scroll; }
/**  NAVIGATOR - BOTTOM alignment **/
.lof-vm-sliding .lof-bottom .lof-navigator-outer{ position:absolute;right:0px;	bottom:0px; background:#CCC; 	
	-moz-border-radius: 5px;  
  	-khtml-border-radius: 5px;  
 	-webkit-border-radius: 5px; }
/** NAVIGATOR - TOP alignment  **/
.lof-vm-sliding .lof-top .lof-navigator-outer{	position:absolute;	right:10px;	top:10px;}
/**  NAVIGATOR - RIGHT alignment **/
.lof-vm-sliding .lof-right .lof-navigator-outer{position:absolute;	right:0px;	top:10px;}
/**  NAVIGATOR - LEFT alignment **/
.lof-vm-sliding .lof-left .lof-navigator-outer{position:absolute;	left:10px;	top:10px;}
/** THUMBNAIL - LEFT alignment **/
.lof-vm-sliding .lof-thumbleft .lof-inner .lof-title{ clear:none; float:none; padding:0;}
.lof-vm-sliding .lof-thumbleft a.lof-image-link { float:left; padding:0 20px 10px 0}
.lof-vm-sliding .lof-thumbleft img.lof-image { float:left;}
/** THUMBNAIL - RIGHT alignment **/
.lof-vm-sliding .lof-thumbright .lof-inner .lof-title{ clear:none; float:none; padding:0}
.lof-vm-sliding .lof-thumbright a.lof-image-link { float:right; padding:0 20px 10px 0}
.lof-vm-sliding .lof-thumbright img.lof-image { float:right; padding:0; margin:0}
/*** CSS STYLE FOR ITEM ****/
.lof-vm-sliding .lof-inner { 
	padding:0 10px; 
	 overflow: hidden;
	}
	.lof-vm-sliding .lof-inner  .lof-featured {
		background:url(images/featuredItem.png) no-repeat;
		position:absolute;
		top:0;
		right:0;
		height:50px;
		width:53px;
		z-index:3
	}
	.lof-vm-sliding .lof-clearfix{
		clear:both;
		width:100%;
		height:1px
	}
	.lof-vm-sliding .lof-inner:hover{ 
	}
	.lof-vm-sliding .lof-inner img.lof-image{ background:#F0F0F0; 
		float:none;
		margin:0;
		padding:0;
		}
		.lof-vm-sliding .lof-inner .lof-title{
			clear:both;
			padding:6px 0;
			font-size:100%;
			position:relative;	
			display:block;
		}
		.lof-vm-sliding .lof-inner .lof-date {
			font-weight:bold;
			color:#FFF;
			font-size:110%;
			position:absolute;
			bottom:0;
			right:5px;
			color:#FFF;
			text-shadow:1px 1px #000000
		}
		.lof-vm-sliding .lof-inner a{
			text-decoration:none;
			text-transform:none;
		}
		.lof-vm-sliding .lof-inner .lof-readmore { display:block; clear:both; padding:5px 0px 0px 20px; background:url(images/readmore.png) no-repeat left 8px; }
		.lof-vm-sliding .lof-infor{  height:20px; top:20px; left:0; height:30px;  color:#FFF; display:none; }
/**
 * SLIDING STYLES
 */		
 .lof-vm-sliding  .lof-image{ background:url(images/load-indicator.gif) no-repeat 50% 50%; position:relative; }
 .lof-vm-sliding  .lof-image  a{ color:#FFF; text-transform:uppercase; }
 .lof-vm-sliding  .lof-image img{ padding:0; margin:0;} 
 .lof-vm-sliding  .lof-image .lof-category{ position:absolute; top:0px;  left:0px; background:#CC3333; padding:5px 8px; font-style:italic}
  .lof-vm-sliding .lof-author{ font-weight:bold; text-transform:uppercase; }
 .lof-vm-sliding .lof-price {
    color: #dc0d0d;
	}
  

/* cart*/
.lof-vm-sliding .lofaddcart-nav span.addtocart-button {
 background: url(images/bg-cart.png) no-repeat left top scroll;
  padding-left: 19px;
   display: inline-block;
   }
.lof-vm-sliding .lofaddcart-nav span.addtocart-button input.addtocart-button {
 background: url(images/bg-cart.png) no-repeat right bottom scroll;
  border: none;
   font: 11px/21px "Arial";
    height: 21px;
	 padding:0 10px 2px 5px;
	  width: auto;
	   color: #fff;
	    text-shadow: none;
		 text-transform:none;
		  margin: 0;}

