.vtem-slides-wrapper{position:relative; margin:15px 0;}
.vtem-slides-wrapper-inside{overflow: hidden;}
.vtem-slides-inside{width:100%; display:block;}
.vtem-slides li.vtemslides-panel{display:none; float:left;}
.vtem-slides-wrapper .vtem-slides{margin:0 !important; padding:0 !important; overflow:hidden; list-style:none !important;}
.vtem-slides-wrapper .vtemslides-panel .vtemslides-item{padding:10px;}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.vtemsilde_infor span,.vtemsilde_infor a{font-size:80%; opacity:0.8; text-transform:uppercase; padding:5px 15px 5px 0;}
.vtem-slides-readon{display:block; text-align:right;}
.vtemslide-pause{ display:none; position:absolute; top:10px; right:10px; z-index:10;}
.vtem_slides_imgright{margin:0 0 3px 8px;}
.vtem_slides_imgleft{margin:0 8px 3px 0;}
.vtemslides_price{font-size:20px; color:#f80;}

/*////////// STYLE1 ///////////////*/
.vtemslides-style1{
    color:#999999;
}
.vtemslides-style1 .vtem-slides li.vtemslides-panel{}
.vtemslides-style1 a{background-color:transparent !important; color:#666 !important;}
.vtemslides-style1 a:hover{color:#999 !important;}
.vtemslides-style1 .vtem-slides-wrapper-inside{}
.vtemslides-style1 .vtemslide-pause{
    background:url(images/style1_bg.jpg) left center repeat-x;
    border:1px solid #ddd;
    z-index:100;
}
.vtemslides-style1 .vtemslide-pause span{display:block; height:16px; line-height:16px; padding:0 10px; text-transform:uppercase; font-size:10px; color:#999;border:1px solid #fff;}
.vtemslides-style1 .navigation{width:100%; border:none !important;}
.vtemslides-style1 .navigation tr{border:none !important;}
.vtemslides-style1 .navigation td{padding:10px;border:none !important;}
.vtemslides-style1 .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important;}
.vtemslides-style1 .vtemslidesnav li{float:left; display:block;}
.vtemslides-style1 .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav.png) left top no-repeat !important;
    height:24px;
    width:24px;
    text-align:center !important;
    font-size:12px;
    font-weight:bold;
    line-height:24px;
    text-decoration:none !important;
    color:#888 !important;
    margin-right:5px !important;
}
.vtemslides-style1 .vtemslidesnav li.active-slide a,.vtemslides-style1 .vtemslidesnav li a:hover{color:#000 !important;}
.vtemslides-style1 .control{width:80px; float:right;}
.vtemslides-style1 .control a{
    background-image:url(images/slidesnav.png) !important;
    background-repeat:no-repeat !important;
    background-color:transparent !important;
    width:26px !important;
    height:24px !important;
    display:block;
    float:left;
    font-size:0px;
    color:#ccc !important;
    text-decoration:none !important;
    cursor:pointer;
}
.vtemslides-style1 .vtemslides-prev{background-position:-76px top !important;}
.vtemslides-style1 .vtemslides-prev:hover{background-position:-153px top !important;}
.vtemslides-style1 .vtemslides-next{background-position:-26px top !important;}
.vtemslides-style1 .vtemslides-next:hover{background-position:-103px top !important;}
.vtemslides-style1 .control a.vtem_pause{background-position:-127px top !important;}
.vtemslides-style1 .control a.vtem_resume{background-position:-50px top !important;}
.vtemslides-style1 .control a.vtem_pause,.vtemslides-style1 .control a.vtem_resume{display:none;}
.vtemslides-style1 .control a.vtem_active{display:block !important;}
.vtemslides-style1 .vtemslides-title,.vtemslides-style1 .vtemslides-title a{font-size:18px; color:#666 !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style1 .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style1 .vtemslides-item img{border:1px solid #eee; background:#fff; padding:5px;}
.vtemslides-style1 .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style1 .vtem-slides-readon:hover{color:#666 !important;background-position:left -11px !important;}


/*////////// STYLE1 Black ///////////////*/
.vtemslides-style1black{
    background:#555 url(images/style1_bg_black.jpg) left bottom repeat-x;
    border:1px solid #333;
    color:#ccc;
}
.vtemslides-style1black .vtem-slides li.vtemslides-panel{list-style:none !important}
.vtemslides-style1black a{background-color:transparent !important; color:#ccc !important;}
.vtemslides-style1black a:hover{color:#fff !important;}
.vtemslides-style1black .vtem-slides-wrapper-inside{border:1px solid #555;}
.vtemslides-style1black .vtemslide-pause{
    background:url(images/style1_bg_black.jpg) left center repeat-x;
    border:1px solid #333;
    z-index:100;
}
.vtemslides-style1black .vtemslide-pause span{display:block; height:16px; line-height:16px; padding:0 10px; text-transform:uppercase; font-size:10px; color:#999;border:1px solid #555;}
.vtemslides-style1black .navigation{width:100%; border:none !important; background:url(images/style1_line_black.png) left top repeat-x;}
.vtemslides-style1black .navigation tr{border:none !important;}
.vtemslides-style1black .navigation td{padding:10px;border:none !important;}
.vtemslides-style1black .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important;}
.vtemslides-style1black .vtemslidesnav li{float:left; display:block;}
.vtemslides-style1black .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav_black.png) left top no-repeat !important;
    height:24px;
    width:24px;
    text-align:center !important;
    font-size:12px;
    font-weight:bold;
    line-height:24px;
    text-decoration:none !important;
    color:#999 !important;
    margin-right:5px !important;
}
.vtemslides-style1black .vtemslidesnav li.active-slide a,.vtemslides-style1black .vtemslidesnav li a:hover{color:#fff !important;}
.vtemslides-style1black .control{width:80px; float:right;}
.vtemslides-style1black .control a{
    background-image:url(images/slidesnav_black.png) !important;
    background-repeat:no-repeat !important;
    background-color:transparent !important;
    width:26px !important;
    height:24px !important;
    display:block;
    float:left;
    font-size:0px;
    color:#333 !important;
    text-decoration:none !important;
    cursor:pointer;
}
.vtemslides-style1black .vtemslides-prev{background-position:-76px top !important;}
.vtemslides-style1black .vtemslides-prev:hover{background-position:-153px top !important;}
.vtemslides-style1black .vtemslides-next{background-position:-26px top !important;}
.vtemslides-style1black .vtemslides-next:hover{background-position:-103px top !important;}
.vtemslides-style1black .control a.vtem_pause{background-position:-127px top !important;}
.vtemslides-style1black .control a.vtem_resume{background-position:-50px top !important;}
.vtemslides-style1black .control a.vtem_pause,.vtemslides-style1black .control a.vtem_resume{display:none;}
.vtemslides-style1black .control a.vtem_active{display:block !important;}
.vtemslides-style1black .vtemslides-title,.vtemslides-style1black .vtemslides-title a{font-size:18px; color:#ccc !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style1black .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style1black .vtemslides-item img{border:1px solid #666; background:#555; padding:5px;}
.vtemslides-style1black .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style1black .vtem-slides-readon:hover{color:#ccc !important;background-position:left -29px !important;}


/*////////// STYLE2 ///////////////*/
.vtemslides-style2{
    background:transparent url(images/style2_right_bg.png) right top no-repeat;
    color:#666;
    padding:0;
}
.vtemslides-style2 .vtem-slides-wrapper-inside{
    background:transparent url(images/style2_bottom_bg.png) left bottom no-repeat;
    padding:0 5px 5px 0;
}
.vtemslides-style2 .style2coner{
    background:transparent url(images/style2_coner_bg.png) right bottom no-repeat;
    width:8px;
    height:8px;
    display:block;
    position:absolute;
    bottom:0;
    right:0;
}
.vtemslides-style2 .vtem-slides-inside{background:#f9f9f9; border-top:1px solid #ddd;border-left:1px solid #ddd;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
.vtemslides-style2 a{background-color:transparent !important; color:#666 !important;}
.vtemslides-style2 a:hover{color:#999 !important;}
.vtemslides-style2 .vtemslide-pause{
    background:#f9f9f9 url(images/slidesnav.png) left -52px repeat-x;
    z-index:100;
    right:5px;
}
.vtemslides-style2 .vtemslide-pause span{display:block; height:22px; line-height:22px; padding:0 10px 0 20px; text-transform:uppercase; font-size:10px; color:#fff;}
.vtemslides-style2 .navigation{width:100% !important; border:none !important;}
.vtemslides-style2 .navigation tr{border:none !important;}
.vtemslides-style2 .navigation td{padding:10px;border:none !important;}
.vtemslides-style2 .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important; float:right;}
.vtemslides-style2 .vtemslidesnav li{float:left; display:block;}
.vtemslides-style2 .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav.png) -184px -1px no-repeat !important;
    height:14px;
    width:14px;
    text-align:center !important;
    font-weight:bold;
    text-decoration:none !important;
    color:#666 !important;
    margin-right:5px !important;
}
.vtemslides-style2 .vtemslidesnav li.active-slide a,.vtemslides-style2 .vtemslidesnav li a:hover{background-position:-184px -16px !important;}
.vtemslides-style2 .vtemslides-prev,.vtemslides-style2 .vtemslides-next{
    background-image:url(images/slidesnav.png) !important;
    background-repeat:no-repeat !important;
    background-color:transparent !important;
    width:26px !important;
    height:24px !important;
    display:block;
    float:left;
    font-size:0px;
    color:#f9f9f9 !important;
    text-decoration:none !important;
    cursor:pointer;
}
.vtemslides-style2 .vtemslides-next{background-position:-1px -26px !important;}
.vtemslides-style2 .vtemslides-next:hover{background-position:-58px -26px !important; color:#f9f9f9 !important;}
.vtemslides-style2 .vtemslides-prev{background-position:-30px -26px !important;}
.vtemslides-style2 .vtemslides-prev:hover{background-position:-87px -26px !important; color:#f9f9f9 !important;}
.vtemslides-style2 .vtemslides-title,.vtemslides-style2 .vtemslides-title a{font-size:18px; color:#666 !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style2 .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style2 .vtemslides-item img{border:1px solid #eee; background:#fff; padding:5px;}
.vtemslides-style2 .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style2 .vtem-slides-readon:hover{color:#666 !important;background-position:left -11px !important;}


/*////////// STYLE2 Black ///////////////*/
.vtemslides-style2black{
    color:#f2f2f2;
    padding:0;
}

.vtemslides-style2black .vtem-slides-wrapper-inside{
    padding:0 5px 5px 0;
}

.vtemslides-style2black .style2coner{
    width:8px;
    height:8px;
    display:block;
    position:absolute;
    bottom:0;
    right:0;
}
.vtemslides-style2black .vtem-slides-inside{}
.vtemslides-style2black a{background-color:transparent !important; color:#ccc !important;}
.vtemslides-style2black a:hover{color:#fff !important;}
.vtemslides-style2black .vtemslide-pause{
    background:#444 url(images/slidesnav_black.png) left -52px repeat-x;
    z-index:100;
    right:5px;
}
.vtemslides-style2black .vtemslide-pause span{display:block;height:22px;line-height:22px; padding:0 10px 0 20px; text-transform:uppercase; font-size:10px; color:#999;}
.vtemslides-style2black .navigation{width:100% !important; border:none !important;}
.vtemslides-style2black .navigation tr{border:none !important;}
.vtemslides-style2black .navigation td{padding:10px;border:none !important;}
.vtemslides-style2black .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important; float:right;}
.vtemslides-style2black .vtemslidesnav li{float:left; display:block;}
.vtemslides-style2black .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav_black.png) -184px -1px no-repeat !important;
    height:14px;
    width:14px;
    text-align:center !important;
    font-weight:bold;
    text-decoration:none !important;
    color:#ccc !important;
    margin-right:5px !important;
}
.vtemslides-style2black .vtemslidesnav li.active-slide a,.vtemslides-style2black .vtemslidesnav li a:hover{background-position:-184px -16px !important;}
.vtemslides-style2black .vtemslides-prev,.vtemslides-style2black .vtemslides-next{
    background-image:url(images/slidesnav_black.png) !important;
    background-repeat:no-repeat !important;
    background-color:transparent !important;
    width:26px !important;
    height:24px !important;
    display:block;
    float:left;
    font-size:0px;
    color:#444 !important;
    text-decoration:none !important;
    cursor:pointer;
}
.vtemslides-style2black .vtemslides-next{background-position:-1px -26px !important;}
.vtemslides-style2black .vtemslides-next:hover{background-position:-58px -26px !important; color:#444 !important;}
.vtemslides-style2black .vtemslides-prev{background-position:-30px -26px !important;}
.vtemslides-style2black .vtemslides-prev:hover{background-position:-87px -26px !important; color:#444 !important;}
.vtemslides-style2black .vtemslides-title,.vtemslides-style2black .vtemslides-title a{font-size:36px; color:#fff !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style2black .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style2black .vtemslides-item img{padding:5px;}
.vtemslides-style2black .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style2black .vtem-slides-readon:hover{color:#fff !important;background-position:left -29px !important;}


/*////////// STYLE3 ///////////////*/
.vtemslides-style3 .vtem-slides-wrapper-inside{
    background:#f9f9f9;
    border:1px solid #ddd;
    color:#666;
}
.vtemslides-style3 a{background-color:transparent !important; color:#666 !important;}
.vtemslides-style3 a:hover{color:#999 !important;}
.vtemslides-style3 .vtemslide-pause{
    background:url(images/style1_bg.jpg) left center repeat-x;
    border:1px solid #ddd;
    z-index:100;
}
.vtemslides-style3 .vtemslide-pause span{display:block; height:16px; line-height:16px; padding:0 10px; text-transform:uppercase; font-size:10px; color:#999;border:1px solid #fff;}
.vtemslides-style3 .navigation{width:100%; border:none !important;}
.vtemslides-style3 .navigation tr{border:none !important;}
.vtemslides-style3 .navigation td{padding:10px;border:none !important;}
.vtemslides-style3 .navigation td.tdprvenext{width:24px;}
.vtemslides-style3 .navigation td table td{padding:0px !important;}
.vtemslides-style3 .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important;}
.vtemslides-style3 .vtemslidesnav li{float:left; display:block;}
.vtemslides-style3 .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav.png) -170px -31px no-repeat !important;
    height:14px;
    width:14px;
    text-align:center !important;
    font-size:1px;
    font-weight:bold;
    line-height:14px;
    text-decoration:none !important;
    color:#f9f9f9 !important;
    margin-right:5px !important;
    text-indent:-9999px;
}
.vtemslides-style3 .vtemslidesnav li.active-slide a,.vtemslides-style3 .vtemslidesnav li a:hover{background-position:-185px -31px !important;}
.vtemslides-style3 .vtemslides-prev,.vtemslides-style3 .vtemslides-next{background-image:url(images/slidesnav.png) !important; background-repeat:no-repeat; height:24px; display:block; width:24px; font-size:0px; cursor:pointer; color:#ccc !important;}
.vtemslides-style3 .vtemslides-next{background-position:-117px -26px !important;}
.vtemslides-style3 .vtemslides-next:hover{background-position:0px -77px !important;}
.vtemslides-style3 .vtemslides-prev{background-position:-148px -26px !important;}
.vtemslides-style3 .vtemslides-prev:hover{background-position:-31px -77px !important;}
.vtemslides-style3 .vtemslides-title,.vtemslides-style3 .vtemslides-title a{font-size:18px; color:#666 !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style3 .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style3 .vtemslides-item img{border:1px solid #eee; background:#fff; padding:5px;}
.vtemslides-style3 .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style3 .vtem-slides-readon:hover{color:#666 !important;background-position:left -11px !important;}


/*////////// STYLE3 Black ///////////////*/
.vtemslides-style3black .vtem-slides-wrapper-inside{
    background:#444;
    border:1px solid #333;
    color:#ccc;
}
.vtemslides-style3black a{background-color:transparent !important; color:#ccc !important;}
.vtemslides-style3black a:hover{color:#fff !important;}
.vtemslides-style3black .vtemslide-pause{
    background:#444 url(images/style1_bg_black.jpg) left center repeat-x;
    border:1px solid #333;
    z-index:100;
}
.vtemslides-style3black .vtemslide-pause span{display:block; height:16px; line-height:16px; padding:0 10px; text-transform:uppercase; font-size:10px; color:#999;border:1px solid #555;}
.vtemslides-style3black .navigation{width:100%; border:none !important;}
.vtemslides-style3black .navigation tr{border:none !important;}
.vtemslides-style3black .navigation td{padding:10px;border:none !important;}
.vtemslides-style3black .navigation td.tdprvenext{width:24px;}
.vtemslides-style3black .navigation td table td{padding:0px !important;}
.vtemslides-style3black .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important;}
.vtemslides-style3black .vtemslidesnav li{float:left; display:block;}
.vtemslides-style3black .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav_black.png) -170px -31px no-repeat !important;
    height:14px;
    width:14px;
    text-align:center !important;
    font-size:1px;
    font-weight:bold;
    line-height:14px;
    text-decoration:none !important;
    color:#444 !important;
    margin-right:5px !important;
    text-indent:-9999px;
}
.vtemslides-style3black .vtemslidesnav li.active-slide a,.vtemslides-style3black .vtemslidesnav li a:hover{background-position:-185px -31px !important;}
.vtemslides-style3black .vtemslides-prev,.vtemslides-style3black .vtemslides-next{background-image:url(images/slidesnav_black.png) !important; background-repeat:no-repeat; height:24px; display:block; width:24px; font-size:0px; cursor:pointer; color:#444 !important;}
.vtemslides-style3black .vtemslides-next{background-position:-117px -26px !important;}
.vtemslides-style3black .vtemslides-next:hover{background-position:0px -77px !important; color:#444 !important;}
.vtemslides-style3black .vtemslides-prev{background-position:-148px -26px !important;}
.vtemslides-style3black .vtemslides-prev:hover{background-position:-31px -77px !important; color:#444 !important;}
.vtemslides-style3black .vtemslides-title,.vtemslides-style3black .vtemslides-title a{font-size:18px; color:#ccc !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style3black .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style3black .vtemslides-item img{border:1px solid #666; background:#555; padding:5px;}
.vtemslides-style3black .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style3black .vtem-slides-readon:hover{color:#fff !important;background-position:left -29px !important;}


/*////////// STYLE4 ///////////////*/
.vtemslides-style4{
    background:transparent url(images/style4_bottom_bg.png) center bottom no-repeat;
    color:#666;
    padding:0 0 16px 0;
}
.vtemslides-style4 .vtem-slides-wrapper-inside{
    background:#fff url(images/style4_bg.png) left bottom repeat-x;
    border:1px solid #ddd;
    border-bottom:none !important;
}

.vtemslides-style4 .vtem-slides-wrapper-inside .vtem-slides li.vtemslides-panel{
    background:#fff url(images/style4_libg.png) left bottom repeat-x;
}
.vtemslides-style4 a{background-color:transparent !important; color:#666 !important;}
.vtemslides-style4 a:hover{color:#999 !important;}
.vtemslides-style4 .vtemslide-pause{
    background:url(images/slidesnav.png) left bottom no-repeat;
    z-index:100;
    right:1px;
    top:1px;
}
.vtemslides-style4 .vtemslide-pause span{display:block; height:18px; line-height:16px; padding:0 10px 0 20px; text-transform:uppercase; font-size:10px; color:#999;}
.vtemslides-style4 .navigation{width:100%; border:none !important;}
.vtemslides-style4 .navigation tr{border:none !important;}
.vtemslides-style4 .navigation td{padding:10px;border:none !important;}
.vtemslides-style4 .navigation td.tdprvenext{width:45px; padding:0 !important;}
.vtemslides-style4 .navigation td table td{padding:0px !important;}
.vtemslides-style4 .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important;}
.vtemslides-style4 .vtemslidesnav li{float:left; display:block;}
.vtemslides-style4 .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav.png) -59px -81px no-repeat !important;
    height:14px;
    width:14px;
    text-align:center !important;
    font-size:1px;
    font-weight:bold;
    line-height:14px;
    text-decoration:none !important;
    color:#eee !important;
    margin-right:5px !important;
}
.vtemslides-style4 .vtemslidesnav li.active-slide a,.vtemslides-style4 .vtemslidesnav li a:hover{background-position:-79px -81px !important;color:#888 !important;}
.vtemslides-style4 .vtemslides-prev,.vtemslides-style4 .vtemslides-next{background-image:url(images/slidesnav.png) !important; background-repeat:no-repeat; height:45px; display:block; width:45px; font-size:1px; cursor:pointer; color:#f9f9f9 !important; text-decoration:none !important;}
.vtemslides-style4 .vtemslides-next{background-position:-106px -75px !important;}
.vtemslides-style4 .vtemslides-next:hover{background-position:-106px -125px !important;color:#f9f9f9 !important;}
.vtemslides-style4 .vtemslides-prev{background-position:-154px -75px !important;}
.vtemslides-style4 .vtemslides-prev:hover{background-position:-154px -125px !important;color:#f9f9f9 !important;}
.vtemslides-style4 .vtemslides-title,.vtemslides-style4 .vtemslides-title a{font-size:18px; color:#666 !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style4 .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style4 .vtemslides-item img{border:1px solid #eee; background:#fff; padding:5px;}
.vtemslides-style4 .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style4 .vtem-slides-readon:hover{color:#666 !important;background-position:left -11px !important;}


/*////////// STYLE4 Black ///////////////*/
.vtemslides-style4black{
    background:transparent url(images/style4_bottom_bg.png) center bottom no-repeat;
    color:#ccc;
    padding:0 0 16px 0;
}
.vtemslides-style4black .vtem-slides-wrapper-inside{
    background:#555 url(images/style4_black_bg.png) left bottom repeat-x;
    border:1px solid #333;
    border-bottom:none !important;
}
.vtemslides-style4black .vtem-slides-wrapper-inside .vtem-slides li.vtemslides-panel{
    background:#555 url(images/style4_black_libg.png) left bottom repeat-x;
}
.vtemslides-style4black a{background-color:transparent !important; color:#ccc !important;}
.vtemslides-style4black a:hover{color:#fff !important;}
.vtemslides-style4black .vtemslide-pause{
    background:url(images/slidesnav_black.png) left bottom no-repeat;
    z-index:100;
    right:1px;
    top:1px;
}
.vtemslides-style4black .vtemslide-pause span{display:block;height:18px;line-height:16px;padding:0 10px 0 20px; text-transform:uppercase; font-size:10px; color:#999;}
.vtemslides-style4black .navigation{width:100%; border:none !important;}
.vtemslides-style4black .navigation tr{border:none !important;}
.vtemslides-style4black .navigation td{padding:10px;border:none !important;}
.vtemslides-style4black .navigation td.tdprvenext{width:45px; padding:0 !important;}
.vtemslides-style4black .navigation td table td{padding:0px !important;}
.vtemslides-style4black .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important;}
.vtemslides-style4black .vtemslidesnav li{float:left; display:block;}
.vtemslides-style4black .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav_black.png) -59px -81px no-repeat !important;
    height:14px;
    width:14px;
    text-align:center !important;
    font-size:1px;
    font-weight:bold;
    line-height:14px;
    text-decoration:none !important;
    color:#444 !important;
    margin-right:5px !important;
}
.vtemslides-style4black .vtemslidesnav li.active-slide a,.vtemslides-style4black .vtemslidesnav li a:hover{background-position:-79px -81px !important;color:#999 !important;}
.vtemslides-style4black .vtemslides-prev,.vtemslides-style4black .vtemslides-next{background-image:url(images/slidesnav_black.png) !important; background-repeat:no-repeat; height:45px; display:block; width:45px; font-size:1px; cursor:pointer; color:#444 !important; text-decoration:none !important;}
.vtemslides-style4black .vtemslides-next{background-position:-106px -75px !important;}
.vtemslides-style4black .vtemslides-next:hover{background-position:-106px -125px !important;color:#444 !important;}
.vtemslides-style4black .vtemslides-prev{background-position:-154px -75px !important;}
.vtemslides-style4black .vtemslides-prev:hover{background-position:-154px -125px !important;color:#444 !important;}
.vtemslides-style4black .vtemslides-title,.vtemslides-style4black .vtemslides-title a{font-size:18px; color:#ccc !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style4black .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style4black .vtemslides-item img{border:1px solid #666; background:#555; padding:5px;}
.vtemslides-style4black .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style4black .vtem-slides-readon:hover{color:#fff !important;background-position:left -29px !important;}



/*////////// STYLE5 ///////////////*/
.vtemslides-style5{
    background:#fff url(images/style5_bg.png) left bottom;
    border:1px solid #ddd;
    color:#666;
    margin-bottom:20px !important;
}
.vtemslides-style5 .vtem-slides-wrapper-inside .vtem-slides li.vtemslides-panel{
    background:#fff url(images/style5_bg.png) left bottom;
}
.vtemslides-style5 a{background-color:transparent !important; color:#666 !important;}
.vtemslides-style5 a:hover{color:#999 !important;}
.vtemslides-style5 .vtem-slides-wrapper-inside{border:1px solid #fff; overflow:visible !important; padding-bottom:20px;}
.vtemslides-style5 .slides-nextprev1 .vtemslides-item{margin:0 23px !important;}
.vtemslides-style5 .vtemslide-pause{
    background:url(images/style5_bg.png) left center;
    border:1px solid #ddd;
    z-index:100;
}
.vtemslides-style5 .vtemslide-pause span{display:block; height:16px; line-height:16px; padding:0 10px; text-transform:uppercase; font-size:10px; color:#999;border:1px solid #fff;}
.vtemslides-style5 .navigation{width:auto !important; border:none !important; margin:0 auto !important;}
.vtemslides-style5 .navigation tr{border:none !important;}
.vtemslides-style5 .navigation td{padding:0px;border:none !important;}
.vtemslides-style5 .navigation td div.nav_warp1{
    background:transparent url(images/style5_nav.png) left bottom no-repeat;
    display:block;
    height:33px;
    padding:0 0 0 33px;
}
.vtemslides-style5 .navigation td div.nav_warp2{
    background:transparent url(images/style5_nav.png) right -43px no-repeat;
    display:block;
    height:33px;
    padding:0 33px 0 0;
}
.vtemslides-style5 .navigation td div.nav_warp3{
    background:transparent url(images/style5_nav.png) left top repeat-x;
    display:block;
    height:16px;
    padding:8px 20px;
}
.vtemslides-style5 .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important;}
.vtemslides-style5 .vtemslidesnav li{float:left; display:block;}
.vtemslides-style5 .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav.png) -59px -97px no-repeat !important;
    height:12px;
    width:12px;
    text-align:center !important;
    font-size:1px;
    font-weight:bold;
    line-height:12px;
    text-decoration:none !important;
    color:#999 !important;
    margin-right:5px !important;
}
.vtemslides-style5 .vtemslidesnav li.active-slide a,.vtemslides-style5 .vtemslidesnav li a:hover{background-position:-76px -97px !important;color:#333 !important;}
.vtemslides-style5 .vtemslides-prev,.vtemslides-style5 .vtemslides-next{
    position:absolute;
    top:42%;
    width:24px;
    height:30px;
    z-index:100;
    display:block;
    background-image:url(images/slidesnav.png) !important;
    font-size:0px;
    cursor:pointer;
    color:#f9f9f9 !important;
}
.vtemslides-style5 .vtemslides-prev{background-position:-18px -145px !important; right:5px;}
.vtemslides-style5 .vtemslides-prev:hover{background-position:-64px -145px !important;color:#f9f9f9 !important;}
.vtemslides-style5 .vtemslides-next{background-position:0px -145px !important; left:5px;}
.vtemslides-style5 .vtemslides-next:hover{background-position:-48px -145px !important;color:#f9f9f9 !important;}
.vtemslides-style5 .vtemslides-title,.vtemslides-style5 .vtemslides-title a{font-size:18px; color:#666 !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style5 .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style5 .vtemslides-item img{border:1px solid #eee; background:#fff; padding:5px;}
.vtemslides-style5 .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style5 .vtem-slides-readon:hover{color:#666 !important;background-position:left -11px !important;}


/*////////// STYLE5 Black ///////////////*/
.vtemslides-style5black{
    background:#444 url(images/style5_black_bg.png) left bottom;
    border:1px solid #333;
    color:#ccc;
    margin-bottom:20px !important;
}
.vtemslides-style5black .vtem-slides-wrapper-inside .vtem-slides li.vtemslides-panel{
    background:#444 url(images/style5_black_bg.png) left bottom;
}
.vtemslides-style5black a{background-color:transparent !important; color:#ccc !important;}
.vtemslides-style5black a:hover{color:#fff !important;}
.vtemslides-style5black .vtem-slides-wrapper-inside{border:1px solid #555; overflow:visible !important; padding-bottom:20px;}
.vtemslides-style5black .slides-nextprev1 .vtemslides-item{margin:0 23px !important;}
.vtemslides-style5black .vtemslide-pause{
    background:url(images/style5_black_bg.png) left center;
    border:1px solid #333;
    z-index:100;
}
.vtemslides-style5black .vtemslide-pause span{display:block; height:16px; line-height:16px; padding:0 10px; text-transform:uppercase; font-size:10px; color:#999;border:1px solid #555;}
.vtemslides-style5black .navigation{width:auto !important; border:none !important; margin:0 auto !important;}
.vtemslides-style5black .navigation tr{border:none !important;}
.vtemslides-style5black .navigation td{padding:0px;border:none !important;}
.vtemslides-style5black .navigation td div.nav_warp1{
    background:transparent url(images/style5_black_nav.png) left bottom no-repeat;
    display:block;
    height:33px;
    padding:0 0 0 33px;
}
.vtemslides-style5black .navigation td div.nav_warp2{
    background:transparent url(images/style5_black_nav.png) right -43px no-repeat;
    display:block;
    height:33px;
    padding:0 33px 0 0;
}
.vtemslides-style5black .navigation td div.nav_warp3{
    background:transparent url(images/style5_black_nav.png) left top repeat-x;
    display:block;
    height:16px;
    padding:8px 20px;
}
.vtemslides-style5black .vtemslidesnav{list-style:none !important; padding:0 !important; margin:0 !important;}
.vtemslides-style5black .vtemslidesnav li{float:left; display:block;}
.vtemslides-style5black .vtemslidesnav li a{
    display:block;
    background:transparent url(images/slidesnav_black.png) -59px -97px no-repeat !important;
    height:12px;
    width:12px;
    text-align:center !important;
    font-size:1px;
    font-weight:bold;
    line-height:12px;
    text-decoration:none !important;
    color:#999 !important;
    margin-right:5px !important;
}
.vtemslides-style5black .vtemslidesnav li.active-slide a,.vtemslides-style5black .vtemslidesnav li a:hover{background-position:-76px -97px !important;color:#333 !important;}
.vtemslides-style5black .vtemslides-prev,.vtemslides-style5black .vtemslides-next{
    position:absolute;
    top:42%;
    width:24px;
    height:30px;
    z-index:100;
    display:block;
    background-image:url(images/slidesnav_black.png) !important;
    font-size:0px;
    cursor:pointer;
    color:#444 !important;
}
.vtemslides-style5black .vtemslides-prev{background-position:-18px -145px !important; right:5px;}
.vtemslides-style5black .vtemslides-prev:hover{background-position:-64px -145px !important;color:#444 !important;}
.vtemslides-style5black .vtemslides-next{background-position:0px -145px !important; left:5px;}
.vtemslides-style5black .vtemslides-next:hover{background-position:-48px -145px !important;color:#444 !important;}
.vtemslides-style5black .vtemslides-title,.vtemslides-style5black .vtemslides-title a{font-size:18px; color:#ccc !important; text-decoration:none; font-weight:normal; background-color:transparent !important;}
.vtemslides-style5black .vtemslides-title a:hover{text-decoration: underline;}
.vtemslides-style5black .vtemslides-item img{border:1px solid #666; background:#555; padding:5px;}
.vtemslides-style5black .vtem-slides-readon{display:block;float:right; background-color:transparent !important; text-transform:uppercase; font-size:80%; text-decoration:none; color:#999 !important; background-image:url(images/arrow.png) !important; background-repeat:no-repeat !important; background-position:left 7px !important; padding-left:15px; height:22px;}
.vtemslides-style5black .vtem-slides-readon:hover{color:#fff !important;background-position:left -29px !important;}

/*////////// IE6 ///////////////*/
.vtemslide-pause{_width:80px;}
.vtem-slides-wrapper .vtem-slides .vtem-slides-readon{_background-image:url(images/ie6/arrow.gif) !important;}
.vtemslides-style2{_background-color:#f9f9f9;}
.vtemslides-style2black{_background-color:#444;}
.vtemslides-style4,.vtemslides-style4black{_background:none;_padding-bottom:0;}
.vtemslides-style5 .navigation td div.nav_warp1{
    _background:transparent url(images/ie6/style5_nav.gif) left bottom no-repeat !important;
}
.vtemslides-style5 .navigation td div.nav_warp2{
    _background:transparent url(images/ie6/style5_nav.gif) right -43px no-repeat !important;
}
.vtemslides-style5 .navigation td div.nav_warp3{
    _background:transparent url(images/ie6/style5_nav.gif) left top repeat-x !important;
}
.vtemslides-style5black .navigation td div.nav_warp1{
    _background:transparent url(images/ie6/style5_black_nav.gif) left bottom no-repeat !important;
}
.vtemslides-style5black .navigation td div.nav_warp2{
    _background:transparent url(images/ie6/style5_black_nav.gif) right -43px no-repeat !important;
}
.vtemslides-style5black .navigation td div.nav_warp3{
    _background:transparent url(images/ie6/style5_black_nav.gif) left top repeat-x !important;
}
.vtemslides-style1 .vtemslidesnav li a,
.vtemslides-style1 .control a,
.vtemslides-style2 .vtemslide-pause,
.vtemslides-style2 .vtemslidesnav li a,
.vtemslides-style2 .vtemslides-prev,.vtemslides-style2 .vtemslides-next,
.vtemslides-style3 .vtemslidesnav li a,
.vtemslides-style3 .vtemslides-prev,.vtemslides-style3 .vtemslides-next,
.vtemslides-style4 .vtemslide-pause,
.vtemslides-style4 .vtemslidesnav li a,
.vtemslides-style4 .vtemslides-prev,.vtemslides-style4 .vtemslides-next,
.vtemslides-style5 .vtemslidesnav li a,
.vtemslides-style5 .vtemslides-prev,.vtemslides-style5 .vtemslides-next
{
    _background-image:url(images/ie6/slidesnav.gif) !important;
}

.vtemslides-style1black .vtemslidesnav li a,
.vtemslides-style1black .control a,
.vtemslides-style2black .vtemslide-pause,
.vtemslides-style2black .vtemslidesnav li a,
.vtemslides-style2black .vtemslides-prev,.vtemslides-style2black .vtemslides-next,
.vtemslides-style3black .vtemslidesnav li a,
.vtemslides-style3black .vtemslides-prev,.vtemslides-style3black .vtemslides-next,
.vtemslides-style4black .vtemslide-pause,
.vtemslides-style4black .vtemslidesnav li a,
.vtemslides-style4black .vtemslides-prev,.vtemslides-style4black .vtemslides-next,
.vtemslides-style5black .vtemslidesnav li a,
.vtemslides-style5black .vtemslides-prev,.vtemslides-style5black .vtemslides-next
{
    _background-image:url(images/ie6/slidesnav_black.gif) !important;
}

/*////////// CUSTOM ///////////////*/
.vtemslidecustom-nav{padding:8px 5px;}
.vtemslides-custom .vtemslidesnav{margin:0 !important; padding:0 !important; list-style:none !important; float:left;}
.vtemslides-custom .vtemslidesnav li,.vtemslides-custom .vtemslides-next,.vtemslides-custom .vtemslides-prev{
    float:left; 
    display:block;
}
.vtemslides-custom .vtemslidesnav li a,
.vtemslides-custom .vtemslides-next,.vtemslides-custom .vtemslides-prev{margin:2px; padding:2px 3px; text-decoration:none !important; background-color:transparent !important; text-transform:uppercase; font-size:11px; cursor:pointer;opacity:0.6;}
.vtemslides-custom .vtemslide-pause{text-transform:uppercase; font-size:10px;}