@font-face {
    font-family:"Neo-Sans-Regular";
    src: url('../fonts/UTM-Neo-Sans-Intel.eot');
    src: url('../fonts/UTM-Neo-Sans-Intel.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTM-Neo-Sans-Intel.woff') format('woff'),
        url('../fonts/UTM-Neo-Sans-Intel.ttf') format('truetype'),
        url('../fonts/UTM-Neo-Sans-Intel.svg#UTM-Neo-Sans-Intel') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Neo-Sans-Italic";
    src:url(../fonts/UTM-Neo-Sans-Intel-Italic.ttf);
}

@font-face {
    font-family:"Neo-Sans-Bold";
    src:url(../fonts/UTM-Neo-Sans-IntelBold.ttf);
}

@font-face {
    font-family:"Neo-Sans-Bold-Italic";
    src:url(../fonts/UTM-Neo-Sans-IntelBold-Italic.ttf);
}

@font-face {
    font-family:"Fleur";
    src: url('../fonts/Fleur.eot');
    src: url('../fonts/Fleur.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Fleur.woff') format('woff'),
        url('../fonts/Fleur.ttf') format('truetype'),
        url('../fonts/Fleur.svg#Fleur') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Charlotte";
    src: url('../fonts/UTM-Charlotte.eot');
    src: url('../fonts/UTM-Charlotte.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTM-Charlotte.woff') format('woff'),
        url('../fonts/UTM-Charlotte.ttf') format('truetype'),
        url('../fonts/UTM-Charlotte.svg#UTM-Charlotte.eot') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Nokia";
    src:url(../fonts/UTM-Nokia.ttf)
}

@font-face {
    font-family:"Nokia-Standard";
    src: url('../fonts/UTM-Nokia-Standard.eot');
    src: url('../fonts/UTM-Nokia-Standard.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UTM-Nokia-Standard.woff') format('woff'),
        url('../fonts/UTM-Nokia-Standard.ttf') format('truetype'),
        url('../fonts/UTM-Nokia-Standard.svg#UTM-Nokia-Standard') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Nokia-StandardB";
    src:url(../fonts/UTM-Nokia-StandardB.ttf);
}

@font-face {
    font-family:"MyriadPro";
    src: url('../fonts/Myriad-Pro-Regular.eot');
    src: url('../fonts/Myriad-Pro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Myriad-Pro-Regular.woff') format('woff'),
        url('../fonts/Myriad-Pro-Regular.ttf') format('truetype'),
        url('../fonts/Myriad-Pro-Regular.svg#Myriad-Pro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}