#vtemnewsshowid154-newsshow.vtem_news_show .ad-nav {
    display:none;
}

.vtemslides-style2black .vtem-slides-wrapper-inside {
    background: url(../images/slider-footer.png) bottom center no-repeat;
}