.form-tour select {
    width:295px;
    height: 30px;
    margin:0 33px;
    padding:5px;
	border:none;
}

#jform_advanced_module_departure,
#jform_advanced_module_arrival {
    width:258px;
    height: 18px;
    margin:0 0 0 33px;
    padding:5px;
	border:none;
}

.form-tour label {
    color:#fff;
    font-family: Arial;
    font-size: 17.08px;
    text-transform: capitalize;
	display:block;
}

#tabbed_box_1 {
    margin: 0px auto 0px auto;
    width:300px;
}
.tabbed_box h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:23px;
    color:#ffffff;
    letter-spacing:-1px;
    margin-bottom:10px;
}

.tabbed_area {
    padding:0;	
}

ul.tabs {
    margin:0px; 
    padding:0px;
    display:block;
    overflow:hidden;
}

ul.tabs li {
    list-style:none;
    float:left;
    width:50%;
    text-align:center;
}

ul.tabs li a {
    background:url(../images/bg-tabs.png);
    color:#fff;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:21.96px;
    font-family:Arial;
    font-weight:bold;
    text-transform:uppercase;
    display:block;
}

ul.tabs li a:hover {
    background:url(../images/bg-tabs.png);
}

ul.tabs li a.active {
    background:none;
    color:#fff;
}

.content {
    padding:10px;
}

#content_2 { display:none; }

#content_1 label,
#content_2 label,
#jform_advanced_module_category-lbl {
    background:url(../images/lb1.png) left center no-repeat;
    display:block;
    padding:0 30px;
    margin-top:10px;
}

.lb2,
#jform_advanced_module_destination-lbl {
    background:url(../images/lb2.png) left center no-repeat !important;
	display:block;
    padding:0 30px;
    margin-top:10px;
}

.lb3,
#jform_advanced_module_departure-lbl,
#jform_advanced_module_arrival-lbl {
    background:url(../images/lb3.png) left center no-repeat !important;
	display:block;
    padding:0 30px;
    margin-top:10px;
}

.content ul {
    margin:0px;
    padding:0px 20px 0px 20px;
}
.content ul li {
    list-style:none;
    border-bottom:1px solid #d6dde0;
    padding-top:15px;
    padding-bottom:15px;
    font-size:13px;
}
.content ul li:last-child {
    border-bottom:none;
}
.content ul li a {
    text-decoration:none;
    color:#3e4346;
}
.content ul li a small {
    color:#8b959c;
    font-size:9px;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    position:relative;
    left:4px;
    top:0px;
}
.content ul li a:hover {
    color:#a59c83;
}
.content ul li a:hover small {
    color:#baae8e;
}

#jform_advanced_module_activity-lbl,
#jform_advanced_module_activity,
#jform_advanced_module_duration_from-lbl,
#jform_advanced_module_duration_from,
#jform_advanced_module_duration_to,
#jform_advanced_module_budget_from-lbl,
#jform_advanced_module_budget_from,
#jform_advanced_module_budget_to,
.search-right label{
	display:none;
}

.travelbook.search {
	padding:10px 20px 0 20px;
}

#jflanguageselection {
	margin:0;
}