html,body,form,fieldset {
    margin:0;
    padding:0;
}

body {
    background:#fff;
    color:#000;
    font-family:MyriadPro;
    font-size:13px;
    line-height:1.5;
}

body#bd{
    background:#fff; 
    color:#000;
    margin:0;
    padding:0;
}

#wrapper {
    margin:0 auto;
}

body.contentpane {
    background:#FFF;
    color:#000;
    line-height:1.5;
    margin:1em 2em;
    width:auto;
}

a{
    color:#3F6EA5;
    text-decoration:none;
}

a:hover,a:active,a:focus{
    text-decoration:underline;
}

a img {
    border:none;
}

.contentheading,.componentheading,.blog_more strong,h1,h2,h3,h4
{
    line-height:normal;
}

small,.small,.smalldark,.button,.article-meta,.modifydate,.img_caption p,a.readon,#ja-pathway,#ja-footer
{
    color:#666;
    font-size:100%;
}

img
{
    margin:0;
    padding:0;
}

.img_caption
{
    padding-right:10px;
}

.img_caption p
{
    color:#555;
    margin-top:0;
    padding-top:5px;
    text-align:center;
}

div.leading .img-desc
{
    margin:0;
}

div.leading .img-desc img
{
    margin-top:5px;
}

.article_row .img-desc
{
    float:left;
    margin-bottom:5px;
    margin-top:5px;
}

div.article-content img,.img-desc img
{
    background:#FFF;
    border:1px solid #DDD;
    margin:0 8px 0 0;
    padding:3px;
}

.img-desc .img_caption p
{
    font-size:10px;
}

.img_caption img
{
    background:#FFF;
    border:1px solid #CCC;
    padding:4px;
}

.img-border
{
    border:5px solid #B9B7B5;
}

h1
{
    font-size:200%;
}

h2
{
    font-size:175%;
}

h3
{
    font-size:150%;
}

h4
{
    font-size:125%;
}

p,pre,blockquote,ul,ol,h1,h2,h3,h4,h5,h6
{
    margin:5px 0;
    padding:0;
}

ul
{
    list-style:square inside none;
}

ul li
{
    line-height:1.5;
    list-style:square inside none;
}

ol li
{
    margin-left:35px;
}

th
{
    font-weight:700;
    padding:8px;
    text-align:left;
}

fieldset
{
    background:url(../images/dot.gif) repeat-x top #fff;
    border:none;
    padding:10px 5px;
}

fieldset a
{
    font-weight:700;
}

fieldset.input
{
    background:none;
    padding:0;
}

legend
{
    background:#FFF;
    font-weight:700;
}

hr {
    width:100% !important;
    border-bottom:0;
    border-left:0;
    border-right:0;
    border-top:1px solid #BBB;
    height:1px;
}

td,th,div
{
    font-size:100%;
}

form
{
    margin:0;
    padding:0;
}

form label
{
    cursor:pointer;
}

input,select,textarea,.inputbox,.button
{
    font-family:Arial, Tahoma, Times New Roman;
    font-size:100%;
}

.inputbox
{
    background:#FFF;
    border:1px solid #333;
    color:#555;
    font-size:100%;
}

.button
{
    background:#33CA74;
    border:1px solid #555;
    color:#000;
}

* html .button
{
    padding:0 5px!important;
}

*+html .button
{
    padding:0 5px!important;
}

#ja-contentheading
{
    border-bottom:5px solid #EBEBEB;
}

#ja-contentheading .leading
{
    float:left;
    width:60%;
}

#ja-contentheading .article-block
{
    float:right;
    width:40%;
}

#ja-contentheading .article_row
{
    padding:0 0 0 15px;
}

#ja-contentheading .leading h2.contentheading
{
    font-size:180%;
}

#ja-contentheading h2.contentheading
{
    font-size:125%;
}

#ja-contentheading .article-meta
{
    width:100%;
}

#ja-contentheading p
{
    margin:5px 0;
}

#ja-contentheading .article-toolswrap
{
    margin:0 0 5px;
}

.article_separator,.article_seperator
{
    display:block;
    height:0;
    margin:0;
}

.leading_separator
{
    display:none;
    height:10px;
}

.row_separator
{
    display:none;
}

.column_separator
{
    padding:0 25px;
}

.sectiontableheader
{
    background:#009541;
    border:1px solid #FFF;
    color:#FFF;
    font-weight:700;
    padding:7px;
}

.sectiontableheader a,.sectiontableheader a:hover,.sectiontableheader a:active,.sectiontableheader a:focus
{
    color:#FFF;
}

tr.sectiontableentry0 td,tr.sectiontableentry1 td,tr.sectiontableentry2 td
{
    border-bottom:1px solid #BBB;
    padding:7px;
}

tr.sectiontableentry2 td
{
    background:#e5f3c4;
}

table.contentpane
{
    border:none;
    width:100%;
}

table.contentpaneopen
{
    border:none;
    border-collapse:collapse;
    border-spacing:0;
}

table.contenttoc
{
    float:right;
    margin:0 0 10px 10px;
    padding:0;
    width:30%;
}

table.contenttoc td
{
    background:url(../images/bullet.gif) no-repeat 12px 8px;
    padding:1px 5px 1px 20px;
}

table.contenttoc th
{
    border-bottom:1px solid #CCC;
    padding:0 0 3px;
    text-indent:5px;
}

table.poll
{
    border-collapse:collapse;
    padding:0;
    width:100%;
}

table.pollstableborder
{
    border:none;
    padding:0;
    text-align:left;
    width:100%;
}

table.pollstableborder img
{
    vertical-align:baseline;
}

table.pollstableborder td
{
    background:none;
    border-collapse:collapse;
    border-spacing:0;
    padding:4px!important;
}

table.pollstableborder tr.sectiontableentry1 td
{
    background:#F8F8F7;
}

table.searchintro
{
    padding:10px 0;
    width:100%;
}

table.searchintro td
{
    padding:5px!important;
}

.blog_more
{
    border-top:1px solid #CCC;
    margin:15px 0 0;
    padding:10px 0 0;
}

.blog_more h2
{
    color:#F89A20;
    font-size:110%;
    margin:0 0 10px;
    padding:0;
    text-transform:uppercase;
}

.blog_more strong
{
    display:block;
    margin:0 0 5px;
    text-transform:uppercase;
}

.blog_more ul
{
    margin:0;
    padding:0;
}

.blog_more ul li
{
    background:none;
    margin:0;
    padding:0 0 0 12px;
}

.blog_more ul li a
{
    color:#555;
}

.blog_more ul li a:hover,.blog_more ul li a:active,.blog_more ul li a:focus
{
    color:#F89A20;
}

.category
{
    font-weight:700;
}

h1.componentheading,.componentheading
{
    border-bottom:1px solid #33ca74;
    color:#D12C00;
    font-size:200%;
    margin:0 0 7px;
    text-align:center;
}

.contentdescription
{
    padding-bottom:10px;
}

h2.contentheading,.contentheading
{
    color:#065B84;
    font-size:160%;
    margin:0 0 7px;
}

table.blog .contentheading
{
    font-size:150%;
}

a.readon
{
    color:#555;
    float:right;
    font-style:italic;
}

a.readon:hover,a.readon:focus,a.readon:active
{
    text-decoration:underline;
}

table.contentpaneopen,table.contentpane,table.blog
{
    width:100%;
}

.moduletable
{
    padding:0;
}

.readmore {
    font-style:italic;
    float:right;
}

.readmore a {
    color:#3F6EA5;
}
.pagination{
    color:#555;
    margin:0px auto 10px;
    padding:10px 0 0;
    text-align:right;
}

.pagination li{
    background:none;
    display:inline;
    margin:0 5px;
    padding:0;
}

.pagination li span{
    padding:2px 5px;
    border:1px solid #ccc;
    background:#3F6EA5;
    color:#fff;
}

.pagination a
{
    background:#FFF;
    border:1px solid #CCC;
    color:#4F4F4F;
    padding:1px 4px;
    text-decoration:none;
}

.pagination a:hover,.pagination a:active,.pagination a:focus{
    color:#7da724;
}

.pagenavbar{
    background:url(../images/icon-pages.gif) no-repeat center left;
    font-weight:700;
    padding-left:14px;
}

.counter, .pagination-start, .pagination-end{
    display:none !important;
}

.smalldark
{
    text-align:left;
}

div.syndicate div
{
    text-align:center;
}

.pollstableborder tr.sectiontableentry1 td,.pollstableborder tr.sectiontableentry2 td
{
    background:none;
}

ul.latestnews li.latestnews
{
    background:url(../images/bullet-top.gif) no-repeat 0 6px;
    list-style:none;
    padding:0 0 7px 15px;
    text-align:justify;
}

ul.mostread li.mostread
{
    background:url(../images/bullet-top.gif) no-repeat 0 3px;
    list-style:none;
    padding:0 0 5px 15px;
    text-align:justify;
}

ul.latestnews a,ul.mostread a
{
    background:none;
    color:#000;
}

.bannerheader
{
    font-size:120%;
    font-weight:700;
}

div.content-desc p
{
    clear:both;
    display:block;
    margin:0;
}

.article-toolswrap
{
    display:block;
    margin:0 0 10px;
    padding:0;
    position:relative;
}

.article-tools
{
    display:block;
    padding:0 10px 0 0;
}

.article-meta
{
    color:#666;
    float:left;
    width:70%;
}

.createdby
{
    color:#666;
}

.createdate
{
    border-bottom:1px solid #BBB;
    color:#666;
}

.modifydate
{
    color:#666;
    display:block;
    margin:15px 0;
    width:100%;
}

.article-section
{
    background:url(../images/vline.gif) no-repeat left center;
    margin-left:5px;
    padding-left:6px;
}

.article-section a
{
    color:#555;
}

.article-category a
{
    color:#555;
}

div.buttonheading
{
    position:absolute;
    right:10px;
    top:4px;
}

.buttonheading img
{
    border:0;
    float:right;
    margin:0 0 0 5px;
}

.cols3
{
    float:left;
    width:33.3%;
}

div.column1 .contentpaneopen
{
    padding-right:10px;
}

div.column2 .contentpaneopen
{
    padding:0 10px;
}

div.column3 .contentpaneopen
{
    padding-left:10px;
}

.wrap
{
    clear:both;
    width:100%;
}

.main {
    margin:0 auto;
    width:1160px;
}

.inner
{
    margin:0;
    padding:0;
}

#logo {
    width:200px;
    height:130px;
    float:left;
}

#search {
    width:700px;
    height:55px;
    float:right;
    margin-right:20px;
}

#ja-mainbody{
    float:left;
    margin-bottom:0;
    width:760px;
    padding:0;
}

#ja-current-content{
    background:none;
    margin:0;
    padding:0;
}

#ja-current-content .item-page {
    padding:10px 30px;
}

#ja-colwrap{
    float:right;
    width:360px;
}

#ja-colwrap .ja-innerpad {
    padding:0;
}

#ja-colwrap div.moduletable {
    border:2px solid #ECECEC;
}

#ja-colwrap .ja-box-ct {
    padding:5px 15px;
    font-size:13px;
    color:#3F6EA5;
}

#ja-colwrap .right-blog p {
    display:block;
    overflow:hidden;
}

#ja-colwrap .right-blog a{
    color:#cd0a0a;
    text-transform:uppercase;
    font-weight:bold;
    text-align:right;
    float:right
}

#ja-container,#ja-container-fr,#ja-container-fl,#ja-container-f {
    clear:both;
    padding:0;
}

#ja-container .main .inner,#ja-container-fr .main .inner,#ja-container-fl .main .inner{
    padding:0;
}

#ja-container-fl{
    width:1160px;
    margin:20px auto;
}

#ja-container-f .main .inner {
    background:#FFF;
}

#ja-container-fr #ja-mainbodywrap {
    width:100%;
}

#ja-container-fr #ja-col1 {
    width:22%;
}

#ja-container-fr #ja-content
{
    width:78%;
}

#ja-container-fr #ja-current-content
{
    background-color:#FFF;
    border-radius:5px 5px 5px 5px;
}

#ja-container-fl #ja-mainbodywrap
{
    float:left;
    width:100%;
}

#ja-container-fl #ja-content
{
    width:80%;
}

#ja-container-fl #ja-current-content
{
    margin-left:0;
}

#ja-container-f #ja-mainbody
{
    width:100%;
}

#ja-container-f #ja-content
{
    width:100%;
}

#ja-container-f #ja-current-content
{
    border:1px solid #009541;
    margin-bottom:7px;
    padding:7px;
}

#ja-colwrap div.moduletable h3{
    background:#3F6EA5;
    font-size:20px;
    font-weight:bold;
    padding:10px;
    color:#fff; 
    text-align:center;
    text-transform:uppercase;
}

div.moduletable h3,div.moduletable_default h3,div.moduletable_menu h3,div.moduletable_text h3,div.moduletable_blank h3{
    font-size:21px;
    margin:0 0 5px;
    padding:5px;
    font-weight:normal;
}

div.moduletable .ja-box-ct{
}

.blog-featured h2 {margin:10px 0}
.blog-featured h2 a , .blog-featured h1 {
    background:url(../images/ok.png) left center no-repeat;
    font-size:20px;
    margin:0 0 5px;
    padding:10px 5px 10px 60px;
    text-transform:capitalize;
    font-weight:bold;
    font-family:"Times New Roman", Times, serif;
    color:#008000;
}


.lienket select {width:250px; border:1px solid #ccc; border-right:none;}

.bando h3 {
    color:#3F6EA5;
}
.blog-featured .items-row {padding:0; margin:0; border:none}

.blog h2 span {
    font-size:20px;
    margin:0 0 5px;
    text-transform:capitalize;
    font-weight:bold;
    color:#3F6EA5;
}

.item-page h2 a {
    font-size:20px;
    margin:0 0 5px;
    text-transform:capitalize;
    font-weight:bold;
    color:#3F6EA5;
}

.item-page h2 {margin-bottom:15px}

#ja-news h3 {
    font-size:20px;
    margin:0 0 5px;
    text-transform:capitalize;
    font-weight:bold;
    color:#3F6EA5;
}

.blog h2 a {
    color:#3F6EA5; 
    font-size:14px; 
    font-weight:bold;
}

.items-row {
    margin:10px 0;
    padding:10px 0;
    border-bottom:1px solid #ccc;
    overflow:hidden;
}

div.moduletable,div.moduletable_default,div.moduletable_menu,div.moduletable_text,div.moduletable_blank {
    color:#3f6ea5;
    margin:0 0 10px;
}

div.moduletable_blank {
    margin:0 0 15px;
    padding:0;
}

div.moduletable_blank div.ja-box-ct {
    background:none!important;
    border:none;
    margin:0;
    padding:0 0 0 5px !important;
}

#ja-colwrap div.moduletable_tabs {
    background:#DDD;
    border:1px solid #B9B7B5;
    padding:0;
}

#ja-colwrap div.moduletable_tabs div.ja-box-ct {
    background:none;
    border:none;
    padding:0;
}

div.banneritem_text {
    padding:5px 0!important;
}

div.advs {
    clear:both;
    display:block;
    float:left;
    width:100%;
}

div.moduletable li,div.moduletable_menu li,div.moduletable_text li {
    background:none;
}

#header-wrapper {
    background:#444444;
    overflow:hidden;
	min-width:1160px;
}

.header-inner {
    padding:0 15px;
    overflow:hidden;
}

.header-inner,
.header-inner a {
    color:#fff !important;
}

#ja-header{
    background:#3F6EA5;
    line-height:normal;
    position:relative;
    z-index:999;
    width:1160px;
    margin:0 auto;
    overflow:hidden;
}

#language,
#text-header,
#link-header {
    float:left;
    padding:0;
}

#language table,
#link-header table,
#social-header table {
    width:100%;
    height:40px;
    text-align:center;
    vertical-align:middle;
}

#language {
    padding:10px 0;
}

#language  a {
	margin-right:7px;
}

#text-header {
    width:450px;
    margin-left:90px;
    font-size:17px;
	padding-top:7px;
}

#text-header tr td {
	background:url(../images/icon1.png) left center no-repeat;
	padding-left:25px;
}

#text-header tr td  + td {
	background:url(../images/icon2.png) left center no-repeat;
}

#link-header {
    width:235px;
    font-size:14px !important;
    font-weight:bold;
	line-height:12px;
	font-family:Arial;
}

#link-header tr td {
    background:url(../images/top-btn.png) center center no-repeat;
    /*border-left:10px solid #3F6EA5;*/
	min-width:124px;
	min-height:42px;
	vertical-align:middle;
	text-align:center;
}

#social-header {
    width:90px;
    float:right;
}

#ja-mainnav-wrapper {
	border-bottom:6px solid #EEEEEE;
}

#ja-mainnav{
    width:1160px;
    padding:0;
    margin:10px auto;
    position:relative;
    z-index:9999;
    display:table;
}

#ja-mainnav .main {
    position:relative;
}

#ja-mainnav a,#ja-subnav a {
    line-height:normal;
    outline:none;
}

#ja-mainnav .logo {
    width:240px;
    float:left;
}

#ja-mainnav .nav {
    width:820px;
    margin-left:100px;
    float:right;
}

#ja-subnav ul {
    display:block;
    list-style:none;
    margin:0;
    padding:0;
}

#ja-subnav li {
    background:url(../images/mainlevel-bg.gif) repeat-x left bottom;
    display:block;
    line-height:normal;
    margin:0;
    padding:0;
}

#ja-subnav a {
    background:url(../images/bullet.gif) no-repeat 0 12px;
    color:#555;
    display:block;
    margin:0;
    outline:none;
    padding:6px 0 6px 10px;
    text-decoration:none;
}

#ja-subnav a:hover,#ja-subnav a:active,#ja-subnav a:focus {
    background:url(../images/bullet.gif) no-repeat 0 12px;
    color:#F89A20;
    text-decoration:none;
}

#ja-subnav li.active a {
    background:url(../images/bullet.gif) no-repeat 0 12px;
    color:#F89A20;
    font-weight:700;
}

#ja-pathway {
    background:#FFF;
    color:#555;
    margin:0;
}

#ja-pathway .ja-pathway-text {
    float:left;
    padding:0;
}

#ja-pathway span {
    padding:0 5px 0 0;
}

#ja-pathway a {
    font-weight:700;
}

#ja-pathway img {
    margin:0 5px;
}

ul.menu {
    display:block;
    list-style:none;
    margin:0;
    padding:0;
}

ul.menu li {
    display:block;
    line-height:normal;
    list-style:none;
    margin:0;
    padding:0 0 5px;
}

ul.menu li a {
    background:url(../images/bullet-menu.gif) no-repeat 0 6px #e5f3c4;
    color:#000;
    display:block;
    margin:0;
    outline:none;
    padding:5px 0 5px 20px;
    text-decoration:none;
}

ul.menu li a:hover,ul.menu li a:active,ul.menu li a:focus{
    background:url(../images/bullet-menu.gif) no-repeat 0 6px;
    color:#000;
}

ul.menu li.active > a {
    background:url(../images/bullet-menu.gif) no-repeat 0 6px;
    color:#000;
}

ul.menu li ul
{
    list-style:none;
    margin:0;
    padding:0;
}

ul.menu li li {
    border:none;
    padding:0 0 0 22px;
}

ul.menu li li a
{
    background:url(../images/bullet-menusub.gif) no-repeat 0 11px!important;
    border:none;
    color:#333!important;
    padding:5px 5px 5px 15px !important;
    text-transform:none;
}

ul.menu li li a:hover,ul.menu li li a:active,ul.menu li li a:focus
{
    background:url(../images/bullet-menusub.gif) no-repeat 0 11px!important;
    color:red!important;
    text-decoration:underline;
}

ul.menu li li.active a
{
    background:url(../images/bullet-menusub.gif) no-repeat 0 11px!important;
    color:#000!important;
}

ul.menu li li li a
{
    background:url(../images/bullet.gif) no-repeat 25px 10px!important;
    color:#555!important;
    font-weight:400!important;
    padding-left:35px!important;
}

ul.menu li li li.active a
{
    font-weight:700!important;
}

.ja-box-full,.ja-box-left,.ja-box-center,.ja-box-right
{
    float:left;
    overflow:hidden;
}

#ja-topsl{
    margin:0;
    padding:0;
    z-index:0;
    position:relative;
	min-width:1160px;
	max-width:1360px;
	margin:0 auto;
}

.form-tour {
    width:380px;
    position:absolute;
    z-index:9;
    right:100px;
    top:5px;
}

.form-tour h3 {
    color:#fff;
    font-size:24px !important;
    font-weight:bold !important;
    text-transform:uppercase;
    text-align:center;
}

.form-tour .button {
    background:url(../images/form-tour-btn.png) center center no-repeat;
    width:296px;
    line-height:40px;
    text-align:center;
    border:none;
    font-family:Arial;
    font-size:19.52px;
    font-weight:bold;
    color:#000;
    text-transform:uppercase;
    margin:0 33px 33px 33px;
	cursor:pointer;
}

.form-tour  .ja-box-ct {
    background:url(../images/search-tour-bg.png);
    padding:0;
}

.form-tour .calendar {
	height:26px;
	cursor:pointer;
	margin-bottom:-9px;
}

.user6 .ja-box-ct {
    padding:5px 0 10px 0 !important;
}

.user5 .ja-box-ct {
    padding:30px 10px !important;
    position:absolute;
    top:0px;
}

.user5 div.moduletable h3 {
    font-size:18px;
    font-weight:bold;
    border-top:1px solid #ECECEC;
    padding:15px !important;
    position:absolute;
    bottom:0px;
}

.user5{
    border:1px solid #ECECEC;
    width:270px;
    height:275px;
    margin-right:65px;
    float:left;
    position:relative;
}

.user6 div.moduletable h3 {
    background:url(../images/arrow.png) no-repeat;
    background-position: 250px center;
    display:block;
    border-top:1px solid #ECECEC;
    padding:20px 70px 20px 15px !important;
    text-align:center;
    font-size:24.33px;
    font-weight:bold;
}

.user6 .ja-box-ct ul li {
    list-style:none;
    padding-left:25px;
    margin:18px 10px;
    background:url(../images/list-red.png) no-repeat;
    background-position:10px 8px;
}

.user6 .ja-box-ct ul li a {
    color:#3f6ea5;
}

.user6 .ja-box-ct {
    background:url(../images/question-icon.png) no-repeat !important;
    background-position: 255px 35px !important;
}

.user6 {
    border:1px solid #ECECEC;
    width:405px;
    float:left;
    font-size:15px;
}

.button-bottom {
    border: 1px solid #ECECEC;
    margin: 0 0 30px 0;
    overflow: hidden;
    width:742px;
    float:left;
}

.button-bottom-inner {
    padding:25px 35px;
    display:block;
    overflow:hidden;
}

.button-bottom-1 a, 
.button-bottom-2 a{
    color:#fff;
    width:315px;
    float:left;
    font-size:20.83px;
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    line-height:70px;
    margin:0 10px;
}

.button-bottom-1 a {
    background:#3F6EA5;
}

.button-bottom-2 a{
    background:#CD0A0A;
}

#ja-botsl div.moduletable,#ja-botsl div.moduletable_default {
    background:none;
    border:none;
    box-shadow:none;
    color:#3f6ea5;
    margin-bottom:0;
}

#ja-botsl .ja-box-left div.moduletable,#ja-botsl .ja-box-left div.moduletable_default {
    margin:0 7px 0 0;
}

#ja-botsl.ja-box-right div.moduletable,#ja-botsl .ja-box-right div.moduletable_default {
    margin:0;
}

#ja-botsl .ja-box-center div.moduletable,#ja-botsl .ja-box-center div.moduletable_default {
    margin:0 7px 0 0;
}

#ja-topsl .inner {
    margin:0;
    padding:0;
}

#ja-botsl div.moduletable h3 {
    color:#3f6ea5;
    padding:5px;
}

#ja-botsl div.inner {
    background:none!important;
    border:none!important;
    padding:0!important;
}

#ja-botsl .ja-box-ct {
    padding:0;
}

#ja-botsl1{
    background:#3F6EA5;
    clear:both;
    padding:0;
	min-width:1160px;
}

#ja-botsl1 .main{
    background:none;
}

#ja-botsl1 .inner {
    padding:0;
}

#ja-botsl1 div.moduletable h3 {
    color:#fff;
    margin:0 0 7px;
    padding:15px 0;
    font-weight:bold;
    font-size:21px;
}

#ja-botsl1 div.moduletable,#ja-botsl1 div.moduletable_default {
    background:none;
    border:none;
    box-shadow:none;
    color:#fff;
    font-size:21px;
    margin:0;
    padding:7px;
}

#ja-botsl1 div.ja-box-ct {
    background:none;
    border:none;
    padding:0;
}

#ja-botsl1 .ja-box-left div.moduletable,#ja-botsl1 .ja-box-left div.moduletable_default {
    margin:0 7px 0 0;
}

#ja-botsl1 .ja-box-right div.moduletable,#ja-botsl1 .ja-box-right div.moduletable_default {
    margin:0;
}

#ja-botsl1 .ja-box-center div.moduletable,#ja-botsl1 .ja-box-center div.moduletable_default {
    margin:0 7px 0 0;
}

#ja-botsl1 .img-border {
    background:none;
    border:1px solid #CCC;
}

#ja-botsl1 a {
    color:#fff;
}

#ja-botsl1 a:hover,#ja-botsl1 a:focus,#ja-botsl1 a:active {
    text-decoration:none;
}

#ja-botsl1 li {
    list-style:none;
    background:url(../images/list-footer.png) no-repeat;
    background-position:0px 10px;
    padding-left:20px;
}

#ja-botsl1 li a {
    color:#fff;
}

#ja-botsl1 li a:hover,#ja-botsl1 li a:active,#ja-botsl1 li a:focus {
    text-decoration:underline;
}

#footer-slider-wrapper {
    background:#EAEAEA url(../images/footer-bg.png) right top no-repeat;
    min-height:200px;
	min-width:1160px;
}

#footer-slider {
    width:1160px;
    margin:0px auto;
}

#ja-footer{
    clear:both;
}

#ja-footer .main {
    color:#fff;
}

#ja-footer a{
    color:#fff;
}

#ja-footer a:hover,#ja-footer a:active,#ja-footer a:focus{
    color:#93ba2f;
}

#ja-footer small
{
    font-size:100%;
}

#ja-footer ul
{
    float:right;
    margin:0;
    padding:0;
}

#ja-footer li
{
    background:none;
    display:inline;
    margin:0;
    padding:0;
}

#ja-footer li a
{
    background:none;
    border:1px solid #BBB;
    color:red;
    display:inline;
    padding:0 10px;
}

#ja-footer li a:hover,#ja-footer li a:focus,#ja-footer li a:active
{
    color:#000;
}

ul.accessibility
{
    position:absolute;
    top:-100%;
}

li.ja-firstitem
{
    background:none!important;
}

#after-header {
    background:#fff;
    margin:0 auto;
    overflow:hidden;
}

#after-header .moduletable, #after-header .moduletable p  {
    margin:0; padding:0;
}

#ja-slideshow{
    float:left;
    width:100%;
    padding:0;
}

#ja-slideshow img {
    z-index:0;
}

#ja-tabwrap {
    float:right;
    width:30%;
}

#form-login-username label,#form-login-password label
{
    display:block;
}

#form-login-username #modlgn_username,#form-login-password #modlgn_passwd
{
    width:100%;
}

#search {
    padding:1px;
    z-index:1;
}

#search label {display:none;}

#search .inputbox{
    background:#FFF;
    border:1px solid #ccc;
    color:#666;
    font-size:11px;
    margin:20px 0 0 500px;
    padding:2px 5px;
}

#search .button {
    background:#1300ff;
    border:1px solid #1300ff;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    padding:1px 5px 1px 5px;
}

.search-right {
    background:#DFDFDF;
}

.search-right .ja-box-ct {
    padding:5px !important;
}

.search-right .button {
    text-indent:-999em;
    background:url(../images/search.png) center center no-repeat #3F6EA5;
    width:26px;
    height:26px;
}

.search-right input {
    width:315px;
    height:26px;
    border:none;
    font-size:18px;
    color:#ffffff;
}

#ja-login {
    color:#fff;
    font-size:11px;
    left:530px;
    position:absolute;
    top:1px;
    z-index:9999;
}

#ja-login a
{
    color:#fff;
    font-size:11px;
}

#ja-login .inputbox
{
    background:#F8F8F7;
    border:1px solid #999;
    border-radius:3px 3px 3px 3px;
    color:#666;
}

#ja-login .button
{
    background:#EEE;
    border:1px solid #999;
    border-radius:3px 3px 3px 3px;
    color:#000;
    font-size:10px;
}

#ja-banner
{
    float:right;
    margin:0;
    overflow:hidden;
    padding:0;
    text-align:center;
}

div.back_button a,div.back_button a:hover,div.back_button a:active
{
    background:none!important;
    display:block;
    margin:10px 0;
    text-decoration:none!important;
}

.clr
{
    clear:both;
}

.hastip img
{
    border:none;
}

ul.no-display
{
    display:none;
}

div.ja-innerdiv
{
    padding:10px 0!important;
}

div.ja-innerdiv span.title
{
    display:block;
    font-weight:700;
}

div.ja-innerdiv .img-border
{
    background:#FFF;
    border:1px solid #DDD;
    margin:5px 8px 0 0;
    padding:2px;
}

#ja-news div.moduletable
{
    margin-bottom:7px;
}

.tool-tip
{
    background:#FFF;
    border:1px solid #CCC;
    color:#333;
    float:left;
    max-width:200px;
    padding:5px;
    z-index:999;
}

.tool-title
{
    background:url(../../system/images/selector-arrow.png) no-repeat;
    font-size:100%;
    font-weight:700;
    margin:-15px 0 0;
    padding:15px 0 5px;
}

.tool-text
{
    font-size:100%;
    margin:0;
}

#system-message dd.message ul,#system-message dd.error ul,#system-message dd.notice ul
{
    margin:0;
    padding:0;
}

#system-message dd.message ul li,#system-message dd.error ul li,#system-message dd.notice ul li
{
    background:#FFF;
    color:red;
    margin:0;
    padding:0;
}

#system-message dd.message ul
{
    background:#666;
    border:none;
}

#system-message dd.error ul
{
    background:#666;
    border:none;
}

#system-message dd.notice ul
{
    background:#666;
    border:none;
}

.leftlatestnews,.leftmostread
{
    background:url(../images/bullet-focus.gif) no-repeat 0 5px;
    width:15px;
}

.rightlatestnews,.rightmostread
{
    padding:0 0 5px;
    text-align:justify;
}

* html .clearfix
{
    height:1%;
}

.clearfix
{
    display:inline-block;
}

html[xmlns] .clearfix
{
    display:block;
}

.clearfix:after
{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
.mega_head_title a.head_title {
    color:#3f6ea5;
    font-size:14px;
    font-weight:bold;
}

.mega_content {text-align:justify}
.mega_news .blog-news li {
    list-style-image:url(../images/news-li.png);
    border:none;
    margin:2px 0 0 215px;
}
.mega_news .blog-news li a {font-size:12px}

#custom_dv ul li {list-style:none}
#custom_dv ul li a:hover {color:#fff}
#custom_dv ul li.c1, #custom_dv ul li.c2, #custom_dv ul li.c3 {width:360px; height:82px}
#custom_dv ul li p.title {height:40px}
#custom_dv ul li p.title a{line-height:40px; color:#fff; font-size:22px; padding-left:45px}
#custom_dv ul li p.detail a {text-transform:uppercase; padding:3px 0 0 110px; font-size:11px; display:block}
.c4 a {display:block; line-height:45px; text-indent:-999em}

.theme-default .nivoSlider {box-shadow:none !important; margin:0 !important;}
.theme-default .nivo-controlNav{
    background:#7da724;
    padding:24px 0;
}

#ja-bulletin ul li {padding:15px 0; list-style:none}

#top-main-wrapper {
    overflow:hidden; 
    margin-bottom:10px;
    width:1160px;
    margin:-70px auto 0;
    z-index:999;
    position:relative;
}

#top-main-wrapper table,
#top-main-wrapper-2 table {
    width:100%;
}

#top-main-wrapper-2 {
    background:#F2F2F2;
    padding:25px 0;
	min-width:1160px;
}

#top-main-2 {
    width: 1050px;
    margin:0 auto;
}

#top-main-2 table tr td {
	width:20%;
}

#top-main-2 h3 {
    text-align:center;
    color: #3f6ea5;
    font-size:27.23px;
    font-weight:bold;
    text-transform:uppercase;
}

#top-main table,
#top-main-2 table {
    width:100%;
}

#top-main {
    font-size:16.67px;
    font-weight:bold;
    color:#444;
	margin-right:-13px;
}

#top-main a {
    color:#444;
}

#top-main table,
#top-main table a {
    color:#444;	
}

#top-main-2,
#top-main-2 a,
#top-main-2 table {
    color:#3f6ea5 !important;
    font-size:18px;
    font-weight:bold;
}

.blog-news {
    background:none;
    padding-top:0;
    margin-top:0;
}

.nspMainPortalMode4 .nspImages {border:1px solid #ccc; border-radius:5px; padding:20px}
.nspMainPortalMode4 .nspPrev, .nspMainPortalMode4 .nspNext {height:65px; top:30%}
.nspMainPortalMode4 .nspPrev:hover {background-position: 0 0}
.nspMainPortalMode4 .nspNext:hover {background-position: -16px 0}
.nspMainPortalMode4 .nspArt > div {border:1px solid #ccc}
.nspArt h4.nspHeader a {font-size:12px; text-transform:uppercase; text-align:justify}

.ic_marquee0 img {
    max-height:180px;
}

#pwebtester img {
    max-width:595px !important;
    height: auto;
}

