/* BONUS TYPOGRAPHY STYLES
--------------------------------------------------------- */
pre, .code {
    background: #F9F9F9;
    border-left: 5px solid #F89A20;
    font: 1em/1.5 "Courier News", monospace;
    margin: 5px 0 15px;
    padding: 10px 15px;
}

blockquote {
    padding: 1em 40px 1em 15px;
    font-style: italic;
}

blockquote span.open {
    background: url(../images/so-q.gif) no-repeat left top;
    padding: 2px 0 2px 25px;
}

blockquote span.close {
    background: url(../images/sc-q.gif) no-repeat bottom right;
    padding: 2px 25px 2px 0;
}

/* Dropcap */
.dropcap {
    color: #F89A20;
    display: block;
    float: left;
    font: 60px/58px Georgia, Times, serif;
    padding: 0 10px 0 0;
}

/* Tips, Error, Message, Hightlight*/
p.error {
    background: url(../images/icon-error.png) no-repeat 0px center;
    color: #CC0000;
    padding-left: 25px;
}

p.message {
    background: url(../images/icon-info.png) no-repeat 0px center;
    color: #00AFF0;
    padding-left: 25px;
}

p.tips {
    background: url(../images/icon-tips.gif) no-repeat 0px center;
    color: #F89A20;
    padding-left: 25px;
}

p.rss {
    background: url(../images/icon-rss.gif) no-repeat 0px center;
    padding: 3px 0 3px 25px;
}

.highlight {
    background: #FFFFCC;
    color: #666666;
    font-weight: bold;
    padding: 1px 5px;
}

/* Note Style */
p.stickynote {
    background: url(../images/icon-sticky.png) no-repeat left top #FCFCFC;
    border: 1px solid #DDDDDD;
    padding: 10px 10px 15px 60px;
}

p.download {
    background: url(../images/icon-download.png) no-repeat left top #FCFCFC;
    border: 1px solid #DDDDDD;
    padding: 10px 10px 10px 60px;
}

.blocknumber {
    clear: both;
    padding: 5px 15px 10px;
    position: relative;
}

/* Check list */
ul.checklist {
    list-style: none;
}

ul.checklist li {
    background: url(../images/icon-checklist.gif) no-repeat 0 5px !important;
    margin-left: 15px !important;
    padding: 2px 0 2px 20px !important;
}

/* Check list arrow */
ul.arrow {
    list-style: none;
}

ul.arrow li {
    background: url(../images/icon-arrow.gif) no-repeat 3px 7px;
    margin-left: 15px;
    padding: 2px 0 2px 20px;
}

/* Star list */
ul.star li {
    background: url(../images/icon-star.gif) no-repeat 0px 5px;
    margin-left: 15px;
    padding: 2px 0 2px 20px;
}

/* Bignumber */
.bignumber {
    background: url(../images/ol-bg.gif) no-repeat top left;
    color: #FFFFFF;
    display: block;
    float: left;
    font: bold 20px/normal Arial, sans-serif;
    margin-right: 8px;
    padding: 6px 7px;
}

/* Talking box. Thinking box. */
div.bubble1, div.bubble2, div.bubble3, div.bubble4, div.bubble5 {
    margin: 15px 0;
}

div.bubble1 span.author,
div.bubble2 span.author,
div.bubble3 span.author,
div.bubble4 span.author,
div.bubble5 span.author {
    font-weight: bold;
    margin-left: 10px;
    padding-left: 0px;
}

div.bubble1 div {
    background: url(../images/bub1-br.gif) no-repeat bottom right;
    margin: 0;
    width: 100%;
}

div.bubble1 div div {
    background: url(../images/bub1-bl.gif) no-repeat bottom left;
}

div.bubble1 div div div {
    background: url(../images/bub1-tr.gif) no-repeat top right;
}

div.bubble1 div div div div {
    background: url(../images/bub1-tl.gif) no-repeat top left;
}

div.bubble1 div div div div div {
    margin: 0;
    padding: 10px 15px 20px;
    width: auto;
}

div.bubble2 div {
    background: url(../images/bub2-br.gif) no-repeat bottom right;
    margin: 0;
    width: 100%;
}

div.bubble2 div div {
    background: url(../images/bub2-bl.gif) no-repeat bottom left;
}

div.bubble2 div div div {
    background: url(../images/bub2-tr.gif) no-repeat top right;
}

div.bubble2 div div div div {
    background: url(../images/bub2-tl.gif) no-repeat top left;
}

div.bubble2 div div div div div {
    margin: 0;
    padding: 10px 15px 25px;
    width: auto;
}

div.bubble3 div {
    background: url(../images/bub3-br.gif) no-repeat bottom right;
    margin: 0;
    width: 100%;
}

div.bubble3 div div {
    background: url(../images/bub3-bl.gif) no-repeat bottom left;
}

div.bubble3 div div div {
    background: url(../images/bub3-tr.gif) no-repeat top right;
}

div.bubble3 div div div div {
    background: url(../images/bub3-tl.gif) no-repeat top left;
}

div.bubble3 div div div div div {
    margin: 0;
    padding: 10px 15px 45px;
    width: auto;
}

div.bubble4 div {
    background: url(../images/bub4-br.gif) no-repeat bottom right;
    margin: 0;
    width: 100%;
}

div.bubble4 div div {
    background: url(../images/bub4-bl.gif) no-repeat bottom left;
}

div.bubble4 div div div {
    background: url(../images/bub4-tr.gif) no-repeat top right;
}

div.bubble4 div div div div {
    background: url(../images/bub4-tl.gif) no-repeat top left;
}

div.bubble4 div div div div div {
    margin: 0;
    padding: 10px 15px 45px;
    width: auto;
}

/* Legend */
.legend-title {
    background: #FFFFFF;
    color: #F89A20;
    display: block;
    float: left;
    font-size: 100%;
    font-weight: bold;
    left: 7px;
    margin: 0;
    padding: 0 3px;
    position: absolute;
    top: -9px;
}

.legend {
    border: 1px solid #DDDDDD;
    margin: 20px 0;
    padding: 0 10px;
    position: relative;
}

ul.support {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.support li {
    margin: 0;
    padding: 7px 0 7px 30px;
    border: none;
    font-weight: bold;
    color: #666666;
}

ul.support li.yahoo {
    background: url(../images/icon-yahoo.gif) no-repeat left center !important;
}

ul.support li.skype {
    background: url(../images/icon-skype.gif) no-repeat left center !important;
}

ul.support li.msn {
    background: url(../images/icon-msn.gif) no-repeat left center !important;
}

ul.support li.icq {
    background: url(../images/icon-icq.gif) no-repeat left center !important;
}