/*///////////////// STYLE1 ////////////////////*/
.vtem-newsshow-style1 .ad-image-wrapper .ad-image .ad-image-description{font-size:21px; left:100px !important;width:45% !important;right:auto !important;bottom:50% !important;}
.vtem-newsshow-style1 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title{padding:0 0 8px 0;}
.vtem-newsshow-style1 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title,
.vtem-newsshow-style1 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a,
.vtem-newsshow-style1 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:hover,
.vtem-newsshow-style1 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:focus{text-decoration:none;background-color:transparent !important;font-size:48px;}
.vtem-newsshow-style1 .ad-nav{padding:0px 25px;}
.vtem-newsshow-style1 .ad-nav .ad-back{width:3px;left:2px;top:0px;background:#ccc url(images/forward1.png) -25px center no-repeat !important;padding:6px;}
.vtem-newsshow-style1 .ad-nav .ad-forward{width:3px;right:2px;top:0px;background:#ccc url(images/forward1.png) -11px center no-repeat !important;padding:6px;}
.vtem-newsshow-style1 .ad-image-wrapper .ad-image .ad-image-description,
.vtem-newsshow-style1 .ad-nav .ad-back,
.vtem-newsshow-style1 .ad-nav .ad-forward{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.vtem-newsshow-style1 .ad-image-wrapper .ad-next .ad-next-image{width:72px;height:72px;background:url(images/nextprev1.png) -73px top no-repeat !important;top:40%;}
.vtem-newsshow-style1 .ad-image-wrapper .ad-prev .ad-prev-image{width:72px;height:72px;background:url(images/nextprev1.png) left top no-repeat !important;top:40%;}
.vtem-newsshow-style1 .ad-image-wrapper .vtem-newsshow-readon{float:left;display:block;background:#3F6EA5 !important;margin-right:-11px;padding:8px 8px 5px 8px;text-transform:uppercase;font-size:80%;text-decoration:none;}

/*///////////////// STYLE2 ////////////////////*/
.vtem-newsshow-style2 .ad-image-wrapper .ad-image .ad-image-description{left:5px !important;width:45% !important;right:50px !important;bottom:0px;}
.vtem-newsshow-style2 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title{padding:0 0 8px 0;}
.vtem-newsshow-style2 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title,
.vtem-newsshow-style2 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a,
.vtem-newsshow-style2 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:hover,
.vtem-newsshow-style2 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:focus{text-decoration:none;background-color:transparent !important;font-size:22px;}
.vtem-newsshow-style2 .ad-nav{padding:0px 33px;}
.vtem-newsshow-style2 .ad-nav .ad-back{width:16px;left:2px;top:0px;background:transparent url(images/forward2.png) 0px center no-repeat !important;padding:6px;}
.vtem-newsshow-style2 .ad-nav .ad-forward{width:16px;right:2px;top:0px;background:transparent url(images/forward2.png) -27px center no-repeat !important;padding:6px;}
.vtem-newsshow-style2 .ad-image-wrapper .ad-image .ad-image-description{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.vtem-newsshow-style2 .ad-image-wrapper .ad-next .ad-next-image{width:33px;height:32px;background:url(images/nextprev2.png) -34px top no-repeat !important;top:40%; right:15px;}
.vtem-newsshow-style2 .ad-image-wrapper .ad-prev .ad-prev-image{width:33px;height:32px;background:url(images/nextprev2.png) left top no-repeat !important;top:40%; left:15px;}
.vtem-newsshow-style2 .ad-image-wrapper .vtem-newsshow-readon{float:right;display:block;background:transparent url(images/readon2.png) left center no-repeat !important;padding:5px 2px 5px 22px;text-transform:uppercase;font-size:80%;text-decoration:none;}
.vtem-newsshow-style2 .ad-image-wrapper .vtem-newsshow-readon:hover{text-decoration:underline;}

/*///////////////// STYLE3 ////////////////////*/
.vtem-newsshow-style3 .ad-image-wrapper .ad-image .ad-image-description{left:20px !important;width:45% !important;bottom:20px;}
.vtem-newsshow-style3 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title{padding:0 0 8px 0;}
.vtem-newsshow-style3 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title,
.vtem-newsshow-style3 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a,
.vtem-newsshow-style3 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:hover,
.vtem-newsshow-style3 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:focus{text-decoration:none;background-color:transparent !important;font-size:22px;}
.vtem-newsshow-style3 .ad-nav{padding:5px 25px;background-image:url(images/nav3.png); margin:0 10px;}
.vtem-newsshow-style3 .ad-nav .ad-back{width:15px;left:-7px;top:3px;background:transparent url(images/forward3.png) 0px center no-repeat !important;padding:6px;}
.vtem-newsshow-style3 .ad-nav .ad-forward{width:15px;right:-9px;top:3px;background:transparent url(images/forward3.png) -27px center no-repeat !important;padding:6px;}
.vtem-newsshow-style3 .ad-image-wrapper .ad-image .ad-image-description,
.vtem-newsshow-style3 .ad-nav{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.vtem-newsshow-style3 .ad-image-wrapper .ad-next .ad-next-image{width:42px;height:35px;background:url(images/nextprev3.png) -43px top no-repeat !important;top:auto; right:15px; bottom:20px;}
.vtem-newsshow-style3 .ad-image-wrapper .ad-prev{right:45px; left:auto;}
.vtem-newsshow-style3 .ad-image-wrapper .ad-prev .ad-prev-image{width:42px;height:35px;background:url(images/nextprev3.png) left top no-repeat !important;top:auto; left:-50px;bottom:20px;}
.vtem-newsshow-style3 .ad-image-wrapper .vtem-newsshow-readon{float:right;display:block;background:transparent url(images/readon3.png) right center no-repeat !important;padding:5px 12px 5px 5px;text-transform:uppercase;font-size:80%;text-decoration:none;}
.vtem-newsshow-style3 .ad-image-wrapper .vtem-newsshow-readon:hover{text-decoration:underline;}

/*///////////////// STYLE4 ////////////////////*/
.vtem-newsshow-style4 .ad-image-wrapper .ad-image .ad-image-description{left:5% !important;width:90% !important;bottom:20px; padding:0 !important;}
.vtem-newsshow-style4 .ad-image-wrapper .ad-image .ad-image-description .ad-image-description-inside{padding:8px;}
.vtem-newsshow-style4 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title{padding:0 0 8px 0;}
.vtem-newsshow-style4 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title,
.vtem-newsshow-style4 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a,
.vtem-newsshow-style4 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:hover,
.vtem-newsshow-style4 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:focus{text-decoration:none;background-color:transparent !important;font-size:22px;}
.vtem-newsshow-style4 .ad-nav{padding:0px 33px;}
.vtem-newsshow-style4 .ad-nav .ad-back{width:16px;left:2px;top:0px;background:transparent url(images/forward4.png) 0px center no-repeat !important;padding:6px;}
.vtem-newsshow-style4 .ad-nav .ad-forward{width:16px;right:2px;top:0px;background:transparent url(images/forward4.png) -27px center no-repeat !important;padding:6px;}
.vtem-newsshow-style4 .ad-image-wrapper .ad-image .ad-image-description{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.vtem-newsshow-style4 .ad-image-wrapper .ad-next .ad-next-image{width:26px;height:26px;background:url(images/nextprev4.png) -29px top no-repeat !important;top:40%; right:15px;}
.vtem-newsshow-style4 .ad-image-wrapper .ad-prev .ad-prev-image{width:26px;height:26px;background:url(images/nextprev4.png) left top no-repeat !important;top:40%; left:15px;}
.vtem-newsshow-style4 .ad-image-wrapper .vtem-newsshow-readon{float:right;display:block;background:transparent url(images/readon4.png) left center no-repeat !important;padding:5px 5px 5px 12px;text-transform:uppercase;font-size:80%;text-decoration:none;}
.vtem-newsshow-style4 .ad-image-wrapper .vtem-newsshow-readon:hover{text-decoration:underline;}

/*///////////////// STYLE5 ////////////////////*/
.vtem-newsshow-style5 .ad-image-wrapper .ad-image .ad-image-description{left:8px !important;bottom:0px;}
.vtem-newsshow-style5 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title{padding:0 0 8px 0;}
.vtem-newsshow-style5 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title,
.vtem-newsshow-style5 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a,
.vtem-newsshow-style5 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:hover,
.vtem-newsshow-style5 .ad-image-wrapper .ad-image .ad-image-description .vtem_news_show_title a:focus{text-decoration:none;background-color:transparent !important;font-size:22px;}
.vtem-newsshow-style5 .ad-nav{padding:0px 33px;}
.vtem-newsshow-style5 .ad-nav .ad-back{width:14px;left:2px;top:0px;background:transparent url(images/forward5.png) 0px center no-repeat !important;padding:6px;}
.vtem-newsshow-style5 .ad-nav .ad-forward{width:14px;right:2px;top:0px;background:transparent url(images/forward5.png) -27px center no-repeat !important;padding:6px;}
.vtem-newsshow-style5 .ad-image-wrapper .ad-next .ad-next-image{width:40px;height:40px;background:url(images/nextprev5.png) -42px top no-repeat !important;top:40%; right:15px;}
.vtem-newsshow-style5 .ad-image-wrapper .ad-prev .ad-prev-image{width:40px;height:40px;background:url(images/nextprev5.png) left top no-repeat !important;top:40%; left:15px;}
.vtem-newsshow-style5 .ad-image-wrapper .vtem-newsshow-readon{float:left;display:block;background:transparent url(images/readon5.png) left center no-repeat !important;padding:5px 5px 5px 15px;text-transform:uppercase;font-size:80%;text-decoration:none;}
.vtem-newsshow-style5 .ad-image-wrapper .vtem-newsshow-readon:hover{text-decoration:underline;}

/*///////////////// GENERAL ////////////////////*/
.vtem_news_show, .vtem_news_show * {
    margin: 0;
    padding: 0;
}
.ad-nav .vt_thumb,
.ad-image-wrapper .ad-image{border:1px solid #ddd;}
.vtem_news_show .ad-image-wrapper{padding:0;}
.vtem_news_show .ad-image-wrapper{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.vtem_news_show .ad-loader {
    position: absolute;
    z-index: 10;
    top: 48%;
    left: 48%;
    border: 1px solid #CCC;
}
.vtem_news_show .ad-next {
    position: absolute;
    right: 0;
    top: 0;
    width:1%;
    height: 100%;
    cursor: pointer;
    display: block;
    z-index: 200;
}
.vtem_news_show .ad-prev {
    position: absolute;
    left: 0;
    top: 0;
    width:1%;
    height: 100%;
    cursor: pointer;
    display: block;
    z-index: 200;
}
.vtem_news_show .ad-prev .ad-prev-image, .vtem_news_show .ad-next .ad-next-image {
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    top: 47%;
    left: 0;
    z-index: 101;
}
.vtem_news_show .ad-next .ad-next-image {
    width: 30px;
    height: 30px;
    right: 0;
    left: auto;
}
.vtem_news_show .ad-image-wrapper .ad-image {
    position: absolute;
    overflow: hidden;
    top: 0;
    left:0;
    z-index: 0;
    border:1px solid #ddd;
    background:#f5f5f5;
    padding:0;
}
.vtem_news_show .ad-image-wrapper .ad-image img {
    border: 0;
    width:100%;
    height:100%;
}
.ad-image .ad-image-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 7px 7px 12px 7px;
    text-align: left;
    width: 100%;
    z-index: 2;
    background:#333;
    color: #000;
}
.vtem_news_show .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {
    display: block;
}
.vtem_news_show .ad-controls {
    height: 20px;
}
.vtem_news_show .ad-info {
    float: left;
}
.vtem_news_show .ad-slideshow-controls {
    float: right;
}
.vtem_news_show .ad-slideshow-controls .ad-slideshow-start, .vtem_news_show .ad-slideshow-controls .ad-slideshow-stop {
    padding-left: 5px;
    cursor: pointer;
}
.vtem_news_show .ad-slideshow-controls .ad-slideshow-countdown {
    padding-left: 5px;
    font-size: 0.9em;
}
.vtem_news_show .ad-slideshow-running .ad-slideshow-start {
    cursor: default;
    font-style: italic;
}
.vtem_news_show .ad-nav{
    width: 100%;
    position: relative;
}
.vtem_news_show .ad-forward, .vtem_news_show .ad-back {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
}
/* IE 6 doesn't like height: 100% */
* html .vtem_news_show .ad-forward, .vtem_news_show .ad-back {
    height: 100px;
}
.vtem_news_show .ad-back {
    cursor: pointer;
    left: -20px;
    width: 13px;
    display: block;
}
.vtem_news_show .ad-forward {
    cursor: pointer;
    display: block;
    right: -20px;
    width: 13px;
}
.vtem_news_show .ad-nav .ad-thumbs {
    overflow: hidden;
    width: 100%;
}
.vtem_news_show .ad-thumbs .ad-thumb-list {
    float: left;
    width: 9000px;
    list-style: none !important;
    padding:0 !important;
    margin:0 !important;
}
.vtem_news_show .ad-thumbs li {
    float: left;
    display:block;
    margin:0 !important;
    padding:0 5px 0 0 !important;
}
.vtem_news_show .ad-thumbs li a,.ad-image-wrapper .ad-next a,.ad-image-wrapper .ad-prev a{
    display: block;
    background-color:transparent !important;
}
.vtem_news_show .ad-thumbs li a img {
    border: 1px solid #ddd;
    padding:5px;
    background:#f5f5f5;
    display: block;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
}
.vtem_news_show .ad-thumbs li a.ad-active img {
    border: 1px solid #666;
}
/* Can't do display none, since Opera won't load the images then */
.ad-preloads {
    position: absolute;
    left: -9000px;
    top: -9000px;
}
.vtem_news_show .ad-nav a.ad-back:hover,.vtem_news_show .ad-nav a.ad-forward:hover,.ad-image-wrapper .ad-next a:hover,.ad-image-wrapper .ad-prev a:hover{opacity:0.8;}