.pagetitle.icon-48-travelbook-tour-category-add {
	background-image:
		url("../images/header/icon-48-travelbook-tour-category-add.png");
}

.pagetitle.icon-48-travelbook-tour-category-edit {
	background-image:
		url("../images/header/icon-48-travelbook-tour-category-edit.png");
}

.pagetitle.icon-48-travelbook-date-category-add {
	background-image:
		url("../images/header/icon-48-travelbook-date-category-add.png");
}

.pagetitle.icon-48-travelbook-date-category-edit {
	background-image:
		url("../images/header/icon-48-travelbook-date-category-edit.png");
}

.pagetitle.icon-48-travelbook-detail-category-add {
	background-image:
		url("../images/header/icon-48-travelbook-detail-category-add.png");
}

.pagetitle.icon-48-travelbook-detail-category-edit {
	background-image:
		url("../images/header/icon-48-travelbook-detail-category-edit.png");
}

.pagetitle.icon-48-travelbook-extra-category-add {
	background-image:
		url("../images/header/icon-48-travelbook-extra-category-add.png");
}

.pagetitle.icon-48-travelbook-extra-category-edit {
	background-image:
		url("../images/header/icon-48-travelbook-extra-category-edit.png");
}

.pagetitle.icon-48-travelbook-destination-category-add {
	background-image:
		url("../images/header/icon-48-travelbook-tour-category-add.png");
}

.pagetitle.icon-48-travelbook-destination-category-edit {
	background-image:
		url("../images/header/icon-48-travelbook-tour-category-edit.png");
}

.pagetitle.icon-48-travelbook-activity-category-add {
	background-image:
		url("../images/header/icon-48-travelbook-tour-category-add.png");
}

.pagetitle.icon-48-travelbook-activity-category-edit {
	background-image:
		url("../images/header/icon-48-travelbook-tour-category-edit.png");
}

.pagetitle.icon-48-travelbook-style-category-add {
	background-image:
		url("../images/header/icon-48-travelbook-tour-category-add.png");
}

.pagetitle.icon-48-travelbook-style-category-edit {
	background-image:
		url("../images/header/icon-48-travelbook-tour-category-edit.png");
}
