.icon-48-tours {
	background-image: url("../images/header/icon-48-tours.png");
}

.icon-48-tour-add {
	background-image: url("../images/header/icon-48-tour-add.png");
}

.icon-48-tour-edit {
	background-image: url("../images/header/icon-48-tour-edit.png");
}

.icon-48-tourextra {
	background-image: url("../images/header/icon-48-tourextra.png");
}

.icon-48-featuredtours {
	background-image: url("../images/header/icon-48-featuredtours.png");
}

.icon-48-dates {
	background-image: url("../images/header/icon-48-dates.png");
}

.icon-48-date-add {
	background-image: url("../images/header/icon-48-date-add.png");
}

.icon-48-date-edit {
	background-image: url("../images/header/icon-48-date-edit.png");
}

.icon-48-featureddates {
	background-image: url("../images/header/icon-48-featureddates.png");
}

.icon-48-categories.icon-48-travelbook-tour-categories {
	background-image: url("../images/header/icon-48-tour-categories.png");
}

.icon-48-categories.icon-48-travelbook-date-categories {
	background-image: url("../images/header/icon-48-date-categories.png");
}

.icon-48-categories.icon-48-travelbook-detail-categories {
	background-image: url("../images/header/icon-48-detail-categories.png");
}

.icon-48-categories.icon-48-travelbook-extra-categories {
	background-image: url("../images/header/icon-48-extra-categories.png");
}

.icon-48-categories.icon-48-travelbook-destination-categories {
	background-image:
		url("../images/header/icon-48-destination-categories.png");
}

.icon-48-categories.icon-48-travelbook-activity-categories {
	background-image:
		url("../images/header/icon-48-activity-categories.png");
}

.icon-48-categories.icon-48-travelbook-style-categories {
	background-image: url("../images/header/icon-48-style-categories.png");
}

.icon-48-details {
	background-image: url("../images/header/icon-48-details.png");
}

.icon-48-detail-add {
	background-image: url("../images/header/icon-48-detail-add.png");
}

.icon-48-extra {
	background-image: url("../images/header/icon-48-extras.png");
}

.icon-48-extra-add {
	background-image: url("../images/header/icon-48-extra-add.png");
}

.icon-48-extra-edit {
	background-image: url("../images/header/icon-48-extra-edit.png");
}

.icon-48-booking {
	background-image: url("../images/header/icon-48-bookings.png");
}

.icon-48-booking-add {
	background-image: url("../images/header/icon-48-booking-add.png");
}

.icon-48-client {
	background-image: url("../images/header/icon-48-clients.png");
}

.icon-48-client-add {
	background-image: url("../images/header/icon-48-client-add.png");
}

.icon-48-guest {
	background-image: url("../images/header/icon-48-guests.png");
}

.icon-48-guest-add {
	background-image: url("../images/header/icon-48-guest-add.png");
}

.icon-48-guest-edit {
	background-image: url("../images/header/icon-48-guest-edit.png");
}

.icon-48-email {
	background-image: url("../images/header/icon-48-mails.png");
}

.icon-48-email-add {
	background-image: url("../images/header/icon-48-mail-add.png");
}

.icon-48-email-edit {
	background-image: url("../images/header/icon-48-mail-edit.png");
}

.icon-48-sample {
	background-image: url("../images/header/icon-48-sample.png");
}

.icon-32-import {
	background-image: url("../images/toolbar/icon-32-import.png");
}

.icon-32-tbdelete {
	background-image: url("../images/toolbar/icon-32-delete.png");
}

.icon-32-link {
	background-image: url("../images/toolbar/icon-32-link.png");
}

.icon-32-unlink {
	background-image: url("../images/toolbar/icon-32-unlink.png");
}

fieldset#client-batch-choose-action,fieldset#booking-batch-choose-action,fieldset#date-batch-choose-action,fieldset#detail-batch-choose-action
	{
	border: 0 none;
	clear: left;
	margin-bottom: 0;
}

fieldset label#client-batch-choose-action-lbl,fieldset label#booking-batch-choose-action-lbl,fieldset label#date-batch-choose-action-lbl,fieldset label#detail-batch-choose-action-lbl
	{
	clear: left;
	margin-right: 10px;
	margin-top: 15px;
}

select#batch-category-id {
	margin-right: 30px;
}

select#booking-batch-date-id,select#date-batch-tour-id,select#detail-batch-tour-id
	{
	margin-top: 15px;
}

#jform_departure {
	margin-right: 0;
}

#jform_arrival {
	float: none;
}

#email-batch-submit {
	clear: left;
	padding-top: 12px;
}

select.selectbox {
	width: 250px;
}

#item-form fieldset.adminform {
	margin: 10px 10px 32px;
	padding: 12px 16px 16px;
}

.smaller-grey {
	color: grey;
	font-size: smaller;
	text-align: center;
}