@charset "utf-8";
/* CSS Document */

.leo-box{position:absolute;top:40%; left:42%; z-index:1000; background:#666;-moz-border-radius: 1em 1em; border-radius: 1em 1em;border: 5px solid #c4c8cc;-moz-box-shadow: 5px 5px 7px #888;}
.leo-box .leo-message{padding:50px 100px;	color:#FAFAFA;font-weight:bold;}