/**
 * ------------------------------------------------------------------------
 * JA Typo plugin For Joomla 1.7
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 JoomlArt.com. All Rights Reserved.
 * @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 * Author: JoomlArt.com
 * Websites: http://www.joomlart.com - http://www.joomlancers.com.
 * ------------------------------------------------------------------------
 */
/* TYPO HEAD
-------------------------------------------------------------*/
#ja-typo-head {
	background: #fff;
	padding: 0;
}

ul#ja-typo-nav {
	margin: 0;
	padding: 0;
}

ul#ja-typo-nav li {
	margin: 0 5px 0 0;
	padding: 0;
	display: block;
	float: left;
}

ul#ja-typo-nav li a {
	display: block;
	padding: 30px 10px 10px;
	color: #666;
	text-transform: uppercase;
	font-family: "Arial Narrow", Arial, sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
}

ul#ja-typo-nav li a:hover,
ul#ja-typo-nav li a:active,
ul#ja-typo-nav li a:focus {
	color: #333;
}

ul#ja-typo-nav li.active a {
	background: #333;
	color: #fff;
}

/* Clearfix
-------------------------------------------------------------*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


/* TYPO PAGE LAYOUT
-------------------------------------------------------------*/
.ja-typo-blockswrap {
	margin: 15px 0;
}

.ja-typo-blockrow {
	border-bottom: 1px dotted #ddd;
	padding: 0 0 20px;
}

.ja-typo-block { float: left; padding-top: 20px; }
.ja-typo-blockct { padding: 0 10px; }

.ja-typo-blockswrap .cols-1 .ja-typo-block { width: 100%; float: none; }
.ja-typo-blockswrap .cols-2 .ja-typo-block { width: 50%; float: left; }
.ja-typo-blockswrap .cols-3 .ja-typo-block { width: 33%; float: left; }
.ja-typo-blockswrap .cols-4 .ja-typo-block { width: 24% !important; float: left; position: relative; z-index: 0; }
.ja-typo-blockswrap .cols-5 .ja-typo-block { width: 19.9%; float: left; }
.ja-typo-blockswrap .cols-6 .ja-typo-block { width: 16.5%; float: left; }

.ja-typo-blockswrap .ja-typo-block:hover {
	z-index: 2 !important;
}

.ja-typo-blockswrap .ja-typo-block.last { float: right; }

.ja-typo-blockswrap h1.ja-typo-title {
	font-size: 175%;
	border-bottom: 8px solid #ddd;
	padding: 5px;
	margin: 0;
	font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	color: #666;
}

.ja-typo-blockswrap:hover h1.ja-typo-title  {
	border-color: #333;
	color: #333;
}

.ja-typo-blockswrap h2.ja-typo-title {
	font-size: 115%;
	margin: 0;
	padding: 0 10px;
	font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.ja-typo-blockswrap h2.ja-typo-title span {
	background: #f2f2f2;
	color: #666;
	padding: 3px 10px;
	display: inline-block;
}

.ja-typo-blockswrap:hover h2.ja-typo-title span  {
	background: #ddd;
	color: #333;
}

.ja-typo-blockrow > h2.ja-typo-title {
	margin-bottom: 0;
	margin-top: 20px;
}

/* Blockswrap Actions ---*/
.ja-typo-blocks-actions {
	font-size: 85%;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #999;
}

.ja-typo-blocks-actions a {
	font-size: 85%;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #c00;
	text-decoration: none;
}

#jatypo-wrap .ja-typo-blockswrap h2.ja-typo-title {
	padding: 0;
	border-bottom: 2px solid #DDDDDD;
	font-size: 100%;
}

#jatypo-wrap .ja-typo-blockswrap h1.ja-typo-title {
	padding: 0;
	border-bottom: 2px solid #DDDDDD;
	font-size: 100%;
	margin: 0 10px;
}

#jatypo-wrap .ja-typo-blockswrap h2.ja-typo-title span {
	background: none;
	padding: 3px 0;
	color: #0088cc;
}

#jatypo-wrap .ja-typo-blockswrap h1.ja-typo-title span {
	background: none;
	padding: 3px 0;
	color: #0088cc;
}

/* Block Actions ---*/
#ja-typo .typo-wrap {}

#ja-typo .typo-wrap a.typo-view-details {
	background: #333;
	border: 1px solid #1f1f1f;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	padding: 2px 8px 1px;
}

.jatypo-btn span {
	padding: 0px 24px 0px 6px !important;
	color: #333 ;
	cursor: pointer !important;
}

.jatypo-btn span:hover {
	color: #0B55C4;
}

#jatypo-wrap {
	display: block;
	position: absolute;
	top: -999em;
	left: -999em;
	width: 700px;
	height: 600px;	
	border: solid 1px #ccc;
	background: #fff;
	z-index: 1000;
	padding: 5px;
	overflow: scroll;
}

#jatypo-wrap .typo {
	position: relative;
	z-index: 0;
	padding: 5px 0px 5px 0;
	cursor: pointer;
	border-bottom: solid 1px #ddd;
	margin: 0;
	vertical-align: top;
}

#jatypo-wrap .typo:hover {
	z-index: 2;
	background: #feffe8;
}

#jatypo-wrap td:hover .typo {
	background: #feffe8;
}

#jatypo-wrap .sample {
	display: none;
	position: absolute;
	z-index: 999;
	border: solid 1px #bab598;
	background: #f8f8f8;
	padding: 10px;
	min-width: 250px;
}

#jatypo-wrap .typo-over .sample {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 50px;
	z-index: 1000;
}
/*reposition sample popup*/
#jatypo-wrap .typo-top .sample {top: 20px; bottom: auto;}
#jatypo-wrap .typo-bottom .sample {top: auto; bottom: 20px;}
#jatypo-wrap .typo-left .sample {left: 50px;	right: auto;}
#jatypo-wrap .typo-right .sample {left: auto;	right: 140px;}

#jatypo-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

#jatypo-wrap ul {
	padding: 0px;
	margin: 0px;
}

#jatypo-wrap ul li {
	padding-top: 3px;
	padding-bottom: 3px;
}  

#jatypo-wrap ul.uordered {
	padding-left: 22px;
}  

.typo span.titlte {
	font-weight: bold !important;
	padding: 2px 0px;
}

#jatypo-wrap span:hover.title {
	color: navy;
}

/* Addon */
* html .clearfix {
	height: 1%; /* IE5-6 */
}

html[xmlns] .clearfix { /* O */
	display: block;  
}

.clearfix:after { /* FF, O, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*Fix error K2 conflict css*/
.k2ItemFormEditor {
	padding: 0px !important;
}

/* Editor Reset */
.defaultSkin #jform_articletext_path {
	white-space: normal !important;
}

/*---Fix error button ja typo--*/
.button2-left .jatypo-btn a {padding-left:0;}
.button2-left .jatypo-btn span {padding-left:0 !important}