/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/
.featured-view .spacer h3 a, .latest-view .spacer h3 a, .topten-view .spacer h3 a, .related-products-view .spacer h3 a, .browse-view .row .product .spacer h2, h3.catProductTitle a{
 color: #84a836;
}
span.addtocart-button input.addtocart-button:hover, span.addtocart-button input.notify-button:hover, input.highlight-button:hover, a.highlight:hover {
	color:#84a836!important;
}
vendor-store-desc > h2, .category-view > h2, .featured-view > h2, .latest-view > h2, .topten-view > h2, .related-products-view > h2, .browse-view > h2, .order-view > h2 {
    background: url(../images/bg-title-main.png) repeat-x scroll left top ;
}
.category-view .row .category .spacer {
	border: 1px solid #84a836;
}
.category-view .row .category .spacer:hover {
	border: 1px solid #e89e0a;
}
.customer-reviews h4, span.title, h4.title,
.manufacturer-details-view h1,
.featured-view h4,
.latest-view h4,
.topten-view h4,
.related-products-view h4,
.browse-view h1,
h2.catSub{
	border-bottom: 2px solid #84a836;
	color:#84a836;
	}
.productdetails-view h1,
.customer-reviews h4,
span.title,
h4.title,
.cat-cart .quantity-box input.quantity-input,
span.PricesalesPrice ,
.product-price > strong,
.vm-img-desc,
label.product-fields-title,
.cart-view h1,
.orderH1,
.productdetails-view .product-fields-title ,.product-packaging ,
span.custom-variant-inputbox input.custom-attribute:hover,
input.vm-default:hover,
.ask-a-question-view input.counter:hover,
.ask-a-question-view input#email:hover,
table.user-details input:hover,
a.details:hover,
div.details:hover,
a.product-details:hover {
		color:#84a836;
}
.category-view h4 {
	border-bottom: 2px solid #84a836;
	  color: #84a836;}
	  #facebox .popup > div > div > a,
	  .vm-button-correct:hover,
	  table.cart-summary tr th,
table.ordersList tr th {
		background: #84a836;
}