#ja-cssmenu {
    padding:0;
}

#ja-cssmenu ul{
    margin:0;
    padding:0;
}

#ja-cssmenu li{
    background:none;
    cursor:pointer;
    display:block;
    float:left;
    margin:0;
    padding:0;
}

#ja-cssmenu li a {
    background:none;
    color:#444444;
    display:block;
    padding:0;
    text-decoration:none;
    font-size:16px;
    text-transform:capitalize;
    font-family:MyriadPro;
    text-align:center;
}

#ja-cssmenu p {
    margin:0;
}

#ja-cssmenu p.menu-img {
    min-height: 45px;
}

#ja-cssmenu li a span {
    padding:0 10px;
    border-right:1px solid #444;
}

#ja-cssmenu li+li+li+li+li a span {
    border-right: none !important;
}

#ja-cssmenu li:last-of-type a {
    border:none;
}

#ja-cssmenu li ul li a {
    font-weight:normal !important;
    text-align:left;
    text-shadow:none !important;
}
#ja-cssmenu li ul li.active > a {
    color:#444 !important;
}

#ja-cssmenu li a:hover,#ja-cssmenu li a:active,#ja-cssmenu li a:focus{
    color:#444;
    font-size:16px;
}

#ja-cssmenu li:hover a{
    color:#444;
    font-size:16px;
}

#ja-cssmenu li.active a,#ja-cssmenu li a.active:hover,#ja-cssmenu li a.active:active,#ja-cssmenu li a.active:focus{
    color:#444;
    font-size:16px;
}

#ja-cssmenu li a.active span,#ja-cssmenu li a.active:hover span,#ja-cssmenu li a.active:active span,#ja-cssmenu li a.active:focus span{
    display:block;
}

#ja-cssmenu li ul li {
    border-top:1px solid #7da724;
    border-right:none;
}

#ja-cssmenu li ul {
    background:#FFF;
    border:1px solid #7da724;
    border-top:none;
    height:auto;
    display:none;
    padding-top:1px;
    position:absolute;
    width:15.9em;
    z-index:99;
}

#ja-cssmenu li ul ul{
    border:1px solid #009541;
    margin:-2em 0 0 15em;
}

#ja-cssmenu li li {
    margin:0;
    padding:0 1em 0 0;
    width:14.9em;
}

#ja-cssmenu ul a {
    width:14.8em;
}

#ja-cssmenu li:hover ul ul,#ja-cssmenu li:hover ul ul ul{
    display:none;
}

#ja-cssmenu li:hover ul,#ja-cssmenu li li:hover ul,#ja-cssmenu li li li:hover ul {
    display:block;
}

#ja-cssmenu li ul a {
    background:none!important;
    border-right:none;
    color:#000;
    height:auto;
    line-height:normal;
    margin:0;
    padding:7px 10px;
    text-transform:none;
    width:auto;
}

#ja-cssmenu li ul a span {
    background:none!important;
}

#ja-cssmenu li ul li.parent,#ja-cssmenu li.havesubchild-active {
    background:url(img/arrow.gif) no-repeat 94% 50%;
}

#ja-cssmenu li ul a:hover,#ja-cssmenu li ul a:active,#ja-cssmenu li ul a:focus,#ja-cssmenu ul li:hover{
    background:none !important;
    color:#7da724 !important;
}