/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/
#leo-showcase-top .lof-vm-sliding .lof-inner .lof-title:hover,
.moduletable_menu .show_cart a:hover,
.breadcrumbs span,
.moduletable_menu .vm_cart_products .prices,
#leo-userbottom2 .leo-module h3.title {
 	color: #FF5E5E;}
.moduletable_cart-top h3.moduletitle {
 	color: #ff5e5e;}
 .moduletable_slidershow .leomodule {
    background: url(../images/shape-sl.png) no-repeat scroll 18% top #101010;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price {
    background: url(../images/shape-saleoff-sl.png) no-repeat scroll right top #9e9e9e;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price .mask {
    background: url(../images//bg-name-sl.png) no-repeat scroll left top ;
}
.moduletable_slidershow .addtocart-bar span.addtocart-button input.addtocart-button {
	border: 1px solid #2e2e2e;
}
#leo-showcase-top .lof-vm-sliding .lof-inner .lof-title {
 	color: #595959;
}
.moduletable_menu .vm_cart_products .product_row li a:hover, .moduletable ul.vmmanufacturer li a:hover, .moduletable_menu ul li a:hover {
    background: url(../images/icon-li_cate.png) no-repeat scroll 0 -30px ;
    color: #FF5E5E;
}
#leo-showcase-top .lof-vm-sliding .lof-price{
 color: #FF5E5E;
}
.moduletable_slidershow .lof-slideshow-black .lof-price .lof-basePrice span,
.moduletable_slidershow .lof-slideshow-black .lof-price .lof-basePrice,
moduletable_slidershow .lof-slideshow-black .lof-price .lof-priceDiscount {
    text-shadow: 0 1px 1px #595959;
}
.moduletable_pro div.modulecontent h3 a {
 color: #FF5E5E;
}
.moduletable_pro h3.moduletitle{
	background: url(../images/bg-title-main.png) repeat-x left top scroll;
}
