/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/

a:hover, a:active, a:focus {
color: #FF5E5E;
}
#leo-logo .leo-logo a {
	background: url(../images/logo.png) no-repeat 0 0;
}
#leo-mainmenu .mainmenu {
    background: url(../images/bg-menu.png) repeat-x scroll left top ;
}
#leo-search {
    background: url(../images/bg-search.png) repeat-x scroll left top;
}
#mod-search-searchword {
    background: url(../images/icon-search.png) no-repeat scroll 99% 50% #a5a5a5;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 4px #969696 inset;
}
#leo-right h3.moduletitle, #leo-left h3.moduletitle {
    background: url(../images/bg-h4.png) repeat-x scroll left top;
	margin: -2px -1px;}
	#leo-right h3.moduletitle span, #leo-left h3.moduletitle span{
	color: #595959;
}
.componentheading, .newsfeed-category > h2, .blog > h1, .blog > h2, .item-page > h2, .contact h1, .categories-list h1, .category-list h1, .blog-featured h1, .contact-category h1, .login h2, .remind h1, .reset h1, .weblink-category h2 {
    background: url(../images/bg-title-main.png) repeat-x scroll left top ;
	color: #595959;
}
#leo-copyright a {
 color: #FF5E5E;
}
#leo-copyright a:hover {
 color: #FF5E5E;
}
#leo-topmenu ul.menu li a:hover {
 color: #FF5E5E;
 }