/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/
/* leo Contact Pro--------------*/
div.jvformcontact {
	width:100%;
	margin:15px 0 0;
	display: inline-block;
}
div.jvformcontact #myForm input, div.jvformcontact #myForm textarea, div.jvformcontact #myForm select {
	border:none;
	height:auto;
}
div.leo-field {
	overflow: hidden;
	margin-bottom:7px;
}
/* -------------------------------
	Module Class
----------------------------------*/
a.moduleItemReadMore {
	padding: 0 5px 0 10px;
	color: #1e6d9d;
	text-transform: uppercase;
	border-bottom: 1px solid #1e6d9d;
	cursor: pointer;
	font-family: 'Arial';
	font-size: 13px;
}
/* slideshow */
.moduletable_slidershow {
	background: #fff;
	border-radius: 7px;
	border: 1px solid #cacaca;
	padding: 10px;
}
.moduletable_slidershow .modulecontent {
	padding: 0;}
.moduletable_slidershow .leomodule {
	background: url(../images/default/shape-sl.png) no-repeat 18% top scroll #3b92ec;
	
}
.moduletable_slidershow .lof-slideshow-black .preload {
	background: none;
}

.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description {
	float: left;
	position: relative;
	background: none;
	padding: 65px 15px 0 65px;
	height: auto;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item {
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description .lof-title{
	line-height: 2.7em;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description .lof-title a {
	font-size: 54px;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description p{
	text-align: right;
	color: #fff;
	font-size:13px;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item img {
	float: left;
	padding: 25px 0px;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price {
	background: url(../images/default/shape-saleoff-sl.png) no-repeat right top scroll #f43cb6  ;
	float: right;
	width:250px;
	height: 360px;
	margin-right:7px;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price .mask {
	background: url(../images/default/bg-name-sl.png) no-repeat left top scroll;
	width:227px;
	height: 74px;
	padding: 10px 0 10px 70px;
	margin-left:-42px;
	text-align: left;
	text-shadow: 0 1px 1px #BD308D;
	color: #fff;
	font: bold 14px 'tahoma'
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price .mask span {
	 font: bold 24px/40px 'tahoma';
	 color: #fff;
}
.moduletable_slidershow .addtocart-bar {
	text-align: right;
}
.moduletable_slidershow .addtocart-bar span.addtocart-button {
	background: none;
	padding: 0;
	float: none;
}
.moduletable_slidershow .addtocart-bar span.addtocart-button input.addtocart-button {
	background: url(../images/default/bt-shopnow.png) repeat-x left top scroll;
	border: 1px solid #2d8de9;
	border-radius: 3px;
	font-size: 20px;
	color:#434343;
	padding: 0 10px;
	height: 34px;
}
.moduletable_slidershow .addtocart-bar span.addtocart-button:hover,
.moduletable_slidershow .addtocart-bar span.addtocart-button input.addtocart-button:hover {
background: url(../images/default/bt-shopnow.png) repeat-x left top scroll;
border-radius: 3px;
}
.moduletable_slidershow .lof-slideshow-black .lof-price .lof-priceDiscount {
	color: #FFFFFF;
    display: block;
    font: bold 70px 'tahoma';
    padding: 10px 20px;
    text-align: center;
	text-transform: uppercase;
    text-shadow: 0 1px 1px #BD308D;
  
  }
.moduletable_slidershow .lof-slideshow-black .lof-price .lof-basePrice {
	color: #FFFFFF;
    font: bold 14px 'tahoma';
    padding-left: 30px;
    text-shadow: 0 1px 1px #BD308D;
}
.moduletable_slidershow .lof-slideshow-black .lof-price .lof-basePrice span{
	 font: bold 30px/40px 'tahoma';
	 color: #fff;
     text-shadow: 0 1px 1px #BD308D;
}
.moduletable_slidershow .lof-slideshow-black .lof-buttons-control {
	background: none;
	left: 0;    
	padding: 7px 13px;
    top: 91%;
	width:26px;
	height: 13px;
}
.moduletable_slidershow .lof-slideshow-black .lof-next, .moduletable_slidershow .lof-slideshow-black .lof-previous {
	background: url(../images/default/icon-np_sl.png) no-repeat 0 0 scroll;
	width:13px;
	height: 13px;
	
}
.moduletable_slidershow .lof-slideshow-black .lof-previous:hover ,
.moduletable_slidershow .lof-slideshow-black .lof-previous {
    background-position: 0 0px;
    float: left;
}
.moduletable_slidershow .lof-slideshow-black .lof-next:hover,
.moduletable_slidershow .lof-slideshow-black .lof-next {
    background-position: 0 -40px;
    float: right;
}


/* Lof K2 Scroller*/
#leo-showcase-bottom1 .lof-sliding .lof-inner {
	background: none;
	border-radius: 0;
}
#leo-showcase-bottom1 .lof-sliding .lof-main-wapper {
	margin: 0 14px;
}
#leo-showcase-bottom1 .lof-sliding .lof-row {
	padding: 5px 0;
}
#leo-showcase-bottom1 .lof-sliding .lof-next, #leo-showcase-bottom1 .lof-sliding .lof-previous {
	position:absolute;
	z-index:10;
	top:0;
	height:80px;
	width:23px;
	display:block;
	text-indent:9999px;
	overflow:hidden;
}
#leo-showcase-bottom1 .lof-sliding .lof-image {
	background: none;
}
#leo-showcase-bottom1 .lof-sliding .lof-inner {
	background: none;
	border-radius: 0;
	padding: 10px 0;
	position: relative;
	text-align: center;
}
#leo-showcase-bottom1 .lof-sliding .lof-inner:hover {
	background: none;
	box-shadow: none;
}
#leo-showcase-bottom1 .lof-sliding {
	padding-top: 10px;
}
#leo-showcase-bottom1 .lof-sliding .lof-next, #leo-showcase-bottom1 .lof-sliding .lof-previous {
 background: url(../images/default/bt-np_manfacture.png) no-repeat 0 0 scroll ;
	display: block;
	height: 23px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999px;
	width: 13px;
	z-index: 10;
	top: 30%;
}
#leo-showcase-bottom1 .lof-sliding .lof-next {
	background-position: right top;
	right: 0px;
	
}
#leo-showcase-bottom1 .lof-sliding .lof-previous {
	background-position: left top;
	left: 0px;0
}


/* leovmscroller*/
#leo-showcase-top .lof-vm-sliding {
	background: none;
	padding-bottom:0;
}
#leo-showcase-top .lof-vm-sliding .lof-row .lof-inner {
    border-left:none;
	padding: 0 17px;
}
#leo-showcase-top .lof-vm-sliding .lof-top .lof-navigator-outer {
	margin-right: 0;
}
#leo-showcase-top .lof-vm-sliding .lof-navigator li.active span {
    background:  url(../images/default/bt-nav-feature.png) no-repeat scroll left top
}
#leo-showcase-top .lof-vm-sliding .lof-navigator li span {
    background: url(../images/default/bt-nav-feature.png) no-repeat scroll left -16px ;
    margin: 4px 3px;
}
#leo-showcase-top .lof-vm-sliding .lof-container {
	background: none;
}
#leo-showcase-top .lof-vm-sliding .lof-main-wapper {
 margin: 0 38px;}
#leo-showcase-top .lof-vm-sliding .lof-row {
	text-align: left;
	padding: 13px 0;
}
#leo-showcase-top .lof-vm-sliding .lof-image {
	float: left;
}
#leo-showcase-top .lof-vm-sliding .lof-image img {
	margin-right: 10px;
    background: #fff;
    padding: 4px;
    border: 1px solid #d9d9d9;
	border-radius: 3px;
}
#leo-showcase-top .lof-vm-sliding .lof-inner .lof-title {
    font-size: 18px;
    padding: 3px 0;
	clear: none;
	color: #2570bb;
	height: 20px;
	overflow: hidden;
}
#leo-showcase-top .lof-vm-sliding .lof-inner .lof-title:hover {
	color: #515151;
}
#leo-showcase-top .lof-vm-sliding span.quantity-box {
 	display: none;
}
#leo-showcase-top .lof-description {
	font-size:11px;
	color: #686868;
	padding-bottom:4px;
}
#leo-showcase-top .lof-vm-sliding .lof-price {
    color: #424242;
	float: left;
	font-size:24px;
	line-height: 27px;
	margin: 7px 0;
}
#leo-showcase-top .lofaddcart-nav {
 float: right;
  padding: 5px 0;
}
#leo-showcase-top .lof-vm-sliding .lofaddcart-nav span.addtocart-button {
    background: url(../images/default/bg-add2card.png) no-repeat scroll left top;
    display: inline-block;
    padding-left: 3px;
	width: auto;
	 margin-left: 0;
}

#leo-showcase-top .lof-vm-sliding .lofaddcart-nav span.addtocart-button input.addtocart-button {
    background:  url(../images/default/bg-add2card.png) no-repeat scroll right bottom;
    border: medium none;
    color: #676767;
    font-size: 13px ;
    height: 29px;
    margin: 0;
	border-radius: 0;
    padding: 0 10px 0 8px;
    text-shadow: none;
    text-transform: none;
    width: auto;
	text-shadow: 0 1px 0 #fff;
	letter-spacing: 0;
}
#leo-showcase-top .lof-vm-sliding .lofaddcart-nav span.addtocart-button:hover {
    background: url(../images/default/bg-add2cardt_hover.png) no-repeat scroll left top;
}
#leo-showcase-top .lof-vm-sliding .lofaddcart-nav span.addtocart-button input.addtocart-button:hover {
    background:  url(../images/default/bg-add2cardt_hover.png) no-repeat scroll right bottom;
}
/* BREADCRUMBS----------*/
.breadcrumbs {
}
.breadcrumbs .showHere {
}
.breadcrumbs a.pathway {
	color: #515151;
    font-size:12px;
    padding: 0 3px 0 5px;
	text-shadow:0 1px 1px #fff;
}
.breadcrumbs span {
	padding: 0 3px;
	font-size:12px;
	color: #1b7bdd;
}
.breadcrumbs a.pathway:hover {
	color: #c21338;
}
/* Login Module ---*/

.login_form label, .login label {
	text-align: left;
	width: 100px;
	float: left;
}
.login-fields {
	margin: 0 0 10px;
}
.login ul li {
	background: url(../images/default/icon-li.png) no-repeat scroll left 50%;
	line-height: 23px;
	padding-left: 20px;
}

/*moduletable-menu*/
.moduletable ul.vmmanufacturer {
	margin: 0;
}
.moduletable_menu .vm_cart_products .product_row,
.moduletable ul.vmmanufacturer li,
.moduletable_menu ul li {
	background: url(../images/default/bg-mod-menu.png) repeat-x left bottom scroll!important;
	line-height: 32px;
	margin: 0 -11px 0 -11px;
	padding: 0 10px;
}
.moduletable_menu .vm_cart_products .prices {
 padding: 5px 0;
  color: #F278C7;
}
.moduletable_menu .vm_cart_products .product_row li a,
.moduletable ul.vmmanufacturer li a,
.moduletable_menu ul li a {
	background: url(../images/default/icon-li_cate.png) no-repeat 0 1px scroll;
	line-height: 32px;
	padding-left: 20px;
	 color: #515151;
	  font-size: 13px;
}
.moduletable_menu .vm_cart_products .product_row a:hover,
.moduletable ul.vmmanufacturer li a:hover,
.moduletable_menu ul li a:hover {
	background: url(../images/default/icon-li_cate.png) no-repeat 0 -35px scroll;
	 color: #2570bb;
}
.moduletable_menu ul li:first-child {
}
.moduletable_menu .show_cart{
 background: url(../images/default/bg-add2card.png) no-repeat scroll left top ;
    display: inline-block;
    margin: 10px 0;
    padding-left: 3px;
    width: auto;
	 float: right;}
.moduletable_menu .show_cart a{
	 background: url(../images/default/bg-add2card.png) no-repeat scroll right bottom;
    border: medium none;
    color: #676767;
    font-family: 'Oswald';
    font-size: 13px;
    height: 29px;
	 line-height: 28px;
    letter-spacing: 0;
    margin: 0;
    padding: 0 10px 0 8px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: none;
    width: auto;}
	.moduletable_menu .show_cart a:hover{
	 color:#2570bb;
	}
/* moduletable_cart-top */
#leo-header-top {
	}
.moduletable_cart-top  {
    background: url(../images/default/cart.png) no-repeat scroll 91% 40% #fff;
	height: 35px;
    padding: 5px 54px 13px 10px;
    float: right;
	border: 1px solid #c4c4c4;
	border-radius: 5px;
}

.moduletable_cart-top .leomodule {
	background: url(../images/default/bg-cart.png) no-repeat scroll 15% bottom;
	height: 59px;
		
}
.moduletable_cart-top h3.moduletitle {
}
.moduletable_cart-top .modulecontent {
	margin: 0;
}
.moduletable_cart-top h3.moduletitle {
	font-size: 16px;
	text-transform: none;
	color:#2570bb;
	line-height:20px;
}
.moduletable_cart-top .total_products {
color:#70767c;}
.moduletable_cart-top #vmCartModule div.total,
.moduletable_cart-top #vmCartModule div.show_cart {
	display: none;
}
/*moduletable_listmenu */
#leo-userbottom2 .leo-box-right {
    margin-left: -77px;
    width: 33% !important;
}
#leo-userbottom2 .leo-box-center .moduletable_listmenu .leomodule{ 
	margin-left: -35px;
}
#leo-userbottom2 .leo-usercol .leo-module {
	margin: 15px 10px!important;
}
.moduletable_listmenu ul li a {
	background: url(../images/default/bullet.png) left -24px scroll no-repeat;
	font: normal 12px/ 25px 'Oswald';
	padding-left: 15px;
	color: #656565;
} 
.moduletable_listmenu ul li a:hover {
	background: url(../images/default/bullet.png) left 3px scroll no-repeat;
} 
/*moduletable_newsletter*/
.moduletable_newsletter .newsletter-submit input.button {
	background: url(../images/default/bt-signup.png) repeat-x left bottom scroll #f8f8f8;
	border-radius: 3px;
	border: 1px solid #d9d9d9;
	 margin-left: 10px;
	 padding: 0 10px;
	 font-size: 11px;
	 color:#676767;
	  text-shadow: 0 1px 0 #fff;
}
/*moduletable_follow*/
.moduletable_follow h3.title {
	float: right;
	font-size: 16px!important;
	color: #656565!important;
	width:47%;
	margin-top:5px!important;
}
.moduletable_follow .modulecontent{
 width: 50%;
 float:left;
}
/*moduletable_advertising*/
.moduletable_advertising,
.moduletable_advertising .leomodule {
 	border-radius: 0!important;
    background: none!important;
	border: none !important;
}
.moduletable_advertising .modulecontent {
	padding:0;
}
.moduletable_advertising p{
	margin:0;
}
.moduletable_advertising img{
	border: 1px solid #cacaca;
	 border-radius: 3px;
}
/*moduletable_style*/
.moduletable_style .modulecontent{
 padding: 5px 0;
 }
 /*moduletable_currency*/
 .moduletable_currency input.button{
	height: 21px;
    padding-bottom: 2px;
}
/*moduletable_pro*/
.moduletable_pro {
	margin: 0 0 10px 0!important;
	clear:both;
}
.moduletable_pro div.modulecontent {
	padding: 0;
}
 .moduletable_pro .spacer {
    float: left;
    margin: 5px 0;
    padding: 10px 7px;
}
.moduletable_pro h3.moduletitle{
	background: url(../images/default/bg-title-main.png) repeat-x left top scroll;
	margin: -11px -11px 0;
	margin: -11px -8px 0 -14px\9;
	border-radius: 5px 5px 0 0;
	font-family: 'Helveticaneue';
	font-size: 20px;
	color: #fff;
	font-weight: normal;
	 height: 41px;}
.moduletable_pro h3.moduletitle > span{
	background: #434345;
	display: block;
	border-radius: 5px 5px 0 0;
	 height: 38px;
}
.moduletable_pro h3.moduletitle > span span{
	background: url(../images/default/icon-h1.png) no-repeat left 50% scroll;
	line-height: 41px;
	  padding-left: 30px;
}
 .moduletable_pro img { 
	background: #FFFFFF;
    border: 1px solid #CACACA;
    border-radius: 3px 3px 3px 3px;
    height: auto;
    max-width: 100%;
    padding: 3px;
    width: auto;
}
.moduletable_pro div.modulecontent h3 a{
	font: normal 18px 'Helveticaneue';
	color:#2570BB;
    padding: 0;
    text-transform: none;
	display: inline-block;
}
.moduletable_pro div.modulecontent h3 a:hover {
 color: #515151;
}
.moduletable_pro .catProductPrice {
    color: #414141;
    font: 20px 'Helveticaneue';
}