/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/

/* Mega Menu -------------------*/
div.submenu-wrap{overflow:visible; }

#menusys_mega{float:none;}

#menusys_mega div.subwrapcenter-left,
#menusys_mega div.subwrapcenter-right,
#menusys_mega div.subwrapcenter{display: inline-block;}

#menusys_mega div.subwrapcenter{float:left;}

div.meda-item{float:none;}
#leo-search .button{border:none;}
div.moduletable .highslide-gallery ul li{height:60px;width:60px;}

#menusys_mega .menusub_mega {
padding-top: 55px;}

.spacer .addtocart-bar span.addtocart-button input.addtocart-button, .spacer .addtocart-bar span.addtocart-button input.notify-button,{
 width:80px;
}

#leo-search {
 bottom: -14px;
}
#system-message-container {
	height: 0px;
}
#leo-header-top {
	width: 40%;
}
.width25 {
width: 24.9%;
}
vendor-store-desc > h2, .category-view > h2, .featured-view > h2, .latest-view > h2, .topten-view > h2, .related-products-view > h2, .browse-view > h2, .order-view > h2 {
margin: -11px -11px 0;}