/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/

/* --- Global K2 container --- */
#k2Container {
	padding:0;
	position: relative;
}
body.contentpane #k2Container {
	padding:16px;
} /* used in popups */

.k2Padding {
	padding:4px;
}
.clr {
	clear:both;
	height:0;
	line-height:0;
	display:block;
	float:none;
}
/* --- RSS feed icon --- */
.k2FeedIcon {
	padding:0;
	margin: 10px 0;
	width: 100%;
	overflow: hidden;
}
.k2FeedIcon a, .k2FeedIcon a:hover {
	display:block;
	float:right;
	margin:0;
	padding:0 20px 0 0;
	height:16px;
	background:url(../images/fugue/feed.png) no-repeat right 50%;
}
.k2FeedIcon a span, .k2FeedIcon a:hover span {
	font-size: 10px;
	line-height: 16px;
}
/* --- Rating --- */
.itemRatingForm {
	display:block;
	vertical-align:middle;
	line-height:20px;
	float:left;
	position: relative;
	top: 6px;
}
.itemRatingLog {
	margin: -2px 0 0;
	padding:0 0 0 4px;
	float:left;
	line-height:20px;
}
.itemRatingForm .formLogLoading {
	background:url(../images/system/loading.gif) no-repeat left center;
	height:20px;
	padding:0 0 0 20px;
}
.itemRatingList, .itemRatingList a:hover, .itemRatingList .itemCurrentRating {
	background: url('../images/system/star.png') left -1000px repeat-x;
}
.itemRatingList {
	position:relative;
	float:left;
	width:100px;
	height:20px;
	overflow:hidden;
	list-style:none;
	margin:0 6px!important;
	padding:0;
	background-position:left top;
}
.itemRatingList li {
	display:inline;
	background:none;
	padding:0;
	border: none !important
}
.itemRatingList a, .itemRatingList .itemCurrentRating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000px;
	height:20px;
	line-height:20px;
	outline:none;
	overflow:hidden;
	border:none;
	cursor:pointer;
}
.itemRatingList a:hover {
	background-position:left center;
}
.itemRatingList a.one-star {
	width:20%;
	z-index:6;
}
.itemRatingList a.two-stars {
	width:40%;
	z-index:5;
}
.itemRatingList a.three-stars {
	width:60%;
	z-index:4;
}
.itemRatingList a.four-stars {
	width:80%;
	z-index:3;
}
.itemRatingList a.five-stars {
	width:100%;
	z-index:2;
}
.itemRatingList .itemCurrentRating {
	z-index:1;
	background-position:0 bottom;
	margin:0;
	padding:0;
}
.siteRoot {
	display:none;
}
/* --- CSS added with Javascript --- */
.smallerFontSize {
	font-size:100%;
	line-height:inherit;
}
.largerFontSize {
	font-size:150%;
	line-height:140%;
}
/* --- ReCaptcha --- */
.recaptchatable .recaptcha_image_cell, #recaptcha_table {
	background-color:#fff !important;
}
#recaptcha_table {
	border-color: #eee !important;
}
#recaptcha_response_field {
	border-color: #eee !important;
	background-color:#fff !important;
}
/* --- Primary lists in modules --- */
.clearList {
	display:none;
	float:none;
	clear:both;
} /* this class is used to clear all previous floating list elements */
.lastItem {
	border:none;
} /* class appended on last list item */
/* --- Avatars --- */
.k2Avatar img {
	display:block;
	float:left;
	margin:2px 8px 4px 4px;
}
/* --- Pagination --- */
.k2Pagination {
	padding: 0;
	margin: 15px 0;
	text-align:center;
	color:#444;
	position: relative;
	overflow: hidden;
}
/* --- Featured flags: the classes are repeated further below to indicate placement in the CSS structure --- */
.itemIsFeatured, .catItemIsFeatured, .userItemIsFeatured {
	background:none;
}
/*----------------------------------------------------------------------
	Component: views
----------------------------------------------------------------------*/
.userItemViewUnpublished {
	opacity:0.9;
	border:1px solid #dcdcdc;
	background:#fffff2;
	padding:8px;
}
.itemView {
	padding:8px 0 0 0;
	margin: 0;
} /* this is the item container for this view */
.catItemEditLink, .itemEditLink {
	display:block;
	text-align:right;
	padding:8px 36px;
	margin:0 0 24px 0;
	border:1px solid #eee;
	background: #fffef4;
	font-size: 20px;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic
}
.itemHeader {
}
.itemHeader .itemTitle {
}
.itemListSubCategories > h3,
.itemHeader .itemTitle, .genericItemTitle{
     border-bottom: 2px solid #666;
    color: #666;
    font: 22px "Oswald";
    padding: 8px 0;
	margin-top:0;
}
.catItemHeader .catItemTitle {
    color: #333333;
    margin: 0;
    padding: 0;
    text-transform: none;
}
#itemListLeading .catItemHeader .catItemTitle {
    font: 20px "Oswald";
}
#itemListPrimary .catItemHeader .catItemTitle {
    font: 16px "Oswald";
}
#itemListSecondary .catItemHeader .catItemTitle {
    font: 12px "Oswald";
}
.catItemHeader .catItemTitle a {
font-family: 'Oswald';
 font-size: 18px;
}
.catItemHeader .catItemTitle a:hover {
}

.catItemHeader {
	margin:5px 0 5px;
}
.catItemHeader .catItemTitle span sup, .itemHeader .itemTitle span sup {
	padding:0 0 0 3px;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: 0;
	text-decoration:none;
	color: #666;
	vertical-align: top;
	text-transform: none;
}
 /* "Featured" presented in superscript */
div.catItemContent {
	position: relative;
}
div.catItemAdditionalInfo {
	font-size: 12px;
	color: #888;
	margin: 4px 0 0 0;
}
div.catItemAdditionalInfo > div, div.catItemAdditionalInfo > a, div.catItemAdditionalInfo > span {
	display: block;
	float: left;
	margin: 0 0 0 10px;
	padding: 0 4px 0 8px;
	border-left: 1px solid #eee;
}
div.catItemAdditionalInfo > div:first-child, div.catItemAdditionalInfo > a:first-child, div.catItemAdditionalInfo > span:first-child {
	margin: 0;
	padding: 0;
	border: none;
}
.catItemView {
	border-bottom: 1px dotted #dadada;
    overflow: hidden;
    padding: 10px 0;
	margin: 0 8px;
}
.itemToolbar {
 overflow: hidden;
}
.itemToolbar ul {
	list-style:none;
	margin:10px 0 0 0;
}
.itemToolbar ul li {
	display:inline;
	list-style:none;
	padding:0 4px 0 8px;
	margin:0;
	border-left:1px solid #eee;
	background:none;
}
.itemToolbar ul > li:first-child {
	border:none;
	padding-left:0!important;
} /* remove the first CSS border from the left of the toolbar */
.itemToolbar ul li a {
	font-weight:normal;
}
.itemToolbar ul li a:hover {
}
.itemToolbar ul li a img {
	vertical-align:middle;
	position: relative;
	top: 0;
}
.itemToolbar ul li a#fontDecrease {
	margin:0 0 0 2px;
}
.itemToolbar ul li a#fontDecrease img {
	width: 13px;
	height:13px;
	background:url(../images/system/font_decrease.png) no-repeat;
}
.itemToolbar ul li a#fontIncrease {
	margin:0;
}
.itemToolbar ul li a#fontIncrease img {
	width:13px;
	height:13px;
	background:url(../images/system/font_increase.png) no-repeat;
}
.itemToolbar ul li a#fontDecrease span, .itemToolbar ul li a#fontIncrease span {
	display:none;
}
.itemBottom {
	overflow: hidden;
	margin: 28px 0 0;
	padding: 7px 0;
}
.catItemRatingBlock, .itemRatingBlock {
	padding: 0;overflow: hidden;
	font-size: 12px;
}
.catItemRatingBlock {
	
}
.catItemRatingBlock span, .itemRatingBlock span {
	float:left;
}
.catItemBody {
	margin:0;
}
.itemBody {
	padding: 6px 0 0;
	margin:0;
}
.itemImageBlock {
	position: relative;
	text-align:center;
	margin:10px 0 0 0;
	padding:0;
}
,
#itemListLeading .catItemImageBlock {
}
.userItemImageBlock,#itemListPrimary .catItemImageBlock{
	  float:left;
}
span.itemImage {
	margin:0 0 8px 0;
}
span.catItemImage {
	overflow: hidden;
	margin: 0 10px 0 0 ;
	float: left;
}
.tagItemImageBlock span.tagItemImage img,
.userItemImageBlock span.userItemImage img,
span.itemImage img, span.catItemImage img {
	padding: 1px;
	background: #fff;
	border: 1px solid #dadada;
	margin-top: 5px;
}
span.itemImageCaption, span.itemImageCredits {
	line-height: 100%;
	padding: 3px 10px;
	font-size: 10px;
	text-align: center;
	font-style: normal;
	color: #aaa;
	display: block;
}
 .itemIntroText {
	padding:0;
	font-size:14px;
	 color: #282315;
	  line-height: 160%;
	   font-weight: bold;
}
.itemFullText h3 {
	margin:0;
	padding:16px 0 4px 0;
}
.itemFullText img {
	padding:6px;
	margin:4px;
	background:#fff;
}
.catItemExtraFields, .itemExtraFields {
	clear:both;
	margin:10px 0;
	padding:0;
}
.catItemExtraFields h4, .itemExtraFields h3 {
	font-size:28px;
	font-weight:normal;
	height:auto;
	line-height:28px;
	margin:32px 0 22px 6px;
	padding:0 0 6px;
	border-bottom: 1px solid #eee
}
.catItemExtraFields ul li, .itemExtraFields ul li {
	display:block;
	overflow:hidden;
	border-bottom: 1px solid #eee;
	margin: 0 2px;
	padding: 3px 5px 3px 20px;
	background: url(../images/default/icon-li.png) no-repeat left 50% scroll;
	line-height: 30px;
}
.catItemExtraFields ul li span.catItemExtraFieldsLabel, .itemExtraFields ul li span.itemExtraFieldsLabel {
	display:block;
	float:left;
	font-weight:bold;
	margin:0 4px 0 0;
	width:30%;
}
.catItemExtraFields ul li span.catItemExtraFieldsValue, .itemExtraFields ul li span.itemExtraFieldsValue {
	margin-left:30%;
	display:block;
}
span.itemDateModified {
	float: right;
	font-style: italic;
	color: #999;
	font-size:12px;
	padding-right: 3px;
}
.itemLinks {
	color: #7B7B7B
	font-weight: normal;
	 overflow: hidden;
	padding: 0 0;
}
.itemHitsBlock {
 overflow: hidden;}
.itemRatingBlock,.itemHitsBlock,.itemCategory,.itemTagsBlock,.userItemTagsBlock,.userItemCategory,
.catItemHitsBlock, .catItemCategory , .catItemTagsBlock, .catItemRatingBlock { border-bottom: 1px dotted #bbb;
  line-height: 32px;
  overflow: hidden;

  }
  .catItemRatingBlock span { font-weight: bold; font-size:12px;}
  .userItemTagsBlock span,.userItemCategory span,
.itemHitsBlock span span,.itemCategory span,.itemTagsBlock span,
  .catItemHitsBlock span span, .catItemCategory span, .catItemTagsBlock span{
 width: 35%; display: inline-block; font-weight: bold; font-size:12px;
  color: #333;
  }
.itemAuthor {
 overflow: hidden;
 }
.itemHitsTwitter, .itemCategory, .catItemTagsBlock, .itemTagsBlock, .itemSocialSharing {

}
.itemSocialSharing {
	overflow: hidden;
	 padding: 10px 0;
}
.itemSocialSharing div {
	float:left;
	display:inline;
	width:auto
}
.itemSocialSharing iframe {
	background:none !important;
	border:none !important
}
span.itemHitsTwitterSep {
	padding:0 8px;
	color:#eee;
}
span.itemTwitterLink a {
	background:url(../images/social/twitter_16.png) no-repeat 0 50%;
	padding:2px 0 0 20px;
	margin:8px 0;
	text-decoration:none;
}
span.itemTwitterLink a:hover {
	text-decoration:none;
}
.userItemTagsBlock ul.userItemTags,.catItemTagsBlock ul.catItemTags, .itemTagsBlock ul.itemTags {
	list-style:none;
	padding:0;
	margin:0;
	display:inline;
}
.userItemTagsBlock ul.userItemTags li,.catItemTagsBlock ul.catItemTags li, .itemTagsBlock ul.itemTags li {
	display:inline;
	list-style:none;
	line-height: 2;
	margin: 0 0 0 6px;
	text-align:center;
}
.userItemTagsBlock ul.userItemTags li a,.catItemTagsBlock ul.catItemTags li a, .itemTagsBlock ul.itemTags li a {
	padding: 2px 6px;
	border-radius: 2px
}
.userItemTagsBlock ul.userItemTags li a:hover,.catItemTagsBlock ul.catItemTags li a:hover, .itemTagsBlock ul.itemTags li a:hover {
	color: #666;
}
.itemSocialLinksBlock span {
	padding:0 10px 0 0;
	float:left;
	display:block;
}
.itemSocialLinksBlock ul.itemSocialLinks {
	list-style:none;
	padding:0;
	margin:0;
	clear: none;
	float:left;
}
.itemSocialLinksBlock ul.itemSocialLinks li {
	float:left;
	list-style:none;
	padding:0 4px;
	margin:0;
}
.itemSocialLinksBlock ul.itemSocialLinks li a {
	float:left;
	display:block;
	width:19px;
	height:19px;
	background-position:0 0;
	background-repeat:no-repeat;
}
.itemSocialLinksBlock ul.itemSocialLinks li a:hover {
}
.itemSocialLinksBlock ul.itemSocialLinks li a span {
	display:none;
}
.catItemAttachmentsBlock, .itemAttachmentsBlock {
	padding:4px;
	border-bottom:1px dotted #eee;
}
.catItemAttachmentsBlock span, .itemAttachmentsBlock span {
	font-weight:bold;
	padding:0 4px 0 0;
}
.catItemAttachmentsBlock ul.catItemAttachments, .itemAttachmentsBlock ul.itemAttachments {
	list-style:none;
	padding:0;
	margin:0;
	display:inline;
}
.catItemAttachmentsBlock ul.catItemAttachments li, .itemAttachmentsBlock ul.itemAttachments li {
	display:inline;
	list-style:none;
	padding:0 4px;
	margin:0;
	text-align:center;
}
.catItemAttachmentsBlock ul.catItemAttachments li span, .itemAttachmentsBlock ul.itemAttachments li span {
	font-size:10px;
	color:#999;
	font-weight:normal;
}
.modulePretext {
	margin:0!important;
	padding:0 !important;
	font-size: 12px;
}
/* Author block & User block*/
.itemAuthorBlock, .userBlock, .latestItemsCategory {
	margin: 0 0 26px 0;
	overflow: hidden;
	font-size: 12px;
}
.itemAuthorBlock .itemAuthorAvatar {
	display:block;
	float:left;
	margin: 20px 24px 20px 20px;
	padding: 0;
	border: 3px solid #eee;
	overflow:hidden;
}
.itemAuthorBlock .itemAuthorAvatar img {
	display: block;
}
.itemAuthorBlock .itemAuthorDetails {
	margin:0;
	padding: 6px;
	  margin: 7px;
}
.itemAuthorBlock .itemAuthorDetails.leftmargin {
	margin-left: 205px;
}
.userBlock h2 {
	font: 24px "Arial";
	margin: 0;
}
.userBlock > div {
	overflow: hidden;
}
.itemAuthorBlock {
	margin:30px 3px 20px;
	padding: 0;
	 border: 1px solid #ccc;
}
.itemAuthorBlock .itemAuthorDetails h3.itemAuthorName {
	margin: 0;
	padding:0;
	font-size: 20px;
	line-height: 26px;
}
.itemAuthorBlock .itemAuthorDetails p {
	margin: 2px 0 6px;
	font-size: 12px;
	line-height: 20px;
}
.itemAuthorBlock .k2FeedIcon {
	float: right;
}
.latestItemsUser, .userBlock {
	font-size: 90%;
}
div.userBlock {
    background: none repeat scroll 0 0 #F7FAFE;
    border: 1px solid #DDDDDD;
    clear: both;
    margin: 0 0 16px;
    padding: 8px;
}
.userBlock p {
	font: 12px/19px Verdana, Arial, Geneva, sans-serif
}
.itemAuthorBlock .itemAuthorDetails span.itemAuthorUrl {
	padding:0 8px 0 0;
	margin:0 4px 0 0;
	font-size: 12px;
}
.itemAuthorBlock .itemAuthorDetails span.itemAuthorEmail {
	font-weight:bold;
}
.userBlock p.userDescription {
	padding:0!important;
	margin:0!important;
}
.userBlock p.userAdditionalInfo {
	padding:8px 0 6px;
	margin:5px 12px 0;
	font-size: 12px;
}
.userBlock p.userAdditionalInfo span {
	margin-right: 16px;
}
.userBlock p.userAdditionalInfo span a {
	font-weight: normal;
	margin: 0 6px;
}
/* Author latest  &  Related by tag */
.itemRelated, .itemAuthorLatest {
	float:right;
	width:45%;
	padding: 12px 10px 12px 0;
}
.itemAuthorLatest {
	float:left;
}
.itemRelated h3, .itemAuthorLatest h3 {
	font: normal 24px 'Arial';
	color: #0F222B;
	text-transform: none;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 8px 0;
	padding: 0;
}
.itemRelated h3 span, .itemAuthorLatest h3 span {
}
.itemAuthorLatest ul, .itemRelated ul {
	padding:0;
}
.itemRelated ul li, .itemAuthorLatest ul li {
	list-style: none;
	font-size: 12px;
	line-height: 2.5em;
	 border-bottom: 1px dashed #ccc;
}
.itemRelated ul li a, .itemAuthorLatest ul li a {
 background: url(../images/default/arrow-li.png) no-repeat left 50% scroll;
 padding-left: 15px;
}
/* Video */
.catItemVideoBlock, .itemVideoBlock {
	margin:0 0 16px 0;
	padding:16px;
	background:#010101 url(../images/system/videoplayer-bg.gif) repeat-x bottom;
}
.catItemVideoBlock .catItemVideoEmbedded, .itemVideoBlock .itemVideoEmbedded {
	text-align:center;
} /* for embedded videos (not using AllVideos) */
.catItemVideoBlock span.catItemVideo, .itemVideoBlock span.itemVideo {
	display:block;
	overflow:hidden;
}
.itemVideoBlock span.itemVideoCaption {
	color:#eee;
	float:left;
	display:block;
	font-size:12px;
	font-weight:bold;
	width:60%;
}
.itemVideoBlock span.itemVideoCredits {
	color:#eee;
	float:right;
	display:block;
	font-style:italic;
	font-size:12px;
	width:35%;
	text-align:right;
}
/* Image Gallery */
.catItemImageGallery, .itemImageGallery {
	margin:0 0 16px 0;
	padding:0;
}
/* Article navigation */
.itemNavigation {
	margin: 20px 3px;
	padding: 10px 15px;
	clear: both;
	 border: 1px solid #ccc;
	overflow: hidden;
}
.itemNavigation span.itemNavigationTitle {
	display: block;
	margin: 0 0 10px;
	font-size: 20px;
	font-weight: normal;
	 font-family:"Arial";
	color: #666;
	 text-align: center;
	 
}
.itemNavigation a.itemPrevious, .itemNavigation a.itemNext {
	font-size: 12px;
	padding: 0 12px 0 0;
}
.itemNavigation a.itemPrevious {
	float: left;
}
.itemNavigation a.itemNext {
	float: right;
}
/* Comments */
.leo-comment {
 overflow: hidden;}
.leo-comment-left {
 width: 49%;
  float:left;
   margin-right: 20px;
  }
  .leo-comment-right {
  float: left;
    width: 46%;}
.itemComments {
	overflow: hidden;
	clear: both;
}
.itemCommentsForm {
	padding: 12px 0;
	clear: both;
}
.itemComments ul.itemCommentsList {}
.itemCommentsForm form {
	margin: 0 ;
	list-style:none;
	clear: both;
	 overflow: hidden;
}
.itemCommentsForm > h3 {
	font-size: 32px;
	font-weight: normal;
	line-height: 32px;
	color: #222
}
.itemComments ul.itemCommentsList li {
	padding: 10px;
	margin: 20px 0 0 116px;
	line-height: 1.8;
	  background: #fff;
	   border: 1px solid #ccc;
	    border-radius: 5px;
}
.itemComments ul.itemCommentsList li:first-child {
	margin-top: 0;
}
.itemComments ul.itemCommentsList li > div {
}
.itemComments ul.itemCommentsList li.odd {
}
.itemComments ul.itemCommentsList li.authorResponse {
}
.itemComments ul.itemCommentsList li img {
	float:left;
	padding: 5px;
	border: 1px solid #eee;
	 margin-left:-120px;
	  background: #fff;
	   box-shadow:0 0 3px #aaa;
	 -webkit-border-radius : 100px;
	  -o-border-radius : 0;
	   -moz-border-radius : 100px;
	    -ms-border-radius : 100px;
	  
}

.itemComments ul.itemCommentsList li span.commentDate {
	font-size: 12px;
	font-weight: normal;
	color: #b6a176;
}
.itemComments ul.itemCommentsList li p {
	padding:3px 0;
	margin: 0;
}
.itemComments ul.itemCommentsList li span.commentAuthorEmail {
	display:none;
}
.itemComments ul.itemCommentsList li span.commentLink a {
	float: right;
	font-size: 12px;
	font-style: italic;
}
.itemCommentsPagination {
	padding:4px;
	margin:0 0 24px 116px;
}
.itemCommentsPagination span.pagination {
	display:block;
	float:right;
	clear:both;
}
.itemComments .commentAuthorName a {
	display: block;
	padding: 9px 12px 0 0;
	font-size: 13px;
	font-weight: bold;
	color: #333;
}
.itemCommentsForm p.itemCommentsFormNotes {
	font-size:14px;
	margin: 0x;
	color: #888
}
.itemCommentsForm form label {
	display:block;
	font-size: 14px;
	 font-family: Arial, Helvetica, sans-serif;
	padding: 0 0 4px;
	margin:12px 0 0 2px;
}
.itemCommentsForm form input.inputbox, .itemCommentsForm form textarea.inputbox {
	display:block;
	width: 96%;
	margin:0;
}
.itemCommentsForm form textarea.inputbox {
	height:160px;
}
.itemCommentsForm form input#submitCommentButton {
	margin: 30px 0 0;
}
.itemCommentsForm form span#formLog {
	margin:0 0 0 20px;
	padding:0 0 0 20px;
	font-weight:bold;
	color:#666;
}
.itemCommentsForm form .formLogLoading {
	background:url(../images/system/loading.gif) no-repeat left center;
}
/* Back to top link */
.itemBackToTop {
	float: right;
	margin: -25px 24px 0 0;
	text-align: right;
	height: 15px;
	line-height:15px;
}
.itemBackToTop a {
 color: #333;
  font-size:14px;
}
/* --- Category block --- */
.itemListCategory {
	margin:0 0 36px;
}
span.catItemAddLink, span.userItemAddLink {
	clear:both;
	display:block;
	text-align:right;
	padding:4px;
	margin:0 0 4px 0;
	border-bottom:1px solid #eee;
}
.latestItemsCategoryImage {
	text-align:center;
}
.latestItemsCategoryImage img, .itemListCategory img {
	float:left;
	display:block;
	background:#fff;
	margin:0 24px 20px 0;
}
.latestItemsCategory h2, .itemListCategory h2 {
	font-size:24px;
	line-height: 24px;
	font-weight:normal;
	margin:0;
	padding:0;
}
.latestItemsCategory p, .itemListCategory p {
	margin:2px 0!important;
}
/* --- Sub-category block --- */
.itemListSubCategories {
	margin-bottom: 32px;
}
.itemListSubCategories h2 {
    color: #333333;
    font: 18px "Arial";
    margin: 5px 0 ;
    padding: 0 ;
	clear:both;
}
.subCategory {
	overflow: hidden;
	margin: 0 10px;
	padding: 16px 0;
}
.subCategory h3 {
	font-size: 24px;
	font-weight: normal;
	margin: 6px 0;
	 display: inline-block;
}
.subCategory h3 span {
	font-size: 16px;
	color: #666;
}
.subCategory a.subCategoryImage {
	float: left;
	margin-right: 32px;
}
.subCategory a.subCategoryImage img {
	margin: 3px 7% 3px 3px;
	padding: 1px;
	background: #fff;
	border:1px solid #dadada;
}
.subCategory p {
	line-height: 1.6;
}
.subCategory a.k2ReadMore {
	float: right
}
/* --- Item groups --- */
#itemListLinks {
	margin:10px 0;
}
#itemListLinks h4 {
	 font: 24px "Arial";
	 margin: 5px 0;
}
#itemListLinks .catItemView {
	background: url(../images/default/arrow-li.png) no-repeat scroll left 50% !important;
    padding: 3px 15px !important;
	border-bottom:none;
}
#itemListLinks .catItemView a{
	color: #333;
}
#itemListLinks .catItemView a:hover{
	color: #666;
}
.itemContainer { 
	display: inline-block;
	margin: 0;
	float:left;
}
/* --- Item block for each item group --- */
.latestItemList {
	margin: 32px 0;
	overflow: hidden;
}
.latestItemView {
	margin-top: 32px!important;
}
.latestItemView:first-child {
	margin-top: 0!important;
}
.itemListView .itemList {
	margin: 10px 0;
}
/* Additional class appended to the element above for further styling per group item */
.groupLinks {
	padding:0;
	margin:0;
}
/*link date*/
.catItemDateCreated { 
	border-right: 1px solid #999999;
    display: inline-block;
    float: left;
    line-height: 100%;
    padding-right: 3px;
	color: #999999;
	font-size: 10px;
	margin-top: 7px;
}
/* Anchor link to comments */
.catItemCommentsLink {
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    line-height: 120%;
	color: #999999;
	margin-left: 5px;
	margin-top: 6px;
}
.catItemCommentsLink a {
	color: #999;
}
.catItemCommentsLink a:hover {
	color: #666;
}
/* Read more link */
.catItemReadMore {
	font-size:100%;
	display:inline;
}
.catItemReadMore a:hover.k2ReadMore {
}
.itemListView .k2Pagination ul, .genericView .k2Pagination ul, .userView .k2Pagination ul {
	border-top: none!important;
	margin: 0;
	padding: 0;
}
/* Items presented in a list */
h2.latestItemTitleList {
	font-size:14px;
	padding:2px 0;
	margin:8px 0 2px 0;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px dotted #eee;
	line-height:normal;
}
/*----------------------------------------------------------------------
	Component: Register & profile page views (register.php & profile.php)
----------------------------------------------------------------------*/
.k2AccountPage table tr td label {
	white-space:nowrap;
}
img.k2AccountPageImage {
	border:1px solid #eee;
	margin:10px 0;
	padding:0;
	display:block;
}
.k2AccountPage .k2AccountPageNotice {
	padding:8px;
}
.k2AccountPage .k2AccountPageUpdate {
	border-top:1px dotted #eee;
	margin:8px 0;
	padding:8px;
	text-align:right;
}
/*----------------------------------------------------------------------
	Modules: mod_k2_comments
----------------------------------------------------------------------*/

/* Latest Comments & Author module*/
.k2LatestCommentsBlock ul {
	padding: 0 0 12px 0 !important;
	margin: 0 !important
}
.k2LatestCommentsBlock ul li, .k2TopCommentersBlock ul li {
	padding: 8px 0!important;
	list-style: none !important;
	background:none!important;
	line-height:1.3!important;
	font-weight: normal;
	border-top:  1px dotted #586179;
}
.k2LatestCommentsBlock ul li:first-child {
	margin-top: 0!important;
	border-top: none;
}
.k2LatestCommentsBlock .k2CommentItem {
	border-top: none;
	margin: 0 0 0 71px;
}
.k2LatestCommentsBlock ul li .k2Avatar, .itemComments ul.itemCommentsList li .commentAuthorAvatar, .k2AuthorsListBlock .k2Avatar {
	
}
.k2LatestCommentsBlock ul li a.lcAvatar img, .itemComments ul.itemCommentsList li .commentAuthorAvatar img, .k2AuthorsListBlock .abAuthorAvatar img {
	display:block;
	margin: 0 5px 0 0!important;
	padding: 1px!important;
	border:1px solid #dadada;
	background:#fff;
}
.itemComments ul.itemCommentsList li .commentAuthorAvatar {
	margin-left: -60px!important;
	margin-top: 16px!important;
}
.k2CommentItem p {
	margin: 0 0 8px;
}
.k2CommentItem span {
	display: block;
	font-size: 12px;
	padding: 2px 0 0;
	color: #888
}
.k2LatestCommentsBlock ul li span.lcUsername {
    display: block;
    font-size: 10px;
    margin: 6px 0 0;
}
.k2LatestCommentsBlock ul li span.lcCommentDate {
    color: #878787;
    display: block;
    font-size: 10px;
    padding-bottom: 0;
}
.k2AuthorsListBlock ul li {
	border: none;
	border-bottom: 1px solid #eee;
	padding: 12px 0;
}
.k2AuthorsListBlock ul li a.abAuthorLatestItem {
	display:block;
	clear:both;
	margin: 12px 0 0;
	padding: 0 0 0 12px;
	font-size: 12px;
	line-height: 14px;
	background: url('../images/bullet.png') no-repeat 0 5px
}
.k2AuthorsListBlock ul li a.abAuthorLatestItem span {
	display: block;
	font-size: 10px;
	color: #777
}
/* Top Commenters */
.k2TopCommentersBlock ul li span.tcLatestCommentDate {
}
.tcUsername {
	font-size: 18px;
	color: #333;
}
.tcLatestComment {
	display: block;
	margin: 6px 0;
	font-size: 12px;
	color: #777;
	line-height: 16px;
}
.tcLatestCommentDate {
	display: block;
	font-size: 12px;
	color: #999
}
/*----------------------------------------------------------------------
	Modules: mod_k2_content
----------------------------------------------------------------------*/
div .k2ItemsBlock ul {
}
div .k2ItemsBlock ul li {
	margin:0;
	background: none!important;
	padding:8px 0;
	list-style:none !important;
	border-top: 1px dotted #A5A7AB;
}
div .k2ItemsBlock ul li:first-child {
	border-top: none;
}
div .k2ItemsBlock ul li img {
	background: #fff;
	padding:1px;
	border: 1px solid #DADADA;
	margin-right: 10px;
}
.k2ItemsBlock ul li.odd {
}
.k2ItemsBlock ul li a.moduleItemTitle {
    font: normal 12px 'Arial';
}
.k2ItemsBlock ul li a:hover.moduleItemTitle {
}
.k2ItemsBlock ul li .moduleItemAuthor {
	color:#666;
	font-size:90%;
}
.k2ItemsBlock ul li a.moduleItemAuthorAvatar img {
	border:1px dotted #dadada;
	display:block;
	float:right;
	height:auto;
	margin:0 4px 0 0;
	padding:2px;
	width:14px;
}
.k2ItemsBlock ul li .moduleItemIntrotext {
	display:block;
	padding:8px 0;
	line-height:1.6;
}
.k2ItemsBlock ul li .moduleItemIntrotext a.moduleItemImage img {
	float:left;
	overflow: hidden;
	margin:4px 0;
}
.moduleItemExtraFields ul li span.moduleItemExtraFieldsLabel {
	display:block;
	float:left;
	font-weight:bold;
	margin:0 4px 0 0;
	width:30%;
}
.k2ItemsBlock ul li a.moduleItemCategory {
	font-size:90%;
}
.k2ItemsBlock ul li .moduleItemTags {
	font-size:90%;
}
.k2ItemsBlock ul li .moduleItemTags a {
	padding:0 2px;
}
.k2ItemsBlock ul li .moduleAttachments {
	font-size:90%;
}
a.moduleItemComments {
}
a:hover.moduleItemComments {
}
.k2ItemsBlock ul li .module-extrainfo {
	overflow: hidden;
	margin-top:5px;
}
.k2ItemsBlock ul li a.moduleItemComments {
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    line-height: 120%;
    padding: 0 0 0 13px;
	margin: 0 0 0 5px;
	border-right: none;
	float:left;
	color: #999;
}
.k2ItemsBlock ul li span.moduleItemDateCreated {
    display: inline-block;
    float: left;
    line-height: 100%;
    padding-right: 3px;
	color: #999;
	font-size:10px;
}
.k2ItemsBlock .moduleItemImage {
	overflow: hidden;
	float: left;
}
.k2ItemsBlock a.moduleCustomLink {
	font-size:90%;
}
.k2ItemsBlock .k2FeedIcon {
	padding: 0;
	margin-top: -20px;
}
/*--- Modules: mod_k2_login ---*/
.k2LoginBlock fieldset.input {
	margin:0;
	padding:0 0 8px 0;
}
.k2LoginBlock fieldset.input p {
	margin:0;
	padding:0 0 4px 0;
}
.k2LoginBlock fieldset.input p label {
	display:block;
}
.k2LoginBlock fieldset.input p input {
	display:block;
}
.k2LoginBlock fieldset.input p#form-login-remember label, .k2LoginBlock fieldset.input p#form-login-remember input {
	display:inline;
}
.k2UserBlock p.ubGreeting {
	border-bottom:1px dotted #eee;
}
.k2UserBlock .k2UserBlockDetails span.ubName {
	display:block;
	font-weight:bold;
	font-size:14px;
}
/* --- Modules: mod_k2_tools ---*/

/* --- Breadcrumbs --- */
.k2BreadcrumbsBlock span.bcTitle {
	padding:0 4px 0 0;
	color:#999;
}
.k2BreadcrumbsBlock span.bcSeparator {
	padding:0 4px;
	font-size:14px;
}
/* --- Calendar --- */
.k2CalendarBlock {
	margin-bottom:8px;
} /* use this height value so that the calendar height won't change on Month change via ajax */
.k2CalendarLoader {
	background:#fff;
}
table.calendar {
	width: 100%;
	margin:0 auto;
	background:#fff;
	border-collapse:collapse;
}
table.calendar tr td {
	text-align:center;
	vertical-align:middle;
	padding: 3px;
	border:1px solid #eee;
	background:#fff;
}
table.calendar tr td.calendarNavMonthPrev, table.calendar tr td.calendarNavMonthNext {
	background: #fff;
	text-align: center;
	font-size: 15px !important;
}
table.calendar tr td.calendarNavMonthPrev a, table.calendar tr td.calendarNavMonthNext a {
	text-decoration:none;
}
table.calendar tr td.calendarNavMonthPrev a:hover, table.calendar tr td.calendarNavMonthNext a:hover {
	text-decoration:none;
}
table.calendar tr td.calendarCurrentMonth {
	background:#fff;
	font-size: 18px;
	text-transform: none;
	color: #666
}
table.calendar tr td.calendarDayName {
	background: #f5f5f5;
	font-size:12px;
	width:14.2%;
	color: #333;
	font-weight: 600
}
table.calendar tr td.calendarDateEmpty {
	background:#fbfbfb;
}
table.calendar tr td.calendarDate {
	font-size: 12px;
}
table.calendar tr td.calendarDateLinked {
	padding:0;
}
table.calendar tr td.calendarDateLinked a {
	display:block;
	padding:2px;
	text-decoration:none;
	background:#fff;
}
table.calendar tr td.calendarDateLinked a:hover {
	display:block;
	background:#222;
	color:#fff;
	padding:2px;
	text-decoration:none;
}
table.calendar tr td.calendarToday {
	background:#666;
	color:#fff;
}
table.calendar tr td.calendarTodayLinked {
	background:#666;
	color:#fff;
	padding:0;
}
table.calendar tr td.calendarTodayLinked a {
	display:block;
	padding:2px;
	color:#fff;
	text-decoration:none;
}
table.calendar tr td.calendarTodayLinked a:hover {
	display:block;
	background:#eb5e11;
	color: #fff;
	padding:2px;
	text-decoration:none;
}
/* --- Category Tree Select Box --- */
.k2CategorySelectBlock form select {
	width:auto;
}
/* --- Tag Cloud --- */
.k2TagCloudBlock {
	padding:8px 0;
	font-size: 15px;
}
.k2TagCloudBlock a {
	float:left;
	display:block;
	margin: 0;
	padding: 1px 5px;
	text-decoration: none;
}
.k2TagCloudBlock a:hover {
}
.k2TagCloudBlock a.small-tag {
	font-weight: normal;
}
.k2TagCloudBlock a.medium-tag {
	font-weight:bold;
}
.k2TagCloudBlock a.big-tag {
	font-weight: bold;
}
/* --- Google Search --- */
#k2Container .gsc-branding-text {
	text-align:right;
}
#k2Container .gsc-control {
	width:100%;
}
#k2Container .gs-visibleUrl {
	display:none;
}
/* --- Modules: mod_k2_users ---*/
a.ubUserFeedIcon, a.ubUserFeedIcon:hover {
	display:inline-block;
	margin:0 2px 0 0;
	padding:0;
	width:16px;
	height:16px;
	background:url(../images/fugue/feed.png) no-repeat 50% 50%;
}
a.ubUserFeedIcon span, a.ubUserFeedIcon:hover span {
	display:none;
}
a.ubUserURL, a.ubUserURL:hover {
	display:inline-block;
	margin:0 2px 0 0;
	padding:0;
	width:16px;
	height:16px;
	background:url(../images/fugue/globe.png) no-repeat 50% 50%;
}
a.ubUserURL span, a.ubUserURL:hover span {
	display:none;
}
span.ubUserEmail {
	display:inline-block;
	margin:0 2px 0 0;
	padding:0;
	width:16px;
	height:16px;
	background:url(../images/fugue/mail.png) no-repeat 50% 50%;
	overflow:hidden;
}
span.ubUserEmail a {
	display:inline-block;
	margin:0;
	padding:0;
	width:16px;
	height:16px;
	text-indent:-9999px;
}
.k2UsersBlock ul li h3 {
	clear:both;
	margin:8px 0 0 0;
	padding:0;
}
.catCounter {
	color: #888;
	font-size: 12px;
	font-weight: normal;
}
/* Other fixes */
.subCategoryContainer, .latestItemsContainer {
	float: left;
}
.latestItemsContainerWrap {
	padding: 0 30px 0 0;
}
.catItemLinks {
 overflow: hidden;
}
.catItemReadMore {
	margin-bottom: 10px;
}
.genericView .catItemView {
	margin-bottom: 20px;
}
/* Fix for the joomla.css rules */
#k2Container .spshare {
 overflow:hidden;
  background: url(../images/default/border-v.png) repeat-x scroll left bottom ;
   padding-bottom: 10px;
 }
 /*tag + user*/
.userItemView,
.tagItemView {
	padding: 10px;
	border-bottom: 1px dashed #dadada;
}
.tagItemImageBlock {
	float: left;
}
.userItemImageBlock .userItemImage,
.tagItemImageBlock .tagItemImage {
	margin-right: 20px;
  }
.userItemDateCreated,
.tagItemDateCreated,
.tagItemCategory {
    margin-right: 15px;
	font-style: italic;
	font-size:11px;
}
.userItemTitle,
.tagItemTitle {
	font: 24px "Arial";
	margin: 0;
	padding-bottom: 5px;
}
div.userBlock img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #dadada;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 1px;
}