@charset "utf-8";
/* CSS Document */
/* CSS Document */
@media only screen and (max-width: 939px) {
img {
	max-width:100%
}
#page-container-inner .leo-container{
	margin: 0 10px;
}
.moduletable_pro img,
#leo-slideshow .lof-slideshow-black .lof-main-wapper{
width:100% !important;
}
#leo-slideshow .lof-slideshow-black {
width:101% !important;
}
#leo-showcase-bottom1 .lof-sliding, 
#leo-showcase-bottom1 .lof-sliding .lof-main-wapper,
#leo-showcase-bottom1 .lof-sliding .lof-main-wapper .lof-main-item,
#leo-showcase-top .lof-sliding .lof-main-wapper, 
#leo-showcase-top .lof-vm-sliding, 
#leo-showcase-top .lof-vm-sliding .lof-main-wapper,
#leo-showcase-top .lof-vm-sliding .lof-main-wapper .lof-main-item,
#leo-showcase-top .lof-sliding .lof-main-wapper {
width: 97%!important;
}
#leo-showcase-bottom1 .lof-sliding .lof-image{
width: 95%!important;
}

.main-image img.product-image, .featured-view .spacer img, .latest-view .spacer img, .topten-view .spacer img  {
width:99%;}

.k2ItemsBlock ul li a.moduleItemTitle, div.lof-k2categorybox a, div.lof-k2categorybox h4, #leo-showcase-top .lof-sliding .lof-inner .lof-title {
 font-size: 13px!important;
}
.tagItemImageBlock span.tagItemImage img, .userItemImageBlock span.userItemImage img, span.itemImage img, span.itemImage img, span.catItemImage img, .subCategory a.subCategoryImage img {
 width: 98%!important;
}
}

@media only screen and (min-width: 767px) and (max-width: 939px) {
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description {
position: absolute !important;
left: 11%;
}

#leo-showcase-top .lof-vm-sliding .lof-main-wapper{
height: 200px!important;
}
}

@media only screen and (max-width: 767px) {
#leo-left , #leo-right,#leo-content{
  width: 100%!important;
 }
#leo-showcase-top .lof-vm-sliding .lof-image {
 float: none;
 }
}

 @media only screen and (min-width: 600px) and (max-width: 767px) {
#leo-userbottom2 .leo-usercol { width: 33% !important;
}
#leo-userbottom2 .leo-box-right {
width: 100% !important;
  margin-left: 0;
}
#leo-userbottom2 .leo-box-center .moduletable_listmenu .leomodule {
 margin-left: 0;
}
#page-container-inner .leo-container{
margin: 0 10px;}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description {
position: absolute !important;
left: 30%;
}
#leo-search,
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price{
display: none;}

#leo-showcase-top .lof-vm-sliding .lof-main-wapper{
height: 300px!important;
}

}
@media only screen and (max-width: 600px) {

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
 font-size: 99%;
}
 #leo-mainmenu #leo-responsivemenu {
 display: block !important;
 padding: 0 20px;
}
#leo-mainmenu .mainmenu {
 display: none !important;
}
#comboxrpmenu{
	width:60%;
	margin: 10px 0 !important;
}
 
#leo-left , #leo-right,#leo-content{
  width: 100%!important;
 }
 /**/

.billto-shipto .width50{
	width:100%;
	margin: 10px 0;
}
table.cart-summary tr th {
 display: none;
}
table.cart-summary tr td:before{
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    width: 50%;
	 font-size: 120%;
}
table.cart-summary tr {
 background: #fafafa;
  margin-bottom: 15px;
  display: block;
 }
table.cart-summary tr td {
	text-align:right;
	display: block;
	min-height: 20px;
	border-left: none;
	background: none;
}
.cart-view p.width30 {
	width:100%!important;
}
textarea.customer-comment {
	width: 100%;
}
table.shopperInformation td, table.generalUserInfo td, table.user-details td {
	width: 100%!important;
	display: inline-block;
}
table.cart-summary tr.info{
 border: 1px solid #ddd;
}

.moduletable_pro .spacer a img {
	margin-right:0;
	width:90%!important;
}
#leo-toppos-right {
	display: none;
}
.moduletable_pro .width25{
width:50%!important;
}

}
 @media only screen and (min-width: 480px) and (max-width: 600px) {

#leo-userbottom2 .leo-usercol { width: 33% !important;
}
#leo-userbottom2 .leo-box-right {
width: 100% !important;
  margin-left: 0;
}
#leo-userbottom2 .leo-box-center .moduletable_listmenu .leomodule {
 margin-left: 0;
}
#page-container-inner .leo-container{
margin: 0 10px;}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description {
 left: 45%;
    padding-left: 0;
    position: absolute !important;
    width: 50%;
}
#leo-showcase-bottom1,
#leo-search,
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price{
display: none;
}
#leo-showcase-top .lof-vm-sliding .lof-main-wapper{
height: 290px !important;
    margin: 0 20px;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description .lof-title a{
 font-size: 34px;}

}
@media only screen and (max-width: 480px) {
#leo-logo {
 clear: both;
 display: block;
 width: 100%;
}
 #leo-logo a {
    margin: 0 auto;
}
.itemList .itemContainer {
 width: 100%!important;}
 .itemRelated, .itemAuthorLatest {
width:100%!important;
}

.itemRelated h3, .itemAuthorLatest h3 {
    font: 18px/24px 'Arial';
}
.itemCommentsForm > h3 {
    font-size: 24px;
    line-height: 24px;
}
.leo-comment-right,
.leo-comment-left {
	width: 98%!important;
}

#sbox-window.shadow {
    left: 2% !important;
    width: 90% !important;
	height: 55%!important;
}
#comboxrpmenu {
    width: 75%;
}
.itemIntroText {
font-size: 100%;
}
}

 @media only screen and (min-width: 320px) and (max-width: 480px) {
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description {
 left: 45%;
    padding: 20px 0 0;
    position: absolute !important;
    width: 50%;
}
#leo-userbottom2,
#leo-showcase-bottom1,
#leo-search,
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price{
display: none;
}
#leo-showcase-top .lof-vm-sliding .lof-main-wapper{
height: 290px !important;
    margin: 0 20px;
}
.width25 {
width:50%!important;
}
#leo-showcase-top .lof-vm-sliding .lof-inner .lof-title {
 font-size: 16px;
  height: auto;
}
#leo-showcase-top .lof-vm-sliding .lofaddcart-nav span.addtocart-button input.addtocart-button {
    font-size: 11px;
    padding: 0 3px 0 1px;
}
#leo-showcase-top .lof-vm-sliding .lof-price {
    font-size: 18px;
    line-height: 18px;
}
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-description .lof-title a{
 font-size: 28px;}

#leo-copyright p {
font-size: 9px;
}
}
@media only screen and (max-width: 320px) {
#leo-left , #leo-right,
#leo-showcase-top,
#leo-slideshow,
#leo-userbottom2,
#leo-showcase-bottom1,
#leo-search,
.moduletable_slidershow .lof-slideshow-black .lof-main-wapper .lof-main-item .lof-price{
display: none;}
#leo-showcase-top .lof-vm-sliding .lof-image {
 float: none;}
#leo-showcase-top .lof-vm-sliding .lof-main-wapper{
height: 290px !important;
    margin: 0 20px;
}
.width25 {
width:100%!important;
}
#leo-showcase-top .lof-vm-sliding .lof-inner .lof-title {
 font-size: 16px;
  height: auto;
}
#leo-showcase-top .lof-vm-sliding .lofaddcart-nav span.addtocart-button input.addtocart-button {
    font-size: 11px;
    padding: 0 3px 0 1px;
}
#leo-showcase-top .lof-vm-sliding .lof-price {
    font-size: 18px;
    line-height: 18px;
}

.componentheading, .newsfeed-category > h2, .blog > h1, .blog > h2, .item-page > h2, .contact h1, .categories-list h1, .category-list h1, .blog-featured h1, .contact-category h1, .login h2, .remind h1, .reset h1, .weblink-category h2 {
 font-size:15px;}


#leo-copyright p {
font-size: 9px;
}
#comboxrpmenu {
    width: 100%;
}
.moduletable_pro .width25 {
    width: 100% !important;
}

}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 200px) and (max-width: 320px) {

}
@media only screen and (max-width : 200px) {

}
