/*------------------------------------------------------------------------
 # Leo Template Framework - 
 # ------------------------------------------------------------------------
 # author    LeoTheme
 # copyright Copyright (C) 2010 leotheme.com. All Rights Reserved.
 # @license - http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 # Websites: http://www.leotheme.com
 # Technical Support:  Forum - http://www.leotheme.com/forum.html
-------------------------------------------------------------------------*/

html, body, fieldset {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Arial";
}
body.fs1 {
	font-size: 10px;
	line-height: 16px;
}
body.fs2 {
	font-size: 11px;
	line-height: 17px;
}
body.fs3 {
	font-size: 12px;
	line-height: 20px;
	background: #fff;
}
body.fs4 {
	font-size: 13px;
	line-height: 19px;
}
body.fs5 {
	font-size: 14px;
	line-height: 20px;
}
body.fs6 {
	font-size: 15px;
	line-height: 21px;
}
.wrap {
	clear: both;
	width: 100%;
}
a {
	outline: none;
	color: #515151;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color:#f278c7;
}
/*  */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}
body {
	line-height: 1;
	font-size:12px;
	color: #666;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
}
ul {
	list-style: none;
}
img {
	max-width:100%
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
/* PAGE AND CONTAINER STYLE --------*/

#page-container-inner {
	width:100%;
}
.leo-container {
	margin: 0 auto;
}
/**
 * TOP POST STYLE
 */
#leo-blockheader {
	background: url(../images/default/bg-header.png) repeat-x left top scroll;
}
#leo-blockheader .leo-container-inner {
	position: relative;
	display: inline-block;
	width: 100%;
	z-index:10;
}
#leo-toppos, #leo-usertop1, #leo-usertop2, #leo-userbottom, #leo-userbottom1, #leo-userbottom2, #leo-userwrap7 {
	margin: 0;
	width: 100%;
	clear: both;
}
#leo-showcase-bottom-inner, #leo-slideshow-inner, #leo-usertop1-inner, #leo-mainwrap-inner, #leo-userbottom-inner {
	padding: 20px 8px 0;
	display: block;
	overflow: hidden;
}
#leo-usertop1-inner {
	padding-left:10px;
	padding-right: 10px;
}
#leo-toppos-inner-inner, #leo-usertop1-inner-inner, #leo-usertop2-inner-inner, #leo-breadcrumbs-top-inner-inner, #leo-breadcrumbs-bottom-inner-inner, #leo-userbottom-inner-inner, #leo-userbottom1-inner-inner, #leo-userbottom2-inner-inner {
	padding: 0;
}
#leo-toppos {
	background:#e6e6e8;
	display: inline-block;
}
#leo-toppos.bg_top0 {
	background-image: url(../images/bgtop/bg_top0.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos.bg_top1 {
	background-image: url(../images/bgtop/bg_top1.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos.bg_top2 {
	background-image: url(../images/bgtop/bg_top2.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos.bg_top3 {
	background-image: url(../images/bgtop/bg_top3.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos.bg_top4 {
	background-image: url(../images/bgtop/bg_top4.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos.bg_top5 {
	background-image: url(../images/bgtop/bg_top5.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos.bg_top6 {
	background-image: url(../images/bgtop/bg_top6.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos.bg_top7 {
	background-image: url(../images/bgtop/bg_top7.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos.bg_top8 {
	background-image: url(../images/bgtop/bg_top8.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-toppos-inner {
	padding: 0;
}
#leo-usertop1-inner {
}
#leo-userbottom1-inner {
	padding: 0;
	overflow: hidden;
}
/* BREADCRUMBS--------*/
#leo-breadcrumbs-bottom, #leo-breadcrumbs-top {
}
#leo-breadcrumbs-bottom .leo-container, #leo-breadcrumbs-top .leo-container {
}
#leo-breadcrumbs-bottom .moduletable, #leo-breadcrumbs-top .moduletable {	
	margin-bottom: 0;
}
/* COLSPAN -----------*/
#leo-colspan1 {
	border-bottom: 1px solid #eff0ef;
	padding: 0 5px;
	 margin: 0 -5px;
}
#leo-colspan1 .col-wrapper {
	border-bottom: 1px solid #DEDEDE;
    margin: 0 -5px 1px;
	padding: 0 5px;
}
#leo-colspan1 .col-wrapper .col-wrapper-inner{
	padding-bottom: 20px;
}

#leo-colspan1 .col-wrapper-inner {
 overflow: hidden;}
#leo-colspan1 .leo-module {
	margin-bottom: 0;
}
/* MODULETABLE --------*/

div.modulecontent {
	padding: 0 10px;
}

h3.moduletitle {
    color: #333333;
    font: 18px/35px 'Arial';
	margin: 0;
}
div.leo-module {
	position: relative;
	margin: 0 0 10px;
}
#leo-usertop1 .leo-box-inside {
	padding: 0 5px;
}
/* HEADER
--------------------------*/
#leo-blockheader .leo-container-inner {
	margin:0;
}
#leo-toppos .leo-module, #leo-blockheader .leo-module {
	margin: 0;
}
/* LOGO ---------*/
#leo-logo {
	float: left;
	width: 350px;
}
#leo-logo .leo-logo {
	margin: 23px 0;
	display: block;
}
#leo-logo .leo-logo a {
	display: block;
	width: 350px;
	height: 140px;
	background: url(../images/default/logo.png) no-repeat 0 0;
}
#leo-logo .leo-logo a span {
	display: none;
}
/* HEADER TOP-------*/
#leo-header-top {
	float: right;
	position: relative;
}
#leo-header-top-inner {
	margin: 10px 0;
	display: inline-block;
}
#leo-header-top .modulecontent {
	padding: 0;
}
/* TOP MENU ------*/
#leo-time {
}
#leo-topmenu {
	float: left;
}
#leo-topmenu ul.menu {
    display: inline-block;
    margin: 4px 0 7px;
    overflow: hidden;
}
#leo-topmenu ul.menu li {
    display: inline-block;
    float: left;
	margin: 0 15px;
}
#leo-topmenu ul.menu li a {
 color: #71767b;
 text-shadow: 0 1px 1px #fff;
 	font: bold 11px 'Arial';
}
#leo-topmenu ul.menu li a:hover {
 color: #F278C7;
 }
#leo-topmenu ul.menu li:first-child {
	margin-left: 0;
}
#leo-toppos-right {
	float: right;
}

#leo-toppos .modulecontent {
	padding: 0;
}
/* SEARCH --------*/
#leo-search {
	background: url(../images/default/bg-search.png) repeat-x left top scroll;
	border-radius: 0 5px 5px 0;
	height:47px;
	right:0;
	top:0;
	position: absolute;
	 z-index: 15px;
}
#leo-search div.search {
	background:none;
	width:100%;
	display:inline-block;
	border: 0px solid #3b2569;
}
#mod-search-searchword {
	background: url(../images/default/icon-search.png) no-repeat scroll 99% 50% #2977c8;
	border: 1px solid #5db6f6;
	box-shadow: 0 0 4px #256cb6 inset;
	color:#fff;
	float:right;
	height: 25px;
	font-size:12px ;
	border-radius: 0;
	margin: 8px 0;
	border-radius: 5px;
	text-transform: none;
	padding-left:10px;
}
#leo-search .button {
	float:right;
}
/* blockheader1 */
#leo-blockheader1 {
	position: relative;
  
}
/* MAINMENU
--------------------------*/
#leo-blockheader1 {
  
}
#leo-mainmenu .leo-container-inner {
	display: inline-block ;
	width:100%;
	margin-bottom:10px;
	position: relative;
}
#leo-responsivemenu,
#leo-mainmenu .mainmenu {
	background: #434345;
	border-radius: 5px 5px;
	height:47px;
}
#leo-responsivemenu {
	display:none;
}
/* SLIDESHOW
--------------------------*/
#leo-slideshow {

}

/* showcase top
--------------------------*/
#leo-showcase-top .moduletable {
	 background: #fbfbfb;
	 border: 1px solid #cacaca;
	 border-radius: 7px;
}
#leo-showcase-top .moduletable .leomodule{
	 border: 1px solid #fff;
	 border-radius: 8px;
}
/*usertop2*/
#leo-usertop2 .leo-container-inner{
	
}
#leo-usertop2 .modulecontent {
	padding: 0;
}
/*showcase-bottom1*/
#leo-showcase-bottom1 {
}
#leo-showcase-bottom1 .leo-container {
}
#leo-showcase-bottom1 .moduletable {
	background: #fff;
	border: 1px solid #cacaca;
	border-radius: 5px;
}

/*
 * SPORTLIHT 
 */
 
.leo-usercol {
	float: left;
}
.leo-box-inside {
	padding: 0 10px;
}
#leo-mainwrap {
	width:100%;
	display:inline-block;
}
#leo-mainwrap-inner {
	display:block;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}
div.page-inset {
	width:100%;
	display: inline-block;
}
#leo-mainwrap .leo-container #leo-mainwrap {
}
/*
 * WIDTH, DIRECTION ALIGNMENT FOR ALL COLUMNS
 */
 #leo-mainwrap .leo-container-inner {
 	padding: 0;
}
#leo-mainwrap, #leo-mainwrap-left, #leo-mainwrap-right, #leo-mainwrap-full {
	width: 100%;
}
/* Create a default width for three 3 main column */
#leo-left {
	float: left;
}
#leo-content {
	float: left;
}
#leo-right {
	float: right;
}
#leo-mainwrap-left #leo-content {
	width: 75%;
}
#leo-mainwrap-right #leo-content {
	width:75%
}
#leo-mainwrap-full #leo-content {
	width: 100%;
}
#leo-left-inner{
	margin: 0 10px 0 0}
 #leo-right-inner{
 	margin: 0 0 0 10px}
 #leo-content-inner {
	margin: 0 0 10px;
}
#leo-usertop1 .leo-container-inner, #leo-usertop2 .leo-container-inner,
#leo-showcase-bottom1 .leo-container-inner, #leo-showcase-bottom2 .leo-container-inner {
	overflow: hidden;
}
/* Left Column */
#leo-left {
}
.leo-layout-crl #leo-content, .leo-layout-lrc #leo-content {
	margin: 0;
}

.leo-layout-crl #leo-left {
	float: right;
}
.leo-layout-crl #leo-content {
	float: left;
}
.leo-layout-crl #leo-right {
	float: right;
}
/* Right Column  */
 
.leo-layout-lrc #leo-right {
	float: left;
}
.leo-layout-lrc #leo-content {
	float: right;
}
/* Right Column  */
.leo-layout-rcl #leo-right {
	float: left;
}
.leo-layout-rcl #leo-left {
	float: right;
}
.leo-layout-rcl #leo-content {
	float: right;
}

/*module in left and right*/
#leo-right .leo-module,
#leo-left .leo-module {
	background: #fff; 
	border-radius: 5px;
	border: 1px solid #cacaca;
}
#leo-right .leomodule,
#leo-left .leomodule {
	border: 1px solid #f4f4f4;
	border-radius: 6px;
}
#leo-right h3.moduletitle,
#leo-left h3.moduletitle,
#leo-right h3.moduletitle span,
#leo-left h3.moduletitle span{
	display:block;
}

#leo-right h3.moduletitle,
#leo-left h3.moduletitle {
 	background: url(../images/default/bg-h4.png) repeat-x left top scroll;
	border-radius: 4px 4px 0 0;
	 border-bottom: 3px solid rgba(0, 0, 0, 0.15);
	  margin: -2px;
	
}
#leo-right h3.moduletitle span,
#leo-left h3.moduletitle span {
	background: #434345;
	color: #fff;
	font-size: 20px;
	line-height: 38px;
	text-transform: none;
	font-weight: normal;
	border-radius: 4px 4px 0 0 ;
	padding-left: 15px;
}
/*Main content*/

#leo-maincontent-inner {
	background: #fff;
	border: 1px solid #cacaca;
	border-radius:5px;
	padding: 10px;
}
/*leo-colspan2*/

#leo-colspan2 .leo-container-inner {
    border-top: 1px solid #EFF0EF;
	margin-top: 1px;
	display: inline-block;
	width:99%;
}
#leo-colspan2 .leo-box-center,
#leo-colspan2 .leo-box-left {
	background: url(../images/default/shape-pro.png) repeat-y right top scroll;
}
#leo-blockbottom {
	
}
#leo-blockbottom.bg_bottom0 {
	background-image: url(../images/bgbottom/bg_bottom0.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-blockbottom.bg_bottom1 {
	background-image: url(../images/bgbottom/bg_bottom1.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-blockbottom.bg_bottom2 {
	background-image: url(../images/bgbottom/bg_bottom2.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-blockbottom.bg_bottom3 {
	background-image: url(../images/bgbottom/bg_bottom3.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-blockbottom.bg_bottom4 {
	background-image: url(../images/bgbottom/bg_bottom4.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-blockbottom.bg_bottom5 {
	background-image: url(../images/bgbottom/bg_bottom5.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-blockbottom.bg_bottom6 {
	background-image: url(../images/bgbottom/bg_bottom6.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-blockbottom.bg_bottom7 {
	background-image: url(../images/bgbottom/bg_bottom7.png);
	background-position: left top;
	background-repeat: repeat;
}
#leo-blockbottom.bg_bottom8 {
	background-image: url(../images/bgbottom/bg_bottom8.png);
	background-position: left top;
	background-repeat: repeat;
}
/* leo-userbottom1 */
 #leo-userbottom1 {
	background: url(../images/default/bg-footer.png) repeat-x left top scroll;
}
#leo-userbottom1 .moduletable, #leo-userbottom1 .moduletable_menu {
	margin: 15px 0;
}
#leo-userbottom1 .leo-usercol .leo-box-inside {
	background: url(../images/default/border-h.png) repeat-y left top scroll;
	padding: 0 30px;
}
#leo-userbottom1 .leo-usercol:first-child .leo-box-inside {
	background: none;
}
#leo-userbottom1 .moduletable h3, #leo-userbottom1 .moduletable_menu h3 {
	font: normal 22px "Arial";
	text-transform: uppercase;
	color:#222
}
/* leo-userbottom2 */
#leo-userbottom2 .leo-container-inner {
overflow: hidden;
background: #fff;
border: 1px solid #cacaca;
border-radius:5px;
}
#leo-userbottom2 .leo-module h3.title{
	font-size: 18px;
	text-transform: none;
	color: #2570bb;
	line-height: 25px;
	margin: 0;
	font-weight: normal;
}
#leo-userbottom2 div.modulecontent {
	padding:0;
}
#leo-userbottom2 a:hover {
}

/* FOOTER
--------------------------*/
#leo-footer {
	width: 100%;
	display: inline-block;
	color:#656565;
}

#leo-copyright {
	float: left;
	width: 100%;
	line-height: 45px;
}
#leo-copyright p.logo-footer a {
	 background: url(../images/default/logo1.png) no-repeat scroll left top;
    display: block;
    height: 40px;
    text-indent: -999em;
    width: 133px;
	margin: 5px 0;
}
#leo-copyright p {
	margin: 0;
	text-shadow: 0 1px 0 #fff;
	 font-size:13px;
	
}
#leo-copyright a {
	color:#2570bb;
}
#leo-copyright a:hover {
	color:#f278c7;
}

/*category content*/
.items-row .item, .items-leading .item {
	border-bottom: 1px dotted #ddd;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.items-row .item h2, .items-leading .item h2 {
	margin: 5px 0;
	font-size: 18px;
	color: #515151;
}
.items-row .item h2 a, .items-leading .item h2 a {
	 font-weight: normal;
}
.componentheading, .newsfeed-category > h2,
.blog > h1, .blog > h2, .item-page > h2,.contact h1 ,.categories-list h1, .category-list h1,.blog-featured h1,.contact-category h1,.login h2, .remind h1, .reset h1, .weblink-category h2{
	background: #434345;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-family: 'Helveticaneue';
    font-size: 20px;
    font-weight: normal;
    margin: -11px -11px 0;
	height: 41px;
}
.componentheading >span,.newsfeed-category > h2 > span,
.blog > h1 > span, .blog > h2 > span, .item-page > h2 > span,.contact h1 > span ,.categories-list h > span1, .category-list h1 > span,.blog-featured h1 > span,.contact-category h1 > span,.login h2 > span, .remind h1 > span, .reset h1 > span, .weblink-category h2 > span {
 	background:#434345;
    border-radius: 5px 5px 0 0;
    display: block;
	 height: 38px;
}
.componentheading >span span,.newsfeed-category > h2 > span span,
.blog > h1 > span, .blog > h2 > span span, .item-page > h2 > span span,.contact h1 > span span,.categories-list h1 > span span, .category-list h1 > span span,.blog-featured h1 > span span,.contact-category h1 > span span,.login h2 > span span, .remind h1 > span span, .reset h1 > span span, .weblink-category h2 > span span
{
	background: url(../images/default/icon-h1.png) no-repeat scroll left 50% ;
    line-height: 41px;
    padding-left: 30px;}
/***/

body.pattern1 {
	background-image:url('../images/patterns/pattern1.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern2 {
	background-image:url('../images/patterns/pattern2.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern3 {
	background-image:url('../images/patterns/pattern3.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern4 {
	background-image:url('../images/patterns/pattern4.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern5 {
	background-image:url('../images/patterns/pattern5.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern6 {
	background-image:url('../images/patterns/pattern6.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern7 {
	background-image:url('../images/patterns/pattern7.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern8 {
	background-image:url('../images/patterns/pattern8.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern9 {
	background-image:url('../images/patterns/pattern9.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern10 {
	background-image:url('../images/patterns/pattern10.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern11 {
	background-image:url('../images/patterns/pattern11.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern12 {
	background-image:url('../images/patterns/pattern12.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern13 {
	background-image:url('../images/patterns/pattern13.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern14 {
	background-image:url('../images/patterns/pattern14.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern15 {
	background-image:url('../images/patterns/pattern15.png');
	background-position: top left;
	background-repeat: repeat !important;
}
body.pattern16 {
	background-image:url('../images/patterns/pattern15.png');
	background-position: top left;
	background-repeat: repeat !important;
}

.team-player-list {
	display: inline-block;
	float: left;
}

.onepage-trading .team-player-list {
	width: 52%;
	float: left;
	margin-left: 5%;
}

.team-player-list table.playerlist {
	width: 45%;
}

.team-player-list table.playerlist:first-child {
	margin-right: 5%;
}

.onepage-trading .team-specialty {
	width: 23%;
	float: left;
}

.team-specialty table.playerlist {
	width: 100%;
}

#listcards .formAction {
	display: inline-block;
	padding-left: 1%;
	float: left;
	width: 12%;
}

.onepage-trading table.playerlist{
	border: 1px solid #eee;
	float: left;
}
.onepage-trading table.playerlist thead
{
	background:#CCC;margin-left:50px;
	font-weight: bold;
}
.onepage-trading table.playerlist td{
	padding: 4px;
	text-align: center;
	border: 1px solid #eee;
}
.onepage-trading table.playerlist tr td:last-child{
	text-align: -webkit-center;
}
.onepage-trading table.playerlist .stt{
	padding: 3px 5px;
	background: #052364;
	color: white;
}
.onepage-trading .catProductTitle{
	padding : 0px;
}
.onepage-trading .catProductTitle a{
	font-size: 15px;
}
.onepage-trading table.playerlist tr:odd{
	background: #ccc;
}
.onepage-trading #category-slider{
	margin-left: 40px;
}
.onepage-trading #category-slider .category-slider-image img{
	height: 50px;
	opacity:0.5;
}
.onepage-trading #category-slider .category-slider-image img.active{
	opacity:1;
	height: 70px;
	margin-top: -10px;
}
.tradingcart{
	margin-left: 20px;
}

table.playerlist .td-last-child div{
	height: 40px;
	line-height: 40px;
	margin-left: 20%;
}
.trading-fee,
.trading-fee > .prices{
	display: none;
}

.moduletable_menu .vm_cart_products .product_row .prices {
	padding: 0px;
}