.moduletable_pro .spacer {
    padding: 10px 18% !important;
}

.moduletable_pro .spacer h3 {
    width: 150px;
}

.moduletable_pro .catProductPrice {
    padding-top: 5px;
    font-size: 18px !important;
    width: 55px;
}

.addtocart-button {
    color: #2570BB;
}

.moduletable_pro div.modulecontent h3 a {
    font-size: 15px !important;
}

.moduletable_menu .modulecontent {
    padding:0px 5px;
    padding-bottom: 10px;
}

.row-first-right {
    background-color: #E1E1E1;
    color:black;
}

.moduletable_menu .category-number, .category-number{
    background-color: black;
    color: white;
    text-align: center;
}

.moduletable_menu table {
    border: 1px solid gainsboro;
    margin-top: 2px;
    width: 100%;
}

.moduletable_menu table div a {
    color: #2570BB;
}

table .menu-category-second {
    background-color: #f2f2f2;
}
table tr td div{
    float: left;
}

table .thumbnail-club img {
    height: 20px;
}

table .category-number {
    width: 20px;
}

table .div-club-name {
    float: left;
    margin-left: 2px;
}

.category-view table {
    width: 100%;
    border: 1px solid gainsboro;
}

.div-club-name span {
    color: #2570BB;
}

.category-view table .menu-category-second {
    background-color: #eeeeee;
}
.category-view table tr td div{
    float: left;
}

.category-view table .thumbnail-club img {
    width: 30px;
}

.category-view table .category-number {
    width: 20px;
}

.category-view table .div-club-name {
    width: 100%;
    float: left;
}

.category-view table tr td:first-child {
    width: 5%;
}

.category-view table .action {
    text-align: center;
}

.category-view table .action a{
    text-decoration: underline;
}


.contact #jform_contact_message {
    width: 85% !important;
}

.jform_contact_first {
    width: 100% !important;
}

.panel .contact-form textarea {
    width: 90%;
}

.panel .contact-form .div-button {
    float: right;
    margin-right: 8%;
    background-color: red;
}

.panel .contact-form .div-button .button{
    background-color: red;
}

.div-categories {
    float: left;
    margin-left: 2%;
}

.div-list-category .div-categories span {
    margin-left: 15px;
    float: left;
    font-weight: 900;
    color: black;
}

.div-list-category .div-categories input {
    float: left;
}

.div-list-category {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.panel h3#display-form a span {
    color: orange;
    cursor: default;
}

#footy_special_cart .spacer .catProductTitle{
    text-align: center;
}

#footy_special_cart .spacer .catProductTitle a{
    color: black !important;
    font-size: 15px !important;
}

#footy_special_cart .spacer .catProductPrice {
    width: 100%;
    text-align: center;
}

#footy_special_cart .spacer,
.page-categorychecklist .spacer{
    padding: 10px 18% !important;
}

#footy_special_cart .cat-cart {
    float: left;
    width: 100%;
    margin-left: 10%;
}

#footy_special_cart div.pagination {
    /* padding-top: 20px; */
    /* border-top: 1px dotted #ccc; */
    padding-top: 0px;
    border-top: none;
}

.mod_events_monthyear {
    width: 75% !important;
    background-color: #0f0bac !important;
}

.mod_events_table {
    width: 75% !important;
}
.spacer .div-product {
    width: 100%;
    min-height: 150px;
}

.title-group-register {
    color: orange;
    font-size: 17px;
    font-weight: 800;
    float: left;
    width: 100%;
}

.center-group {
    border: 1px solid gainsboro;
    margin: 10px 0px;
    float: left;
    width: 90%;
}

.billto-shipto {
    padding: 0px !important;
    border: none;
}

.details.step-cart {
    width: 100%;
    text-align: left;
    padding: 5px 5px !important;
    color: #777 !important;
    margin-bottom: 10px;
}

.details.step-cart span{
    color: #777 !important;
    font-size: 100%;
}


.div-register-custom {
    width: 100%;
}

.center-group table.user-details {
    margin: 10px 0px 10px 10px;
}
.div-register-custom .buttonBar-In {
    width: 72%;
    float: left;
}

.div-register-custom .buttonBar-right .button{
    background-color: orange;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    text-transform: none;
}

.login #div-login-register {
    width: 75%;
}

.login #div-infor-register {
    width: 30%;
    border: 1px solid gainsboro;
}

.login #div-infor-login {
    width: 30%;
    border: 1px solid gainsboro;
}
#userForm .vm-button-correct,
#userForm button.default,
#userForm .control-buttons
{
    float:left;
    margin: 10px 10px;
    text-align: left !important;
    text-transform: none;
}
#userForm .userfields_info{
    float:left;
    clear:both;
    width:100%;
}
#userForm span.clear{
    width:100%;
    float:left;
    clear: both;
}

.cart-view .width90, .width90.floatleft, fieldset.width90 {
    margin-left: 5%;
}

.page-login {
    width: 31%;
}

.login .page-login {
    margin-right: 2%;
}

.login .page-login.floatleft.first {
    margin-left: 1%;
}

.page-login .div-register-top {
    height: auto;
    float: left;
}

.page-login .div-register-top span.floatleft{
    width: 100%;
    height: 110px;
}

.page-login .div-register-bottom {
    width: 100%;
    float: left;
    margin-top: 15%;
}

.page-login .div-register-bottom span.floatleft{
    width: 100%;
    float: left;
    text-align: right;
    color: orange;
    font-size: 17px;
    font-weight: 800;
}



#leo-maincontent-inner {
    float: left;
    width: 98%;
}

.homepage #leo-maincontent-inner {
    width: 98%;
}

.leo-container-inner #leo-container-inner {
    clear:left;
}

.page-login.floatleft h1 {
    color: orange;
    font-size: 17px;
    font-weight: 800;
}

.page-login.floatleft .page-login-bottom {
    border: 1px solid gainsboro;
    width: 90%;
    float: left;
    padding: 10px;
    height: 230px;
    margin-bottom: 20px;
}

.page-login.floatleft .page-login-bottom .title-login-top.form-register {
    color:#000000;
    font-weight: 600;
    margin: 5px 0px;
}

.page-login.floatleft .page-login-bottom .title-login-top{
    font-size: 14px;
}

#leo-maincontent-inner .paypal-redirect,
span.addtocart-button.notify-button,
/*.addtocart-bar span.addtocart-button,*/
.page-login.floatleft .page-login-bottom .page-login-button,
#facebox .popup > div > div > a,
#com-form-login-remember input.default,
.page-login-bottom .button,
.buttonBar-right button.default, #userForm button.default,
.moduletable_menu .show_cart a,
.contact-form #contact-form .button,
.addtocart-bar span.addtocart-button input.addtocart-button,
table.playerlist .button-view{
    padding: 0px;
    background: none;
    float: left;
    color: #fff;
    font: normal 15px 'Helveticaneue';
    text-align: center;
    text-transform: none;
    cursor: pointer;
    border: none;
    margin-top:5px;
    padding: 0px 14px;
    background-color: orange;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    text-transform: none;
    height: 30px;
    line-height: 30px;
}
#leo-maincontent-inner .paypal-redirect{
    float:none;
}

span.addtocart-button.notify-button{
    width: auto;
}
.browse-view .row .product .spacer span.addtocart-button.notify-button{
    color: #FFFFFF;
    font-size: 15px;
    padding: 0px 14px;
}
.addtocart-bar span.addtocart-button.notify-button:hover{
    background: orange;
}
.stockLavel{
    display: none;
}
.page-login-bottom .button {
    /*padding-top: 1px;*/
    /*height: 28px;*/
}

.buttonBar-right button.default {
    margin-right: 1%;
    margin: 0px 10px;
    padding-top: 0px;
    width: 92px;
}
.total_products{
    float:left;
}
#facebox .popup > div > div > a {
;
}

#facebox .popup > div > div > a:hover {
    background-color: orange;
}

.page-login-bottom form a {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    text-decoration: underline;
}

.page-login-bottom .login-fields label {
    width: 100%;
}

.contact-form #contact-form .button {
    float: right;
    margin-right: 8%;
}

.menu-my-account {
    display: none;
}

.logined .menu-my-account{
    display: block;
}

.logined .register, .logined .guest {
    display: none;
}

#div-authenticate {
    float: right;
}

#div-authenticate .login-greeting, #div-authenticate .logout-button {
    float: left;
    padding-left: 5px;
}

#div-authenticate #login-form {
    margin: 0px;
}

#div-authenticate .logout-button input.button {
    background: none;
    color: orange;
    padding: 0px;
    height: 20px;
    text-transform: none;
}

div.leo-module {
    margin: 0 0 10px !important;
}

.div-register-custom .buttonBar-right {
    width: 25%;
    float: left;
}

.div-register-custom .div-agree{
    float: left;
    padding-left: 43%;
    height: 30px;
    line-height: 30px;
}

.div-agree.task {
    border: 1px solid gainsboro;
    margin-top: 10px;
    float: left;
    width: 87%;
    padding: 10px 10px 10px 15px;
}

.control-buttons .button,.buttonBar-right .button, .reset .reset-button .validate,
.reset .reset-button .button {
    background-color: orange;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    margin: 0px 10px;
    text-transform: none;
    font: normal 15px 'Helveticaneue';
    padding: 0px 15px;
    /*padding-top: 3px;*/
    height: 30px;
    line-height: 30px;
}

.control-buttons button{
    background: none;
    margin-top: 0px !important;
    color: #fff;
    background-color: orange;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
}

.buttonBar-right {
    text-align: left;
}

.width90.floatleft .buttonBar-right {
    float: right;
    width: 360px;
}

#shopper-infor-hidden {
    visibility: hidden;
    height: 0px;
    padding: 0px;
}

#ui-tabs ul#tabs {
    display: none;
}

a.privacy-policy:hover {
    color: #000000;
}

a.privacy-policy{
    text-decoration: underline;
    font-weight: 600;
    color: #000000;
}

.componentheading {
    height:0px !important;
    color: orange !important;
    margin: 0px !important;
}

.reset .center-group {
    width: 65%;
    padding-left: 20px;
}

.reset .reset-password-label {
    width: 25%;
    float: left;
}

.reset .reset-button {
    float: left;
    width: 100%;
}

.reset .group-button {
    width: 65%;
    border: 1px solid gainsboro;
    float: left;
    padding: 5px 10px;
}

.reset .reset-button .button {
    float: left;
}

.reset .reset-button .validate {
    float: right;
}

#category-slider {
    width: 100%;
    float: left;
    padding: 5px;
}

#category-slider .category-slider-image {
    float: left;
    margin-left: 5px;
}

#category-slider .category-slider-image img {
    height: 60px;
    float: left;
}

.category_slider {
    float: left;
    width: 100%;
}

.category_slider .leomodule {
    border: none !important;
}

#leo-header-top-inner,#leo-logo .leo-logo {
    margin: 0px !important;
}

.div-list-category .logo_category_parent {
    float: left;
}

.div-list-category .logo_category_parent img{
    height: 60px;
    float: left;
}

.list_category_child .div-categories {
    margin-top: 2%;
}

ul.ev_ul {
    margin-left:12%;
}

.mod_events_td_todaywithevents, .mod_events_td_daywithevents {
    background-color: greenyellow !important;
}

.mod_events_monthyear tbody tr:hover{
    background: none;
}

table.user-details {
    width: auto !important;
}

th.k2ProfileHeading h2{
    margin: 0.5em 0;
    padding: 0;
    font-size: 175%;
}

.profile .link-edit-profile {
    text-decoration: underline;
}

.mod_events_table a.mod_events_daylink:hover {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}

.moduletable_pro h3.moduletitle {
    margin:0px;
    height: 39px;
}

.moduletable_pro div.modulecontent {
    border: 1px solid #cacaca;
    border-top: none;
}

.moduletable_pro.module-event div.modulecontent {
    padding: 20px 0px;
}
.user-details label.name::after,
.user-details label.username::after,
.user-details label.password::after,
.user-details label.password2::after{
    content : '*';
}

.page-edit-information .user-details label.name::after,
.page-edit-information .user-details label.username::after,
.page-edit-information .user-details label.password::after,
.page-edit-information .user-details label.password2::after{
    content : '';
}


.hidden {
    display: none !important;
}

.login-cart {
    margin-bottom: 10px;
}

#page-trade table {
    width: 90%;
    margin: 5%;
}

table tr:hover {
     background-color: #E1E1E1;
}

#page-trade .trade-border-content {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #cacaca;
}

#page-trade .trade-border-content .trade-content{
    border: 1px solid #f4f4f4;
    border-radius: 6px;
}

#page-trade .trade-what {
    margin: 0 2%;
}

#page-trade .trade-content .image-team {
    height: 30px;
}

#page-trade .trade-header h1 {
    color: #000000;
    font-weight: 800;
    font-size: 18px;
}

#page-trade table {
    text-align: center;
}

#page-trade .row-first-right {
    font-weight: 700;
    font-size: 14px;
}

#page-trade #form-trade-summary .div-button {
    width: 100%;
    margin: 15px 0px;
}

#page-trade #form-trade-summary .div-button a{
    background: none;
    color: #000000;
    border: 1px solid #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px 35px;
    font-weight: bold;
    text-transform: uppercase;
}

#page-trade #form-trade-summary .div-button #button-trade{
    margin-left: 25%;
}

#page-trade #form-trade-summary .div-button #button-clear{
    margin-left: 32%;
}

#page-trade table .div-club-name {
    width: auto;
}

.tradingcart h3 {
    color: #000000;
    font-weight: 800;
}

.tradingcart table {
    border: 1px solid #eee;
    width: 100%;
}

.page-trading-cart .tradingcart:first-child {
    margin-right: 3%;
}

.tradingcart table td, .tradingcart table th {
    border-bottom: 1px solid #eee;
    border-left: none;
}

.tradingcart table a img {
    height: 70px;
}

.page-trading-cart .button-trading-card {
    width: 80%;
    float: left;
    margin-top: 30px;
    border: 1px solid #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.page-trading-cart .button-trading-card {
    margin-left: 10%;
}

.page-trading-cart .button-trading-card div {
    width: 33%;
    float: left;
}

.page-trading-cart .button-trading-card input,
.formAction button,
.formAction #link-trade, .cart-view .continue_link{
    float: left;
    color: #fff;
    font: normal 15px 'Helveticaneue';
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0px 14px;
    background-color: orange;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    text-transform: none;
    /*padding-top: 8px;*/
    height: 30px;
    line-height: 30px;
}

.page-trading-cart .button-trading-card #button-update input{
    margin-left: 2%;
}

.page-trading-cart .button-trading-card #button-continue input{
    margin-left: 20%;
}

.page-trading-cart .button-trading-card #button-checkout input{
    float: right;
}

.formAction .div-button-save {
    margin-right: 3%;
}

.formAction button{
    padding: 0px 30px;
}

.formAction .div-button-print {
    /*margin-left: 3%;*/
    width: 45%;
    float: left;
}

.formAction .div-button-save .button-save {
    float: right;
}

.formAction .div-button-save {
    width: 53%;
    float: left;
}

.formAction .show-trade {
    /*width: 40%;*/
    width: 45%;
}

.formAction #link-trade {
    margin-left: 10%;
    float: left;
    padding: 0px 30px;
}

.trade-content table .thumbnail-club img {
    height: 30px;
}

.trade-summary-title-for, .trade-summary-title-what {
    padding-left: 0px;
    padding-right: 0px;
}

.trade-summary-title-for {
    width: 90px ;
}

.trade-summary-title-for {
    width: 80px ;
}

.trade-cart-quantity input{
    width: 50px;
}

.checkbox-remove, .checkbox-remove input {
    width: 30px;
}

.tradingcart .title-image {
    padding-left: 4%;
}

.productdetails-view h1, .product-price > strong, span.PricesalesPrice {
    color: black;
}

.productdetails-view .addtocart-bar {
    float: left;
    margin: 10px 0 0;
    padding: 0;
    width: 44.9%;
    text-align: left;
}

.productdetails-view span.quantity-box {
    float: left;
}

.productdetails-view .addtocart-bar .addtocart-button {
    margin:0px;
    margin-left: 5px;
}

.addtocart-bar span.addtocart-button input.addtocart-button {
    color: white !important;
    text-shadow: none;
    /*padding: 2% 8px 0px 8px;*/
    /*margin-top:0px;*/
    margin-left: 10px;
}
.product.floatleft .addtocart-bar span.addtocart-button input.addtocart-button {
    margin-left: 0px;
}
.moduletable_menu .show_cart a {
    text-shadow: none;
}

.moduletable_menu .show_cart a:hover {
    color: #fff;
}

.moduletable_menu .show_cart {
    background: none;
}

.addtocart-bar span.addtocart-button input.addtocart-button:hover {
    background-color: orange;
}

.page-edit-information #userForm .control-buttons {
    margin-left: 35%;
}

.browse-view > h2 > span {
    background: none;
}

.browse-view > h2 {
    background: none;
    background-color: #434345;
}

#page-information h1 span,#page-myaccount h1 span{
    color: #F3AE35;
}
#page-information .information-content, #page-myaccount .information-content {
    border: 1px solid gainsboro;
    width: 60%;
    padding: 10px;
}

#leo-right .leo-module.moduletable.menu-information {
    background: none;
    background-color: #000000;
    color: white;
    border:none;
    width: 85%;
    float: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#leo-right .leo-module.moduletable.menu-information .leomodule {
    border:none;
}

.moduletable.menu-information div.modulecontent{
    padding: 0px;
}

.div-information-left h1{
    background-color: #F3AE35;
    margin: 0px;
    height: 41px;
    line-height: 41px;
    padding-left: 14%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-family: 'Helveticaneue';
    font-size: 20px;
    font-weight: normal;
}

.div-information-left ul {
    margin-left: 15%;
    padding-bottom: 20px;
}

.div-information-left ul li {
    font-weight: 100;
    border-bottom: 1px dotted #f5f5f5;
    width: 80%;
    padding: 3px 0px;
}
.div-information-left ul li a{
    color: #CCC;
    margin-left: 5%;
}

.div-information-left ul li a:hover{
    color: #f278c7;
}

#about-video{
    margin-left: 20%;
}

.vm-button-correct, .vm-button-correct:link,.reset-confirm button.validate, .reset-complete button.validate {
    background: none;
    color: #fff;
    font: normal 15px 'Helveticaneue';
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0px 14px;
    background-color: orange;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    text-transform: none;
    /*padding-top: 7px;*/
    height: 30px;
    line-height: 30px;
}

.cart-view h1{
    margin: 0.5em 0;
    padding: 0;
    font-size: 175%;
    color: #FFFFFF;
}

button.default:hover {
    background: none;
    color: #fff;
    background-color: orange;
}

#userForm .control-buttons button.default {
    border: none;
}

.cart-view .width50.floatleft {
    height: 40px;
}

.cart-view .width50.floatleft.right {
    line-height: 40px;
}

#leo-left .moduletable_menu h3.moduletitle > span {
    height: 38px;
    padding-left: 0px;
}

#leo-left .moduletable_menu h3.moduletitle > span span {
    background: url(../images/default/icon-h1.png) no-repeat left 50% scroll;
    line-height: 41px;
    padding-left: 30px;
}

#leo-right h3.moduletitle, #leo-left h3.moduletitle {
    border-bottom: 0px;
}

#leo-toppos-right,#leo-topmenu {
    height: 35px;
}

.leo-box-inside {
    line-height: 35px;
}

#leo-header-top-inner .custom h1 {
    margin-top: 0px;
}

#leo-right .leo-module.moduletable.menu-left-about {
    float: right;
    border: none;
}
#leo-right .leo-module.moduletable.menu-left-about h3{
    margin-left: 18%;
}

div#leo-content-bottombottom .leo-module.moduletable.video-about{
    margin-left: 10% !important;
    margin-top: 20px !important;
}

.item-page p {
    font-family: 'Helveticaneue' !important;
}

.contact h2,.div-register-custom h2, .title-page-checkout-detail {
    background: #434345;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-family: 'Helveticaneue';
    font-size: 20px;
    font-weight: normal;
    margin: -11px -11px 0;
    height: 41px;
}

.div-register-custom > h2,.title-page-checkout-detail.logined {
    margin-bottom: 10px;
}

.contact h2 .contact-name, .div-register-custom h2 > span, .title-page-checkout-detail > span {
    background: #434345;
    border-radius: 5px 5px 0 0;
    display: block;
    height: 38px;
}

.contact h2 .contact-name span, .div-register-custom h2 > span span, .title-page-checkout-detail > span > span {
    background: url(../images/default/icon-h1.png) no-repeat scroll left 50%;
    line-height: 41px;
    padding-left: 30px;
}

.title-page-checkout-detail > span > span a.continue_link {
    color: #ffffff;
    float: right;
    text-align: center;
    width: 20%;
}

.title-page-checkout-detail > span > span a.continue_link:hover {
    color: #f278c7;
}

.browse-view .formAction #div-message {
    width: 100%;
    text-align: center;
}

.browse-view .formAction #div-message a.message-trading{
    font-size: 120%;
    color: orange;
    font-weight: bold;
}

table.ordersList tr th {
    background-color: #F3AE35;
}

table.ordersList {
    border: 1px solid #eee;
}

table.ordersList tr td{
    border-bottom:0px;
}

.tradingcart.one-page-step-last {
    margin: 0px;
    margin-bottom: 3%;
}

.tradingcart.one-page-step-last table th, .tradingcart.one-page-step-last table td{
    border-left: 1px solid #eee;
}

table.cart-summary{
    border: 1px solid #e9e8e8;
}

table.cart-summary tr th {
    background-color: white;
    color: gray !important;
    border-right: 1px solid #e9e8e8;
}

#editcell table.adminlist, #newsletters_table {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #eee;
}

#editcell table.adminlist thead, #newsletters_table thead {
    background: #CCC;
    font-weight: bold;
}

#editcell table.adminlist a, #newsletters_table a {
    text-decoration: underline;
}

#editcell table.adminlist th, #newsletters_table th {
text-align: center;
}

#jevents_body .ev_table {
    width: 100%;
    border: 1px solid #eee;
    margin-top: 4%;
}

#jevents_body .ev_td_left {
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
}

#jevents_body .ev_td_right {
    border-top: 1px solid #eee;
}

#jevents_body .ev_td_left {
    background: none;
    text-align: center;
}

#jevents_body ul.ev_ul li.ev_td_li {
    margin-bottom: 2%;
}

span.PricesalesPrice {
    font-size: 16px;
}

#userForm button.default {
    line-height: 0px;
    width: 92px;
    text-align: center !important;
}

table.playerlist .button-view {
    margin-left: 5%;
    float: none;
    padding: 6px 15px;
}

#userForm .vm-button-correct,.buttonBar-right .button {
    padding: 0px 25px;
}

.moduletable_menu .vm_cart_products .product_row a:hover, .moduletable ul.vmmanufacturer li a:hover, .moduletable_menu ul li a:hover {
    background: none;
    color: #F278C7;
}

.width90.floatleft.div-payment-method {
    margin-bottom: 10px;
}

#system-message > dd > ul {
    border: none;
}

#system-message > .message > ul {
    background-color: white;
}

#system-message dd.message ul li {
border: 1px solid #cacaca;
    border-radius: 7px;
}
#system-message dd.error.message ul li {
    background: url(../images/notice-alert.png) no-repeat left center;
}

.page-login-bottom form.floatleft fieldset {
    padding: 0px;
}

#system-message > .error > ul {
    background-image: none;
}