@charset "UTF-8";

/**
 * @package		Joomla.Administrator
 * @subpackage	templates.bluestork
 * @copyright	Copyright (C) 2005 - 2014 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 *
 */

/* ------------------------- COLOR PALETTE FOR BLUE STORK

Dark blue color: 			#146295 		RGB: 20/98/149
Med blue color: 			#025A8D 		RGB: 2/90/141
Light blue color: 			#70ace4 		RGB: 112/172/228
Extra light blue color: 	#BED6FF 		RGB: 190/214/255
Orange color: 				#FC8F30 		RGB: 252/143/48
Light grey color:			#f7f7f7 		RGB: 247/247/247
Medium grey color:			#d7d7d7 		RGB: 215/215/215
Dark grey color:			#666666 		RGB: 102/102/102
Border grey color:			#CCCCCC 		RGB: 204/204/204

----------------------------------------------------------*/
html {
	overflow-y: scroll;
}

body {
	margin: 10px;
	padding: 0;
	background: #fff;
	padding-bottom: 1px;
	font-size: 68.8%; /* Set base to 11px */
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}

body#minwidth-body {
	height: 95%;
	min-width: 960px;
}

a,img {
	padding: 0;
	margin: 0;
}

img {
	border: 0 none;
}

.clr {
	clear: both;
	overflow: hidden;
	height: 0;
}

form {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding-bottom: 8px;
	color: #025A8D;
	font-size: 1.818em;
}

h3 {
	font-size: 1.182em;
}

h4 {
	font-size: 1.182em;
}

* :focus, a:active {
	outline: none;
}

a:link {
	color: #025A8D;
	text-decoration: none;
	outline: none;
}

a:visited {
	color: #025A8D;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
}

fieldset {
	margin-bottom: 10px;
	border: 1px #ccc solid;
	padding: 5px;
	text-align: left;
}

legend {
	color: #146295;
	font-size: 1.182em;
	font-weight: bold;
}

input, select {
	font-size: 0.909em;
	border: 1px solid silver;
	background: #fff;
}

textarea {
	font-size: 1.273em;
	border: 1px solid silver;
}

iframe {
	border: 0;
}

.invalid {
	color: red;
	font-weight: bold;
}

input.invalid {
	border: 1px solid red;
}

input.disabled {
	background-color: #F0F0F0;
}

input.button {
	cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
	background-color: #ffd;
}

.enabled,
.success {
	color: green;
	font-weight: bold;
}

.disabled,
p.error {
	color: red;
	font-weight: bold;
}

.protected {
	color: #999999;
}

p.warning {
	color: red;
	font-weight: bold;
	font-size: 1.091em;
}

p.nowarning {
	color: #333;
	font-weight: bold;
	font-size: 1.091em;
}

.allow,
span.writable {
	color: green;
}

.deny,
span.unwritable  {
	color: red;
}

.none 			{ color: #aaa; }
.hide 			{ display: none; }
.hidebtn 		{ border: 0; padding: 0;margin:0;width: 0;height: 0;}
.hidelabeltxt	{ text-indent: -9999em; }

.nowrap {
	white-space: nowrap;
}

/* -- OVERALL STYLES ----------------------------- */

/* Header */
#border-top.h_blue {
	background: url(../images/j_header_middle.png) repeat-x;
	height: 54px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

#border-top .title,
#border-top .title a {
	font-size: 1.364em;
	font-weight: bold;
	color: #fff;
	line-height: 44px;
	padding-left: 14px;
}

#border-top .logo {
	display: block;
	width: auto;
	float: right;
	padding: 7px 10px 0 0;
}

#header-box {
	border: 1px solid #ccc;
	background: #f0f0f0;
}

/* Footer */
#footer .copyright {
	margin: 10px;
	text-align: center;
	line-height: 160%;
}

p.footer-tip {
	margin-top: 15px;
}

/* Body */
#content-box {
	border: 1px solid #ccc;
	border-top: 0;
	float: left;
	width: 99.85%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 5px;
}

#element-box {
	margin-bottom: 11px;
}

#element-box,
#toolbar-box,
#submenu-box {
	padding: 10px 10px 0 10px;
}

#toolbar-box {
	background: #fbfbfb;
	margin-bottom: 10px;
}

#toolbar-box .m {
	background: #f4f4f4;
	min-height: 48px;
}

#submenu-box {
	margin-bottom: 10px;
}

#submenu-box .padding {
	padding: 0;
}

/* -- STATUS STYLES ----------------------------- */

#module-status {
	float: right;
}

#module-status > span {
	display: block;
	float: left;
	line-height: 16px;
	padding: 4px 10px 0 22px;
	margin-bottom: 5px;
}

#module-status .viewsite {
	background: url(../images/menu/icon-16-viewsite.png) 3px 4px no-repeat;
}

#module-status .preview {
	background: url(../images/menu/icon-16-media.png) 3px 3px no-repeat;
}

#module-status .unread-messages,
#module-status .no-unread-messages {
	background: url(../images/menu/icon-16-messages.png) 3px 3px no-repeat;
}

#module-status .unread-messages a {
	font-weight: bold;
}

#module-status .loggedin-users {
	background: url(../images/menu/icon-16-user.png) 3px 3px no-repeat;
}

#module-status .backloggedin-users {
	background: url(../images/menu/icon-16-back-user.png) 3px 3px no-repeat;
}

#module-status .multilanguage {
	background: url(../images/menu/icon-16-language.png) 3px 3px no-repeat;
}

#module-status .logout {
	background: url(../images/menu/icon-16-logout.png) 3px 3px no-repeat;
}

#module-unread-new span {
	color: red;
	text-decoration: none;
	font-weight: bold;
}

#module-unread span {
	color: black;
	text-decoration: none;
}

#module-unread img,
#module-unread-new img {
	border: 0;
}

span.stat-notice {
	font-weight: bold;
}

div.noparams-notice {
	text-align: center;
	padding: 5px;
}

p.noparams {
	padding: 20px 15px;
}

p.noresults {
	padding: 20px 15px;
}

span.adminlist-searchstatus a {
	padding-left: 20px;
}

/* -- MISC. STYLES ----------------------------- */
span.note {
	display: block;
	background: #ffd;
	padding: 5px;
	color: #666;
}

.previewframe {
	border: none;
	width: 98%;
	height: 600px;
	padding: 0 5px 0 10px;
}

textarea#codeedit {
	width: 100%;
	height: 500px;
}

.temprev {
	width: 100%;
	border: 1px solid #d7d7d7;
	margin: 0;
	padding: 0;
	background: #fff;
}

textarea#extrainfo,
textarea#message {
	width: 90%;
}

.pre_message {
	font-size: 1.3em;
}

/* -- OVERLIB STYLES ----------------------------- */
.ol-foreground {
	background-color: #ffe;
}

.ol-background {
	background-color: #6db03c;
}

.ol-textfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.909em;
	color: #666;
}

.ol-captionfont {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #fff;
	font-weight: bold;
}

.ol-captionfont a {
	color: #0b5fc6;
	text-decoration: none;
}


/* -- TOOLBAR STYLES ----------------------------- */

/* Page titles */
div.pagetitle {
	padding-left: 60px;
	background-repeat: no-repeat;
	margin-left: 10px;
}

div.pagetitle h2 {
	line-height: 48px;
	font-size: 2em;
	font-weight: bold;
	color: #146295;
	margin: 0;
	padding: 0;
}

div.pagetitle span {
	color: #666;
}

/* Modal header */
div.configuration {
	font-size: 1.364em;
	font-weight: bold;
	color: #146295;
	padding-left: 30px;
	margin-left: 10px;
	padding-top: 4px;
	background: url(../images/menu/icon-16-config.png) 0 6px no-repeat;
}

/* Main toolbars */
div.toolbar-list {
	float: right;
	text-align: right;
	padding: 0;
}

div.toolbar-list ul {
	margin: 0;
	padding: 0;
}

div.toolbar-list li {
	padding: 1px 1px 3px 4px;
	text-align: center;
	color: #666;
	height: 48px;
	list-style: none;
	float: left;
}

div.toolbar-list li.spacer {
	width: 10px;
}

div.toolbar-list li.divider {
	border-right: 1px solid #c7c7c7;
	width: 2px;
}

div.toolbar-list span {
	float: none;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	display: block;
}

div.toolbar-list a {
	display: block;
	float: left;
	white-space: nowrap;
	border: 1px solid #F4F4F4;
	padding: 1px 5px;
	cursor: pointer;
}

div.toolbar-list a:hover,
div.toolbar-list a:focus,
div.toolbar-list a:active {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}


/* -- MASSMAIL STYLES ----------------------------- */

td#mm_pane {
	width: 90%;
}

input#mm_subject {
	width: 200px;
}

textarea#mm_message {
	width: 100%;
}

/* -- PANE SLIDER STYLES ----------------------------- */
.pane-sliders {
	margin: 18px 0 0 0;
	position:relative;
}
.pane-sliders .title {
	margin: 0;
	padding: 2px 2px 2px 5px;
	color: #666;
	cursor: pointer;
}

#content-pane {
	margin: 8px 10px 15px 15px;
}

.pane-sliders .panel {
	margin-bottom: 3px;
	border:solid 1px #ccc;
}

.pane-sliders .panel h3 {
	background: #fafafa;
	color: #666;
}

.pane-sliders .content {
	background: #fff;
}

.pane-sliders .adminlist {
	border: 0 none;
	font-size: 1em;
}

.pane-sliders .adminlist td {
	border: 0 none;
}

.pane-toggler span {
	background: transparent url(../images/j_arrow.png) 5px 50% no-repeat;
	padding-left: 20px;
}

.pane-toggler-down span {
	background: transparent url(../images/j_arrow_down.png) 5px 50% no-repeat;
	padding-left: 20px;
}

.pane-toggler-down {
	border-bottom: 1px solid #ccc;
}

h3.pane-toggler-down a:hover,
h3.pane-toggler a:hover {
	text-decoration: none;
}

.pane-slider.pane-hide {
	display: none;
}

.pane-slider ol li {
	list-style: none;
	margin-left: -25px;
	margin-top: 10px;
}

input#jformparams_link_titles1,
input#jformparams_show_title1,
input#jformparams_link_category1 {
	margin-left: 13px;
}

div#position-icon.pane-sliders div.pane-down div.icon-wrapper {
	margin: 5px 0 5px 0;
}

div#position-icon.pane-sliders div.pane-down .icon-wrapper .icon {
	padding: 5px 0 5px 10px;
	margin: 0;
}

div#position-icon.pane-sliders .icon {
	background: #fff;
}

/* -- TAB STYLES ----------------------------- */
dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border: 1px solid #ccc;
	margin-left: 3px;
	background: #e9e9e9;
	color: #666;
}

dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #f9f9f9;
	z-index: 100;
	color: #000;
}

div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}

dl#content-pane.tabs {
	margin: 1px 0 0 0;
}

div.current label,
div.current span.faux-label {
	display: block;
	min-width: 150px;
	float: left;
	clear: left;
	margin-top: 8px;
}

div.current fieldset {
	border: none 0;
}

div.current fieldset.adminform {
	border: 1px #ccc solid;
}

div.current fieldset.radio {
	float: left;
}

div.current fieldset.radio input {
	clear: none;
	min-width: 15px;
	float: left;
	margin: 3px 0 0 2px;
}

div.current fieldset.radio label {
	clear: none;
	min-width: 45px;
	float: left;
	margin: 3px 0 0 5px;
}

div.current fieldset.checkboxes {
	float: left;
	clear: right;
}

div.current fieldset.checkboxes input {
	clear: left;
	min-width: 15px;
	float: left;
	margin: 3px 0 0 2px;
}

div.current fieldset.checkboxes label {
	clear: right;
	min-width: 45px;
	margin: 3px 0 0 5px;
}

div.current input,
div.current textarea,
div.current select {
	clear: none;
	float: left;
	margin: 3px 0 0 2px;
}

div.current select {
	margin-bottom: 15px;
}

p.tab-description {
	font-size: 1.091em;
	margin-left: 0;
	margin-top: 5px;
}

/* ACL panels */
div.acl-options div.current {
	width: auto;
}

div.current table#acl-config th.acl-groups {
	text-align: left;
}

li.acl-editgroups,
li.acl-resetbtn {
	display:block;
	float:left;
	margin:14px !important;
	width:auto;
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #CCCCCC;
	text-decoration:none;
	font-size: .909em;
	padding: 3px !important;
}

li.acl-editgroups:hover,
li.acl-resetbtn:hover {
	background:none repeat scroll 0 0 #E8f6f3;
	border:1px solid #AAA;
	cursor:pointer;
}


/* -- CONTROL PANEL STYLES ----------------------------- */
.cpanel div.icon, #cpanel div.icon {
	text-align: center;
	margin-right: 15px;
	float: left;
	margin-bottom: 15px;

}
.cpanel div.icon a, #cpanel div.icon a {
	background-color: #fff;
	background-position: -30px;
	display: block;
	float: left;
	height: 97px;
	width: 108px;
	color: #565656;
	vertical-align: middle;
	text-decoration: none;
	border: 1px solid #CCC;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-property:
		background-position,
		-webkit-border-bottom-left-radius,
		-webkit-box-shadow;
	-moz-transition-property:
		background-position,
		-moz-border-radius-bottomleft,
		-moz-box-shadow;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
}

#cpanel div.icon a:hover,
#cpanel div.icon a:focus,
#cpanel div.icon a:active,
.cpanel div.icon a:hover,
.cpanel div.icon a:focus,
.cpanel div.icon a:active {
	background-position: 0;
	-webkit-border-bottom-left-radius: 50% 20px;
	-moz-border-radius-bottomleft: 50% 20px;
	border-bottom-left-radius: 50% 20px;
	-webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	position: relative;
	z-index: 10;
}

#cpanel img,
.cpanel img {
	padding: 10px 0;
	margin: 0 auto;
}

#cpanel span,
.cpanel span {
	display: block;
	text-align: center;
}

div.cpanel-left {
	width: 54%;
	float: left;
}

div.cpanel-right {
	width: 45%;
	float: right;
}

/* -- FORM STYLES ----------------------------- */

/* Standards for commonly used elements */
div.width-20	{width: 20%;}
div.width-30	{width: 30%;}
div.width-35	{width: 35%;}
div.width-40	{width: 40%;}
div.width-45	{width: 45%;}
div.width-50	{width: 50%;}
div.width-55	{width: 55%;}
div.width-60	{width: 60%;}
div.width-65	{width: 65%;}
div.width-70	{width: 70%;}
div.width-80	{width: 80%;}
div.width-100	{width: 100%;}

.clrlft		{clear: left;}
.clrrt		{clear: right;}
.fltlft		{float: left;}
.fltrt		{float: right;}
.fltnone	{float: none;}

div.width-20 fieldset,
div.width-30 fieldset,
div.width-35 fieldset,
div.width-40 fieldset,
div.width-45 fieldset,
div.width-50 fieldset,
div.width-55 fieldset,
div.width-60 fieldset,
div.width-65 fieldset,
div.width-70 fieldset,
div.width-80 fieldset,
div.width-100 fieldset	{
	background-color: #fff;
	padding: 5px 17px 17px 17px;
}

/* Administrator forms, lists */
fieldset.adminform {
	margin: 10px;
	overflow: hidden;
}

fieldset.adminform legend {
	margin: 0;
	padding: 0;
}

ul.adminformlist,
ul.adminformlist li {
	margin: 0;
	padding: 0;
	list-style: none;
}

fieldset label,
fieldset span.faux-label {
	float: left;
	clear: left;
	display:block;
	margin: 5px 0;
}
fieldset ul {
	margin: 0;
	padding: 0;
}

form label,
form span.faux-label {
	font-size: 1.091em;
}

fieldset input,
fieldset textarea,
fieldset select,
fieldset img,
fieldset button {
	float: left;
	width: auto;
	margin: 5px 5px 5px 0;
}

fieldset.adminform textarea {
	width: 355px;
}

fieldset ul.checklist input {
	clear: left;
	margin-right: 10px;
}

fieldset ul.checklist label,
fieldset ul.menu-links label,
fieldset#filter-bar label {
	clear: none;
}
fieldset.adminform ul.checklist li {
	width: 100%;
	margin: 0;
	padding: 0;
}
fieldset.adminform ul.checklist li label {
	width: auto;
}

input.readonly {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.091em;
	padding-top: 1px;
	border: 0;
	font-weight: bold;
	color: #666;
}

#jform_id,
span.readonly {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.091em;
	margin:5px 5px 5px 0;
	font-weight: bold;
	float: left;
	display:block;
	color: #666;
}

#jform_params_alt,
#jform_clickurl {
	width: 355px;
}

#jform-imp {
	width: 70px;
}

.mod-desc { margin-left: 135px !important; float: none !important;}

input.readonly {
	background-color: #ffffff;
}

#jform_params_width,
#jform_params_height,
#jform_params_increase,
#jform_params_shownumber,
#jform_params_count {
	width: 50px;
}

#jform_id {
	width: 50px;
	background-color:#FFFFFF;
	border: 0 none;
}

input#jform_title,
input#jform_leveltitle,
input#jform_grouptitle {
	font-size: 1.364em;
}

label#jform_title-lbl,
label#jform_leveltitle-lbl,
label#jform_grouptitle-lbl {
	padding-top: 3px;
}

div#content-pane fieldset {
	border: 0;
	padding: 10px 15px 0 15px;
}

div.panel fieldset {
	border: 0;
}

/* Required elements */
input.required {
	background-color: #d5eeff;
}

.star {
	color:#EB8207;
	font-size:1.2em;
}

/* -------- Batch Section ---------- */
fieldset.batch {
	margin: 20px 0 10px 0;
	background: #fff;
	padding: 10px;
}
fieldset.batch label {
	margin: 5px;
	min-width: 40px;
}
fieldset.batch button {
	margin: 3px;
}
fieldset#batch-choose-action {
	clear: left;
	border: 0 none;
}
fieldset.batch label {
	float: left;
	clear: none;
}
fieldset label#batch-choose-action-lbl {
	clear: left;
	margin-top: 15px;
}
label#batch-language-lbl,
label#batch-user-lbl {
	clear: left;
	margin-right: 10px;
	margin-top: 15px;
}
select#batch-language-id,
select#batch-user-id {
	margin-top: 15px;
}
select#batch-category-id,
select#batch-menu-id,
select#batch-position-id {
	margin-right: 30px;
}
label#batch-access-lbl,
label#batch-client-lbl {
	margin-right: 10px;
}


/* -------- Menu Assigments ---------- */
div#menu-assignment {
	clear:left;
}
div#menu-assignment input,
div#menu-assignment h3 {
	clear:left;
	padding-bottom: 0;
	margin-bottom: 0;
}
div#menu-assignment ul.menu-links {
	float:left;
	width:49%;
}
div#menu-assignment ul.menu-links li:last-child label {
	margin-bottom: 20px;
}

fieldset.adminform .menu-links label {
	white-space:nowrap;
}
fieldset.adminform .menu-links input {
	margin: 8px 5px 0 0;
}

button.jform-rightbtn {
	float:right;
	margin-right: 0;
}

#jform_impmade,
#jform_clicks {
	width: 30px;
}

/* Field label widths - long label */
fieldset.adminform.long label,
fieldset.adminform.long span.faux-label {
	min-width: 180px;
}

/* Field label widths - short label */
fieldset.adminform label,
fieldset.adminform span.faux-label {
	min-width: 135px;
	padding: 0 5px 0 0;
}

fieldset.panelform {
	overflow: hidden;
	clear: both;
}
fieldset.panelform label,
fieldset.panelform div.paramrow label,
fieldset.panelform span.faux-label {
	min-width: 145px;
	max-width: 250px;
	padding: 0 5px 0 0;
}

/* One-offs */
/* Field label widths - medium label */
label#userparamsallowUserRegistration-lbl,
label#userparamsnew_usertype-lbl,
label#userparamsuseractivation-lbl,
label#userparamsfrontend_userparams-lbl,
label#jform_MetaDesc-lbl {
	min-width: 180px;
}

/* Field label widths - long label */
label#paramsusermode-lbl,
label#paramsphishing-resistant-lbl,
label#paramsmulti-factor-lbl,
label#paramsmulti-factor-physical-lbl,
paramslang_mode-lbl {
	min-width: 200px;
}

div.jform_mod_title,
div.jform_na {
	margin-top: 5px;
	float: left;
}

div#jform_template,
div#jform_template-desc {
	float: left;
	padding-right: 5px;
	padding-top: 5px;
	font-size: 1.091em;
}

div#jform_template-desc {
	padding-top: 3px;
}

input#description {
	margin-top: 3px;
}

th.col1template {
	width: 210px;
}

div.editor-border {
	border: 1px solid #CCCCCC;
}

fieldset p {
	margin: 0 0 15px 0;
	font-size: 1.091em;
}

ul#overviewlist,ul#paramlist {
	clear: both;
	font-size: 1.091em;
	padding-top: 5px;
}

ul#overviewlist li {
	list-style-type: none;
	margin-left: -40px;
	margin-bottom: 15px;
	min-width: 140px;
}

ul#paramlist li {
	list-style-type: none;
	margin-left: -40px;
	margin-bottom: 5px;
}

li#jform_menutype_label,
li#jform_parentid_label,
li#jform_published_label,
li#jform_access_label {
	float: left;
	clear: left;
}

fieldset.adminform fieldset.radio,
fieldset.panelform fieldset.radio,
fieldset.adminform-legacy fieldset.radio {
	border: 0;
	float: left;
	padding: 0;
	margin: 0 0 5px 0;
	/* clear: right; */
}

fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label {
	min-width: 60px;
	padding-left: 0;
	padding-right: 10px;
	float: left;
	clear: none;
	/*width: 40px;*/
	display:inline;
}

/* checkboxes */
fieldset.adminform fieldset.checkboxes,
fieldset.panelform fieldset.checkboxes,
fieldset.adminform-legacy fieldset.checkboxes  {
	border: 0;
	float:left;
	padding: 0;
	margin: 0 0 5px 0;
	clear:right;
}


fieldset.adminform fieldset.checkboxes input[type="checkbox"],
fieldset.panelform fieldset.checkboxes input[type="checkbox"] {
	float: left;
	clear: left;
}
fieldset.adminform fieldset.checkboxes label,
fieldset.panelform fieldset.checkboxes label,
fieldset.adminform fieldset.checkboxes span.faux-label,
fieldset.panelform fieldset.checkboxes span.faux-label {
	clear: right;
}

/* end checkboxes */

/* spacer */
div.current span.spacer > span.before,
fieldset.adminform span.spacer > span.before,
fieldset.panelform span.spacer > span.before {
	clear: both;
	overflow: hidden;
	height: 0;
	display: block;
}

div.current span.spacer > span.text label ,
fieldset.adminform span.spacer > span.text label ,
fieldset.panelform span.spacer > span.text label {
	white-space: nowrap;
	font-weight: bold;
	color: #666;
}

/* end spacer */

fieldset.panelform-legacy label,
fieldset.adminform-legacy label {
	min-width: 150px;
	float: left;
}

/* JParameter classes on radio button labels  */
fieldset.panelform-legacy label.radiobtn-jno,
fieldset.panelform-legacy label.radiobtn-jyes,
fieldset.panelform-legacy label.radiobtn-show,
fieldset.panelform-legacy label.radiobtn-hide,
fieldset.panelform-legacy label.radiobtn-off,
fieldset.panelform-legacy label.radiobtn-on	{
	min-width: 40px !important;
	clear: none !important;
}

#jform_plugdesc-lbl,
#jform_description-lbl {
	clear: both;
	margin-top: 15px;
}

p.jform_desc {
	clear: left;
}

div#jform_ordering {
	font-size: 1.091em;
	margin-top: 3px;
}

fieldset.filter {
	border: 0;
	margin: 0;
	padding: 0 0 5px;
}

fieldset.filter ol {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 5px 0 0;
}

fieldset.filter ol li {
	float: left;
	padding: 0 5px 0 0;
}

fieldset.filter ol li fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

fieldset.filter .left {
	float: left;
}

fieldset.filter .right {
	float: right;
}

fieldset.filter .right select {
	margin-left: 10px;
}

fieldset#filter-bar {
	min-height: 35px;
	border: 0;
	border-bottom: 1px solid #d5d5d5;
}

label.filter-search-lbl {
	margin-left: 5px;
}

label.filter-hide-lbl {
	margin-left: 5px;
	clear: none;
}

div.filter-select input,
div.filter-select select {
	margin-left: 5px;
	margin-right: 5px;
}

button.filter-go {
	float: left;
	margin-right: 15px;
}

label.filter-published-lbl {
	clear: none;
	margin-left: 10px;
}

table.adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
}

table.adminform tr.row0 {
	background-color: #f9f9f9;
}

table.adminform tr.row1 {
	background-color: #eeeeee;
}

table.adminform th {
	font-size: 1.091em;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}

table.adminform td {
	padding: 5px;
	text-align: left;
	font-size: 1.091em;
}

table.adminform td.filter {
	text-align: left;
}

table.adminform td.helpMenu {
	text-align: right;
}

table#template-mgr td {
	padding: 15px 0;
}

table#template-mgr td p {
	margin: 3px;
}

td.template-name a {
	padding-left: 15px;
	font-weight: bold;
}

.helplinks {
	margin-top: 60px;
}

ul.helpmenu li {
	float: right;
	margin: 10px;
	padding: 0;
	list-style-type: none;
}

input.text-area-order {
	text-align: center;
	margin-right: 5px;
}

fieldset.uploadform label {
	clear: left;
	min-width: 100px;
}

span.gi {
	color: #d7d7d7;
	font-weight: bold;
	margin-right: 5px;
}

span.gtr {
	visibility:hidden;
	margin-right: 5px;
}

ul#legend li {
	float: left;
	margin: 20px;
	list-style-type: none;
}

#jform_params_target { width: 190px;}


/* Adminlist grids */

table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #f3f3f3;
	color: #666;
}

table.adminlist td,
table.adminlist th {
	padding: 4px;
}

table.adminlist td {padding-left: 8px;}

table.adminlist thead th {
	text-align: center;
	background: #f7f7f7;
	color: #666;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #fff;
}

table.adminlist thead th.left {
	text-align: left;
}

table.adminlist thead a:hover {
	text-decoration: none;
}

table.adminlist thead th img {
	vertical-align: middle;
	padding-left: 3px;
}

table.adminlist tbody th {
	font-weight: bold;
}

table.adminlist tbody tr {
	background-color: #fff;
	text-align: left;
}

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td	{
	background-color: #e8f6fe;
}

table.adminlist tbody tr td {
	background: #fff;
	border: 1px solid #fff;
}

table.adminlist tbody tr.row1 td {
	background: #f0f0f0;
	border-top: 1px solid #FFF;
}

table.adminlist tfoot tr {
	text-align: center;
	color: #333;
}

table.adminlist tfoot td,table.adminlist tfoot th {
	background-color: #f7f7f7;
	border-top: 1px solid #999;
	text-align: center;
}

table.adminlist td.order {
	text-align: center;
	white-space: nowrap;
	width: 200px;
}

table.adminlist td.order span {
	float: left;
	width: 20px;
	text-align: center;
	background-repeat: no-repeat;
	height: 13px;
}

table.adminlist .pagination {
	display: inline-block;
	padding: 0;
	margin: 0 auto;
}

/* Tree indentation & nesting - Up to 10 levels deep so don't go crazy :) */
table.adminlist td.indent-4 	{	padding-left: 4px;		}
table.adminlist td.indent-19 	{	padding-left: 19px;		}
table.adminlist td.indent-34 	{	padding-left: 34px;		}
table.adminlist td.indent-49 	{	padding-left: 49px;		}
table.adminlist td.indent-64 	{	padding-left: 64px;		}
table.adminlist td.indent-79 	{	padding-left: 79px;		}
table.adminlist td.indent-94 	{	padding-left: 94px;		}
table.adminlist td.indent-109 	{	padding-left: 109px;	}
table.adminlist td.indent-124 	{	padding-left: 124px;	}
table.adminlist td.indent-139 	{	padding-left: 139px;	}

table.adminlist tr td.btns a {
	text-decoration: underline;
}



/* -- TABLE STYLES ----------------------------- */

div#element-box div.m form table.adminlist tr td a {
	font-size: 1.1em;
}

div#element-box div.m form table.adminlist tr td div.button2-left.smallsub a {
	font-size: 1em;
}

div#element-box div.m form table.adminlist tr td p.smallsub a,
div#element-box div.m div.pane-slider form table.adminlist a {
	font-size: 1em;
}

p.smallsub {
	margin: 3px 0 0;
}

p.smallsub span {
	color: #a0a0a0;
}

.pagination div.limit {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

.pagination div.limit select#limit {
	width: 50px;
}

p.mod-purge-instruct {
	margin-top: 20px;
}

div.checkin-tick {
	background: url(../images/admin/tick.png) 20px 50% no-repeat;
	text-indent: -9999px;
}

td.left,
th.left {
	text-align: left;
}

td.center,
th.center,
.center {
	text-align: center;
	float: none;
}

td.center img,
th.center img {
	float: none;
}

td.right,th.right {
	text-align: right;
}

.container {
	clear: both;
	text-decoration: none;
	text-align:center;
}

* html .container {
	display: inline-block;
}

table.admintable th,
table.admintable td {
	font-size: 1.091em;
}

table#global-checkin td {
	font-size: 1.182em;
}

table#global-checkin td.active {
	background-color: #E8F6FE !important;
}

table#global-checkin tbody tr.row0:hover td {
	background-color: #FFF;
}

table#global-checkin tbody tr.row1:hover td {
	background-color: #F0F0F0;
}

a.saveorder {
	width: 16px;
	height: 16px;
	display:block;
	overflow: hidden;
	background: url(../images/admin/filesave.png) no-repeat;
	float: right;
	margin-right: 8px;
}

a.saveorder.inactive {
	background-position: 0 -16px;
}

/* -- EDITOR STYLES ----------------------------- */

#editor-xtd-buttons {
	padding-top: 10px;
}

/* -- BUTTON STYLES ----------------------------- */

/* Pagination on backend */
.button1,
.button1 div {
	height: 1%;
	float: right;
}

.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
	float: left;
}

.button1 {
	background: url(../images/j_button1_left.png) no-repeat;
	white-space: nowrap;
	padding-left: 10px;
	margin-left: 5px;
}

.button1 .next {
	background: url(../images/j_button1_next.png) 100% 0 no-repeat;
}

.button1 a {
	display: block;
	height: 26px;
	float: left;
	line-height: 26px;
	font-size: 1.091em;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	padding: 0 35px 0 6px;
}

.button1 a:hover {
	text-decoration: none;
	color: #0B55C4;
}

.button2-left a,
.button2-right a,
.button2-left button,
.button2-right button,
.button2-left span,
.button2-right span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 1em;
	color: #333;
	cursor: pointer;
}

.button2-left span,.button2-right span {
	cursor: default;
	color: #999;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span,
.button2-left .blank a,
.button2-right .blank a,
.button2-left .blank span,
.button2-right .blank span,
.button2-left .blank button,
.button2-right .blank button {
	padding: 0 6px;
}

.page span,.blank span {
	color: #000;
	font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover,
.button2-left button:hover,
.button2-left button:hover	{
	text-decoration: none;
	color: #0B55C4;
}

.button2-left a,
.button2-left span,
.button2-left button {
	padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span,
.button2-right button {
	padding: 0 6px 0 24px;
}

.button2-left {
	background: url(../images/j_button2_left.png) no-repeat;
	float: left;
	margin-right: 10px;
}

.button2-right {
	background: url(../images/j_button2_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}

.button2-right .prev 		{	background: url(../images/j_button2_prev.png) no-repeat; }
.button2-right.off .prev 	{	background: url(../images/j_button2_prev_off.png) no-repeat; }
.button2-right .start 		{	background: url(../images/j_button2_first.png) no-repeat; }
.button2-right.off .start 	{	background: url(../images/j_button2_first_off.png) no-repeat; }
.button2-left .page,
.button2-left .blank 		{	background: url(../images/j_button2_right_cap.png) 100% 0 no-repeat; }
.button2-left .next 		{	background: url(../images/j_button2_next.png) 100% 0 no-repeat; }
.button2-left.off .next 	{	background: url(../images/j_button2_next_off.png) 100% 0 no-repeat; }
.button2-left .end 			{	background: url(../images/j_button2_last.png) 100% 0 no-repeat; }
.button2-left.off .end 		{	background: url(../images/j_button2_last_off.png) 100% 0 no-repeat; }
.button2-left .image 		{	background: url(../images/j_button2_image.png) 100% 0 no-repeat; }
.button2-left .readmore 	{	background: url(../images/j_button2_readmore.png) 100% 0 no-repeat; }
.button2-left .pagebreak 	{	background: url(../images/j_button2_pagebreak.png) 100% 0 no-repeat; }
.button2-left .blank 		{	background: url(../images/j_button2_blank.png) 100% 0 no-repeat; }
.button2-left .article 		{	background: url(../images/j_button2_readmore.png) 100% 0 no-repeat; }

a.pointer { cursor: pointer; }

button {
	margin-top: 4px;
	background: #fff;
	border: 1px solid #ccc;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
	background: #E8F6FE;
	text-decoration: none;
	border: 1px solid #aaa;
}

div.button2-left button {
	background: transparent;
	margin-top: 0;
	border: 0 solid #ccc;
}

div.button2-left button {
	background: transparent;
	border: 0 solid #aaa;
}

/* -- TOOLTIP STYLES ----------------------------- */
.tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 400px;
	z-index: 50;
}

.tip-title {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../images/selector-arrow.png) no-repeat;
}

.tip-text {
	font-size: 1em;
	margin: 0;
}

/* -- CALENDAR STYLES ----------------------------- */
a img.calendar {
	width: 16px;
	height: 16px;
	margin-left: 3px;
	background: url(../images/calendar.png) no-repeat;
	cursor: pointer;
	vertical-align: middle;
}

/* -- SYSTEM MESSAGE STYLES ----------------------------- */

#system-message dd.message ul {
	background-image: url(../images/notice-info.png);
	background-repeat: no-repeat;
}

#system-message dd.error ul {
	background-image: url(../images/notice-alert.png);
	background-repeat: no-repeat;
}

#system-message dd.warning ul {
	background-image: url(../images/notice-note.png);
	background-repeat: no-repeat;
}

#system-message dd.notice ul {
	background-image: url(../images/notice-note.png);
	background-repeat: no-repeat;
}

/* -- LOGIN STYLES ----------------------------- */

.login {
	margin: 50px auto 100px !important;
	width: 575px;
}

form#form-login {
	clear: both;
	padding: 10px 0 10px 0;
}

h1 {
	margin: 10px 0 5px 10px;
}

p {
	margin: 0 0 15px 10px;
	padding: 0;
	font-size: 1em;
}

#section-box {
	float: right;
	width: 340px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #fff;
}

#section-box .m {
	padding: 5px;
}

#section-box .padding {
	background: none;
	padding: 0;
}

#lock {
	background: url(../images/j_login_lock.png) 50% 0 no-repeat;
	width: 150px;
	height: 137px;
}

fieldset.loginform {
	border: 0 none;
	width: auto;
}

label#mod-login-password-lbl,
label#mod-login-username-lbl,
label#mod-login-language-lbl {
	display:block;
	margin:5px 15px 16px 0;
}

input#mod-login-username,
input#mod-login-password,
select#lang {
	float:right;
	margin: 0 0 20px 0;
	clear:right;
	min-width: 145px;
}

.login-submit {
	border: 0;
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
}

#form-login .button-holder {
	float: right;
	padding-right: 5px;
	clear: right;
	margin-top: 10px;
}

/* -- JGRID STYLES ----------------------------- */

/* Admin backend grid table elements */
a.jgrid:hover {	text-decoration: none;}

.jgrid span.state {
	display: inline-block;
	height: 16px;
	width: 16px;
}
.jgrid span.text 					{ display:none; }
.jgrid span.publish					{ background-image: url(../images/admin/tick.png); }
.jgrid span.unpublish				{ background-image: url(../images/admin/publish_x.png); }
.jgrid span.archive 				{ background-image: url(../images/menu/icon-16-archive.png); }
.jgrid span.trash					{ background-image: url(../images/menu/icon-16-trash.png); }
.jgrid span.default					{ background-image: url(../images/menu/icon-16-default.png); }
.jgrid span.notdefault				{ background-image: url(../images/menu/icon-16-notdefault.png); }
.jgrid span.checkedout				{ background-image: url(../images/admin/checked_out.png); }
.jgrid span.downarrow				{ background-image: url(../images/admin/downarrow.png); }
.jgrid span.downarrow_disabled		{ background-image: url(../images/admin/downarrow0.png); background-position: 0 -12px; }
.jgrid span.uparrow					{ background-image: url(../images/admin/uparrow.png); }
.jgrid span.uparrow_disabled		{ background-image: url(../images/admin/uparrow0.png); background-position: 0 -12px; }
.jgrid span.published				{ background-image: url(../images/admin/publish_g.png); }
.jgrid span.expired					{ background-image: url(../images/admin/publish_r.png); }
.jgrid span.pending					{ background-image: url(../images/admin/publish_y.png); }
.jgrid span.warning					{ background-image: url(../images/admin/publish_y.png); }
.jgrid span.protected				{ background-image: url(../images/admin/icon-16-protected.png); }

/* -- ICON STYLES ----------------------------- */
.icon-16-alert						{	background-image: url(../images/menu/icon-16-alert.png);	}
.icon-16-archive					{	background-image: url(../images/menu/icon-16-archive.png);	}
.icon-16-article					{	background-image: url(../images/menu/icon-16-article.png);	}
.icon-16-banners					{	background-image: url(../images/menu/icon-16-banner.png);	}
.icon-16-banners-clients			{	background-image: url(../images/menu/icon-16-banner-client.png);	}
.icon-16-banners-tracks				{	background-image: url(../images/menu/icon-16-banner-tracks.png);	}
.icon-16-banners-cat				{	background-image: url(../images/menu/icon-16-banner-categories.png);	}
.icon-16-category					{	background-image: url(../images/menu/icon-16-category.png);	}
.icon-16-checkin					{	background-image: url(../images/menu/icon-16-checkin.png);	}
.icon-16-clear						{	background-image: url(../images/menu/icon-16-clear.png);	}
.icon-16-component					{	background-image: url(../images/menu/icon-16-component.png);	}
.icon-16-config						{	background-image: url(../images/menu/icon-16-config.png);	}
.icon-16-content					{	background-image: url(../images/menu/icon-16-content.png);	}
.icon-16-contact					{	background-image: url(../images/menu/icon-16-contacts.png);	}
.icon-16-contact-cat				{	background-image: url(../images/menu/icon-16-contacts-categories.png);	}
.icon-16-cpanel						{	background-image: url(../images/menu/icon-16-cpanel.png);	}
.icon-16-default					{	background-image: url(../images/menu/icon-16-default.png);	}
.icon-16-featured					{	background-image: url(../images/menu/icon-16-featured.png);	}
.icon-16-groups						{	background-image: url(../images/menu/icon-16-groups.png);	}
.icon-16-help						{	background-image: url(../images/menu/icon-16-help.png);	}
.icon-16-help-this					{	background-image: url(../images/menu/icon-16-help-this.png);	}
.icon-16-help-forum					{	background-image: url(../images/menu/icon-16-help-forum.png);	}
.icon-16-help-docs					{	background-image: url(../images/menu/icon-16-help-docs.png);	}
.icon-16-help-jed					{	background-image: url(../images/menu/icon-16-help-jed.png);	}
.icon-16-help-jrd					{	background-image: url(../images/menu/icon-16-help-jrd.png);	}
.icon-16-help-trans					{	background-image: url(../images/menu/icon-16-help-trans.png);	}
.icon-16-help-community				{	background-image: url(../images/menu/icon-16-help-community.png);	}
.icon-16-help-security				{	background-image: url(../images/menu/icon-16-help-security.png);	}
.icon-16-help-dev					{	background-image: url(../images/menu/icon-16-help-dev.png);	}
.icon-16-help-shop					{	background-image: url(../images/menu/icon-16-help-shop.png);	}
.icon-16-info						{	background-image: url(../images/menu/icon-16-info.png);	}
.icon-16-install					{	background-image: url(../images/menu/icon-16-install.png);	}
.icon-16-joomlaupdate				{	background-image: url(../images/menu/icon-16-install.png);	}
.icon-16-language					{	background-image: url(../images/menu/icon-16-language.png);	}
.icon-16-levels						{	background-image: url(../images/menu/icon-16-levels.png);	}
.icon-16-logout						{	background-image: url(../images/menu/icon-16-logout.png);	}
.icon-16-maintenance				{	background-image: url(../images/menu/icon-16-maintenance.png);	}
.icon-16-massmail					{	background-image: url(../images/menu/icon-16-massmail.png);	}
.icon-16-media						{	background-image: url(../images/menu/icon-16-media.png);	}
.icon-16-menu						{	background-image: url(../images/menu/icon-16-menu.png);	}
.icon-16-menumgr					{	background-image: url(../images/menu/icon-16-menumgr.png);	}
.icon-16-messages					{	background-image: url(../images/menu/icon-16-messaging.png);	}
.icon-16-messages-add				{	background-image: url(../images/menu/icon-16-new-privatemessage.png);	}
.icon-16-messages-read				{	background-image: url(../images/menu/icon-16-messages.png);	}
.icon-16-module						{	background-image: url(../images/menu/icon-16-module.png);	}
.icon-16-newarticle					{	background-image: url(../images/menu/icon-16-newarticle.png);	}
.icon-16-newcategory				{	background-image: url(../images/menu/icon-16-newcategory.png);	}
.icon-16-newgroup					{	background-image: url(../images/menu/icon-16-newgroup.png);	}
.icon-16-newlevel					{	background-image: url(../images/menu/icon-16-newlevel.png);	}
.icon-16-newuser					{	background-image: url(../images/menu/icon-16-newuser.png);	}
.icon-16-nopreview					{	background-image: url(../images/menu/icon-16-nopreview.png);	}
.icon-16-plugin						{	background-image: url(../images/menu/icon-16-plugin.png);	}
.icon-16-profile					{	background-image: url(../images/menu/icon-16-user.png);	}
.icon-16-preview					{	background-image: url(../images/menu/icon-16-preview.png);	}
.icon-16-purge						{	background-image: url(../images/menu/icon-16-purge.png);	}
.icon-16-readmess					{	background-image: url(../images/menu/icon-16-readmess.png);	}
.icon-16-redirect					{	background-image: url(../images/menu/icon-16-redirect.png);	}
.icon-16-search						{	background-image: url(../images/menu/icon-16-search.png);	}
.icon-16-finder						{	background-image: url(../images/menu/icon-16-search.png);	}
.icon-16-section					{	background-image: url(../images/menu/icon-16-section.png);	}
.icon-16-static						{	background-image: url(../images/menu/icon-16-static.png);	}
.icon-16-stats						{	background-image: url(../images/menu/icon-16-stats.png);	}
.icon-16-themes						{	background-image: url(../images/menu/icon-16-themes.png);	}
.icon-16-trash						{	background-image: url(../images/menu/icon-16-trash.png);	}
.icon-16-user						{	background-image: url(../images/menu/icon-16-user.png);	}
.icon-16-user-note					{	background-image: url(../images/menu/icon-16-user-note.png);	}
.icon-16-back-user					{	background-image: url(../images/menu/icon-16-back-user.png);	}
.icon-16-writemess					{	background-image: url(../images/menu/icon-16-writemess.png);	}
.icon-16-newsfeeds					{	background-image: url(../images/menu/icon-16-newsfeeds.png);	}
.icon-16-newsfeeds-cat				{	background-image: url(../images/menu/icon-16-newsfeeds-cat.png);	}
.icon-16-weblinks					{	background-image: url(../images/menu/icon-16-links.png);	}
.icon-16-weblinks-cat				{	background-image: url(../images/menu/icon-16-links-cat.png);	}

/* -- TOOLBAR ICON STYLES ----------------------------- */
.icon-32-send						{	background-image: url(../images/toolbar/icon-32-send.png);	}
.icon-32-delete						{	background-image: url(../images/toolbar/icon-32-delete.png);	}
.icon-32-help						{	background-image: url(../images/toolbar/icon-32-help.png);	}
.icon-32-cancel						{	background-image: url(../images/toolbar/icon-32-cancel.png);	}
.icon-32-checkin					{	background-image: url(../images/toolbar/icon-32-checkin.png);	}
.icon-32-options					{	background-image: url(../images/toolbar/icon-32-config.png);	}
.icon-32-apply						{	background-image: url(../images/toolbar/icon-32-apply.png);	}
.icon-32-back						{	background-image: url(../images/toolbar/icon-32-back.png);	}
.icon-32-export						{	background-image: url(../images/toolbar/icon-32-export.png);	}
.icon-32-forward					{	background-image: url(../images/toolbar/icon-32-forward.png);	}
.icon-32-save						{	background-image: url(../images/toolbar/icon-32-save.png);	}
.icon-32-edit						{	background-image: url(../images/toolbar/icon-32-edit.png);	}
.icon-32-copy						{	background-image: url(../images/toolbar/icon-32-copy.png);	}
.icon-32-move						{	background-image: url(../images/toolbar/icon-32-move.png);	}
.icon-32-new						{	background-image: url(../images/toolbar/icon-32-new.png);	}
.icon-32-upload						{	background-image: url(../images/toolbar/icon-32-upload.png);	}
.icon-32-assign						{	background-image: url(../images/toolbar/icon-32-publish.png);	}
.icon-32-html						{	background-image: url(../images/toolbar/icon-32-html.png);	}
.icon-32-css						{	background-image: url(../images/toolbar/icon-32-css.png);	}
.icon-32-menus						{	background-image: url(../images/toolbar/icon-32-menu.png);	}
.icon-32-publish					{	background-image: url(../images/toolbar/icon-32-publish.png);	}
.icon-32-unblock					{	background-image: url(../images/toolbar/icon-32-unblock.png);	}
.icon-32-unpublish					{	background-image: url(../images/toolbar/icon-32-unpublish.png);	}
.icon-32-restore					{	background-image: url(../images/toolbar/icon-32-revert.png);	}
.icon-32-trash						{	background-image: url(../images/toolbar/icon-32-trash.png);	}
.icon-32-archive					{	background-image: url(../images/toolbar/icon-32-archive.png);	}
.icon-32-unarchive					{	background-image: url(../images/toolbar/icon-32-unarchive.png);	}
.icon-32-preview					{	background-image: url(../images/toolbar/icon-32-preview.png);	}
.icon-32-default					{	background-image: url(../images/toolbar/icon-32-default.png);	}
.icon-32-refresh					{	background-image: url(../images/toolbar/icon-32-refresh.png);	}
.icon-32-save-new					{	background-image: url(../images/toolbar/icon-32-save-new.png);	}
.icon-32-save-copy					{	background-image: url(../images/toolbar/icon-32-save-copy.png);	}
.icon-32-error						{	background-image: url(../images/toolbar/icon-32-error.png);	}
.icon-32-new-style					{	background-image: url(../images/toolbar/icon-32-new-style.png);	}
.icon-32-delete-style				{	background-image: url(../images/toolbar/icon-32-delete-style.png);	}
.icon-32-purge						{	background-image: url(../images/toolbar/icon-32-purge.png);	}
.icon-32-remove						{	background-image: url(../images/toolbar/icon-32-remove.png);	}
.icon-32-featured					{	background-image: url(../images/toolbar/icon-32-featured.png);	}
.icon-32-stats						{	background-image: url(../images/toolbar/icon-32-stats.png);	}
.icon-32-print						{	background-image: url(../images/toolbar/icon-32-print.png);	}
.icon-32-extension					{	background-image: url(../images/toolbar/icon-32-extension.png);	}
.toolbar-inactive					{	background-position: 0 32px;  }

/* -- HEADER ICON STYLES ----------------------------- */
.icon-48-categories					{	background-image: url(../images/header/icon-48-category.png);	}
.icon-48-category-edit				{	background-image: url(../images/header/icon-48-category.png);	}
.icon-48-category-add				{	background-image: url(../images/header/icon-48-category-add.png);	}
.icon-48-generic					{	background-image: url(../images/header/icon-48-generic.png);	}
.icon-48-banners					{	background-image: url(../images/header/icon-48-banner.png);	}
.icon-48-banners-categories			{	background-image: url(../images/header/icon-48-banner-categories.png);	}
.icon-48-banners-category-edit		{	background-image: url(../images/header/icon-48-banner-categories.png);	}
.icon-48-banners-category-add		{	background-image: url(../images/header/icon-48-category-add.png);	}
.icon-48-banners-clients			{	background-image: url(../images/header/icon-48-banner-client.png);	}
.icon-48-banners-tracks				{	background-image: url(../images/header/icon-48-banner-tracks.png);	}
.icon-48-checkin					{	background-image: url(../images/header/icon-48-checkin.png);	}
.icon-48-clear						{	background-image: url(../images/header/icon-48-clear.png);	}
.icon-48-contact					{	background-image: url(../images/header/icon-48-contacts.png);	}
.icon-48-contact-categories			{	background-image: url(../images/header/icon-48-contacts-categories.png);	}
.icon-48-contact-category-edit		{	background-image: url(../images/header/icon-48-contacts-categories.png);	}
.icon-48-contact-category-add		{	background-image: url(../images/header/icon-48-category-add.png);	}
.icon-48-purge						{	background-image: url(../images/header/icon-48-purge.png);	}
.icon-48-cpanel						{	background-image: url(../images/header/icon-48-cpanel.png);	}
.icon-48-config						{	background-image: url(../images/header/icon-48-config.png);	}
.icon-48-groups						{	background-image: url(../images/header/icon-48-groups.png);	}
.icon-48-groups-add					{	background-image: url(../images/header/icon-48-groups-add.png);	}
.icon-48-levels						{	background-image: url(../images/header/icon-48-levels.png);	}
.icon-48-levels-add					{	background-image: url(../images/header/icon-48-levels-add.png);	}
.icon-48-module						{	background-image: url(../images/header/icon-48-module.png);	}
.icon-48-menu						{	background-image: url(../images/header/icon-48-menu.png);	}
.icon-48-menu-add					{	background-image: url(../images/header/icon-48-menu-add.png);	}
.icon-48-menumgr					{	background-image: url(../images/header/icon-48-menumgr.png);	}
.icon-48-newsfeeds-categories		{	background-image: url(../images/header/icon-48-newsfeeds-cat.png);	}
.icon-48-newsfeeds-category-edit	{	background-image: url(../images/header/icon-48-newsfeeds-cat.png);	}
.icon-48-newsfeeds-category-add		{	background-image: url(../images/header/icon-48-category-add.png);	}
.icon-48-trash						{	background-image: url(../images/header/icon-48-trash.png);	}
.icon-48-user						{	background-image: url(../images/header/icon-48-user.png);	}
.icon-48-user-add					{	background-image: url(../images/header/icon-48-user-add.png);	}
.icon-48-user-edit					{	background-image: url(../images/header/icon-48-user-edit.png);	}
.icon-48-user-profile					{	background-image: url(../images/header/icon-48-user-profile.png);	}
.icon-48-inbox						{	background-image: url(../images/header/icon-48-inbox.png);	}
.icon-48-new-privatemessage			{	background-image: url(../images/header/icon-48-new-privatemessage.png);	}
.icon-48-msgconfig					{	background-image: url(../images/header/icon-48-message_config.png);	}
.icon-48-langmanager				{	background-image: url(../images/header/icon-48-language.png);	}
.icon-48-mediamanager				{	background-image: url(../images/header/icon-48-media.png);	}
.icon-48-plugin						{	background-image: url(../images/header/icon-48-plugin.png);	}
.icon-48-help_header				{	background-image: url(../images/header/icon-48-help_header.png);	}
.icon-48-impressions				{	background-image: url(../images/header/icon-48-stats.png);	}
.icon-48-browser					{	background-image: url(../images/header/icon-48-stats.png);	}
.icon-48-searchtext					{	background-image: url(../images/header/icon-48-stats.png);	}
.icon-48-thememanager				{	background-image: url(../images/header/icon-48-themes.png);	}
.icon-48-writemess					{	background-image: url(../images/header/icon-48-writemess.png);	}
.icon-48-featured					{	background-image: url(../images/header/icon-48-featured.png);	}
.icon-48-sections					{	background-image: url(../images/header/icon-48-section.png);	}
.icon-48-article-add				{	background-image: url(../images/header/icon-48-article-add.png);	}
.icon-48-article-edit				{	background-image: url(../images/header/icon-48-article-edit.png);	}
.icon-48-article					{	background-image: url(../images/header/icon-48-article.png);	}
.icon-48-content-categories			{	background-image: url(../images/header/icon-48-category.png);	}
.icon-48-content-category-edit		{	background-image: url(../images/header/icon-48-category.png);	}
.icon-48-content-category-add		{	background-image: url(../images/header/icon-48-category-add.png);	}
.icon-48-install					{	background-image: url(../images/header/icon-48-extension.png);	}
.icon-48-dbbackup					{	background-image: url(../images/header/icon-48-backup.png);	}
.icon-48-dbrestore					{	background-image: url(../images/header/icon-48-dbrestore.png);	}
.icon-48-dbquery					{	background-image: url(../images/header/icon-48-query.png);	}
.icon-48-systeminfo					{	background-image: url(../images/header/icon-48-info.png);	}
.icon-48-massmail					{	background-image: url(../images/header/icon-48-massmail.png);	}
.icon-48-redirect					{	background-image: url(../images/header/icon-48-redirect.png);	}
.icon-48-search						{	background-image: url(../images/header/icon-48-search.png);	}
.icon-48-finder						{	background-image: url(../images/header/icon-48-search.png);	}
.icon-48-newsfeeds					{	background-image: url(../images/header/icon-48-newsfeeds.png);	}
.icon-48-newsfeeds-cat				{	background-image: url(../images/header/icon-48-newsfeeds-cat.png);	}
.icon-48-weblinks					{	background-image: url(../images/header/icon-48-links.png);	}
.icon-48-weblinks-categories		{	background-image: url(../images/header/icon-48-links-cat.png);	}
.icon-48-weblinks-category-edit		{	background-image: url(../images/header/icon-48-links-cat.png);	}
.icon-48-weblinks-category-add		{	background-image: url(../images/header/icon-48-category-add.png);	}

/* -- BASIC MENU STYLES ----------------------------- */

#menu,
#menu ul,
#menu li {
	margin: 0;
	padding: 0;
	border: 0 none;
}

#menu {
	position: relative;
	z-index: 100;
}

#menu li {
	float: left;
	position: relative;
	list-style: none;
	display: inline;
}

#menu li a {
	display: block;
	white-space: nowrap;
}

#menu li ul {
	visibility: hidden;
	position: absolute;
}

#menu li li ul {
	top: 0;
	left: 0;
}

#menu li:hover ul {
	visibility: visible;
}

#menu li:hover ul li ul {
	visibility: hidden;
}

#menu li:hover li:hover ul {
	visibility: visible;
	left: 100%;
}

/* ---- Menu layout -------------------------- */
#menu li {
	border-left: 1px solid #fff;
	border-right: 1px solid #d8d8d8;
}

#menu li li {
	border: 0;
	display: block;
	float: none;
}

#menu ul {
	border: 0.1em solid #ccc;
	background: #f6f6f6 url(../images/bg-menu.gif) repeat-y left;
}

#menu ul li.node {
	background: transparent url(../images/j_arrow.png) no-repeat right 50%;
}

#menu ul li.separator {
	background: #DDE1E6 url(../images/bg-menu.gif);
	height: 1px ;
}

#menu a,
#menu div {
	padding: 0.35em 1em 0.35em;
	margin: 0 1px 0 1px;
	color: #333333;
	line-height: 1.6em;
	vertical-align: middle;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	cursor: default;
	background-repeat: no-repeat;
	background-position: left 50%;
}

#menu li.disabled a,
#menu li.disabled:hover a {
	color: gray;
	background-color: transparent;
	margin: 0 1px;
	border-left-width: 0;
	border-right-width: 0;
}

#menu ul a {
	font-size: 1em;
	font-weight: normal;
	padding-left: 25px;
	padding-right: 20px;
	line-height: 1.2em;
}

/* 1 level - hover */
#menu li:hover a {
	background-color: #dbe4e9;
	border-left: 1px solid #025a8d;
	border-right: 1px solid #025a8d;
	margin: 0;
}

/* 2 level - normal */
#menu li:hover li a {
	background-color: transparent;
	border: 1px solid transparent;
	margin: 1px;
}

/* 2 level - hover */
#menu li:hover li:hover a {
	background-color: #dbe4e9;
	border-color: #025a8d;
}

/* 3 level - normal */
#menu li:hover li:hover li a {
	background-color: transparent;
	border-color: transparent;
}

/* 3 level - hover */
#menu li:hover li:hover li a:hover {
	background-color: #dbe4e9;
	border-color: #025a8d;
}

a.icon-16-menu span img {
	vertical-align: bottom;
}

/* ---- Submenu styles -------------------------- */
#submenu {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 115%;
}

#submenu li {
	float: left;
	padding: 0;
	margin: 0;
}

#submenu li a,
#submenu span.nolink {
	cursor: pointer;
	padding: 0 15px;
	border-right: 1px solid #ccc;
	font-size: 1.1em;
	font-weight: bold;
	color: #808080;
	line-height: 14px;
	height: 12px;
}

#submenu span.nolink {
	color: #999;
}

#submenu a:hover,
#submenu a.active,
#submenu span.nolink.active {
	color: #146295;
	background: #FFF;
}


/* -- COMPONENT STYLES ------------------------------ */
div.message {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.091em;
	padding: 3px;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
}

.helpIndex {
	border: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	overflow: auto;
}

ul.subext li {
	margin-left: 0;
}

.unotes ul, .unotes ol {
	list-style: none;
	list-style-position: inside;
	padding-left: 0;
	padding-right: 0;

}

.unotes div.utitle {
	padding: 10px;
	float: left;
	font-size: 1.2em;
	line-height: 1.2em;
}

.unotes h4 {
	margin-top: 0;
	margin-bottom:0;
	font-size: 1.5em;
}

.unotes .ubody {
	font-size: 1.2em;
	line-height: 1.5em;
}

ul.alternating > li:nth-child(odd) {
	background-color:#eee;
}

ul.alternating > li:nth-child(even) {
	background-color:#f9f9f9;
}

ol.alternating > li:nth-child(odd) {
	background-color:#eee;
}

ol.alternating > li:nth-child(even) {
	background-color:#f9f9f9;
}

.helpFrame {
	border-left: 0 solid #222;
	border-right: none;
	border-top: none;
	border-bottom: none;
	width: 100%;
	height: 800px;
	padding: 0 5px 0 10px;
}

#treecellhelp {
	display: block;
	position: relative;
	float: left;
	margin: 0;
	overflow: hidden;
}

#datacellhelp {
	display: block;
	margin: 0;
	margin-top: 10px;
	padding: 2px 0 0 0;
}

.outline {
	border: 1px solid #cccccc;
	background: #ffffff;
	padding: 2px;
}

/* -- MODAL STYLES ----------- */

h2.modal-title {
	margin-left: 15px;
	margin-bottom: 0;
	margin-top: 5px;
}

ul.menu_types {
	padding: 0 0 0 15px;
	width: 95%;
	margin: 0;
}

ul.menu_types li,
dl.menu_type dd ul li {
	width: 240px;
	list-style: none;
	display: block;
	float: left;
	margin-right: 10px;
}

ul.menu_types li {
	width: 47%;
}

dl.menu_type {
	width: 240px;
	margin: 0;
	padding: 0;
}

dl.menu_type dt {
	font-weight: bold;
	font-size: 1.091em;
	float: left;
	margin: 13px 0 5px 0;
	border-bottom: 1px solid #666;
	width: 240px;
}

dl.menu_type dd {
	clear: left;
	margin: 0;
}

dl.menu_type dd ul li {
	margin: 0;
}

dl.menu_type dd ul {
	margin-left: -40px;
}

ul#new-modules-list {
	padding: 5px 0 0 15px;
	width:95%;
	margin: 0;
	list-style: none;
	border-top: 1px solid #666;
}
ul#new-modules-list li {
	list-style: none;
	display: block;
	float:left;
	margin: 0 20px 0 0;
	width: 47%;
}
ul#new-modules-list li a {
	font-size: 1.091em;
	line-height: 1.8em;
}


/* -- ACL STYLES ----------- */

/* Relocated from com_users/media/default.css  */
.scroll {
	overflow: auto;
}

/* Filter Form */
fieldset ol,
ol#property-values {
	margin: 0;
	padding: 0;
}

fieldset li,
ol#property-values li {
	list-style: none;
	margin: 0;
	padding: 5px;
}

fieldset.filter {
	border: 0;
	margin: 0;
	padding: 0 0 5px;
}

fieldset.filter ol {
	border: 0;
	list-style: none;
	margin: 0;
	padding: 5px 0 0;
}

fieldset.filter ol li {
	float: left;
	padding: 0 5px 0 0;
}

fieldset.filter ol li fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

fieldset.filter .left {
	float: left;
}

fieldset.filter .right {
	float: right;
}

fieldset#buttonbar {
	border: 0;
	text-align: right;
}

fieldset#buttonbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

fieldset#buttonbar li {
	margin: 0;
	padding: 5px;
}

/* ---- Configuration Modal -------------------------- */
div#config #submenu {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#config div.m {
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding: 0 8px;
}

div#config #submenu li {
	float: left;
	margin: 0;
	padding: 0;
}

div#config #submenu li a,
div#config #submenu span.nolink {
	border-right: 1px solid #CCC;
	color: #0B55C4;
	cursor: pointer;
	font-weight: 700;
	height: 12px;
	line-height: 12px;
	padding: 0 15px;
}

div#config #submenu li:last-child a {
	border-right: none;
}

div#config #submenu a.active,
div#config #submenu span.nolink.active {
	color: #000;
	text-decoration: underline;
}

div#config #submenu-box {
	background: #F6F6F6 none repeat scroll 0;
	margin-bottom: 10px;
}

div#config #submenu-box .padding {
	padding: 0;
}

/* -- Relocated from com_users/media/grid.css ----------- */
a.move_up {
	background-image: url('../images/admin/uparrow.png');
	display: inline-block;
	height: 16px;
	text-indent: -1000em;
	width: 16px;
}

span.move_up {
	background-image: url('../images/admin/uparrow0.png');
	display: inline-block;
	height: 16px;
	width: 16px;
}

a.move_down {
	background-image: url('../images/admin/downarrow.png');
	display: inline-block;
	height: 16px;
	text-indent: -1000em;
	width: 16px;
}

span.move_down {
	background-image: url('../images/admin/downarrow0.png');
	display: inline-block;
	height: 16px;
	width: 16px;
}

a.grid_false {
	background-image: url('../images/admin/publish_x.png');
	display: inline-block;
	height: 16px;
	text-indent: -1000em;
	width: 16px;
}

a.grid_true {
	background-image: url('../images/admin/tick.png');
	display: inline-block;
	height: 16px;
	text-indent: -1000em;
	width: 16px;
}

a.grid_trash {
	background-image: url('../images/admin/icon-16-trash.png');
	display: inline-block;
	height: 16px;
	text-indent: -1000em;
	width: 16px;
}

/* -- ACL PANEL STYLES  ----------- */
div.acl-options {
	width: 100%;
}

/* All Tabs */
table.aclsummary-table,
table.aclmodify-table {
	border-collapse: collapse;
	width: 100%;
	font-size: 1.091em;
}

td.col1 {
	font-size: 1.091em;
	text-align: left;
	padding: 4px;
}

tr.row1 {
	background-color: #f0f0ee;
}

table.aclsummary-table caption,
table.aclmodify-table caption {
	display: none;
}

table.aclmodify-table select {
	margin-bottom: 3px;
}

/* Summary Tab */
table.aclsummary-table th.col1 {
	width: 25%;
}

table.aclsummary-table th.col2,
table.aclsummary-table th.col3,
table.aclsummary-table th.col4,
table.aclsummary-table th.col5,
table.aclsummary-table th.col6	{
	width: 15%;
	vertical-align: bottom;
	text-align: center;
}

table.aclsummary-table td.col2,
table.aclsummary-table th.col2,
table.aclsummary-table td.col3,
table.aclsummary-table th.col3,
table.aclsummary-table td.col4,
table.aclsummary-table th.col4,
table.aclsummary-table td.col5,
table.aclsummary-table th.col5,
table.aclsummary-table td.col6,
table.aclsummary-table th.col6,
table.aclmodify-table td.col2,
table.aclmodify-table th.col2	{
	border-left: 1px solid #cbcbcb;
}

/* Icons */
span.icon-16-unset,
span.icon-16-allowed,
span.icon-16-denied,
span.icon-16-locked {
	padding-left: 18px;
}

span.icon-16-unset {
	background: url(../images/admin/icon-16-denyinactive.png) no-repeat;
}

span.icon-16-allowed {
	background: url(../images/admin/icon-16-allow.png) no-repeat;
}

span.icon-16-denied {
	background: url(../images/admin/icon-16-deny.png) no-repeat;
}

span.icon-16-locked {
	background: url(../images/admin/checked_out.png) 0 0 no-repeat;
}

label.icon-16-allow,
label.icon-16-deny,
a.icon-16-allow,
a.icon-16-deny,
a.icon-16-allowinactive,
a.icon-16-denyinactive {
	display: block;
	height: 16px;
	width: 16px;
	margin: 0 auto;
}

label.icon-16-allow {
	background: url(../images/admin/icon-16-allow.png) no-repeat;
	text-indent: -9999em;
	position: relative;
	left: 40%;
}

label.icon-16-deny {
	background: url(../images/admin/icon-16-deny.png) no-repeat;
	text-indent: -9999em;
	position: relative;
	left: 40%;
}

a.icon-16-allow {
	background: url(../images/admin/icon-16-allow.png) no-repeat;
}

a.icon-16-deny {
	background: url(../images/admin/icon-16-deny.png) no-repeat;
}

a.icon-16-allowinactive {
	background: url(../images/admin/icon-16-allowinactive.png) no-repeat;
}

a.icon-16-denyinactive {
	background: url(../images/admin/icon-16-denyinactive.png) no-repeat;
}

/* Create, Edit, Edit State & Delete Tabs */
table.aclmodify-table th.col2,
table.aclmodify-table th.col3,
table.aclmodify-table th.col4 {
	width: 20%;
	vertical-align: bottom;
	text-align: center;
}

table.aclmodify-table select {
	margin: 1px;
}

table.aclsummary-table td label,
table.aclmodify-table td label {
	min-width: 20px;
}

/* ACL footer and legend */
ul.acllegend {
	list-style: none;
	font-size: 1.091em;
	padding-bottom: 10px;
}

ul.acllegend li {
	display: block;
	float: left;
	padding-right: 20px;
	margin: 15px 0 15px 10px;
}

ul.acllegend li.acl-allowed {
	padding-left: 20px;
	padding-right: 10px;
	background: url(../images/admin/icon-16-allow.png) no-repeat left;
}

ul.acllegend li.acl-denied {
	padding-left: 20px;
	padding-right: 20px;
	background: url(../images/admin/icon-16-deny.png) no-repeat left;
}

ul.acllegend li.acl-editgroups {
	padding-right: 10px;
}

ul.acllegend li.acl-resetbtn {
	padding-right: 0;
}

table#acl-config {
	width: 100%;
	margin-top: 15px;
	border-collapse:collapse;
}

table#acl-config th {
	height: 25px;
	background: #F4F4F4;
	border-bottom: 1px solid silver;
	vertical-align:middle;
}

table#acl-config thead th,
table#acl-config td {
	text-align:center;
	vertical-align:middle;
	height: 30px;
}

table#acl-config th.acl-groups {
	padding-left: 8px;
	text-align: left;
}

table#acl-config th.acl-groups span.gi {
	margin-right: 2px;
}

table#acl-config td select {
	float:none;
}

.acl-action {
	font-size: 1.091em;
	margin: auto 0;
}
.acl-groups {
	font-size: 1.091em;
	font-weight: normal;
}

label#jform_rules-lbl {
	float: none;
	white-space: nowrap;
	display: none;
}

label#jform_filters-lbl {
	float: none;
	white-space: nowrap;
	display: none;
}

/**
* Mod_rewrite Warning
*/
#jform_sef_rewrite-lbl {
	background: url(../images/admin/icon-16-notice-note.png) right top no-repeat;
}

/**
* Options modal- config
*/
ul.config-option-list,
ul.config-option-list li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.config-option-list fieldset {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

/**
* Permission Rules
*/

#permissions-sliders ul#rules,
#permissions-sliders ul#rules ul {
    margin: 0 !important;
    padding: 0 !important;
    border: solid 0 #ccc;
    background: #fff;
    list-style-type: none;
}

#permissions-sliders ul#rules li {
	margin: 0;
	padding: 0;
}

ul#rules li .pane-sliders .panel h3.title {
	border: solid 0 #ccc;
}

#permissions-sliders ul#rules .pane-slider {
	border:solid 1px #ccc;
}

#permissions-sliders ul#rules .pane-slider.pane-hide {
	display:none;
}

#permissions-sliders ul#rules li h3 {
	background:#fafafa;
	font-size:1.10em;
}

#permissions-sliders ul#rules li h3 {
	border: solid 1px #ccc;
}

#permissions-sliders ul#rules li h3.pane-toggler-down a {
	border: solid 0;
}

#permissions-sliders ul#rules li h3.pane-toggler-down {
	color:#000;
	/*background:#146295;*/
}

#permissions-sliders ul#rules .group-kind {
	color:#025A8D;
}

#permissions-sliders ul#rules table.group-rules {
    border-collapse:collapse;
    width:100%;
}

#permissions-sliders ul#rules table.group-rules td {
    border:solid 1px #ccc;
    padding:4px;
    vertical-align:middle;
    text-align:left;
    overflow:hidden;
}

#permissions-sliders ul#rules table.group-rules th {
    background:#ddd;
    border:solid 1px #ddd;
    font-size:0.9em;
    color:#025A8D;
    overflow:hidden;
}

#permissions-sliders .panel {
    margin-bottom: 3px;
    margin-left:0;
    border:0;
}

#permissions-sliders p.rule-desc {
	font-size: 1.091em;
	margin-left: 0;
}

#permissions-sliders div.rule-notes {
	font-size: 1.091em;
}

ul#rules table.aclmodify-table {
	border:solid 1px #000;
}

ul#rules table.group-rules td label {
	border:solid 0 #000;
	margin:0 !important;
}

ul#rules table.group-rules td span {
	padding-bottom: 4px;
}

table.group-rules td select {
	margin:0 !important;
}

#permissions-sliders ul#rules .mypanel {
	background:#ffffff;
	padding:0;
}

#permissions-sliders .mypanel table.group-rules {
	margin: 5px;
}

#permissions-sliders ul#rules {
	padding:5px;
}

#permissions-sliders  ul#rules  table.group-rules th {
    text-align:left;
    padding:4px;
}

#permissions-sliders .pane-toggler span {
	padding-left:20px;
}

#permissions-sliders .pane-toggler-down span {
	padding-left:20px;
}

#permissions-sliders .pane-toggler-down span.level,
#permissions-sliders .pane-toggler span.level {
	color:#aaa;
	background-image:none;
	padding: 0;
}

/* Debug acl styling */
.check-0,
table.adminlist tbody td.check-0 {
	background-color: #FFFFCF;
}

.check-a,
table.adminlist tbody td.check-a {
	background-color: #CFFFDA;
}

.check-d,
table.adminlist tbody td.check-d {
	background-color: #FFCFCF;
}

.swatch {
	text-align: center;
	padding: 0 15px 0 15px;
}

/* Tab changes for accessibility */
dl.tabs dt h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: normal;
}

dl.tabs dt h3 a:link {
	color:#333333;
	outline:medium none;
	text-decoration:none;
}

/* -- CUSTOM LANG STRINGS STYLES  ----------- */

.red {
	font-weight: bold;
	color: #c00;
}

/** rounded corners **/
div#element-box div.section-box div.m {
	background: #fbfbfb;
}

.submenu-box, div.m {
	border: 1px solid #ccc;
	padding: 0 8px;
	background-color: #f4f4f4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.submenu-box, #submenu-box div.m {
	padding: 6px 8px;
}

.wbg {
	background-color: #fff!important;
}

div#toolbar-box div.m {
	padding: 5px 0 10px;
}

div#element-box div.m {
	padding: 10px;
}

div#element-box div.section-box {
	background: #f4f4f4;
}

/* login */

div#element-box.login  {
	background-color: #ffffff;
}

/* -- Codemirror Editor  ----------- */
div.CodeMirror-wrapping {
	border: 1px solid #cccccc;
}

/* -- Update check badges -- */
span.update-badge {
	background-image: -moz-linear-gradient(center bottom , #FF0000 41%, #FC7E7E 79%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.41, rgb(255,0,0)),color-stop(0.79, rgb(252,126,126)));
    border: 2px solid white;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    color: white;
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    height: 1.2em;
    left: 60px;
    min-width: 1em;
    padding: 0 0.1em 0;
    position: relative;
    top: -74px;
}

/* Installer Database */
#installer-database p.warning {
	padding-left: 20px;
	background: transparent url(../images/admin/icon-16-deny.png) center left no-repeat;
}

#installer-database p.nowarning {
	padding-left: 20px;
	background: transparent url(../images/admin/icon-16-allow.png) center left no-repeat;
}

/* Spinner */
.joomlaupdate_spinner {
	float: left;
	margin-right: 15px;
}

/* Css of component trading*/
#page-trade table {
	width: 100%;
	padding: 15px;
	border:none;
}

#page-trade table td {
	border-bottom: 1px solid #eee;
}

#page-trade table .div-club-name, #page-trade .thumbnail-club {
	float: left;
}

#page-trade table .category-number {
	background-color: black;
	color: white;
	text-align: center;
	float: left;
	padding: 8px;
	height: 10px;
	line-height: 10px;
}

table .menu-category-second {
	background-color: #f2f2f2;
}

#page-trade .trade-border-content {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #cacaca;
}

#page-trade .trade-border-content .trade-content{
	border: 1px solid #f4f4f4;
	border-radius: 6px;
}

#page-trade .trade-what {
	margin: 0 2%;
}

#page-trade .trade-content .image-team {
	height: 30px;
}

#page-trade .trade-header h1 {
	color: #000000;
	font-weight: 800;
	font-size: 18px;
}

#page-trade table {
	text-align: center;
}

#page-trade .row-first-right {
	background-color: #E1E1E1;
	color:black;
	font-weight: 700;
	font-size: 14px;
	height: 40px;
}


