div.current {
	padding: 14px 0 27px 0;
}

#sidebar {
	line-height: 115%;
	list-style: none outside none;
	margin: 0 0 0 12px;
	padding: 0;
}

#sidebar a:hover,#sidebar a.active,#sidebar span.nolink.active {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #146295;
}

#sidebar li {
	float: left;
}

#sidebar li a,#sidebar span.nolink {
	border-right: 1px solid #CCCCCC;
	color: #808080;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	height: 12px;
	line-height: 14px;
	padding: 0 15px;
}

dl#sidebar-slider dt h3 {
	font-size: 1.32em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

dl#sidebar-slider dt h3 a:link {
	color: inherit;
}

dl#sidebar-slider dt.open {
    color: #146295;
}