/**
 * ------------------------------------------------------------------------
 * JA Typo plugin For Joomla 1.7
 * ------------------------------------------------------------------------
 * Copyright (C) 2004-2011 JoomlArt.com. All Rights Reserved.
 * @license GNU/GPLv3 http://www.gnu.org/licenses/gpl-3.0.html
 * Author: JoomlArt.com
 * Websites: http://www.joomlart.com - http://www.joomlancers.com.
 * ------------------------------------------------------------------------
 */
/*=======================
Typography Old style
========================*/ /* SPECIAL CONTENT
-----------------------------------------------------------------*/
	/* Pre, Code ---*/
pre,.code {
	background-color: #ffffdd !important;
	border: 1px solid #ccc !important;
	border-left-width: 5px !important;
	font: 1em/ 1.5 Monaco, Consolas, "Courier News", monospace !important;
	padding: 10px 15px !important;
}

/* Inline Words Hilite ---*/
.highlight {
	background: #ffffdd;
	font-weight: bold;
	padding: 1px 5px;
}

/* Dropcap ---*/
.dropcap {
	display: block;
	float: left;
	font: 60px/ 40px Georgia, Times, serif;
	padding: 7px 8px 0 0;
}

*+html .dropcap {
	padding-bottom: 15px;
}

.blockdropcap {
	padding: 5px 0 5px 55px !important;
	position: relative;
}

.dropcap-1,.dropcap-2,.dropcap-3 {
	background-image: url(images/dropcap-bg.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: block;
	font: bold 20px/ normal Arial, sans-serif;
	height: 44px;
	left: 0;
	line-height: 44px !important;
	position: absolute;
	text-align: center;
	top: 0;
	width: 44px;
}

.dropcap-1 {
	background-position: left top;
}

.dropcap-2 {
	background-position: left -44px;
}

.dropcap-3 {
	background-position: left -88px;
}

/* Blockquote ---*/
blockquote {
	font-family: Georgia, Times, serif;
	font-size: 100%;
}

blockquote span.open {
	background: url(images/so-q.gif) no-repeat left top;
	display: inline-block;
	padding: 0 0 0 20px;
}

blockquote span.close {
	background: url(images/sc-q.gif) no-repeat bottom right;
	display: inline-block;
	padding: 0 20px 0 0;
}

/* sub & sup tags ---*/
sub,sup {
	color: #CC0000;
	font-size: 11px;
	font-weight: bold;
}

/* LIST
-----------------------------------------------------------------*/
	/* Special list style ---*/
ul.checklist li,ul.starlist li,ul.arrowlist li,ul.bulletlist li,ul.crosslist li,ul.addlist li
	{
	background-position: top left !important;
	background-repeat: no-repeat !important;
	margin-left: 8px;
	overflow: hidden;
	padding-left: 22px !important;
	position: relative;
	list-style: none;
}

ul.checklist li {
	background-image: url(images/list-check.png) !important;
}

ul.starlist li {
	background-image: url(images/list-star.png) !important;
}

ul.arrowlist li {
	background-image: url(images/list-arrow.png) !important;
}

ul.bulletlist li {
	background-image: url(images/list-bullet.png) !important;
}

ul.crosslist li {
	background-image: url(images/list-cross.png) !important;
}

ul.addlist li {
	background-image: url(images/list-add.png) !important;
}

ul.blanklist li {
	background: none !important;
	overflow: visible !important;
	padding: 0 !important;
	margin: 0 0 5px !important;
}

ul.bookmark-links li {
	background: url(images/arrow.png) no-repeat 0 10px !important;
	border-bottom: 1px dotted #e6e6e6;
	padding: 5px 0 5px 10px !important;
}

/* ICON STYLE
-----------------------------------------------------------------*/
.icon {
	background-position: left top !important;
	background-repeat: no-repeat !important;
	padding-left: 25px !important;
	position: relative;
}

.icon-error {
	background-image: url(images/icon-error.png) !important;
	color: #CC0000;
}

.icon-message {
	background-image: url(images/icon-message.png) !important;
	color: #2C79B3;
}

.icon-tips {
	background-image: url(images/icon-tips.png) !important;
	color: #E58C00;
}

.icon-note {
	background-image: url(images/icon-note.png) !important;
}

.icon-rss {
	background-image: url(images/icon-rss.png) !important;
}

.icon-tag {
	background-image: url(images/icon-tag.png) !important;
}

.icon-cart {
	background-image: url(images/icon-cart.png) !important;
}

.icon-page {
	background-image: url(images/icon-page.png) !important;
}

.icon-photo {
	background-image: url(images/icon-photo.png) !important;
}

.icon-calendar {
	background-image: url(images/icon-calendar.png) !important;
}

.icon-user {
	background-image: url(images/icon-user.png) !important;
}

.icon-key {
	background-image: url(images/icon-key.png) !important;
}

.icon-group {
	background-image: url(images/icon-group.png) !important;
}

.icon-birthday {
	background-image: url(images/icon-birthday.png) !important;
}

.icon-address {
	background-image: url(images/icon-address.png) !important;
}

.icon-phone {
	background-image: url(images/icon-phone.png) !important;
}

.icon-mobi {
	background-image: url(images/icon-mobi.png) !important;
}

.icon-fax {
	background-image: url(images/icon-fax.png) !important;
}

.icon-email {
	background-image: url(images/icon-email.png) !important;
}

.icon-website {
	background-image: url(images/icon-website.png) !important;
}

.icon-yahoo {
	background-image: url(images/icon-yahoo.png) !important;
}

.icon-gmail {
	background-image: url(images/icon-gmail.png) !important;
}

.icon-skype {
	background-image: url(images/icon-skype.png) !important;
}

.icon-msn {
	background-image: url(images/icon-msn.png) !important;
}

.icon-facebook {
	background-image: url(images/icon-facebook.png) !important;
}

.icon-twitter {
	background-image: url(images/icon-twitter.png) !important;
}

.icon-demo,.icon-download,.icon-discussion,.icon-info,.icon-readmore,.icon-doc,.icon-signup,.icon-login,.icon-submit,.icon-extension
	{
	background-position: left 5px !important;
	padding-left: 30px !important;
}

.icon-demo {
	background-image: url(images/icon-demo.png) !important;
}

.icon-download {
	background-image: url(images/icon-download.png) !important;
}

.icon-discussion {
	background-image: url(images/icon-discussion.png) !important;
}

.icon-info {
	background-image: url(images/icon-info.png) !important;
}

.icon-readmore {
	background-image: url(images/icon-readmore.png) !important;
}

.icon-doc {
	background-image: url(images/icon-doc.png) !important;
}

.icon-signup {
	background-image: url(images/icon-signup.png) !important;
}

.icon-login {
	background-image: url(images/icon-login.png) !important;
}

.icon-submit {
	background-image: url(images/icon-submit.png) !important;
}

.icon-extension {
	background-image: url(images/icon-extension.png) !important;
}

/* BOXES AND LEGENDS
-----------------------------------------------------------------*/
	/* Box style ---*/
.box-notice,.box-success,.box-error {
	border: 3px solid #ddd;
	margin: 15px 0;
	padding: 10px 10px 10px 40px !important;
}

.box-notice {
	background: url(images/box-note.png) no-repeat scroll 10px center
		#fff6bf;
	border: 1px solid #ffd324;
	color: #514721;
}

.box-success {
	background: url(images/box-success.png) no-repeat scroll 10px center
		#E6EFC2;
	border: 1px solid #C6D880;
	color: #264409;
}

.box-error {
	background: url(images/box-error.png) no-repeat scroll 10px center
		#FBE3E4;
	border: 1px solid #FBC2C4;
	color: #8A1F11;
}

.box-sticky,.box-download,.box-blank,.box-hilite {
	border: 1px solid #ddd;
	margin: 15px 0;
	padding: 10px !important;
}

.box-sticky {
	background: url(images/icon-big-sticky.png) no-repeat 10px center
		#ffffcc;
	border: 1px dotted #cc8500;
	padding-left: 50px !important;
}

.box-download {
	background: url(images/icon-big-download.png) no-repeat 10px center
		#e9f5fb;
	border: 1px dotted #0088cc;
	padding-left: 50px !important;
}

.box-blank {
	
}

.box-hilite {
	background: #ffffdd;
	border-color: #d2d2b6;
}

/* Legend ---*/
.legend,.legend-hilite {
	border: 1px solid #ccc;
	margin: 20px 0;
	padding: 10px 10px 0;
	position: relative; *
	zoom: 1;
}

.legend-title {
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	float: left;
	font-size: 125%;
	font-weight: bolder;
	left: 7px;
	line-height: 1.2;
	margin: 0 !important;
	padding: 5px !important;
	position: absolute;
	top: -15px;
}

.legend-hilite {
	border: 1px solid #0088cc;
}

.legend-hilite .legend-title {
	border: 1px solid #0088cc;
	color: #006699;
}

/* BUDDLES
-----------------------------------------------------------------*/
	/* Talking box. Thinking box. ---*/
div.bubble {
	padding-bottom: 20px;
	position: relative;
}

div.bubble .box-ct {
	padding: 16px;
	position: relative;
}

div.bubble .box {
	height: 16px;
	position: absolute;
	width: 16px;
}

div.bubble .tl,div.bubble .tr,div.bubble .br,div.bubble .bl {
	background-repeat: no-repeat;
	position: absolute;
}

div.bubble .tl {
	background-position: left -20px;
	left: 0;
	top: 0;
}

div.bubble .tr {
	background-position: right -20px;
	right: 0;
	top: 0;
}

div.bubble .br {
	background-position: right bottom;
	bottom: 0;
	right: 0;
}

div.bubble .bl {
	background-position: left bottom;
	bottom: 0;
	left: 0;
}

div.bubble span.arrow {
	display: block;
	font-weight: bold;
	height: 7px;
	margin-left: 20px;
	width: 13px;
}

div.bubble-l1 span.arrow,div.bubble-l2 span.arrow {
	background: url(images/bubble-l.png) no-repeat left top;
}

div.bubble-d1 span.arrow,div.bubble-d2 span.arrow {
	background: url(images/bubble-d.png) no-repeat left top;
}

div.bubble-hl1 span.arrow,div.bubble-hl2 span.arrow {
	background: url(images/bubble-hl.png) no-repeat left top;
}

div.bubble span.author {
	background: url(images/icon-author.gif) no-repeat 10px 3px;
	display: block;
	font-weight: bold;
	padding-left: 25px;
}

/* Bubble light style 1 */
div.bubble-l1 div.box-ct {
	background: #E0E0E0;
}

div.bubble-l1 .tl,div.bubble-l1 .tr,div.bubble-l1 .bl,div.bubble-l1 .br
	{
	background-image: url(images/bubble-l.png);
}

/* Bubble light style 2 */
div.bubble-l2 div.box-ct {
	background: #E0E0E0;
}

/* Bubble Dark light style 1 */
div.bubble-d1 div.box-ct {
	background: #444;
	color: #fff;
}

div.bubble-d1 div.tl,div.bubble-d1 div.tr,div.bubble-d1 div.bl,div.bubble-d1 div.br
	{
	background-image: url(images/bubble-d.png);
}

/* Bubble Dark light style 2 */
div.bubble-d2 div.box-ct {
	background: #444;
	color: #fff;
}

/* Bubble highlight style 1 */
div.bubble-hl1 .box-ct {
	background: #069;
	color: #fff;
}

div.bubble-hl1 div.tl,div.bubble-hl1 div.tr,div.bubble-hl1 div.bl,div.bubble-hl1 div.br
	{
	background-image: url(images/bubble-hl.png);
}

/* Bubble highlight style 2 */
div.bubble-hl2 div.box-ct {
	background: #069;
	color: #fff;
}

/* INSET
-----------------------------------------------------------------*/
span.inset-left,span.inset-right {
	display: block;
	font-size: 100%;
	margin: 20px;
	width: 25%;
}

span.inset-left {
	float: left;
	margin-left: 0;
}

span.inset-right {
	float: right;
	margin-right: 0;
}

span.inset-title {
	display: block;
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 5px;
	text-align: center;
}

/* OTHERS
--------------------------------------------------*/
div.ja-adv {
	border: 1px solid #ddd;
	padding: 10px;
}

div.ja-adv span.sponsor {
	color: #999;
	display: block;
	font-size: 92%;
	text-align: right;
}

/* Highslide ---*/
.highslide-header {
	border-bottom: 1px solid #ccc;
}

.highslide-header li {
	background: none;
}

.highslide-body {
	padding: 10px 0 !important;
}

.highslide {
	margin: 0;
}

.highslide img {
	border: 1px solid #ccc;
	padding: 2px;
}

.highslide:hover img {
	border: 1px solid #ababab !important;
}

/* BUTTON & TAG
-----------------------------------------------------------------*/
	/* Buttons 2 ---*/
.button-img {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 0 0 42px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.button-img:hover {
	border-bottom: 0;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-img span {
	display: block;
	float: left;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 110%;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	padding-right: 15px;
}

.button-img .icon {
	background-position: center center !important;
	background-position: center center;
	background-repeat: no-repeat;
	left: 5px;
	margin: 0 !important;
	padding: 0 !important;
	position: absolute;
	width: 35px;
}

.but-white {
	background: url(images/but-white-l.png) no-repeat left center;
}

.but-white span {
	background: url(images/but-white.png) no-repeat right center;
	color: #606060;
}

.but-white:hover {
	background: url(images/but-white2-l.png) no-repeat left center;
}

.but-white:hover span {
	background: url(images/but-white2.png) no-repeat right center;
}

.but-silver {
	background: url(images/but-silver-l.png) no-repeat left center;
}

.but-silver span {
	background: url(images/but-silver.png) no-repeat right center;
	color: #606060;
}

.but-silver:hover {
	background: url(images/but-silver2-l.png) no-repeat left center;
}

.but-silver:hover span {
	background: url(images/but-silver2.png) no-repeat right center;
}

.but-gray {
	background: url(images/but-gray-l.png) no-repeat left center;
}

.but-gray span {
	background: url(images/but-gray.png) no-repeat right center;
	color: #fff;
}

.but-gray:hover {
	background: url(images/but-gray2-l.png) no-repeat left center;
}

.but-gray:hover span {
	background: url(images/but-gray2.png) no-repeat right center;
}

.but-black {
	background: url(images/but-black-l.png) no-repeat left center;
}

.but-black span {
	background: url(images/but-black.png) no-repeat right center;
	color: #fff;
}

.but-black:hover {
	background: url(images/but-black2-l.png) no-repeat left center;
}

.but-black:hover span {
	background: url(images/but-black2.png) no-repeat right center;
}

.but-blue {
	background: url(images/but-blue-l.png) no-repeat left center;
}

.but-blue span {
	background: url(images/but-blue.png) no-repeat right center;
	color: #fff;
}

.but-blue:hover {
	background: url(images/but-blue2-l.png) no-repeat left center;
}

.but-blue:hover span {
	background: url(images/but-blue2.png) no-repeat right center;
}

.but-green {
	background: url(images/but-green-l.png) no-repeat left center;
}

.but-green span {
	background: url(images/but-green.png) no-repeat right center;
	color: #fff;
}

.but-green:hover {
	background: url(images/but-green2-l.png) no-repeat left center;
}

.but-green:hover span {
	background: url(images/but-green2.png) no-repeat right center;
}

.but-red {
	background: url(images/but-red-l.png) no-repeat left center;
}

.but-red span {
	background: url(images/but-red.png) no-repeat right center;
	color: #fff;
}

.but-red:hover {
	background: url(images/but-red2-l.png) no-repeat left center;
}

.but-red:hover span {
	background: url(images/but-red2.png) no-repeat right center;
}

.but-pink {
	background: url(images/but-pink-l.png) no-repeat left center;
}

.but-pink span {
	background: url(images/but-pink.png) no-repeat right center;
	color: #fff;
}

.but-pink:hover {
	background: url(images/but-pink2-l.png) no-repeat left center;
}

.but-pink:hover span {
	background: url(images/but-pink2.png) no-repeat right center;
}

.but-orange {
	background: url(images/but-orange-l.png) no-repeat left center;
}

.but-orange span {
	background: url(images/but-orange.png) no-repeat right center;
	color: #fff;
}

.but-orange:hover {
	background: url(images/but-orange2-l.png) no-repeat left center;
}

.but-orange:hover span {
	background: url(images/but-orange2.png) no-repeat right center;
}

.but-violet {
	background: url(images/but-violet-l.png) no-repeat left center;
}

.but-violet span {
	background: url(images/but-violet.png) no-repeat right center;
	color: #fff;
}

.but-violet:hover {
	background: url(images/but-violet2-l.png) no-repeat left center;
}

.but-violet:hover span {
	background: url(images/but-violet2.png) no-repeat right center;
}

/* Buttons css3 ---*/
.button-css3 { *
	display: inline;
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	cursor: pointer;
	display: inline-block;
	font: 12px/ 100% Arial, Helvetica, sans-serif;
	margin: 0 2px;
	-moz-border-radius: .5em;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	outline: none;
	padding: .4em 1.5em .42em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	vertical-align: baseline;
	-webkit-border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
}

.button-css3:hover,.button-css3:visited {
	color: #fff;
	text-decoration: none;
}

.button-css3:active {
	position: relative;
	top: 1px;
}

/* Tags ---*/
.tag {
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	margin: 0 5px;
	-moz-border-radius: .5em;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	padding: 2px 8px;
	-webkit-border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

/* size styles ---*/
.bigrounded {
	border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
}

.bigbutton {
	font-size: 120%;
	padding: .5em 2em .55em;
}

.smallbutton {
	font-size: 92%;
	padding: .2em .5em;
}

/* color styles ---*/ /* white */
.white,.button-css3,.tag-white,.tag {
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ededed) );
	background: -moz-linear-gradient(top, #fff, #ededed);
	border: solid 1px #b7b7b7;
	color: #606060;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#ededed' );
}

.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#dcdcdc) );
	background: -moz-linear-gradient(top, #fff, #dcdcdc);
	color: #606060;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ffffff', endColorstr = '#dcdcdc' );
}

.white:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed),
		to(#fff) );
	background: -moz-linear-gradient(top, #ededed, #fff);
	color: #999;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ededed', endColorstr = '#ffffff' );
}

.white:visited {
	color: #606060;
}

/* black */
.black,.tag-black {
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666),
		to(#000) );
	background: -moz-linear-gradient(top, #666, #000);
	border: solid 1px #333;
	color: #d7d7d7;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#666666', endColorstr = '#000000' );
}

.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444),
		to(#000) );
	background: -moz-linear-gradient(top, #444, #000);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#444444', endColorstr = '#000000' );
}

.black:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#000),
		to(#444) );
	background: -moz-linear-gradient(top, #000, #444);
	color: #666;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#000000', endColorstr = '#666666' );
}

/* gray */
.gray,.tag-gray {
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888),
		to(#575757) );
	background: -moz-linear-gradient(top, #888, #575757);
	border: solid 1px #555;
	color: #e9e9e9;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#888888', endColorstr = '#575757' );
}

.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575),
		to(#4b4b4b) );
	background: -moz-linear-gradient(top, #757575, #4b4b4b);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#757575', endColorstr = '#4b4b4b' );
}

.gray:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#575757),
		to(#888) );
	background: -moz-linear-gradient(top, #575757, #888);
	color: #afafaf;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#575757', endColorstr = '#888888' );
}

/* orange */
.orange,.tag-orange {
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a),
		to(#f47a20) );
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
	border: solid 1px #da7c0c;
	color: #fef4e9;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#faa51a', endColorstr = '#f47a20' );
}

.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11),
		to(#f06015) );
	background: -moz-linear-gradient(top, #f88e11, #f06015);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f88e11', endColorstr = '#f06015' );
}

.orange:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20),
		to(#faa51a) );
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
	color: #fcd3a5;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f47a20', endColorstr = '#faa51a' );
}

/* red */
.red,.tag-red {
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24),
		to(#aa1317) );
	background: -moz-linear-gradient(top, #ed1c24, #aa1317);
	border: solid 1px #980c10;
	color: #faddde;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ed1c24', endColorstr = '#aa1317' );
}

.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b),
		to(#a11115) );
	background: -moz-linear-gradient(top, #c9151b, #a11115);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#c9151b', endColorstr = '#a11115' );
}

.red:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317),
		to(#ed1c24) );
	background: -moz-linear-gradient(top, #aa1317, #ed1c24);
	color: #de898c;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#aa1317', endColorstr = '#ed1c24' );
}

/* blue */
.blue,.tag-blue {
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee),
		to(#0078a5) );
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	border: solid 1px #0076a3;
	color: #d9eef7;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#00adee', endColorstr = '#0078a5' );
}

.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc),
		to(#00678e) );
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#0095cc', endColorstr = '#00678e' );
}

.blue:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5),
		to(#00adee) );
	background: -moz-linear-gradient(top, #0078a5, #00adee);
	color: #80bed6;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#0078a5', endColorstr = '#00adee' );
}

/* rosy */
.rosy,.tag-rosy {
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c),
		to(#bf404f) );
	background: -moz-linear-gradient(top, #f16c7c, #bf404f);
	border: solid 1px #b73948;
	color: #fae7e9;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f16c7c', endColorstr = '#bf404f' );
}

.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a),
		to(#a53845) );
	background: -moz-linear-gradient(top, #cf5d6a, #a53845);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#cf5d6a', endColorstr = '#a53845' );
}

.rosy:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f),
		to(#f16c7c) );
	background: -moz-linear-gradient(top, #bf404f, #f16c7c);
	color: #dca4ab;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#bf404f', endColorstr = '#f16c7c' );
}

/* green */
.green,.tag-green {
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f),
		to(#4e7d0e) );
	background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
	border: solid 1px #538312;
	color: #e8f0de;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#7db72f', endColorstr = '#4e7d0e' );
}

.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28),
		to(#436b0c) );
	background: -moz-linear-gradient(top, #6b9d28, #436b0c);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#6b9d28', endColorstr = '#436b0c' );
}

.green:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e),
		to(#7db72f) );
	background: -moz-linear-gradient(top, #4e7d0e, #7db72f);
	color: #a9c08c;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#4e7d0e', endColorstr = '#7db72f' );
}

/* pink */
.pink,.tag-pink {
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3),
		to(#f171ab) );
	background: -moz-linear-gradient(top, #feb1d3, #f171ab);
	border: solid 1px #d2729e;
	color: #feeef5;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#feb1d3', endColorstr = '#f171ab' );
}

.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb),
		to(#e86ca4) );
	background: -moz-linear-gradient(top, #f4aacb, #e86ca4);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f4aacb', endColorstr = '#e86ca4' );
}

.pink:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab),
		to(#feb1d3) );
	background: -moz-linear-gradient(top, #f171ab, #feb1d3);
	color: #f3c3d9;
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#f171ab', endColorstr = '#feb1d3' );
}

/*=======================

========================*/
#jatypo-wrap table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

#jatypo-wrap table {
	margin: 0 0 20px;
}

#jatypo-wrap table th {
	padding: 5px;
	text-align: left;
}

th .tittle-row {
	background: url(images/arrow-list.gif) no-repeat left center;
	border-bottom: solid 2px #ddd;
	color: blue;
	display: block;
	font-size: 115%;
	margin: 0;
	padding: 0 0 4px;
	text-transform: uppercase;
}

#jatypo-wrap .modal {
	background: #f8f8f8;
	background: url(images/other/icon-viewall.png) no-repeat 57px center
		#f8f8f8;
	border: solid 1px #c0c0c0;
	color: #333 !important;
	font-weight: bold;
	padding: 5px 25px 5px 5px;
	text-decoration: none;
}

#jatypo-wrap a:hover.modal {
	color: blue;
	text-decoration: underline;
}

.button2-left .jatypo-btn {
	background: url(images/other/j_button2_typo.png) no-repeat scroll 100% 0
		transparent;
	color: #333;
}

.mceContentBody .moduletable {
	position: relative;
}

.mceContentBody h2 {
	color: #333;
	font-weight: bold;
}

#sbox-window .typo .title {
	color: red;
	font-size: 110%;
	font-weight: bold;
}

.mceContentBody .clearfix {
	display: block;
}

.icon-big-title {
	background: url(images/other/icon-big-title.png) no-repeat left center
		!important;
	height: 57px !important;
	line-height: 57px !important;
	margin: 25px 0 !important;
	padding-left: 70px !important;
}

.icon-small-title {
	background: url(images/other/icon-small-title.png) no-repeat left center
		!important;
	color: #006699 !important;
	height: 20px !important;
	line-height: 20px !important;
	margin: 25px 0 !important;
	padding-left: 30px !important;
}

/*=======================
Typography New style
========================*/
.button2-left .jatypo-btn {
	background: url(images/other/j_button2_typo.png) no-repeat scroll 100% 0
		transparent;
	color: #333;
	margin-right: 0;
}

/* PREFORMATTED TEXT
-------------------------------------------------------------*/
	/* LIST STYLES
-----------------------------------------------------------------*/
	/* Special list style ---*/
body ul.ja-typo-list li {
	background: none;
	margin-left: 8px;
	padding: 0 0 0 25px;
	position: relative;
	overflow: hidden;
	list-style: none;
}

body ul.ja-typo-list span.icon {
	background-image: url(images/icons-sprites-silk2.png);
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 0 !important;
}

body ul.list-arrow 	span.icon {
	background-position: left top !important;
}

body ul.list-star 	span.icon {
	background-position: left -18px !important;
}

body ul.list-check	span.icon {
	background-position: left -36px !important;
}

body ul.ja-unordered-list li {
	background: url(images/bullet.gif) no-repeat 20px 7px;
	line-height: 160%;
	margin-bottom: 5px;
	overflow: hidden;
	padding-left: 30px;
	list-style: none;
}

body ol.ja-ordered-list {
	padding: 0;
	margin: 0;
}

body ol.ja-ordered-list li {
	line-height: 180%;
	margin-left: 30px;
}

body dl.ja-definition-list dt {
	font-weight: bold;
	line-height: 160%;
}

body dl.ja-definition-list dd {
	margin-left: 15px;
	line-height: 160%;
}

/* Big Number ---*/
.blocknumber {
	position: relative;
	padding: 5px 0 5px 55px !important;
	min-height: 44px;
}

.blocknumber .bignumber {
	background-image: url(images/blocknumber-bg.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
	display: block;
	width: 44px;
	height: 44px;
	line-height: 44px !important;
	position: absolute;
	top: 0;
	left: 0;
	font: bold 20px/ normal Arial, sans-serif;
	text-align: center;
}

.blocknumber-1 .bignumber {
	background-position: left top;
}

.blocknumber-2 .bignumber {
	background-position: left -44px;
}

.blocknumber-3 .bignumber {
	background-position: left -88px;
}

/* ICON STYLE
-----------------------------------------------------------------*/
	/* Tips, Error, Message, Hightlight ---*/
body p.ja-typo-icon {
	padding-left: 25px;
	position: relative;
	background: none !important;
}

body p.ja-typo-icon span.icon {
	background-image: url(images/icons-sprites-silk1.png);
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: 2px;
	left: 0;
	padding-left: 0 !important;
}

body p.icon-error		span.icon {
	background-position: left 0 !important;
}

body p.icon-message		span.icon {
	background-position: left -16px !important;
}

body p.icon-tips 		span.icon {
	background-position: left -32px !important;
}

body p.icon-key 			span.icon {
	background-position: left -48px !important;
}

body p.icon-tag 			span.icon {
	background-position: left -64px !important;
}

body p.icon-note 		span.icon {
	background-position: left -80px !important;
}

body p.icon-rss			span.icon {
	background-position: -16px 0 !important;
}

body p.icon-page			span.icon {
	background-position: -16px -16px !important;
}

body p.icon-cart 		span.icon {
	background-position: -16px -32px !important;
}

body p.icon-demo			span.icon {
	background-position: -16px -48px !important;
}

body p.icon-download	span.icon {
	background-position: -16px -64px !important;
}

body p.icon-discussion	span.icon {
	background-position: -16px -80px !important;
}

body p.icon-info			span.icon {
	background-position: -32px 0 !important;
}

body p.icon-readmore	span.icon {
	background-position: -32px -16px !important;
}

body p.icon-doc 			span.icon {
	background-position: -32px -32px !important;
}

body p.icon-signup		span.icon {
	background-position: -32px -48px !important;
}

body p.icon-login		span.icon {
	background-position: -32px -64px !important;
}

body p.icon-submit		span.icon {
	background-position: -32px -80px !important;
}

body p.icon-extension	span.icon {
	background-position: -48px 0 !important;
}

body p.icon-user			span.icon {
	background-position: -48px -16px !important;
}

body p.icon-group		span.icon {
	background-position: -48px -32px !important;
}

body p.icon-birthday	span.icon {
	background-position: -48px -48px !important;
}

body p.icon-photo 		span.icon {
	background-position: -48px -64px !important;
}

body p.icon-calendar	span.icon {
	background-position: -48px -80px !important;
}

body p.icon-address		span.icon {
	background-position: -64px 0 !important;
}

body p.icon-phone		span.icon {
	background-position: -64px -16px !important;
}

body p.icon-mobi 		span.icon {
	background-position: -64px -32px !important;
}

body p.icon-fax			span.icon {
	background-position: -64px -48px !important;
}

body p.icon-email		span.icon {
	background-position: -64px -64px !important;
}

body p.icon-website		span.icon {
	background-position: -64px -80px !important;
}

body p.icon-yahoo		span.icon {
	background-position: right 0 !important;
}

body p.icon-gmail		span.icon {
	background-position: right -16px !important;
}

body p.icon-skype		span.icon {
	background-position: right -32px !important;
}

body p.icon-msn			span.icon {
	background-position: right -48px !important;
}

body p.icon-facebook	span.icon {
	background-position: right -64px !important;
}

body p.icon-twitter		span.icon {
	background-position: right -80px !important;
}

body p.icon-error {
	color: #CC0000;
}

body p.icon-message {
	color: #2C79B3;
}

body p.icon-tips {
	color: #E58C00;
}

/* BUBBLES
-----------------------------------------------------------------*/
	/* Common Style + Style 1 */
.ja-typo-bubble {
	margin: 20px 0;
	position: relative;
}

.ja-typo-bubblect {
	padding: 15px;
	border: 3px solid #ddd; *
	zoom: 1;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.ja-typo-bubble p.ja-typo-bubble-meta {
	margin: -3px 0 0;
	height: 25px;
	padding-left: 65px;
}

.ja-typo-bubble span.ja-typo-bubble-author {
	font-weight: bold;
	display: block;
	padding-top: 5px;
}

.ja-typo-bubble span.ja-typo-bubble-arrow {
	display: block;
	position: absolute;
	bottom: 0;
	left: 28px;
	width: 25px;
	height: 25px;
	background: url(images/bubble-arrow.png) 0 0;
}

/* Style 2 --- */
.bubble-2 .ja-typo-bubblect {
	border: 0;
	background: #ddd;
}

.bubble-2 span.ja-typo-bubble-arrow {
	background-position: -25px 0;
}

/* Style 3 --- */
.bubble-3 .ja-typo-bubblect {
	border: 3px solid #08c;
}

.bubble-3 span.ja-typo-bubble-arrow {
	background-position: 0 -25px;
}

/* Style 4 --- */
.bubble-4 .ja-typo-bubblect {
	border: 0;
	background: #08c;
	color: #fff;
}

.bubble-4 span.ja-typo-bubble-arrow {
	background-position: -25px -25px;
}

/* Style 5 --- */
.bubble-5 .ja-typo-bubblect {
	border: 3px solid #333;
}

.bubble-5 span.ja-typo-bubble-arrow {
	background-position: -50px -50px;
}

/* Style 6 --- */
.bubble-6 .ja-typo-bubblect {
	border: none;
	background: #333;
	color: #fff;
}

.bubble-6 span.ja-typo-bubble-arrow {
	background-position: -25px -50px;
}

/* Common Style for Rounded Bubbles --- */
.bubble-rounded .ja-typo-bubblect {
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
}

/* MESSAGE BOXES AND LEGENDS STYLE
-----------------------------------------------------------------*/
	/* Box style ---*/
body p.ja-typo-box {
	border: 3px solid #ddd;
	padding: 10px 10px 10px 50px;
}

/* Box with icons */
body p.box-download,body p.box-sticky {
	background-repeat: no-repeat;
	background-position: 10px 15px;
}

body p.box-download {
	background-image: url(images/icons/download-big.png);
}

body p.box-sticky {
	background-image: url(images/icons/sticky-big.png);
}

/* Box without icons - Style 1*/
body p.box-grey-1,body p.box-hilite-1 {
	padding: 10px 15px;
}

body p.box-grey-1 {
	background: #f7f7f7;
	border-color: #dddddd;
}

body p.box-hilite-1 {
	background: #ffffdd;
	border-color: #d2d2b6;
}

/* Box without icons - Style 2*/
body p.box-grey-2,body p.box-hilite-2 {
	padding: 10px 15px;
}

body p.box-grey-2 {
	background: #f7f7f7;
	border-color: #dddddd;
	border-style: dotted;
}

body p.box-hilite-2 {
	background: #ffffdd;
	border-color: #d2d2b6;
	border-style: dotted;
}

/* Rounded Box*/
.box-rounded {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

/* Legend ---*/
.ja-typo-legend {
	border: 3px solid #ddd;
	margin: 20px 0;
	padding: 20px 15px 15px;
	position: relative; *
	zoom: 1;
}

.ja-typo-legend .legend-title {
	background: #fff;
	display: block;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 125%;
	font-weight: bold;
	left: 10px;
	line-height: normal;
	margin: 0 !important;
	padding: 5px !important;
	position: absolute;
	top: -17px;
	border: 0;
}

/* Legend Style 2 */
.legend-2 {
	border: 3px solid #08c;
}

.legend-2 .legend-title {
	color: #08c;
}

/* Rounded Box*/
.legend-rounded {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

/* BUTTONS
--------------------------------------------------*/
	/* Common Buttons Style ---*/
a.ja-typo-btn {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	border: 1px solid #ccc;
	color: #333;
	float: left;
	text-shadow: 0 1px 2px rgba(255, 255, 255, .8);
	background: url(images/grad-l1-trans.png) repeat-x top #ddd;
	box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

a.ja-typo-btn:hover,a.ja-typo-btn:active,a.ja-typo-btn:focus {
	border: 1px solid #aaa;
	background-position: bottom;
	color: #333;
}

/*Use for Demo Page Only*/
a.ja-typo-btn {
	margin: 20px 30px 10px 0;
	float: left;
}

a.ja-typo-btn:hover,a.ja-typo-btn:focus,a.ja-typo-btn:active {
	text-decoration: none;
}

/* Icon Buttons ---*/
a.ja-typo-btn-icn {
	height: 30px;
	color: #333;
}

a.ja-typo-btn-icn span {
	padding: 0 15px 0 34px;
	display: block;
	background-repeat: no-repeat;
	background-position: 10px 7px;
	border: 1px solid #fff;
}

a.btn-icn-save span {
	background-image: url(images/icons/disk.png);
}

a.btn-icn-tip span {
	background-image: url(images/icons/lightbulb.png);
}

a.btn-icn-info span {
	background-image: url(images/icons/information.png);
}

a.btn-icn-ok span {
	background-image: url(images/icons/tick.png);
}

a.btn-icn-warning span {
	background-image: url(images/icons/exclamation.png);
}

a.ja-typo-btn-icn span span {
	height: auto;
	line-height: 28px;
	padding: 0;
	display: inline;
	background: none;
	border: none;
}

/* Big Buttons ----*/
a.ja-typo-btn-big {
	text-align: center;
	border: 1px solid #ccc;
	font-size: 125%;
	line-height: normal;
	font-weight: bold;
}

a.ja-typo-btn-big span {
	padding: 8px 15px;
	border: 1px solid #fff;
	display: block;
}

/* Small Buttons --- */
a.ja-typo-btn-sm {
	text-align: center;
	border: 1px solid #ccc;
	font-size: 100%;
	line-height: normal;
}

a.ja-typo-btn-sm span {
	padding: 5px 10px;
	border: 1px solid #fff;
	display: block;
}

/* Common style for Dark Buttons --- */
.typo a.btn-blue,.typo a.btn-red,.typo a.btn-green,.typo a.btn-orange,.typo a.btn-black,.typo a.btn-blue:link,.typo a.btn-red:link,.typo a.btn-green:link,.typo a.btn-orange:link,.typo a.btn-black:link,a.btn-blue,a.btn-red,a.btn-green,a.btn-orange,a.btn-black
	{
	background-image: url(images/grad-d1-trans.png);
	color: #fff;
	border: 1px solid #ccc;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

a.btn-blue:hover,a.btn-blue:active,a.btn-blue:focus,a.btn-red:hover,a.btn-red:active,a.btn-red:focus,a.btn-green:hover,a.btn-green:active,a.btn-green:focus,a.btn-orange:hover,a.btn-orange:active,a.btn-orange:focus,a.btn-black:hover,a.btn-black:active,a.btn-black:focus
	{
	background-image: url(images/grad-d1-trans.png);
	background-position: bottom;
	border-color: #aaa;
}

/* Button Blue*/
a.btn-blue {
	background-color: #08c;
	border-color: #08c;
}

a.btn-blue:hover,a.btn-blue:active,a.btn-blue:focus {
	border-color: #006ea6;
	color: #fff;
}

a.btn-blue span {
	border-color: #6ab9e1;
}

/* Button Black*/
a.btn-black {
	background-color: #666;
	border-color: #666;
}

a.btn-black:hover,a.btn-black:active,a.btn-black:focus {
	border-color: #333;
	color: #fff;
}

a.btn-black span {
	border-color: #999;
}

/* Button green*/
a.btn-green {
	background-color: #669900;
	border-color: #669900;
}

a.btn-green:hover,a.btn-green:active,a.btn-green:focus {
	border-color: #4d7300;
	color: #fff;
}

a.btn-green span {
	border-color: #b1cb7d;
}

/* Button red*/
a.btn-red {
	background-color: #cc0000;
	border-color: #cc0000;
}

a.btn-red:hover,a.btn-red:active,a.btn-red:focus {
	border-color: #9a0000;
	color: #fff;
}

a.btn-red span {
	border-color: #e47878;
}

/* Button orange*/
a.btn-orange {
	background-color: #e58c00;
	border-color: #e58c00;
}

a.btn-orange:hover,a.btn-orange:active,a.btn-orange:focus {
	border-color: #a96700;
	color: #fff;
}

a.btn-orange span {
	border-color: #f1c073;
}

/* Common style for Rounded Buttons --- */
.btn-rounded-icn,.btn-rounded-big,.btn-rounded-sm,.btn-rounded-icn span,.btn-rounded-big span,.btn-rounded-sm span
	{
	border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
}

.btn-rounded-sm,.btn-rounded-sm span {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

/* TAGS
--------------------------------------------------*/
span.ja-typo-tag {
	padding: 3px 12px;
	margin: 0 2px;
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	background: #666;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

span.tag-blue {
	background: #08c;
}

span.tag-green {
	background: #669900;
}

span.tag-orange {
	background: #e58c00;
}

span.tag-red {
	background: #cc0000;
}

span.tag-grey {
	background: #ccc;
	color: #333;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, .8);
}

/* Common style for Rounded Tags --- */
span.tag-rounded {
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

/* SPECIAL MODULE STYLE
--------------------------------------------------*/ /* Badge ---*/
.badge {
	background-image: url(images/badge.png);
	background-repeat: no-repeat;
	height: 46px;
	position: absolute;
	right: 0;
	width: 45px;
}

.badge-hot 	.badge {
	background-position: 0 0;
}

.badge-new 	.badge {
	background-position: 0 -46px;
}

.badge-pick .badge {
	background-position: 0 -92px;
}

.badge-top 	.badge {
	background-position: 0 -138px;
}

/*Use for Demo Page Only*/
#ja-typo .moduletable_badge {
	margin: 0;
	padding: 0;
	min-height: 40px;
}

#ja-typo .moduletable_badge .ja-box-ct {
	border: 3px solid #ddd;
	padding: 20px;
	background: #f7f7f7;
}

/* FORM
--------------------------------------------------*/ /* Fieldset ----*/
	/* Common Style + Style 1 */
fieldset.ja-typo-fieldset {
	border: 3px solid #ddd;
	padding: 10px 15px;
}

fieldset.ja-typo-fieldset legend {
	padding: 0 10px;
}

/* Style 2 */
fieldset.fieldset-2 {
	border: 3px solid #08c;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

fieldset.fieldset-2 legend {
	color: #08c;
}

/*Use for Demo Page Only*/
#ja-typo fieldset {
	margin-top: 20px;
}

/* TYPO PAGE LAYOUT
-------------------------------------------------------------*/
.ja-typo-blockswrap {
	margin: 15px 0;
}

.ja-typo-blockrow {
	border-bottom: 1px dotted #ddd;
	padding: 20px 0;
}

.ja-typo-block {
	float: left;
}

.ja-typo-blockct {
	padding: 0 10px;
}

.ja-typo-blockswrap .cols-1 .ja-typo-block {
	width: 100%;
	float: none;
}

.ja-typo-blockswrap .cols-2 .ja-typo-block {
	width: 50%;
	float: left;
}

.ja-typo-blockswrap .cols-3 .ja-typo-block {
	width: 33%;
	float: left;
}

.ja-typo-blockswrap .cols-4 .ja-typo-block {
	width: 24.9%;
	float: left;
}

.ja-typo-blockswrap .ja-typo-block.last {
	float: right;
}

.ja-typo-blockswrap h1.ja-typo-title {
	font-size: 175%;
	border-bottom: 8px solid #ddd;
	padding: 5px;
	margin: 0;
	font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	color: #666;
}

.ja-typo-blockswrap:hover h1.ja-typo-title {
	border-color: #333;
	color: #333;
}

.ja-typo-blockswrap h2.ja-typo-title {
	font-size: 115%;
	margin: 0;
	padding: 0 10px;
	font-family: "Arial Narrow", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.ja-typo-blockswrap h2.ja-typo-title span {
	background: #f2f2f2;
	color: #666;
	text-shadow: 0 -1px 1px rgba(255, 255, 255, .8);
	padding: 3px 10px;
	display: inline-block;
}

.ja-typo-blockswrap:hover h2.ja-typo-title span {
	background: #ddd;
	color: #333;
}

.ja-typo-blockrow>h2.ja-typo-title {
	margin-bottom: 0;
	margin-top: 0;
}

/* Blockswrap Actions ---*/
.ja-typo-blocks-actions {
	font-size: 85%;
	position: absolute;
	right: 5px;
	top: 5px;
	color: #999;
}

.ja-typo-blocks-actions a {
	font-size: 85%;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #c00;
	text-decoration: none;
}